@page "/People"

@using Memorabilia.Application.Features.Admin
@using Memorabilia.Application.Features.Admin.Person

@inject CommandRouter _commandRouter
@inject ProtectedLocalStorage _localStorage
@inject NavigationManager _navigation
@inject QueryRouter _queryRouter
@inject IToastService _toastService

@if (_viewModel == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <PopConfirm @ref="_deleteDialog"
                Title="Delete Person"
                ConfirmedChanged="Delete" />
    <div class="row">
        <div class="col-md-12" style="text-align: center">
            <h1>@_viewModel.PageTitle</h1>
        </div>
    </div>
    <br />
    <_Table Items="_viewModel.People" 
            ItemsPerPage="10"                     
            TItem="PersonViewModel">
        <HeaderTemplate>
            <th scope="col">Display Name</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Middle Name</th>
            <th scope="col">Suffix</th>
            <th scope="col">Nickname</th>
            <th scope="col">Legal Name</th>
            <th scope="col">Birth Date</th>
            <th scope="col">Death Date</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </HeaderTemplate>
        <RowTemplate>
            <td>@context.DisplayName</td>
            <td>@context.FirstName</td>
            <td>@context.LastName</td>
            <td>@context.MiddleName</td>
            <td>@context.Suffix</td>
            <td>@context.Nickname</td>
            <td>@context.LegalName</td>
            <td>@context.BirthDate</td>
            <td>@context.DeathDate</td>
            <td>
                <_Tooltip Text="Edit">
                    <img class="can-click" 
                            src="images/pencil.png" 
                            height="25" 
                            width="25" 
                            @onclick="@(_ => _navigation.NavigateTo($"People/Edit/{context.Id}"))" />
                </_Tooltip>                        
            </td>
            <td>
                <_Tooltip Text="Delete">
                    <img class="can-click" 
                            src="images/trash.png" 
                            height="25" 
                            width="25" 
                            @onclick="@(_ => ShowConfirm(context.Id))" />
                </_Tooltip>
            </td>
        </RowTemplate>
    </_Table>
    <div class="row">
        <div class="col-md-12" style="text-align: center">
            <div class="col-md-12" style="text-align: center">
                <a href="People/Add">Add Person</a>
            </div>
        </div>
    </div>
    <br />
}

@code {
    private PopConfirm _deleteDialog;
    private int _deletedItemId;
    private PeopleViewModel _viewModel;

    protected async Task Delete(bool confirm)
    {
        if (!confirm)
        {
            _deletedItemId = 0;
            return;
        }

        var deletedItem = _viewModel.People.Single(person => person.Id == _deletedItemId);
        var viewModel = new SavePersonViewModel(deletedItem);
        viewModel.IsDeleted = true;

        var command = new SavePerson.Command(viewModel);

        await _commandRouter.Send(command).ConfigureAwait(false);
        
        _viewModel.People.Remove(deletedItem);

        _toastService.ShowSuccess($"{_viewModel.ItemTitle} was deleted successfully!", _viewModel.PageTitle);
    }

    protected override async Task OnInitializedAsync()
    {
        var userId = await _localStorage.GetAsync<int>("UserId");

        if (userId.Value == 0)
            _navigation.NavigateTo("Login");

        var query = new GetPeople.Query();

        _viewModel = await _queryRouter.Send(query).ConfigureAwait(false);
    }

    protected void ShowConfirm(int id)
    {
        _deletedItemId = id;
        _deleteDialog.ShowPop();
    }
}
