@page "/Memorabilia/TradingCard/Edit/{memorabiliaId:int}"

@using Memorabilia.Application.Features.Admin.Person
@using Memorabilia.Application.Features.Admin.Team
@using Memorabilia.Application.Features.Memorabilia
@using Memorabilia.Application.Features.Memorabilia.Card
@using Memorabilia.Domain.Constants
@using Memorabilia.Web.Controls.Card
@using Memorabilia.Web.Controls.ItemTypeBrand
@using Memorabilia.Web.Controls.ItemTypeLevel
@using Memorabilia.Web.Controls.ItemTypeSize
@using Memorabilia.Web.Controls.MemorabiliaItem
@using Memorabilia.Web.Controls.Person
@using Memorabilia.Web.Controls.SportLeagueLevel
@using Memorabilia.Web.Controls.Team

@inject CommandRouter _commandRouter
@inject QueryRouter _queryRouter

<_EditMemorabiliaItem ImagePath="@_viewModel.ImagePath"
					  ItemType="_viewModel.ItemType" 
                      MemorabiliaId="MemorabiliaId"
                      Model="_viewModel"
                      OnLoad="OnLoad"
                      OnSave="OnSave"
                      PageTitle="_viewModel.PageTitle"
                      TItem="SaveCardViewModel">
    <Content>
		<div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="level">Level</label>
                    <_ItemTypeLevelDropDown @bind-Value="@_viewModel.LevelTypeId"
                                            @bind-Value:event="ValueChanged" 
                                            ItemType="_viewModel.ItemType" /> 
                </div> 
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="brand">Brand</label>
                    <_ItemTypeBrandDropDown @bind-Value="@_viewModel.BrandId" 
                                            @bind-Value:event="ValueChanged"
                                            ItemType="_viewModel.ItemType" />
                </div> 
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="size">Size</label>
                    <_ItemTypeSizeDropDown @bind-Value="@_viewModel.SizeId"
                                           @bind-Value:event="ValueChanged" 
                                           ItemType="_viewModel.ItemType" /> 
                </div> 
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="year">Year</label>
                    <InputNumber id="year" class="form-control" @bind-Value="@_viewModel.Year" />                    
                </div> 
            </div>
        </div>
        <div class="row">                    
            <div class="col-lg-6">
                <div class="form-group">                            
                    <InputCheckbox id="licensed" @bind-Value="@_viewModel.Licensed" />  
                    <label for="licensed">Licensed</label>
                </div> 
            </div>
            <div class="col-lg-6">
                <div class="form-group">                            
                    <InputCheckbox id="custom" @bind-Value="@_viewModel.Custom" />  
                    <label for="custom">Custom</label>
                </div> 
            </div>
        </div> 
        <div class="row">                    
            <div class="col-lg-12">
                <div class="form-group">
                    <input type="checkbox" checked="@_viewModel.IsNumbered" @onchange="eventArgs => { NumberedCheckboxClicked(eventArgs.Value); }" />
                    <label for="numbered">Numbered</label>
                    <div class="form-group" hidden="@(!_displayNumbered)">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <InputNumber id="numerator" class="form-control" @bind-Value="@_viewModel.Numerator" />                    
                            </div> 
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="of">of</label>              
                            </div> 
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <InputNumber id="denominator" class="form-control" @bind-Value="@_viewModel.Denominator" />                    
                            </div> 
                        </div>
                    </div>                    
                </div> 
            </div>
        </div>                
        <_PersonSelector AllowMultiple="true"
                         CanToggle="true"
                         ItemType="_viewModel.ItemType"
                         People="_viewModel.People" />                 
        <_TeamSelector AllowMultiple="true"
                       CanToggle="true" 
                       ItemType="_viewModel.ItemType"
                       Teams="_viewModel.Teams" />
	</Content>
</_EditMemorabiliaItem>

@code {
    [Parameter]
    public int MemorabiliaId { get; set; }

    private bool _displayNumbered;
    private SaveCardViewModel _viewModel = new SaveCardViewModel();    

    protected async Task OnLoad()
    {    
        var viewModel = await _queryRouter.Send(new GetCard.Query(MemorabiliaId)).ConfigureAwait(false);   

        if (viewModel.Brand == null)
        {
            SetDefaults();
            return;
        }

        _viewModel = new SaveCardViewModel(viewModel);
        _displayNumbered = _viewModel.IsNumbered;
    }  

    protected async Task OnSave()
    {
        _viewModel.MemorabiliaId = MemorabiliaId;

        var command = new SaveCard.Command(_viewModel);

        await _commandRouter.Send(command).ConfigureAwait(false);

        MemorabiliaId = command.MemorabiliaId;
    }

    private void NumberedCheckboxClicked(object isChecked)
    {     
        _displayNumbered = (bool)isChecked;

        if (!_displayNumbered)
        {
            _viewModel.Denominator = null;
            _viewModel.Numerator = null;
        }        

        StateHasChanged();
    } 

    private void SetDefaults()
    {
        _viewModel.LevelTypeId = LevelType.Professional.Id;
        _viewModel.SizeId = Size.Standard.Id;        
    }
}