<AlertPanel Alerts="ValidationResultAlerts"
            DivStyle="@Style.MarginPad2"
            ShowCloseIcon="false" />
<DivPad2> 
    <ExpansionPanel Text="Transaction Details">
        <DivRowFormGroup>
            <Div Class="@DivClass.Column3">
                <MudDatePicker @bind-Date="EditModel.TransactionDate"
                               DateFormat="MM/dd/yyyy"
                               Editable="true"
                               Label="Transaction Date"
                               Mask="@(new DateMask("MM/dd/yyyy"))"
                               Variant="Variant.Outlined" />
            </Div>
            <Div Class="@DivClass.Column3">
                <TransactionTypeDropDown SelectedValue="EditModel.TransactionTypeId"
                                         SelectionChanged="(p) => EditModel.TransactionTypeId = p" />
            </Div>
        </DivRowFormGroup>
        <DivRowFormGroup Visible="@(EditModel.TransactionTypeId == Constant.TransactionType.PartialTrade.Id)">
            <Div Class="@DivClass.Column6">
                <Stack>
                    <LeftRightSection>
                        <Right>
                            <AddButton OnClick="AddPartialTradeMemorabilia"
                                       Text="Add Partial Trade" />
                        </Right>
                    </LeftRightSection>
                    <EditPartialTradesGrid PartialTrades="EditModel.Trades.Where(trade => trade.TransactionType.Id == Constant.TransactionType.PartialTrade.Id).ToList()" />
                </Stack>
            </Div>
        </DivRowFormGroup>
        <DivRowFormGroup Visible="@(EditModel.TransactionTypeId == Constant.TransactionType.Sale.Id)">
            <Div Class="@DivClass.Column6">
                <Stack>
                    <LeftRightSection>
                        <Right>
                            <AddButton OnClick="AddSaleMemorabilia"
                                       Text="Add Sale" />
                        </Right>
                    </LeftRightSection>
                    <EditSalesGrid Sales="EditModel.Sales" />
                </Stack>
            </Div>
        </DivRowFormGroup>
        <DivRowFormGroup Visible="@(EditModel.TransactionTypeId == Constant.TransactionType.Trade.Id)">
            <Div Class="@DivClass.Column6">
                <Stack>
                    <LeftRightSection>
                        <Right>
                            <AddButton OnClick="AddTradeMemorabilia"
                                       Text="Add Trade" />
                        </Right>
                    </LeftRightSection>
                    <EditTradesGrid Trades="EditModel.Trades.Where(trade => trade.TransactionType.Id == Constant.TransactionType.Trade.Id).ToList()" />
                </Stack>
            </Div>
        </DivRowFormGroup>        
    </ExpansionPanel> 
    <LeftRightSection Style="@($"{Style.MarginBottomPad1}{Style.MarginTopPad1}")">
        <Right>
            <RowStack>
                <SaveButton OnClick="OnSave"
                            Text="Save" />
                <SaveButton OnClick="OnSaveClose"
                            Text="Save & Close" />
            </RowStack>
        </Right>
    </LeftRightSection>
</DivPad2>


