<MudTable @ref="_table"
          Bordered="false"
          Dense="false"
          Hover="true"
          Items="@Model.MemorabiliaItems"
          ServerData="@(new Func<TableState, Task<TableData<PurchaseMemorabiliaModel>>>(OnRead))"
          Striped="true">
    <ToolBarContent>
        <MudText Typo="Typo.h6">Purchases</MudText>
    </ToolBarContent>
    <HeaderContent>
        <MudTh></MudTh>
        <MudTh></MudTh>
        <MudTh>Item</MudTh>
        <MudTh>Condition</MudTh>
        <MudTh>Value</MudTh>
        <MudTh>Acquisition Date</MudTh>
        <MudTh>Cost</MudTh>
        <MudTh>Purchase Place</MudTh>
        <MudTh></MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd>
            <MudIconButton @onclick="@(_ => ToggleChildContent(@context.Id))"
                           Icon="@context.ToggleIcon"></MudIconButton>
        </MudTd>
        <MudTd DataLabel="">
            <MudTooltip Text="@context.ImageDisplayCount">
                <GridImage ImageLoaded="OnImageLoaded"
                           ImageFileName="@context.ImageFileName"
                           NavigationPath="@($"{NavigationPath.MemorabiliaImage}/{Constant.EditModeType.Update.Name}/{DataProtectorService.EncryptId(context.Id)}")" />
            </MudTooltip>
        </MudTd>
        <MudTd DataLabel="Item">@context.ItemTypeName</MudTd>
        <MudTd DataLabel="Condition">@context.ConditionName</MudTd>
        <MudTd DataLabel="Value">@context.EstimatedValue?.ToString("c")</MudTd>
        <MudTd DataLabel="Acquisition Date">@context.Acquisition.AcquiredDate?.ToString("MM-dd-yyyy")</MudTd>
        <MudTd DataLabel="Cost">@context.Acquisition.Cost?.ToString("c")</MudTd>
        <MudTd DataLabel="Purchase Place">@context.PurchaseTypeName</MudTd>
        <MudTd DataLabel="">
            <ViewMemorabiliaImagesFab MemorabiliaId="context.Id"
                                      Size="MudBlazor.Size.Small" />
        </MudTd>
    </RowTemplate>
    <ChildRowContent>
        <Condition Evaluation="@context.DisplayAutographDetails">
            <Match>
                <tr />
                <tr style="background-color:#6D7B8D;color:honeydew;border-style:dashed;border-width:2px;border-color:#ECF3F4;">
                    <td align="center" colspan="17">
                        Summary: Autographs - <strong> @context.AutographsCount </strong>, Total Value - <strong> @context.FormattedTotalValue </strong>, Total Cost - <strong> @context.FormattedTotalCost </strong>
                    </td>
                </tr>
                <tr />
                <tr style="margin-top: 1%; margin-bottom: 1%; margin-left: 1%; margin-right: 1%;">
                    <td colspan="17">
                        <MudTable Bordered="false"
                                  Dense="false"
                                  Hover="true"
                                  Items="@context.Autographs"
                                  Striped="true">
                            <ToolBarContent>
                                <MudText Typo="Typo.h6">Autographs</MudText>
                                <MudSpacer />
                            </ToolBarContent>
                            <HeaderContent>
                                <MudTh></MudTh>
                                <MudTh>Person</MudTh>
                                <MudTh>Condition</MudTh>
                                <MudTh>Value</MudTh>
                                <MudTh>Acquired Date</MudTh>
                                <MudTh>Cost</MudTh>
                                <MudTh>Purchase Place</MudTh>
                                <MudTh>Writing Instrument</MudTh>
                                <MudTh>Color</MudTh>
                                <MudTh>Authentications</MudTh>
                                <MudTh>Inscriptions</MudTh>
                                <MudTh></MudTh>
                            </HeaderContent>
                            <RowTemplate Context="autograph">
                                <MudTd DataLabel="Name">
                                    <MudImage @onclick="@(_ => NavigationManager.NavigateTo($"{NavigationPath.AutographImage}/{Constant.EditModeType.Update.Name}/{DataProtectorService.EncryptId(autograph.Id)}"))"
                                              Class="rounded-lg can-click"
                                              Elevation="5"
                                              Height="200"
                                              ObjectFit="@ObjectFit.Cover"
                                              Src="@(ImageService.GetPersonImageData(autograph.PersonImageName))"
                                              Width="200" />
                                </MudTd>
                                <MudTd DataLabel="Abbreviation">@autograph.PersonName</MudTd>
                                <MudTd DataLabel="Condition">@autograph.ConditionName</MudTd>
                                <MudTd DataLabel="Value">@autograph.FormattedEstimatedValue</MudTd>
                                <MudTd DataLabel="Acquired Date">@autograph.FormattedAcquisitionDate</MudTd>
                                <MudTd DataLabel="Cost">@autograph.FormattedCost</MudTd>
                                <MudTd DataLabel="Purchase Place">@autograph.PurchaseTypeName</MudTd>
                                <MudTd DataLabel="Writing Instrument">@autograph.WritingInstrumentName</MudTd>
                                <MudTd DataLabel="Color">@autograph.ColorName</MudTd>
                                <MudTd DataLabel="Authentications"
                                       Style="text-align:center">
                                    <MudTooltip Text="@autograph.AuthenticationTooltip">
                                        <MudChip Color="MudBlazor.Color.Info"
                                                 OnClick="@(_ => NavigationManager.NavigateTo($"{NavigationPath.Authentications}/{Constant.EditModeType.Update.Name}/{DataProtectorService.EncryptId(autograph.Id)}"))"
                                                 Size="@MudBlazor.Size.Small"
                                                 Text="@autograph.AuthenticationText" />
                                    </MudTooltip>
                                </MudTd>
                                <MudTd DataLabel="Inscriptions"
                                       Style="text-align:center">
                                    <MudTooltip Text="@autograph.InscriptionTooltip">
                                        <MudChip Color="MudBlazor.Color.Info"
                                                 OnClick="@(_ => NavigationManager.NavigateTo($"{NavigationPath.Inscriptions}/{Constant.EditModeType.Update.Name}/{DataProtectorService.EncryptId(autograph.Id)}"))"
                                                 Size="@MudBlazor.Size.Small"
                                                 Text="@autograph.InscriptionText" />
                                    </MudTooltip>
                                </MudTd>
                                <MudTd DataLabel="">
                                    <ViewAutographImagesFab AutographId="autograph.Id"
                                                            Size="MudBlazor.Size.Small" />
                                </MudTd>
                            </RowTemplate>
                            <PagerContent>
                                <MudTablePager />
                            </PagerContent>
                        </MudTable>
                    </td>
                </tr>
            </Match>
        </Condition>
    </ChildRowContent>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>
