<MudTable @ref="_table"
          Bordered="false"
          Dense="false"
          Hover="true"
          Items="@Model.Items"
          ServerData="@(new Func<TableState, Task<TableData<MemorabiliaTransactionModel>>>(OnRead))"
          Striped="true">
    <ToolBarContent>
        <ToolbarTitle Text="Sales" />
    </ToolBarContent>
    <HeaderContent>
        <MudTh></MudTh>
        <MudTh>Date</MudTh>
        <MudTh>Total Items Sold</MudTh>
        <MudTh>Total Sold Amount</MudTh>
        <MudTh></MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd>
            <IconButton Icon="@context.ToggleIcon"
                        OnClick="@(_ => ToggleChildContent(@context.MemorabiliaTransactionId))" />
        </MudTd>
        <MudTd DataLabel="Date">@(context.TransactionDate?.ToString("MM-dd-yyyy") ?? string.Empty)</MudTd>
        <MudTd DataLabel="TotalItemsSold">@context.Sales.Length.ToString()</MudTd>
        <MudTd DataLabel="TotalSoldAmount">@context.Sales.Sum(sale => (sale.SaleAmount ?? 0)).ToString("c")</MudTd>
        <MudTd DataLabel="">
            <NavigationGridButton NavigationPath="@($"{NavigationPath.Transactions}/{Constant.EditModeType.Update.Name}/{DataProtectorService.EncryptId(context.MemorabiliaTransactionId)}")" />
            <DeleteGridButton ConfirmMessage="Delete Transaction"
                              OnDelete="@(_ => DeleteTransaction(context.MemorabiliaTransactionId))"
                              ShowConfirm="true" />
        </MudTd>
    </RowTemplate>
    <ChildRowContent>
        <HiddenControl Visible="context.DisplayDetails">
            <tr />
            <tr style="margin-top: 1%; margin-bottom: 1%; margin-left: 1%; margin-right: 1%;">
                <td colspan="17">
                    <MudTable Bordered="false"
                              Dense="false"
                              Hover="true"
                              Items="@context.Sales"
                              Striped="true">
                        <ToolBarContent>
                            <ToolbarTitle Text="Items" />
                            <MudSpacer />
                        </ToolBarContent>
                        <HeaderContent>
                            <MudTh></MudTh>
                            <MudTh>Item</MudTh>
                            <MudTh>Sale Amount</MudTh>
                            <MudTh></MudTh>
                        </HeaderContent>
                        <RowTemplate Context="sale">
                            <MudTd DataLabel="">
                                <GridImage AllowNavigation="true"
                                           ImageFileName="@(sale.Memorabilia.Images.FirstOrDefault(image => image.ImageTypeId == Constant.ImageType.Primary.Id)?.FileName ?? string.Empty)"
                                           ImageLoaded="@(_ => StateHasChanged())"
                                           NavigationPath="@($"{NavigationPath.MemorabiliaImage}/{Constant.EditModeType.Update.Name}/{DataProtectorService.EncryptId(sale.Memorabilia.Id)}")" />
                            </MudTd>
                            <MudTd DataLabel="Item">@sale.Memorabilia.ItemType.Name</MudTd>
                            <MudTd DataLabel="SaleAmount">@(sale.SaleAmount?.ToString("c") ?? string.Empty)</MudTd>
                            <MudTd DataLabel="">
                                <ViewMemorabiliaImagesFab MemorabiliaId="sale.MemorabiliaId"
                                                          Size="MudBlazor.Size.Large" />
                                <DeleteGridButton ConfirmMessage="Delete Sale"
                                                  OnDelete="@(_ => DeleteSale(sale.MemorabiliaTransactionId, sale.Id))"
                                                  ShowConfirm="true" />
                            </MudTd>
                        </RowTemplate>
                        <PagerContent>
                            <MudTablePager />
                        </PagerContent>
                    </MudTable>
                </td>
            </tr>
        </HiddenControl>
    </ChildRowContent>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>
