<div class="row">
    <div class="col-6">
        <RecordTypeAutoComplete Disabled="@(!_canEditRecordType)" 
                                ResetValueOnEmptyText="false"
                                SelectedValue="_viewModel.RecordType"
                                SelectionChanged="(p) => _viewModel.RecordType = p"
                                Sports="Sports" />
    </div>
    <div class="col-1">
        <NullableIntField Label="Year"
                          Value="_viewModel.Year"
                          ValueChanged="@((p) => _viewModel.Year = p)" />
    </div>
    <div class="col-2">
        <TextField Label="Record"
                   SelectedText="@_viewModel.Record"
                   SelectedTextChanged="@((p) => _viewModel.Record = p)" />
    </div>
</div>
<br />
<DivLeftAlign>
    <Content>
        <DivHidden Hidden="@(!_canAdd)">
            <Content>
                <AddButton OnClick="Add" />
            </Content>
        </DivHidden>
        <DivHidden Hidden="@(!_canUpdate)">
            <Content>
                <UpdateButton OnClick="Update" />
            </Content>
        </DivHidden>
    </Content>
</DivLeftAlign>
<DivRowCol6>
    <Content>
         <MudTable Bordered="false"
                   Dense="false" 
                   Hover="true"
                   Items="@SingleSeasonRecords.Where(record => !record.IsDeleted).ToList()"    
                   Striped="true">
            <HeaderContent>
                <MudTh>Record Type</MudTh>
                <MudTh>Year</MudTh>
                <MudTh>Record</MudTh>
                <MudTh></MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="RecordType">@context.RecordTypeName</MudTd>
                <MudTd DataLabel="Year">@context.Year</MudTd>
                <MudTd DataLabel="Record">@context.Record</MudTd>
                <MudTd DataLabel="">
                    <MudTooltip Text="Edit">
                        <MudFab Color="MudBlazor.Color.Primary"                                
                                Icon="@Icons.Outlined.ModeEditOutline"
                                OnClick="@(_ => Edit(context))" />
                    </MudTooltip> 
                    <MudTooltip Text="Delete">
                        <MudFab Color="MudBlazor.Color.Secondary"
                                Icon="@Icons.Outlined.DeleteOutline"
                                OnClick="@(_ => context.IsDeleted = true)" />
                    </MudTooltip>  
                </MudTd>
            </RowTemplate>
        </MudTable>
    </Content>
</DivRowCol6>

