<div class="row">
    <div class="col-6">
        <AccomplishmentTypeAutoComplete SelectedValue="_viewModel.AccomplishmentType"
                                        SelectionChanged="(p) => _viewModel.AccomplishmentType = p"
                                        Sports="Sports" />
    </div>
    <div class="col-3" hidden="@(!IsYearAccomplishment)">
        <TextField HelperText="Ex. 1999 or 1999-2002 or 2003, 2005-2008"
                   Label="Years"
                   SelectedText="@_years"
                   SelectedTextChanged="@((p) => _years = p)" />
    </div>
    <div class="col-2" hidden="@(!IsDateAccomplishment)">
        <MudDatePicker @bind-Date="_viewModel.Date"
                       DateFormat="MM/dd/yyyy"
                       Editable="true"
                       Label="Date"
                       Mask="@(new DateMask("MM/dd/yyyy"))"
                       Variant="Variant.Outlined" />
    </div>
</div>
<br />
<DivLeftAlign>
    <Content>
        <AddButton OnClick="Add" />
    </Content>
</DivLeftAlign>
<DivRowCol6>
    <Content>
         <MudTable Bordered="false"
                   Dense="false" 
                   Hover="true"
                   Items="@Accomplishments.Where(accomplishment => !accomplishment.IsDeleted).ToList()"    
                   Striped="true">
            <HeaderContent>
                <MudTh>Accomplishment</MudTh>
                <MudTh>Date</MudTh>
                <MudTh>Year</MudTh>
                <MudTh></MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Accomplishment">@context.AccomplishmentTypeName</MudTd>
                <MudTd DataLabel="Date">@context.FormattedDate</MudTd>
                <MudTd DataLabel="Year">@context.Year</MudTd>
                <MudTd DataLabel="">
                    <MudTooltip Text="Delete">
                        <MudFab Color="MudBlazor.Color.Secondary"
                                Icon="@Icons.Outlined.DeleteOutline"
                                OnClick="@(_ => context.IsDeleted = true)" />
                    </MudTooltip>  
                </MudTd>
            </RowTemplate>
        </MudTable>
    </Content>
</DivRowCol6>
