<DivRowCol6>
    <Content>
        <PersonTeamAutoComplete Disabled="@(!_canEditTeam)"
                                PersonId="@PersonId"
                                ResetValueOnEmptyText="false" 
                                SelectedValue="_viewModel"
                                SelectionChanged="(p) => _viewModel = p"
                                SportIds="@SportIds" />
    </Content>
</DivRowCol6>
<div class="row">
    <div class="col-lg-2">
       <NullableIntField Label="Begin Year"
                         Value="_viewModel.BeginYear"
                         ValueChanged="@((p) => _viewModel.BeginYear = p)" />
    </div>     
    <div class="col-lg-2">
       <NullableIntField Label="End Year"
                         Value="_viewModel.EndYear"
                         ValueChanged="@((p) => _viewModel.EndYear = p)" />
    </div> 
    <div class="col-lg-2">
        <TeamRoleTypeDropDown Label="Role" 
                              SelectedValue="_viewModel.TeamRoleTypeId"
                              SelectionChanged="(p) => _viewModel.TeamRoleTypeId = p"
                              SportLeagueLevelId="_viewModel.SportLeagueLevelId" />
    </div> 
</div> 
<br/>
<DivLeftAlign>
    <Content>
        <MudButton hidden="@(!_canAdd)"
                   ButtonType="MudBlazor.ButtonType.Button" 
                   Color="MudBlazor.Color.Secondary"
                   OnClick="Add"
                   Size="MudBlazor.Size.Medium"                                  
                   Variant="Variant.Filled">Add</MudButton>
        <MudButton hidden="@(!_canUpdate)"
                   ButtonType="MudBlazor.ButtonType.Button" 
                   Color="MudBlazor.Color.Secondary"
                   OnClick="Update"
                   Size="MudBlazor.Size.Medium"                                  
                   Variant="Variant.Filled">Update</MudButton>
    </Content>
</DivLeftAlign>
<DivRowCol6>
    <Content>
        <MudTable Bordered="false"
                  Dense="false" 
                  Hover="true"
                  Items="@Teams.Where(team => !team.IsDeleted).ToList()"    
                  Striped="true">
            <HeaderContent>
                <MudTh>Franchise</MudTh>
                <MudTh>Location</MudTh>
                <MudTh>Team</MudTh>
                <MudTh>Begin Year</MudTh>
                <MudTh>End Year</MudTh>
                <MudTh>Role</MudTh>
                <MudTh></MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Franchise">@context.FranchiseName</MudTd>
                <MudTd DataLabel="Location">@context.TeamLocation</MudTd>
                <MudTd DataLabel="Team">@context.TeamName</MudTd>
                <MudTd DataLabel="Begin Year">@context.BeginYear</MudTd>
                <MudTd DataLabel="End Year">@context.EndYear</MudTd>
                <MudTd DataLabel="Role">@context.TeamRoleTypeName</MudTd>
                <MudTd DataLabel="">
                    <MudTooltip Text="Edit">
                        <MudFab Color="MudBlazor.Color.Primary"                                
                                Icon="@Icons.Outlined.ModeEditOutline"
                                OnClick="@(_ => Edit(context))" />
                    </MudTooltip> 
                    <MudTooltip Text="Delete">
                        <MudFab Color="MudBlazor.Color.Secondary"
                                Icon="@Icons.Outlined.DeleteOutline"
                                OnClick="@(_ => context.IsDeleted = true)" />
                    </MudTooltip>  
                </MudTd>
            </RowTemplate>
        </MudTable>
    </Content>
</DivRowCol6>