<div class="row">
    <div class="col-3">
        <RecordTypeAutoComplete Disabled="@(!_canEditRecordType)" 
                                ResetValueOnEmptyText="false"
                                SelectedValue="_viewModel.RecordType"
                                SelectionChanged="(p) => _viewModel.RecordType = p"
                                SportIds="_viewModel.SportIds" />
    </div>
    <div class="col-1">
        <NullableIntField Label="Year"
                          Value="_viewModel.Year"
                          ValueChanged="@((p) => _viewModel.Year = p)" />
    </div>
    <div class="col-2">
        <NullableDecimalField Label="Amount"
                              Value="_viewModel.Amount"
                              ValueChanged="@((p) => _viewModel.Amount = p)" />
    </div>
</div>
<br />
<DivLeftAlign>
    <Content>
        <MudButton hidden="@(!_canAdd)"
                   ButtonType="MudBlazor.ButtonType.Button" 
                   Color="MudBlazor.Color.Secondary"
                   OnClick="Add"
                   Size="MudBlazor.Size.Medium"                                  
                   Variant="Variant.Filled">Add</MudButton>
        <MudButton hidden="@(!_canUpdate)"
                   ButtonType="MudBlazor.ButtonType.Button" 
                   Color="MudBlazor.Color.Secondary"
                   OnClick="Update"
                   Size="MudBlazor.Size.Medium"                                  
                   Variant="Variant.Filled">Update</MudButton>
    </Content>
</DivLeftAlign>
<DivRowCol6>
    <Content>
         <MudTable Bordered="false"
                   Dense="false" 
                   Hover="true"
                   Items="@SingleSeasonRecords.Where(record => !record.IsDeleted).ToList()"    
                   Striped="true">
            <HeaderContent>
                <MudTh>Record</MudTh>
                <MudTh>Year</MudTh>
                <MudTh>Amount</MudTh>
                <MudTh></MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Record">@context.RecordTypeName</MudTd>
                <MudTd DataLabel="Year">@context.Year</MudTd>
                <MudTd DataLabel="Amount">@context.DisplayAmount</MudTd>
                <MudTd DataLabel="">
                    <MudTooltip Text="Edit">
                        <MudFab Color="MudBlazor.Color.Primary"                                
                                Icon="@Icons.Outlined.ModeEditOutline"
                                OnClick="@(_ => Edit(context))" />
                    </MudTooltip> 
                    <MudTooltip Text="Delete">
                        <MudFab Color="MudBlazor.Color.Secondary"
                                Icon="@Icons.Outlined.DeleteOutline"
                                OnClick="@(_ => context.IsDeleted = true)" />
                    </MudTooltip>  
                </MudTd>
            </RowTemplate>
        </MudTable>
    </Content>
</DivRowCol6>

