@inherits EditItemTypeItem<ItemTypeSportEditModel, ItemTypeSportModel>

<EditPage ContinueNavigationPath="@EditModel.RoutePrefix"
          EditMode="EditModel.EditModeType" 
          ExitNavigationPath="@EditModel.RoutePrefix"
          ImageFileName="@EditModel.ImageFileName" 
          ItemName="@EditModel.ItemTitle"
          Model="EditModel"
          OnSave="HandleValidSubmit"
          PageFooterButtonText="@EditModel.ExitButtonText"
          PageFooterNavigationPath="@EditModel.ExitNavigationPath"
          PageTitle="@EditModel.PageTitle"
          TItem="ItemTypeSportEditModel">
    <Div Class="row" 
         Hidden="@(!DisplayItemType)">
        <Div Class="col-3">
            <ItemTypeAutoComplete SelectedValue="EditModel.ItemType"
                                  SelectionChanged="(p) => EditModel.ItemType = p" />
        </Div>
    </Div>
    <Div Class="row">
        <Div Class="col-3">
            <SportDropDown SelectedValue="EditModel.SportId"
                           SelectionChanged="(p) => EditModel.SportId = p" />
        </Div>
    </Div>
</EditPage>