<Div Style="@($"{Style.BorderBlack}{Style.MarginPad2}")">
    <Div Class="@DivClass.Row"
         Style="@Style.MarginPad5">
        <Div Class="@DivClass.Column12"
             Style="@Style.CenterAlign">
             <Text Typography="Typo.h6">
                @Title
             </Text>
        </Div>
    </Div>
    <Div Class="@DivClass.Row"
         Style="@Style.MarginPad1">
        <Div Class="@DivClass.Column12"
             Style="@Style.CenterAlign">
            @ChildContent
        </Div>
    </Div>
    <Div Class="@DivClass.Row"
         Style="@Style.MarginPad1">
        <Div Class="@DivClass.Column12"
             Style="@Style.CenterAlign">
            <Text Typography="Typo.body1">
                @Description
            </Text>
        </Div>
    </Div>
</Div>
