<DivPad2>
    <ExpansionPanel Text="Dashboard">
        <Div Class="@DivClass.Row"
             Style="@Style.MarginRightPadPoint5">
            <Iterations Context="userDashboardItem"
                        Items="Model.UserDashboardItems">
                <Div Class="@DivClass.Column4">
                    <DynamicComponent Parameters="@(GetParameters(userDashboardItem.DashboardItem))"
                                      Type="@(GetComponent(userDashboardItem.DashboardItem))" />
                </Div>
            </Iterations>
        </Div>
    </ExpansionPanel>
</DivPad2>