<Div Style="@Style.MarginPad1">
    <ExpansionPanel CanExpand="false"
                    Text="Dashboard">
        <Div Class="@DivClass.Row">
            <Iterations Context="userDashboardItem"
                        Items="Model.UserDashboardItems">
                <Div Class="@DivClass.Column4">
                    <DynamicComponent Parameters="@(GetParameters(userDashboardItem.DashboardItem))"
                                      Type="@(GetComponent(userDashboardItem.DashboardItem))" />
                </Div>
            </Iterations>
        </Div>
    </ExpansionPanel>
</Div>