<Div Class="@DivClass.Row"
     Visible="CanToggle">
    <Div Class="@DivClass.Column3">
        <Switch Checked="_hasTeams"
                CheckedChanged="TeamCheckboxClicked"
                Label="@_itemTypeNameLabel" />
    </Div>
</Div>
<Div Class="@DivClass.Row"
     Style="margin-top:1%;margin-bottom:1%;padding-left:10px;"
     Visible="_displayTeams">
    <Div Class="@DivClass.Column6">
        <TeamAutoComplete ResetValueOnEmptyText="false" 
                          SelectedValue="SelectedTeam"
                          SelectionChanged="(p) => SelectedTeam = p"
                          SportLeagueLevel="SportLeagueLevel" />
    </Div>
</Div>
<Div Class="@DivClass.Row"
     Style="margin-top:1%;margin-bottom:1%;padding-left:10px;"
     Visible="_displayTeams">
    <Div Class="@DivClass.Column6">
        <DivLeftAlign>
            <AddButton OnClick="Add"
                       Text="Add Team" />
        </DivLeftAlign> 
        <br />
        <MudTable Bordered="false"
                  Dense="false" 
                  Hover="true"
                  Items="SelectedTeams.Where(team => !team.IsDeleted).ToList()"    
                  Striped="true">
            <HeaderContent>
                <MudTh>Team</MudTh>
                <MudTh></MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Team">@context.DisplayName</MudTd>
                <TableDataRightAligned>
                    <DeleteGridButton OnDelete="@(_ => context.IsDeleted = true)" />
                </TableDataRightAligned>
            </RowTemplate>
        </MudTable>
    </Div>
</Div>