<Condition Evaluation="CanToggle">
    <Match>
        <Div Class="row">
            <Div Class="col-3">
                <MudSwitch Checked="@_hasTeams"
                           CheckedChanged="TeamCheckboxClicked"
                           Color="MudBlazor.Color.Success"
                           Label="@_itemTypeNameLabel"
                           T="bool" />
            </Div>
        </Div>
    </Match>    
</Condition> 
<Div Class="row" 
     Hidden="@(!_displayTeams)"
     Style="margin-top:1%;margin-bottom:1%;padding-left:10px;">
    <Div Class="col-6">
        <TeamAutoComplete ResetValueOnEmptyText="false" 
                          SelectedValue="SelectedTeam"
                          SelectionChanged="(p) => SelectedTeam = p"
                          SportLeagueLevel="SportLeagueLevel" />
    </Div>
</Div>
<Div Class="row" 
     Hidden="@(!_displayTeams)"
     Style="margin-top:1%;margin-bottom:1%;padding-left:10px;">
    <Div Class="col-6">
        <DivLeftAlign>
            <AddButton OnClick="Add"
                       Text="Add Team" />
        </DivLeftAlign> 
        <br />
        <MudTable Bordered="false"
                  Dense="false" 
                  Hover="true"
                  Items="@SelectedTeams.Where(team => !team.IsDeleted).ToList()"    
                  Striped="true">
            <HeaderContent>
                <MudTh>Team</MudTh>
                <MudTh></MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Team">@context.DisplayName</MudTd>
                <MudTd DataLabel="">
                    <MudTooltip Text="Delete">
                        <MudFab Color="MudBlazor.Color.Secondary"
                                Icon="@Icons.Material.Outlined.DeleteOutline"
                                OnClick="@(_ => context.IsDeleted = true)" />
                    </MudTooltip>  
                </MudTd>
            </RowTemplate>
        </MudTable>
    </Div>
</Div>