<DivRowFormGroup>
    <RowStack Class="@DivClass.Column12"
              Style="@Style.MarginBottomPad1">
        <ConferenceDropDown Disabled="@(EditMode == EditModeType.Update)"
                            SelectedValue="Model.ConferenceId"
                            SelectionChanged="(p) => Model.ConferenceId = p"
                            SportLeagueLevel="@SportLeagueLevel" />
        <NullableIntField Label="Begin Year"
                          Value="Model.BeginYear"
                          ValueChanged="@((p) => Model.BeginYear = p)" />
        <NullableIntField Label="End Year"
                          Value="Model.EndYear"
                          ValueChanged="@((p) => Model.EndYear = p)" />
        <AddUpdateFab EditMode="EditMode"
                      OnAdd="Add"
                      OnUpdate="Update" />
    </RowStack>
</DivRowFormGroup>
<Div Class="@DivClass.Row">
    <Div Class="@DivClass.Column12">
        <MudTable Bordered="false"
                  Dense="false" 
                  Hover="true"
                  Items="Conferences.Where(conference => !conference.IsDeleted).OrderBy(conference => conference.BeginYear).ToList()"    
                  Striped="true">
            <HeaderContent>
                <MudTh>Conference</MudTh>
                <MudTh>Begin Year</MudTh>
                <MudTh>End Year</MudTh>
                <MudTh></MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Conference">@context.ConferenceName</MudTd>
                <MudTd DataLabel="Begin Year">@context.BeginYear</MudTd>
                <MudTd DataLabel="End Year">@context.EndYear</MudTd>
                <TableDataRightAligned>
                    <EditGridButton OnEdit="@(_ => Edit(context))" />
                    <DeleteGridButton OnDelete="@(_ => context.IsDeleted = true)" />
                </TableDataRightAligned>
            </RowTemplate>
        </MudTable>
    </Div>
</Div>