<Div Class="row">
    <Div Class="col-3">
        <DivisionAutoComplete Disabled="@(!_canEditDivision)"
                              SelectedValue="Model.Division"
                              SelectionChanged="(p) => Model.Division = p"
                              SportLeagueLevel="@SportLeagueLevel" />
    </Div>
</Div>
<Div Class="row">
    <Div Class="col-3">
        <NullableIntField Label="Begin Year"
                          Value="Model.BeginYear"
                          ValueChanged="@((p) => Model.BeginYear = p)" />
    </Div>
    <Div Class="col-3">
        <NullableIntField Label="End Year"
                          Value="Model.EndYear"
                          ValueChanged="@((p) => Model.EndYear = p)" />
    </Div>
</Div>
<DivLeftAlign>
    <Div Hidden="@(!_canAdd)">
        <AddButton OnClick="Add" />
    </Div>
    <Div Hidden="@(!_canUpdate)">
        <UpdateButton OnClick="Update" />
    </Div>
</DivLeftAlign>
<br />
<Div Class="row">
    <Div Class="col-6">
        <MudTable Bordered="false"
                  Dense="false" 
                  Hover="true"
                  Items="@Divisions.Where(division => !division.IsDeleted).OrderBy(division => division.BeginYear).ToList()"    
                  Striped="true">
            <HeaderContent>
                <MudTh>Division</MudTh>
                <MudTh>Begin Year</MudTh>
                <MudTh>End Year</MudTh>
                <MudTh></MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Division">@context.DivisionName</MudTd>
                <MudTd DataLabel="Begin Year">@context.BeginYear</MudTd>
                <MudTd DataLabel="End Year">@context.EndYear</MudTd>
                <MudTd DataLabel="">
                    <MudTooltip Text="Edit">
                        <MudFab Color="MudBlazor.Color.Primary"
                                Icon="@Icons.Material.Outlined.ModeEditOutline"
                                OnClick="@(_ => Edit(context))" />
                    </MudTooltip>
                    <MudTooltip Text="Delete">
                        <MudFab Color="MudBlazor.Color.Secondary"
                                Icon="@Icons.Material.Outlined.DeleteOutline"
                                OnClick="@(_ => context.IsDeleted = true)" />
                    </MudTooltip>  
                </MudTd>
            </RowTemplate>
        </MudTable>
    </Div>
</Div>
