<DivRowFormGroup>
    <MudStack Class="col-12"
              Row="true"
              Style="margin-bottom:1%;">
        <ConferenceDropDown Disabled="@(EditMode == EditModeType.Update)"
                            SelectedValue="Model.ConferenceId"
                            SelectionChanged="(p) => Model.ConferenceId = p"
                            SportLeagueLevel="@SportLeagueLevel" />
        <NullableIntField Label="Begin Year"
                          Value="Model.BeginYear"
                          ValueChanged="@((p) => Model.BeginYear = p)" />
        <NullableIntField Label="End Year"
                          Value="Model.EndYear"
                          ValueChanged="@((p) => Model.EndYear = p)" />
        <AddUpdateMudFab EditMode="EditMode"
                         OnAdd="Add"
                         OnUpdate="Update" />
    </MudStack>
</DivRowFormGroup>
<Div Class="row">
    <Div Class="col-12">
        <MudTable Bordered="false"
                  Dense="false" 
                  Hover="true"
                  Items="@Conferences.Where(conference => !conference.IsDeleted).OrderBy(conference => conference.BeginYear).ToList()"    
                  Striped="true">
            <HeaderContent>
                <MudTh>Conference</MudTh>
                <MudTh>Begin Year</MudTh>
                <MudTh>End Year</MudTh>
                <MudTh></MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Conference">@context.ConferenceName</MudTd>
                <MudTd DataLabel="Begin Year">@context.BeginYear</MudTd>
                <MudTd DataLabel="End Year">@context.EndYear</MudTd>
                <MudTd DataLabel="">
                    <MudTooltip Text="Edit">
                        <MudFab Color="MudBlazor.Color.Primary"
                                StartIcon="@Icons.Material.Outlined.ModeEditOutline"
                                OnClick="@(_ => Edit(context))" />
                    </MudTooltip>
                    <DeleteGridButton OnDelete="@(_ => context.IsDeleted = true)" />
                </MudTd>
            </RowTemplate>
        </MudTable>
    </Div>
</Div>