<DivRowFormGroup>
    <RowStack Class="col-12"
              Style="margin-bottom:1%;">
        <DivisionAutoComplete Disabled="@(EditMode == EditModeType.Update)"
                              SelectedValue="Model.Division"
                              SelectionChanged="(p) => Model.Division = p"
                              SportLeagueLevel="@SportLeagueLevel" />
        <NullableIntField Label="Begin Year"
                          Value="Model.BeginYear"
                          ValueChanged="@((p) => Model.BeginYear = p)" />
        <NullableIntField Label="End Year"
                          Value="Model.EndYear"
                          ValueChanged="@((p) => Model.EndYear = p)" />
        <AddUpdateMudFab EditMode="EditMode"
                         OnAdd="Add"
                         OnUpdate="Update" />
    </RowStack>
</DivRowFormGroup>
<Div Class="row">
    <Div Class="col-12">
        <MudTable Bordered="false"
                  Dense="false" 
                  Hover="true"
                  Items="@Divisions.Where(division => !division.IsDeleted).OrderBy(division => division.BeginYear).ToList()"    
                  Striped="true">
            <HeaderContent>
                <MudTh>Division</MudTh>
                <MudTh>Begin Year</MudTh>
                <MudTh>End Year</MudTh>
                <MudTh></MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Division">@context.DivisionName</MudTd>
                <MudTd DataLabel="Begin Year">@context.BeginYear</MudTd>
                <MudTd DataLabel="End Year">@context.EndYear</MudTd>
                <MudTd DataLabel="">
                    <EditGridButton OnEdit="@(_ => Edit(context))" />
                    <DeleteGridButton OnDelete="@(_ => context.IsDeleted = true)" />
                </MudTd>
            </RowTemplate>
        </MudTable>
    </Div>
</Div>
