<DivRowFormGroup>
    <RowStack Class="@DivClass.Column12"
              Style="@Style.MarginBottomPad1">
        <LeagueDropDown Disabled="@(EditMode == EditModeType.Update)"
                        SelectedValue="Model.LeagueId"
                        SelectionChanged="(p) => Model.LeagueId = p"
                        SportLeagueLevel="SportLeagueLevel" />
        <NullableIntField Label="Begin Year"
                          Value="Model.BeginYear"
                          ValueChanged="@((p) => Model.BeginYear = p)" />
        <NullableIntField Label="End Year"
                          Value="Model.EndYear"
                          ValueChanged="@((p) => Model.EndYear = p)" />
        <AddUpdateFab EditMode="EditMode"
                      OnAdd="Add"
                      OnUpdate="Update" />
    </RowStack>
</DivRowFormGroup>
<Div Class="@DivClass.Row">
    <Div Class="@DivClass.Column12">
        <MudTable Bordered="false"
                  Dense="false" 
                  Hover="true"
                  Items="Leagues.Where(league => !league.IsDeleted).OrderBy(league => league.BeginYear).ToList()"    
                  Striped="true">
            <HeaderContent>
                <MudTh>League</MudTh>
                <MudTh>Begin Year</MudTh>
                <MudTh>End Year</MudTh>
                <MudTh></MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="League">@context.LeagueName</MudTd>
                <MudTd DataLabel="Begin Year">@context.BeginYear</MudTd>
                <MudTd DataLabel="End Year">@context.EndYear</MudTd>
                <MudTd DataLabel="">
                    <EditGridButton OnEdit="@(_ => Edit(context))" />
                    <DeleteGridButton OnDelete="@(_ => context.IsDeleted = true)" />
                </MudTd>
            </RowTemplate>
        </MudTable>
    </Div>
</Div>