<div style="border: 1px solid black; margin-top: 2%; margin-bottom: 2%; margin-left: 2%; margin-right: 2%;">
    <MudExpansionPanels MultiExpansion="true">
        <MudExpansionPanel Text="Memorabilia Filters">
            <div class="row">
                <div class="col-lg-2">
                    <div class="form-group">
                        <ItemTypeDropDown MultiSelect="true"
                                          SelectedItems="ViewModel.ItemTypeIds"
                                          SelectedItemsChanged="(p) => ViewModel.ItemTypeIds = p" />
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <BrandDropDown MultiSelect="true"
                                       SelectedItems="ViewModel.BrandIds"
                                       SelectedItemsChanged="(p) => ViewModel.BrandIds = p" />
                    </div>
                </div>                
                <div class="col-lg-2">
                    <div class="form-group">
                        <SizeDropDown MultiSelect="true"
                                      SelectedItems="ViewModel.SizeIds"
                                      SelectedItemsChanged="(p) => ViewModel.SizeIds = p" />
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <AcquisitionTypeDropDown MultiSelect="true"
                                                 SelectedItems="ViewModel.AcquisitionTypeIds"
                                                 SelectedItemsChanged="(p) => ViewModel.AcquisitionTypeIds = p" />
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <MudDatePicker @bind-Date="ViewModel.AcquiredDateBegin"
                                       DateFormat="MM/dd/yyyy"
                                       Editable="true"
                                       Label="Acquired Date - Begin"
                                       Mask="@(new DateMask("MM/dd/yyyy"))"
                                       Variant="Variant.Outlined" />
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <MudDatePicker @bind-Date="ViewModel.AcquiredDateEnd"
                                       DateFormat="MM/dd/yyyy"
                                       Editable="true"
                                       Label="Acquired Date - End"
                                       Mask="@(new DateMask("MM/dd/yyyy"))"
                                       Variant="Variant.Outlined" />
                    </div>
                </div>                
            </div>
            <div class="row">                
                <div class="col-lg-2">
                    <div class="form-group">
                        <ConditionDropDown MultiSelect="true"
                                           SelectedItems="ViewModel.ConditionIds"
                                           SelectedItemsChanged="(p) => ViewModel.ConditionIds = p" />
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <LevelTypeDropDown MultiSelect="true"
                                           SelectedItems="ViewModel.LevelTypeIds"
                                           SelectedItemsChanged="(p) => ViewModel.LevelTypeIds = p" />
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <NullableDecimalField Label="Estimated Value Low ($)"
                                              Value="ViewModel.EstimatedValueLow"
                                              ValueChanged="@((p) => ViewModel.EstimatedValueLow = p)" />
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <NullableDecimalField Label="Estimated Value High ($)"
                                              Value="ViewModel.EstimatedValueHigh"
                                              ValueChanged="@((p) => ViewModel.EstimatedValueHigh = p)" />
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <NullableDecimalField Label="Cost Low ($)"
                                              Value="ViewModel.CostLow"
                                              ValueChanged="@((p) => ViewModel.CostLow = p)" />
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <NullableDecimalField Label="Cost High ($)"
                                              Value="ViewModel.CostHigh"
                                              ValueChanged="@((p) => ViewModel.CostHigh = p)" />
                    </div>
                </div>
            </div>
            <div class="row">
                @*<div class="col-lg-2">
                    <div class="form-group">
                        <PersonAutoComplete IsCulturalSearch="true"
                                            SelectedValue="_memorabiliaPerson"
                                            SelectionChanged="(p) => _memorabiliaPerson = p" />
                    </div>
                </div>*@
                <div class="col-lg-2">
                    <div class="form-group">
                        <SportDropDown MultiSelect="true"
                                       SelectedItems="ViewModel.SportIds"
                                       SelectedItemsChanged="(p) => ViewModel.SportIds = p" />
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <SportLeagueLevelDropDown MultiSelect="true"
                                                  SelectedItems="ViewModel.SportLeagueLevelIds"
                                                  SelectedItemsChanged="(p) => ViewModel.SportLeagueLevelIds = p" />
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <FranchiseDropDown MultiSelect="true"
                                           SelectedItems="ViewModel.FranchiseIds"
                                           SelectedItemsChanged="(p) => ViewModel.FranchiseIds = p" />
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <PrivacyTypeDropDown MultiSelect="true"
                                             SelectedItems="ViewModel.PrivacyTypeIds"
                                             SelectedItemsChanged="(p) => ViewModel.PrivacyTypeIds = p" />
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <PurchaseTypeDropDown MultiSelect="true"
                                              SelectedItems="ViewModel.PurchaseTypeIds"
                                              SelectedItemsChanged="(p) => ViewModel.PurchaseTypeIds = p" />
                    </div>
                </div>
            </div>
            <div class="row">
                @*<div class="col-lg-4">
                    <div class="form-group">
                        <TeamAutoComplete SelectedValue="_memorabiliaTeam"
                                          SelectionChanged="(p) => _memorabiliaTeam = p" />
                    </div>
                </div>*@
                <div class="col-lg-2">
                    <div class="form-group">
                        <GameStyleTypeDropDown MultiSelect="true"
                                               SelectedItems="ViewModel.GameStyleTypeIds"
                                               SelectedItemsChanged="(p) => ViewModel.GameStyleTypeIds = p" />
                    </div>
                </div>
            </div>
        </MudExpansionPanel>
        <MudExpansionPanel Text="Autograph Filters">
            <div class="row">
                @*<div class="col-lg-2">
                <div class="form-group">
                <PersonAutoComplete IsCulturalSearch="true"
                SelectedValue="_autographPerson"
                SelectionChanged="(p) => _autographPerson = p" />
                </div>
                </div>*@
            </div>
            <div class="row">   
                <div class="col-lg-2">
                    <div class="form-group">
                        <ColorDropDown DisplayAutographColorsOnly="true"
                                       MultiSelect="true"
                                       SelectedItems="ViewModel.AutographSearchCriteria.ColorIds"
                                       SelectedItemsChanged="(p) => ViewModel.AutographSearchCriteria.ColorIds = p" />
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <WritingInstrumentDropDown MultiSelect="true"
                                                   SelectedItems="ViewModel.AutographSearchCriteria.WritingInstrumentIds"
                                                   SelectedItemsChanged="(p) => ViewModel.AutographSearchCriteria.WritingInstrumentIds = p" />
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <ConditionDropDown MultiSelect="true"
                                           SelectedItems="ViewModel.AutographSearchCriteria.ConditionIds"
                                           SelectedItemsChanged="(p) => ViewModel.AutographSearchCriteria.ConditionIds = p" />
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <AcquisitionTypeDropDown IsAutograph="true"
                                                 MultiSelect="true"
                                                 SelectedItems="ViewModel.AutographSearchCriteria.AcquisitionTypeIds"
                                                 SelectedItemsChanged="(p) => ViewModel.AutographSearchCriteria.AcquisitionTypeIds = p" />
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <MudDatePicker @bind-Date="ViewModel.AutographSearchCriteria.AcquiredDateBegin"
                                       DateFormat="MM/dd/yyyy"
                                       Editable="true"
                                       Label="Acquired Date - Begin"
                                       Mask="@(new DateMask("MM/dd/yyyy"))"
                                       Variant="Variant.Outlined" />
                    </div>
                </div> 
                <div class="col-lg-2">
                    <div class="form-group">
                        <MudDatePicker @bind-Date="ViewModel.AutographSearchCriteria.AcquiredDateEnd"
                                       DateFormat="MM/dd/yyyy"
                                       Editable="true"
                                       Label="Acquired Date - End"
                                       Mask="@(new DateMask("MM/dd/yyyy"))"
                                       Variant="Variant.Outlined" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2">
                    <div class="form-group">
                        <NullableIntField HideSpinButtons="false" 
                                          Label="Grade"
                                          Maximum="10"                                          
                                          Value="ViewModel.AutographSearchCriteria.Grade"
                                          ValueChanged="@((p) => ViewModel.AutographSearchCriteria.Grade = p)" />
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <SpotDropDown MultiSelect="true"
                                      SelectedItems="ViewModel.AutographSearchCriteria.SpotIds"
                                      SelectedItemsChanged="(p) => ViewModel.AutographSearchCriteria.SpotIds = p" />
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <BooleanCheckBox Checked="@ViewModel.AutographSearchCriteria.IsAuthenticated"
                                         CheckedChanged="(p) => ViewModel.AutographSearchCriteria.IsAuthenticated = p"
                                         Label="Is Authenticated" />
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <BooleanCheckBox Checked="@ViewModel.AutographSearchCriteria.IsInscribed"
                                         CheckedChanged="(p) => ViewModel.AutographSearchCriteria.IsInscribed = p"
                                         Label="Has Inscription(s)" />
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <BooleanCheckBox Checked="@ViewModel.AutographSearchCriteria.HasImages"
                                         CheckedChanged="(p) => ViewModel.AutographSearchCriteria.HasImages = p"
                                         Label="No Image(s)" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2">
                    <div class="form-group">
                        <NullableDecimalField Label="Cost Low ($)"
                                              Value="ViewModel.AutographSearchCriteria.CostLow"
                                              ValueChanged="@((p) => ViewModel.AutographSearchCriteria.CostLow = p)" />
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <NullableDecimalField Label="Cost High ($)"
                                              Value="ViewModel.AutographSearchCriteria.CostHigh"
                                              ValueChanged="@((p) => ViewModel.AutographSearchCriteria.CostHigh = p)" />
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <NullableDecimalField Label="Estimated Value Low ($)"
                                              Value="ViewModel.AutographSearchCriteria.EstimatedValueLow"
                                              ValueChanged="@((p) => ViewModel.AutographSearchCriteria.EstimatedValueLow = p)" />
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <NullableDecimalField Label="Estimated Value High ($)"
                                              Value="ViewModel.AutographSearchCriteria.EstimatedValueHigh"
                                              ValueChanged="@((p) => ViewModel.AutographSearchCriteria.EstimatedValueHigh = p)" />
                    </div>
                </div>
            </div>
        </MudExpansionPanel>
    </MudExpansionPanels>
    <DivPad2>
        <Content>
            <DivRowCol12Center>
                <Content>
                    <MudButton ButtonType="MudBlazor.ButtonType.Button"
                               Color="MudBlazor.Color.Primary"
                               OnClick="@FilterItems"
                               Size="MudBlazor.Size.Medium"
                               StartIcon="@Icons.Material.Filled.Save"
                               Variant="Variant.Filled">Filter</MudButton>
                    <MudButton ButtonType="MudBlazor.ButtonType.Button"
                               Color="MudBlazor.Color.Secondary"
                               OnClick="@ResetCriteria"
                               Size="MudBlazor.Size.Medium"
                               Variant="Variant.Filled">Reset Criteria</MudButton>
                </Content>
            </DivRowCol12Center>
        </Content>
    </DivPad2>
</div>

