@inherits ImagePage

<DivPad5>
    <Content>
        <MudTooltip Text="@TooltipText">
            <MudCard Elevation="20">
                <MudCardContent>
                    <MudText Typo="Typo.h5">@Title</MudText>
                </MudCardContent>
                <MudCardContent>
                    <MudCard Elevation="10">
                        <MudCardMedia @onclick="OnPrimaryImageClick"
                                      Class="rounded-lg can-click"
                                      Height="300"
                                      Image="@(GetImageData(PrimaryImageFileName))" />
                    </MudCard>  
                    <br />
                    <MudText Typo="Typo.body2">@Subtitle</MudText>
                    <MudText Typo="Typo.body2">@Description</MudText>
                </MudCardContent>                
                <MudCardContent>
                    <div class="row">
                        <Iterations Items="MemorabiliaItem.Autographs" Context="autograph">
                            <div class="col-md-4">
                                <MemorabiliaItemGallerySubCard DomainImageRootPath="@DomainImageRootPath" 
                                                               EditNavigationPath="@autograph.EditNavigationPath"                                
                                                               ImageFileName="@autograph.ImageFileName"
                                                               ImageNavigationPath="@autograph.ImageNavigationPath"  
                                                               ImageRootPath="@PersonImageRootPath"
                                                               Title="@autograph.PersonName"
                                                               TooltipText="@autograph.PersonName" />
                            </div>                        
                        </Iterations>
                    </div>                    
                </MudCardContent>
                <MudCardActions>
                    <CustomButton Color="MudBlazor.Color.Primary"
                                  OnClick="OnEditClick"
                                  Text="Edit Memorabilia"
                                  Variant="Variant.Text" />
                </MudCardActions>
            </MudCard>
        </MudTooltip>        
    </Content>
</DivPad5>
