<div style="border: 1px solid black; margin-top: 2%; margin-bottom: 2%; margin-left: 2%; margin-right: 2%;">
    <EditForm Model="Items" OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <DivPad2>
            <Content>
                <div class="row">
                    <div class="col-md-6" style="text-align: left">
                <h3>Memorabilia Filters</h3>
                    </div>
                    <div class="col-md-6" style="text-align: left">
                        <h3>Autograph Filters</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <div class="form-group">
                            <ItemTypeDropDown MultiSelect="true"
                                              SelectedItems="_itemTypeIds"
                                              SelectedItemsChanged="(p) => _itemTypeIds = p" />
                        </div>
                    </div>    
                    <div class="col-lg-2">
                        <div class="form-group">
                            <BrandDropDown MultiSelect="true"
                                           SelectedItems="_brandIds"
                                           SelectedItemsChanged="(p) => _brandIds = p" />
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <AcquisitionTypeDropDown MultiSelect="true"
                                                     SelectedItems="_memorabiliaAcquisitionTypeIds"
                                                     SelectedItemsChanged="(p) => _memorabiliaAcquisitionTypeIds = p" />
                        </div>
                    </div> 
                    <div class="col-lg-2">
                        <div class="form-group">
                            <MudAutocomplete @bind-Value="_autographPerson"
                                                AdornmentColor="MudBlazor.Color.Primary"
                                                AdornmentIcon="@Icons.Material.Filled.Search"
                                                Label="Person"
                                                Placeholder="Search by person"
                                                ResetValueOnEmptyText="true"                                             
                                                SearchFunc="@SearchPeople"                                               
                                                T="SavePersonViewModel"
                                                Text="@_autographPerson?.ProfileName"
                                                Variant="Variant.Outlined" >
                                <ItemSelectedTemplate Context="person">
                            @person?.ProfileName
                                </ItemSelectedTemplate>
                                <ItemTemplate Context="person">
                            @person?.ProfileName
                                </ItemTemplate>
                            </MudAutocomplete>
                        </div>                    
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <WritingInstrumentDropDown MultiSelect="true"
                                                       SelectedItems="_writingInstrumentIds"
                                                       SelectedItemsChanged="(p) => _writingInstrumentIds = p" />
                        </div>
                    </div> 
                    <div class="col-lg-2">
                        <div class="form-group">
                            <AcquisitionTypeDropDown IsAutograph="true" 
                                                     MultiSelect="true"
                                                     SelectedItems="_autographAcquisitionTypeIds"
                                                     SelectedItemsChanged="(p) => _autographAcquisitionTypeIds = p" />
                        </div>
                    </div> 
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <div class="form-group">
                            <ConditionDropDown MultiSelect="true"
                                               SelectedItems="_memorabiliaConditionIds"
                                               SelectedItemsChanged="(p) => _memorabiliaConditionIds = p" />
                        </div>
                    </div>    
                    <div class="col-lg-2">
                        <div class="form-group">
                            <SizeDropDown MultiSelect="true"
                                          SelectedItems="_sizeIds"
                                          SelectedItemsChanged="(p) => _sizeIds = p" />
                        </div>
                    </div> 
                    <div class="col-lg-2">
                        <div class="form-group">
                            <MudDatePicker @bind-Date="_memorabiliaAcquiredDate"
                                            DateFormat="MM/dd/yyyy"
                                            Editable="true"
                                            Label="Acquired Date"
                                            Mask="@(new DateMask("MM/dd/yyyy"))" 
                                            Variant="Variant.Outlined" />
                        </div>
                    </div> 
                    <div class="col-lg-2">
                        <div class="form-group">
                            <ConditionDropDown MultiSelect="true"
                                               SelectedItems="_autographConditionIds"
                                               SelectedItemsChanged="(p) => _autographConditionIds = p" />
                        </div>
                    </div> 
                    <div class="col-lg-2">
                        <div class="form-group">
                            <ColorDropDown MultiSelect="true"
                                           SelectedItems="_colorIds"
                                           SelectedItemsChanged="(p) => _colorIds = p" />
                        </div>
                    </div> 
                    <div class="col-lg-2">
                        <div class="form-group">
                            <MudDatePicker @bind-Date="_autographAcquiredDate"
                                            DateFormat="MM/dd/yyyy"
                                            Editable="true"
                                            Label="Acquired Date"
                                            Mask="@(new DateMask("MM/dd/yyyy"))" 
                                            Variant="Variant.Outlined" />
                        </div>
                    </div> 
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <div class="form-group">
                            <MudNumericField @bind-Value="_memorabiliaGrade" 
                                                Label="Grade"
                                                Variant="Variant.Outlined" />
                        </div>
                    </div> 
                    <div class="col-lg-2">
                        <div class="form-group">
                            <MudNumericField @bind-Value="_memorabiliaEstimatedValue" 
                                                Label="Estimated Value ($)"
                                                Variant="Variant.Outlined" />
                        </div>
                    </div> 
                    <div class="col-lg-2">
                        <div class="form-group">
                            <MudNumericField @bind-Value="_memorabiliaCost" 
                                                Label="Cost ($)"
                                                Variant="Variant.Outlined" />
                        </div>
                    </div> 
                    <div class="col-lg-2">
                        <div class="form-group">
                            <MudNumericField @bind-Value="_autographGrade" 
                                                Label="Grade"
                                                Variant="Variant.Outlined" />
                        </div>
                    </div>                 
                    <div class="col-lg-2">
                        <div class="form-group">
                            <SpotDropDown MultiSelect="true"
                                          SelectedItems="_spotIds"
                                          SelectedItemsChanged="(p) => _spotIds = p" />
                        </div>
                    </div> 
                    <div class="col-lg-2">
                        <div class="form-group">
                            <MudNumericField @bind-Value="_autographCost" 
                                                Label="Cost ($)"
                                                Variant="Variant.Outlined" />
                        </div>
                    </div> 
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <div class="form-group">
                            <LevelTypeDropDown MultiSelect="true"
                                               SelectedItems="_levelTypeIds"
                                               SelectedItemsChanged="(p) => _levelTypeIds = p" />
                        </div>
                    </div> 
                    <div class="col-lg-2">
                        <div class="form-group">
                            <GameStyleTypeDropDown MultiSelect="true"
                                                   SelectedItems="_gameStyleTypeIds"
                                                   SelectedItemsChanged="(p) => _gameStyleTypeIds = p" />
                        </div>
                    </div> 
                    <div class="col-lg-2">
                        <div class="form-group">
                            <PurchaseTypeDropDown MultiSelect="true"
                                                  SelectedItems="_memorabiliaPurchaseTypeIds"
                                                  SelectedItemsChanged="(p) => _memorabiliaPurchaseTypeIds = p" />
                        </div>
                    </div> 
                    <div class="col-lg-2">
                        <div class="form-group">
                            <MudCheckBox @bind-Checked="@_hasAutographAuthentication"
                                         Label="Has Authentication(s)" />  
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <MudNumericField @bind-Value="_autographEstimatedValue" 
                                                Label="Estimated Value ($)"
                                                Variant="Variant.Outlined" />
                        </div>
                    </div>  
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <div class="form-group">
                            <MudAutocomplete @bind-Value="_memorabiliaPerson"
                                                AdornmentColor="MudBlazor.Color.Primary"
                                                AdornmentIcon="@Icons.Material.Filled.Search"
                                                Label="Person"
                                                Placeholder="Search by person"
                                                ResetValueOnEmptyText="true"                                             
                                                SearchFunc="@SearchPeople"                                               
                                                T="SavePersonViewModel"
                                                Text="@_memorabiliaPerson?.DisplayName"
                                                Variant="Variant.Outlined">
                                <ItemSelectedTemplate Context="person">
                            @person?.DisplayName
                                </ItemSelectedTemplate>
                                <ItemTemplate Context="person">
                            @person?.DisplayName
                                </ItemTemplate>
                            </MudAutocomplete>
                        </div>                    
                    </div> 
                    <div class="col-lg-2">
                        <div class="form-group">
                            <SportDropDown MultiSelect="true"
                                           SelectedItems="_sportIds"
                                           SelectedItemsChanged="(p) => _sportIds = p" />
                        </div>                    
                    </div> 
                    <div class="col-lg-2">
                        <div class="form-group">
                            <SportLeagueLevelDropDown MultiSelect="true"
                                                      SelectedItems="_sportLeagueLevelIds"
                                                      SelectedItemsChanged="(p) => _sportLeagueLevelIds = p" />
                        </div>                    
                    </div> 
                    <div class="col-lg-2">
                        <div class="form-group">
                            <MudCheckBox @bind-Checked="@_hasAutographInscription"
                                         Label="Has Inscription(s)" />  
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <FranchiseDropDown MultiSelect="true"
                                               SelectedItems="_franchiseIds"
                                               SelectedItemsChanged="(p) => _franchiseIds = p" />
                        </div>                    
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <PrivacyTypeDropDown MultiSelect="true"
                                                 SelectedItems="_privacyTypeIds"
                                                 SelectedItemsChanged="(p) => _privacyTypeIds = p" />
                        </div>
                    </div> 
                    <div class="col-lg-2">
                        <div class="form-group">
                            <MudCheckBox @bind-Checked="@_noAutographImages"
                                         Label="No Image(s)" />  
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <MudAutocomplete @bind-Value="_memorabiliaTeam"
                                                AdornmentColor="MudBlazor.Color.Primary"
                                                AdornmentIcon="@Icons.Material.Filled.Search"
                                                Label="Team"
                                                Placeholder="Search by team"
                                                ResetValueOnEmptyText="true"                                             
                                                SearchFunc="@SearchTeams"                                               
                                                T="SaveTeamViewModel"
                                                Text="@_memorabiliaTeam?.DisplayName"
                                                Variant="Variant.Outlined">
                                <ItemSelectedTemplate Context="team">
                            @team?.DisplayName
                                </ItemSelectedTemplate>
                                <ItemTemplate Context="team">
                            @team?.DisplayName
                                </ItemTemplate>
                            </MudAutocomplete>
                        </div>                    
                    </div>
                </div>
                <DivRowCol12Center>
                    <Content>
                        <MudButton ButtonType="MudBlazor.ButtonType.Button" 
                                    Color="MudBlazor.Color.Primary"
                                    OnClick="@HandleValidSubmit"
                                    Size="MudBlazor.Size.Medium"
                                    StartIcon="@Icons.Material.Filled.Save"                                   
                                    Variant="Variant.Filled">Filter</MudButton>
                        <MudButton ButtonType="MudBlazor.ButtonType.Button" 
                                    Color="MudBlazor.Color.Secondary"
                                    OnClick="@ResetCriteria"
                                    Size="MudBlazor.Size.Medium"                                  
                                    Variant="Variant.Filled">Reset Criteria</MudButton>
                    </Content>
                </DivRowCol12Center>
            </Content>
        </DivPad2>      
    </EditForm>
</div>

