<Div Class="row">
    <Iterations Context="item"
                Items="_items">
        <Div Class="col-4">
            <SiteMemorabiliaItemGalleryCard Description="@GetDescription(item)"
                                            MemorabiliaItem="@item"
                                            PrimaryImageFileName="@item.ImageFileName"
                                            Subtitle="@GetSubtitle(item)"
                                            Title="@GetTitle(item)"
                                            TooltipText="@item.TooltipText"
                                            UserId="@item.Memorabilia.UserId" />
        </Div>
    </Iterations>
</Div>
<DivRowCol12Center Visible="DisplayLoadMoreButton">
    <CustomButton ButtonType="MudBlazor.ButtonType.Button"
                  OnClick="LoadMore"
                  Size="MudBlazor.Size.Small"
                  Text="Load More" />
</DivRowCol12Center>
