@inherits EditItem<DashboardItemEditModel, DashboardItemModel>

<PageEditor DisplaySaveContinueButton="false"
            EditModel="EditModel"
            OnSave="Save"
            PageImageFileName="@EditModel.ImageFileName"
            TItem="DashboardItemEditModel">
    <DivRowFormGroup>
        <Div Class="col-3">
            <TextField Label="Name"
                       SelectedText="@EditModel.Name"
                       SelectedTextChanged="@((p) => EditModel.Name = p)" />
        </Div>
    </DivRowFormGroup>
    <DivRowFormGroup>
        <Div Class="col-3">
            <TextField Label="Description"
                       Lines="10"
                       SelectedText="@EditModel.Description"
                       SelectedTextChanged="@((p) => EditModel.Description = p)" />
        </Div>
    </DivRowFormGroup>
</PageEditor>