@inherits EditItem<DashboardItemEditModel, DashboardItemModel>

<EditPage ContinueNavigationPath="@EditModel.RoutePrefix"
          EditMode="EditModel.EditModeType" 
          ExitNavigationPath="@EditModel.RoutePrefix"
          ImageFileName="@EditModel.ImageFileName"
          ItemName="@EditModel.ItemTitle"
          Model="EditModel"
          OnSave="HandleValidSubmit"
          PageFooterButtonText="@EditModel.ExitButtonText"
          PageFooterNavigationPath="@EditModel.ExitNavigationPath"
          PageTitle="@EditModel.PageTitle"
          TItem="DashboardItemEditModel">
    <Div Class="row">
        <Div Class="col-3">
            <TextField Label="Name"
                       SelectedText="@EditModel.Name"
                       SelectedTextChanged="@((p) => EditModel.Name = p)" />
        </Div>
    </Div>
    <Div Class="row">
        <Div Class="col-3">
            <TextField Label="Description"
                       Lines="10"
                       SelectedText="@EditModel.Description"
                       SelectedTextChanged="@((p) => EditModel.Description = p)" />
        </Div>
    </Div>
</EditPage>