@page "/Memorabilia/Jersey/Edit/{memorabiliaId:int}"

@using Memorabilia.Application.Features.Admin.Person
@using Memorabilia.Application.Features.Memorabilia
@using Memorabilia.Application.Features.Memorabilia.Jersey
@using Memorabilia.Web.Controls.GameStyleType
@using Memorabilia.Web.Controls.ItemTypeBrand
@using Memorabilia.Web.Controls.ItemTypeLevel
@using Memorabilia.Web.Controls.ItemTypeSize
@using Memorabilia.Web.Controls.Jersey
@using Memorabilia.Web.Controls.MemorabiliaItem
@using Memorabilia.Web.Controls.Person
@using Memorabilia.Web.Controls.Team

@inject CommandRouter _commandRouter
@inject QueryRouter _queryRouter

<_EditMemorabiliaItem ImagePath="@_viewModel.ImagePath"
					  ItemType="_viewModel.ItemType" 
                      MemorabiliaId="MemorabiliaId"
                      Model="_viewModel"
                      OnLoad="OnLoad"
                      OnSave="OnSave"
                      PageTitle="_viewModel.PageTitle"
                      TItem="SaveJerseyViewModel">
    <Content>
		 <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="level">Level</label>
                    <_ItemTypeLevelDropDown @bind-Value="@_viewModel.LevelTypeId"
                                            @bind-Value:event="ValueChanged" 
                                            ItemType="_viewModel.ItemType" /> 
                </div> 
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="brand">Brand</label>
                    <_ItemTypeBrandDropDown @bind-Value="@_viewModel.BrandId" 
                                            @bind-Value:event="ValueChanged"
                                            ItemType="_viewModel.ItemType" />
                </div> 
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="size">Size</label>
                    <_ItemTypeSizeDropDown @bind-Value="@_viewModel.SizeId"
                                           @bind-Value:event="ValueChanged" 
                                           ItemType="_viewModel.ItemType" /> 
                </div> 
            </div>
            <div class="col-lg-6">
                    <div class="form-group">
                    <label for="gameStyleType">Game Style Type</label>
                    <_GameStyleTypeDropDown @bind-Value="@_viewModel.GameStyleTypeId"
                                            @bind-Value:event="ValueChanged"
                                            ItemType="_viewModel.ItemType" /> 
                </div> 
            </div>
        </div>
        <div class="row">     
            <div class="col-lg-6" /> 
            <div class="col-lg-6">
                <div class="form-group" hidden="@(!_viewModel.DisplayGameDate)">
                    <label for="gameDate">Game Date</label>
                    <InputDate id="gameDate" class="form-control" @bind-Value="_viewModel.GameDate" />
                </div>                        
            </div>                     
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="jerseyQualityType">Quality</label>
                    <_JerseyQualityTypeDropDown @bind-Value="@_viewModel.JerseyQualityTypeId"
                                                @bind-Value:event="ValueChanged"
                                                Disabled="!_viewModel.CanEditJerseyQualityType" /> 
                </div> 
            </div>
            <div class="col-lg-6">
                    <div class="form-group">
                    <label for="jerseyType">Type</label>
                    <_JerseyTypeDropDown @bind-Value="@_viewModel.JerseyTypeId"
                                         @bind-Value:event="ValueChanged" /> 
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="jerseyStyleType">Style</label>
                    <_JerseyStyleTypeDropDown @bind-Value="@_viewModel.JerseyStyleTypeId"
                                              @bind-Value:event="ValueChanged" /> 
                </div> 
            </div>
        </div>
        <_PersonSelector AllowMultiple="true"
                         CanToggle="true"
                         ItemType="_viewModel.ItemType"
                         People="_viewModel.People" />                 
        <_TeamSelector AllowMultiple="true"
                       CanToggle="true" 
                       ItemType="_viewModel.ItemType"
                       Teams="_viewModel.Teams" />
	</Content>
</_EditMemorabiliaItem>

@code {
    [Parameter]
    public int MemorabiliaId { get; set; }

    private SaveJerseyViewModel _viewModel = new SaveJerseyViewModel();    

    protected async Task OnLoad()
    {   
        var jerseyViewModel = await _queryRouter.Send(new GetJersey.Query(MemorabiliaId)).ConfigureAwait(false);

        if (jerseyViewModel.Brand == null)
        {
            SetDefaults();
            return;
        }    

        _viewModel = new SaveJerseyViewModel(jerseyViewModel);  
    }  

    protected async Task OnSave()
    {            
        _viewModel.MemorabiliaId = MemorabiliaId;

        var command = new SaveJersey.Command(_viewModel);

        await _commandRouter.Send(command).ConfigureAwait(false);

        MemorabiliaId = command.MemorabiliaId;
    }

    private void SetDefaults()
    {
        _viewModel.GameStyleTypeId = GameStyleType.None.Id;
        _viewModel.JerseyTypeId = JerseyType.Stitched.Id;
        _viewModel.LevelTypeId = LevelType.Professional.Id;
    }
}