<Div Class="@DivClass.Row">
    <Div Class="@DivClass.Column3">
        <BaseballTypeDropDown Disabled="Disabled" 
                              SelectedValue="BaseballTypeId"
                              SelectionChanged="(p) => BaseballTypeChanged(p)"
                              UseProjectTypes="true" />
    </Div>
    <Div Class="@DivClass.Column3"
         Visible="IsYearly">
        <NullableIntField Disabled="Disabled"
                          Label="Year"
                          Value="Year"
                          ValueChanged="@((p) => YearChanged(p))" />
    </Div>
    <Div Class="@DivClass.Column3"
         Visible="IsTeam">
        <TeamAutoComplete Disabled="Disabled"
                          SelectedValue="Team"
                          SelectionChanged="(p) => TeamChanged(p)"
                          Sport="Sport.Baseball"
                          SportLeagueLevel="SportLeagueLevel.MajorLeagueBaseball" />
    </Div>
</Div>
