@page "/Memorabilia/Figure/Edit/{memorabiliaId:int}"

@using Memorabilia.Application.Features.Admin.Person
@using Memorabilia.Application.Features.Admin.Team
@using Memorabilia.Application.Features.Memorabilia
@using Memorabilia.Application.Features.Memorabilia.Figure
@using Memorabilia.Domain.Constants
@using Memorabilia.Web.Controls.Figure
@using Memorabilia.Web.Controls.ItemTypeBrand
@using Memorabilia.Web.Controls.ItemTypeLevel
@using Memorabilia.Web.Controls.ItemTypeSize
@using Memorabilia.Web.Controls.MemorabiliaItem
@using Memorabilia.Web.Controls.Person
@using Memorabilia.Web.Controls.SportLeagueLevel
@using Memorabilia.Web.Controls.Team

@inject CommandRouter _commandRouter
@inject QueryRouter _queryRouter

<_EditMemorabiliaItem ImagePath="@_viewModel.ImagePath"
					  ItemType="_viewModel.ItemType" 
                      MemorabiliaId="MemorabiliaId"
                      Model="_viewModel"
                      OnLoad="OnLoad"
                      OnSave="OnSave"
                      PageTitle="_viewModel.PageTitle"
                      TItem="SaveFigureViewModel">
    <Content>
		<div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="level">Level</label>
                    <_ItemTypeLevelDropDown @bind-Value="@_viewModel.LevelTypeId"
                                            @bind-Value:event="ValueChanged" 
                                            ItemType="_viewModel.ItemType" /> 
                </div> 
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="brand">Brand</label>
                    <_ItemTypeBrandDropDown @bind-Value="@_viewModel.BrandId" 
                                            @bind-Value:event="ValueChanged"
                                            ItemType="_viewModel.ItemType" />
                </div> 
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="size">Size</label>
                    <_ItemTypeSizeDropDown @bind-Value="@_viewModel.SizeId"
                                           @bind-Value:event="ValueChanged" 
                                           ItemType="_viewModel.ItemType" /> 
                </div> 
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="type">Type</label>
                    <_FigureTypeDropDown @bind-Value="@_viewModel.FigureTypeId" 
                                         @bind-Value:event="ValueChanged" />
                </div> 
            </div>                    
        </div>
        <div class="row">                    
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="year">Year</label>
                    <InputNumber id="year" class="form-control" @bind-Value="@_viewModel.Year" />                    
                </div> 
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="specialtyType">Specialty Type</label>
                    <_FigureSpecialtyTypeDropDown @bind-Value="@_viewModel.FigureSpecialtyTypeId" 
                                                  @bind-Value:event="ValueChanged"
                                                  FigureType="FigureType.Find(_viewModel.FigureTypeId)" />
                </div> 
            </div> 
        </div> 
        <_PersonSelector AllowMultiple="true"
                         CanToggle="true"
                         ItemType="_viewModel.ItemType"
                         People="_viewModel.People" />                 
        <_TeamSelector AllowMultiple="true"
                       CanToggle="true" 
                       ItemType="_viewModel.ItemType"
                       Teams="_viewModel.Teams" />
	</Content>
</_EditMemorabiliaItem>

@code {
    [Parameter]
    public int MemorabiliaId { get; set; }

    private SaveFigureViewModel _viewModel = new SaveFigureViewModel();    

    protected async Task OnLoad()
    {    
        var viewModel = await _queryRouter.Send(new GetFigure.Query(MemorabiliaId)).ConfigureAwait(false); 
        
        if (viewModel.Brand == null)
        {
            SetDefaults();
            return;
        }

        _viewModel = new SaveFigureViewModel(viewModel);   
    }   

    protected async Task OnSave()
    {
        _viewModel.MemorabiliaId = MemorabiliaId;

        var command = new SaveFigure.Command(_viewModel);

        await _commandRouter.Send(command).ConfigureAwait(false);

        MemorabiliaId = command.MemorabiliaId;
    }

    private void SetDefaults()
    {
        _viewModel.LevelTypeId = LevelType.Professional.Id;
        _viewModel.SizeId = Size.Standard.Id;        
    }
}