<MudDialog Style="@Style.Dialog">
    <DialogContent>
        <Div Style="@($"{Style.MarginPad1}{Style.VertificalScrollbar}")">
            <MudTable Bordered="false"
                      Dense="false"
                      Filter="new Func<DomainItemConstant,bool>(FilterFunc1)"
                      Height="400px"
                      Hover="true"
                      Items="DomainItems"
                      Striped="true">   
                <ToolBarContent>
                    <ToolbarTitle Text="@Title" />
                    <MudSpacer />
                    <ToolbarSearchField SearchText="@_search"
                                        SearchTextChanged="@((p) => _search = p)" />
                </ToolBarContent>
                <HeaderContent>
                    <MudTh>
                        <MudTableSortLabel SortBy="new Func<DomainItemConstant, object>(x => x.Name)">Name</MudTableSortLabel>
                    </MudTh>
                    <MudTh>
                        <MudTableSortLabel SortBy="new Func<DomainItemConstant, object>(x => x.Abbreviation)">Abbreviation</MudTableSortLabel>
                    </MudTh>
                    <MudTh></MudTh>
                </HeaderContent>
                <RowTemplate Context="item">
                    <MudTd DataLabel="Name">@item.Name</MudTd>
                    <MudTd DataLabel="Abbreviation">@item.Abbreviation</MudTd>
                    <MudTd>
                        <Fab Color="MudBlazor.Color.Primary"                             
                             OnClick="@(_ => Select(@item.Id))"
                             Size="MudBlazor.Size.Small"
                             StartIcon="@Icons.Material.Outlined.Edit"
                             TooltipText="Select" />
                    </MudTd>
                </RowTemplate>
                <PagerContent>
                    <MudTablePager />
                </PagerContent>
            </MudTable>
        </Div>
    </DialogContent>
    <DialogActions>
        <CancelButton OnClick="Cancel" />
    </DialogActions>
</MudDialog>
