@inherits ViewSportTools<SingleSeasonRecordModel>

<DivPad2>
    <Div Class="@DivClass.Row">
        <Div Class="@DivClass.Column12">
            <MudTable Bordered="false"
                      Dense="false"
                      Filter="new Func<SingleSeasonRecordModel,bool>(FilterFunc1)"
                      Hover="true"
                      Items="Model.SingleSeasonRecords.ToList()"
                      Striped="true">
                <ToolBarContent>
                    <ToolbarTitle Text="Single Season Records" />
                    <MudSpacer />
                    <ToolbarSearchField SearchText="@Search"
                                        SearchTextChanged="@((p) => Search = p)" />
                </ToolBarContent>
                <HeaderContent>
                    <MudTh>
                        <MudTableSortLabel SortBy="new Func<SingleSeasonRecordModel, object>(x => x.SingleSeasonRecordTypeName)">Record Type</MudTableSortLabel>
                    </MudTh>
                    <MudTh>Record</MudTh>
                    <MudTh>
                        <MudTableSortLabel SortBy="new Func<SingleSeasonRecordModel, object>(x => x.PersonName)">Person</MudTableSortLabel>
                    </MudTh>
                    <MudTh></MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd DataLabel="RecordType">@context.SingleSeasonRecordTypeName</MudTd>
                    <MudTd DataLabel="Record">@context.Record</MudTd>
                    <MudTd DataLabel="Person">
                        <Link Href="@context.ProfileLink">@context.PersonName</Link>
                    </MudTd>
                    <MudTd DataLabel="">
                        <PersonGridImage ImageData="@(ImageService.GetPersonImageData(context.PersonImageFileName))"
                                         ImageLoaded="StateHasChanged"
                                         PersonId="context.PersonId" />
                    </MudTd>
                </RowTemplate>
                <PagerContent>
                    <MudTablePager />
                </PagerContent>
            </MudTable>
        </Div>
    </Div>
</DivPad2>
