@inherits ViewSportTools<PersonCollegeModel>

<DivPad2>
    <Div Class="row">
        <Div Class="col-6">
            <RowStack>
                <CollegeAutoComplete ResetValueOnEmptyText="false"
                                     SelectedValue="Model.College"
                                     SelectionChanged="(college) => OnInputChange(college)" />
                <CustomButton ButtonType="MudBlazor.ButtonType.Button"
                              OnClick="Browse"
                              Size="MudBlazor.Size.Small"
                              Text="View All" />
            </RowStack>
        </Div>
    </Div>
    <br />
    <Div Class="row" 
         Hidden="@(Model.College?.Id == null)">
        <Div Class="col-12">
            <MudTable Bordered="false"
                      Dense="false"
                      Filter="new Func<PersonCollegeModel,bool>(FilterFunc1)"
                      Hover="true"
                      Items="@Model.Colleges.ToList()"
                      Striped="true">
                <ToolBarContent>
                    <ToolbarTitle Text="@Model.ResultsTitle" />
                    <MudSpacer />
                    <ToolbarSearchField SearchText="@Search"
                                        SearchTextChanged="@((p) => Search = p)" />
                </ToolBarContent>
                <HeaderContent>
                    <MudTh></MudTh>
                    <MudTh>
                        <MudTableSortLabel SortBy="new Func<PersonCollegeModel, object>(x => x.PersonName)">Person</MudTableSortLabel>
                    </MudTh>
                    <MudTh>
                        <MudTableSortLabel SortBy="new Func<PersonCollegeModel, object>(x => x.CollegeName)">College</MudTableSortLabel>
                    </MudTh>
                    <MudTh>Begin Year</MudTh>
                    <MudTh>End Year</MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd DataLabel="">
                        <GridImage AllowNavigation="true"
                                   ImageData="@(ImageService.GetPersonImageData(context.PersonImageFileName))"
                                   ImageLoaded="StateHasChanged"
                                   OnClick="@(_ => ShowPersonProfileDialog(context.PersonId))" />
                    </MudTd>
                    <MudTd DataLabel="Person">
                        <Link Href="@context.ProfileLink">@context.PersonName</Link>
                    </MudTd>
                    <MudTd DataLabel="College">@context.CollegeName</MudTd>
                    <MudTd DataLabel="Begin Year">@context.BeginYear</MudTd>
                    <MudTd DataLabel="End Year">@context.EndYear</MudTd>
                </RowTemplate>
                <PagerContent>
                    <MudTablePager />
                </PagerContent>
            </MudTable>
        </Div>
    </Div>
</DivPad2>
