@inherits ViewSportTools<AccomplishmentModel>

<DivPad2>
    <DivRowCol12>
        <MudStack Row="true">
            <AccomplishmentTypeAutoComplete SelectedValue="Model.AccomplishmentType"
                                            SelectionChanged="(p) => OnInputChange(p)"
                                            Sports="@(new [] { Sport })" />
            <CustomButton ButtonType="MudBlazor.ButtonType.Button"
                          OnClick="Browse"
                          Size="MudBlazor.Size.Small"
                          Text="View All" />
        </MudStack>
    </DivRowCol12>
    <br />
    <Div Class="row" 
         Hidden="@(Model.AccomplishmentType == null)">
        <Div Class="col-12">
            <MudTable Bordered="false"
                      Dense="false"
                      Filter="new Func<AccomplishmentModel,bool>(FilterFunc1)"
                      Hover="true"
                      Items="@Model.PersonAccomplishments"
                      Striped="true">
                <ToolBarContent>
                    <ToolbarTitle Text="@Model.AccomplishmentTypeName" />
                    <MudSpacer />
                    <MudTextField @bind-Value="Search"
                                  Adornment="Adornment.Start"
                                  AdornmentIcon="@Icons.Material.Filled.Search"
                                  Class="mt-0"
                                  IconSize="MudBlazor.Size.Medium"
                                  Placeholder="Search" />
                </ToolBarContent>
                <HeaderContent>
                    <MudTh></MudTh>
                    <MudTh>
                        <MudTableSortLabel SortBy="new Func<AccomplishmentModel, object>(x => x.PersonName)">Person</MudTableSortLabel>
                    </MudTh>
                    <MudTh hidden="@(!Model.IsNoHitter)">
                        <MudTableSortLabel SortBy="new Func<AccomplishmentModel, object>(x => x.AccomplishmentTypeName)">Type</MudTableSortLabel>
                    </MudTh>
                    <MudTh hidden="@(Model.IsYearAccomplishment)">
                        <MudTableSortLabel SortBy="new Func<AccomplishmentModel, object>(x => x.Date)">Date</MudTableSortLabel>
                    </MudTh>
                    <MudTh hidden="@(Model.IsDateAccomplishment)">
                        <MudTableSortLabel SortBy="new Func<AccomplishmentModel, object>(x => x.Year)">Year</MudTableSortLabel>
                    </MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd DataLabel="">
                        <MudTooltip>
                            <MudImage @onclick="@(_ => ShowPersonProfileDialog(context.PersonId))"
                                      Class="rounded-lg can-click"
                                      Elevation="5"
                                      Height="200"
                                      ObjectFit="@ObjectFit.Cover"
                                      Src="@(ImageService.GetPersonImageData(context.PersonImageFileName))"
                                      Width="200" />
                        </MudTooltip>
                    </MudTd>
                    <MudTd DataLabel="Person">
                        <MudLink Href="@context.ProfileLink">@context.PersonName</MudLink>
                    </MudTd>
                    <MudTd DataLabel="Type" hidden="@(!Model.IsNoHitter)">@context.AccomplishmentTypeName</MudTd>
                    <MudTd DataLabel="Date" hidden="@(Model.IsYearAccomplishment)">@(context.Date.HasValue ? context.Date.Value.ToString("MM/dd/yyyy") : string.Empty)</MudTd>
                        <MudTd DataLabel="Year" hidden="@(Model.IsDateAccomplishment)">@(context.Year.HasValue ? context.Year : string.Empty)</MudTd>
                    </RowTemplate>
                    <PagerContent>
                        <MudTablePager />
                    </PagerContent>
                </MudTable>
            </Div>
        </Div>
</DivPad2>
