@inherits ViewSportTools<SingleSeasonRecordModel>

<DivPad2>
    <Div Class="row">
        <Div Class="col-12">
            <MudTable Bordered="false"
                      Dense="false"
                      Filter="new Func<SingleSeasonRecordModel,bool>(FilterFunc1)"
                      Hover="true"
                      Items="@Model.SingleSeasonRecords.ToList()"
                      Striped="true">
                <ToolBarContent>
                    <MudText Typo="Typo.h6">Single Season Records</MudText>
                    <MudSpacer />
                    <MudTextField @bind-Value="Search"
                                  Adornment="Adornment.Start"
                                  AdornmentIcon="@Icons.Material.Filled.Search"
                                  Class="mt-0"
                                  IconSize="MudBlazor.Size.Medium"
                                  Placeholder="Search" />
                </ToolBarContent>
                <HeaderContent>
                    <MudTh>
                        <MudTableSortLabel SortBy="new Func<SingleSeasonRecordModel, object>(x => x.SingleSeasonRecordTypeName)">Record Type</MudTableSortLabel>
                    </MudTh>
                    <MudTh>Record</MudTh>
                    <MudTh>
                        <MudTableSortLabel SortBy="new Func<SingleSeasonRecordModel, object>(x => x.PersonName)">Person</MudTableSortLabel>
                    </MudTh>
                    <MudTh></MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd DataLabel="RecordType">@context.SingleSeasonRecordTypeName</MudTd>
                    <MudTd DataLabel="Record">@context.Record</MudTd>
                    <MudTd DataLabel="Person">
                        <MudLink Href="@context.ProfileLink">@context.PersonName</MudLink>
                    </MudTd>
                    <MudTd DataLabel="">
                        <MudTooltip>
                            <MudImage @onclick="@(_ => ShowPersonProfileDialog(context.PersonId))"
                                      Class="rounded-lg can-click"
                                      Elevation="5"
                                      Height="200"
                                      ObjectFit="@ObjectFit.Cover"
                                      Src="@(ImageService.GetPersonImageData(context.PersonImageFileName))"
                                      Width="200" />
                        </MudTooltip>
                    </MudTd>
                </RowTemplate>
                <PagerContent>
                    <MudTablePager />
                </PagerContent>
            </MudTable>
        </Div>
    </Div>
</DivPad2>
