@inherits ViewSportTools<RetiredNumberModel>

<DivPad2>
    <Content>
        <div class="row">
            <div class="col-3">
                <FranchiseAutoComplete SelectedValue="Model.Franchise"
                                       SelectionChanged="(p) => OnInputChange(p)"
                                       Sports="@(new [] { Sport })" />
            </div>
        </div>
        <br />
        <div class="row" hidden="@(Model.Franchise == null)">
            <div class="col-12">
                <MudTable Bordered="false"
                          Dense="false"
                          Filter="new Func<RetiredNumberModel,bool>(FilterFunc1)"
                          Hover="true"
                          Items="@Model.RetiredNumbers.ToList()"
                          Striped="true">
                    <ToolBarContent>
                        <MudText Typo="Typo.h6">@Model.ResultsTitle</MudText>
                        <MudSpacer />
                        <MudTextField @bind-Value="Search"
                                      Adornment="Adornment.Start"
                                      AdornmentIcon="@Icons.Material.Filled.Search"
                                      Class="mt-0"
                                      IconSize="MudBlazor.Size.Medium"
                                      Placeholder="Search" />
                    </ToolBarContent>
                    <HeaderContent>
                        <MudTh></MudTh>
                        <MudTh>
                            <MudTableSortLabel SortBy="new Func<RetiredNumberModel, object>(x => x.PersonName)">Person</MudTableSortLabel>
                        </MudTh>
                        <MudTh>Franchise</MudTh>
                        <MudTh>
                            <MudTableSortLabel SortBy="new Func<RetiredNumberModel, object>(x => x.PlayerNumber)">Number</MudTableSortLabel>
                        </MudTh>
                    </HeaderContent>
                    <RowTemplate>
                        <MudTd DataLabel="">
                            <MudTooltip>
                                <MudImage @onclick="@(_ => ShowPersonProfileDialog(context.PersonId))"
                                          Class="rounded-lg can-click"
                                          Elevation="5"
                                          Height="200"
                                          ObjectFit="@ObjectFit.Cover"
                                          Src="@(ImageService.GetPersonImageData(context.PersonImageFileName))"
                                          Width="200" />
                            </MudTooltip>
                        </MudTd>
                        <MudTd DataLabel="Person">
                            <MudLink Href="@context.ProfileLink">@context.PersonName</MudLink>
                        </MudTd>
                        <MudTd DataLabel="Franchise">@context.FranchiseName</MudTd>
                        <MudTd DataLabel="Number">@context.PlayerNumber</MudTd>
                    </RowTemplate>
                    <PagerContent>
                        <MudTablePager />
                    </PagerContent>
                </MudTable>
            </div>
        </div>
    </Content>
</DivPad2>
