@inherits ViewSportTools<AwardModel>

<DivPad2>
    <DivRowCol12>
        <RowStack>
            <AwardTypeAutoComplete IsMultiSport="@(Sport == null)" 
                                   ResetValueOnEmptyText="false"
                                   SelectedValue="Model.AwardType"
                                   SelectionChanged="(awardType) => OnInputChange(awardType)"
                                   Sports="@(new [] { Sport })" />
            <CustomButton ButtonType="MudBlazor.ButtonType.Button"
                          OnClick="Browse"
                          Size="MudBlazor.Size.Small"
                          Text="View All" />
        </RowStack>
    </DivRowCol12>
    <Condition Evaluation="@(Model.AwardExclusionYears.Any())">
        <Match>
            <br />
            <ExpansionPanel Expanded="false"
                            Text="Years without award">
                <MudTable Bordered="false"
                          Dense="false"
                          Hover="true"
                          Items="@Model.AwardExclusionYears.OrderBy(exclusion => exclusion.Year)"
                          Striped="true">
                    <ToolBarContent>
                        <ToolbarTitle Text="No award given these years" />
                    </ToolBarContent>
                    <HeaderContent>
                        <MudTh>
                            <MudTableSortLabel SortBy="new Func<Entity.AwardExclusionYear, object>(x => x.Year)">Year</MudTableSortLabel>
                        </MudTh>
                        <MudTh>
                            <MudTableSortLabel SortBy="new Func<Entity.AwardExclusionYear, object>(x => x.Reason)">Reason</MudTableSortLabel>
                        </MudTh>
                    </HeaderContent>
                    <RowTemplate>
                        <MudTd DataLabel="Year">@context.Year</MudTd>
                        <MudTd DataLabel="Reason">@context.Reason</MudTd>
                    </RowTemplate>
                    <PagerContent>
                        <MudTablePager />
                    </PagerContent>
                </MudTable>
            </ExpansionPanel>
        </Match>
    </Condition>
    <br />
    <Div Class="row" 
         Hidden="@(Model.AwardType?.Id == null)">
        <Div Class="col-12">
            <MudTable Bordered="false"
                      Dense="false"
                      Filter="new Func<AwardModel,bool>(FilterFunc1)"
                      Hover="true"
                      Items="@Model.PersonAwards.ToList()"
                      Striped="true">
                <ToolBarContent>
                    <ToolbarTitle Text="@Model.AwardTypeName" />
                    <MudSpacer />
                    <ToolbarSearchField SearchText="@Search"
                                        SearchTextChanged="@((p) => Search = p)" />
                </ToolBarContent>
                <HeaderContent>
                    <MudTh></MudTh>
                    <MudTh>
                        <MudTableSortLabel SortBy="new Func<AwardModel, object>(x => x.PersonName)">Person</MudTableSortLabel>
                    </MudTh>
                    <MudTh>
                        <MudTableSortLabel SortBy="new Func<AwardModel, object>(x => x.Year)">Year</MudTableSortLabel>
                    </MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd DataLabel="">
                        <GridImage AllowNavigation="true" 
                                   ImageData="@(ImageService.GetPersonImageData(context.PersonImageFileName))"
                                   ImageLoaded="@(_ => StateHasChanged())"
                                   OnClick="@(_ => ShowPersonProfileDialog(context.PersonId))" />
                    </MudTd>
                    <MudTd DataLabel="Person">
                        <MudLink Href="@context.ProfileLink">@context.PersonName</MudLink>
                    </MudTd>
                    <MudTd DataLabel="Year">@context.Year</MudTd>
                </RowTemplate>
                <PagerContent>
                    <MudTablePager />
                </PagerContent>
            </MudTable>
        </Div>
    </Div>
</DivPad2>
