@inherits ViewSportTools<InternationalHallOfFameModel>

<DivPad2>
    <Div Class="@DivClass.Row">
        <Div Class="@DivClass.Column3">
            <InternationalHallOfFameTypeDropDown SelectedValue="Model.InternationalHallOfFameTypeId"
                                                 SelectionChanged="(p) => OnInputChange(p)" />
        </Div>
    </Div>
    <br />
    <Div Class="@DivClass.Row" 
         Hidden="@(Model.InternationalHallOfFameTypeId == 0)">
        <Div Class="@DivClass.Column12">
            <MudTable Bordered="false"
                      Dense="false"
                      Filter="new Func<InternationalHallOfFameModel,bool>(FilterFunc1)"
                      Hover="true"
                      Items="Model.InternationalHallOfFames.ToList()"
                      Striped="true">
                <ToolBarContent>
                    <ToolbarTitle Text="@Model.ResultsTitle" />
                    <MudSpacer />
                    <ToolbarSearchField SearchText="@Search"
                                        SearchTextChanged="@((p) => Search = p)" />
                </ToolBarContent>
                <HeaderContent>
                    <MudTh></MudTh>
                    <MudTh>
                        <MudTableSortLabel SortBy="new Func<InternationalHallOfFameModel, object>(x => x.PersonName)">Person</MudTableSortLabel>
                    </MudTh>
                    <MudTh>Type</MudTh>
                    <MudTh>Induction Year</MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd DataLabel="">
                        <PersonGridImage ImageData="@(ImageService.GetPersonImageData(context.PersonImageFileName))"
                                         ImageLoaded="StateHasChanged"
                                         PersonId="context.PersonId" />
                    </MudTd>
                    <MudTd DataLabel="Person">
                        <Link Href="@context.ProfileLink">@context.PersonName</Link>
                    </MudTd>
                    <MudTd DataLabel="InternationalHallOfFameTypeName">@context.InternationalHallOfFameTypeName</MudTd>
                    <MudTd DataLabel="InductionYear">@context.InductionYear</MudTd>
                </RowTemplate>
                <PagerContent>
                    <MudTablePager />
                </PagerContent>
            </MudTable>
        </Div>
    </Div>
</DivPad2>
