@inherits ViewSportTools<AccomplishmentModel>

<DivPad2>
    <DivRowCol12>
        <RowStack>
            <AccomplishmentTypeAutoComplete SelectedValue="Model.AccomplishmentType"
                                            SelectionChanged="(p) => OnInputChange(p)"
                                            Sports="@(new [] { Sport })" />
            <CustomButton ButtonType="MudBlazor.ButtonType.Button"
                          OnClick="Browse"
                          Size="MudBlazor.Size.Small"
                          Text="View All" />
        </RowStack>
    </DivRowCol12>
    <br />
    <Div Class="row" 
         Visible="@(Model.AccomplishmentType != null)">
        <Div Class="col-12">
            <MudTable Bordered="false"
                      Dense="false"
                      Filter="new Func<AccomplishmentModel,bool>(FilterFunc1)"
                      Hover="true"
                      Items="Model.PersonAccomplishments"
                      Striped="true">
                <ToolBarContent>
                    <ToolbarTitle Text="@Model.AccomplishmentTypeName" />
                    <MudSpacer />
                    <ToolbarSearchField SearchText="@Search"
                                        SearchTextChanged="@((p) => Search = p)" />
                </ToolBarContent>
                <HeaderContent>
                    <MudTh></MudTh>
                    <MudTh>
                        <MudTableSortLabel SortBy="new Func<AccomplishmentModel, object>(x => x.PersonName)">Person</MudTableSortLabel>
                    </MudTh>
                    <TableHeader Visible="Model.IsNoHitter">
                        <MudTableSortLabel SortBy="new Func<AccomplishmentModel, object>(x => x.AccomplishmentTypeName)">Type</MudTableSortLabel>
                    </TableHeader>
                    <TableHeader Visible="Model.IsDateAccomplishment">
                        <MudTableSortLabel SortBy="new Func<AccomplishmentModel, object>(x => x.Date)">Date</MudTableSortLabel>
                    </TableHeader>
                    <TableHeader Visible="Model.IsYearAccomplishment">
                        <MudTableSortLabel SortBy="new Func<AccomplishmentModel, object>(x => x.Year)">Year</MudTableSortLabel>
                    </TableHeader>
                </HeaderContent>
                <RowTemplate>
                    <MudTd DataLabel="">
                        <PersonGridImage ImageData="@(ImageService.GetPersonImageData(context.PersonImageFileName))"
                                         ImageLoaded="StateHasChanged"
                                         PersonId="context.PersonId" />
                    </MudTd>
                    <MudTd DataLabel="Person">
                        <Link Href="@context.ProfileLink">@context.PersonName</Link>
                    </MudTd>
                    <TableData DataLabel="Type" 
                               Visible="Model.IsNoHitter">@context.AccomplishmentTypeName</TableData>
                    <TableData DataLabel="Date" 
                               Visible="Model.IsDateAccomplishment">@(context.Date.HasValue ? context.Date.Value.ToString("MM/dd/yyyy") : string.Empty)</TableData>
                    <TableData DataLabel="Year" 
                               Visible="Model.IsYearAccomplishment">@(context.Year.HasValue ? context.Year : string.Empty)</TableData>
                </RowTemplate>
                <PagerContent>
                    <MudTablePager />
                </PagerContent>
            </MudTable>
        </Div>
    </Div>
</DivPad2>
