@inherits ViewSportTools<AllStarModel>

<DivPad2>
    <Div Class="row">
        <Div Class="col-3">
            <YearDropDown MinYear="@BeginYear"
                          SelectedValue="Model.Year"
                          SelectionChanged="(p) => OnInputChange(p)" />
        </Div>
    </Div>
    <br />
    <Condition Evaluation="Model.IsDoubleHeaderAllStarGame">
        <Match>
            <DivRowCol12>
                <p>
                    Between 1959 and 1962, the Baseball All Star Exhibition consisted of 2 All Star Games featured as a doubleheader.
                </p>
                <p>
                    As a result, players could potentially be credited with 2 All Star Games per year during this period.
                </p>
            </DivRowCol12>
            <br />
        </Match>
    </Condition>
    <Condition Evaluation="Model.DisplayCanceledMessage">
        <Match>
            <DivRowCol12>
                <p>
                    @Model.CanceledMessage
                </p>
            </DivRowCol12>
            <br />
        </Match>
    </Condition>
    <Condition Evaluation="Model.DisplayNoProBowlMessage">
        <Match>
            <DivRowCol12>
                <p>
                    There was no NFL All-Star Game/Pro Bowl played from 1943-1950.
                </p>
            </DivRowCol12>
            <br />
        </Match>
    </Condition>
    <Div Class="row" 
         Hidden="@(Model.Year == 0)">
        <Div Class="@(Model.DisplayABAAllStars || Model.DisplayAFLProBowlers ? "col-6" : "col-12")">
            <MudTable Bordered="false"
                      Dense="false"
                      Filter="new Func<AllStarModel,bool>(FilterFunc1)"
                      Hover="true"
                      Items="@Model.AllStars.ToList()"
                      Striped="true">
                <ToolBarContent>
                    <MudText Typo="Typo.h6">@Model.MainGridTitle</MudText>
                    <MudSpacer />
                    <MudTextField @bind-Value="Search"
                                  Adornment="Adornment.Start"
                                  AdornmentIcon="@Icons.Material.Filled.Search"
                                  Class="mt-0"
                                  IconSize="MudBlazor.Size.Medium"
                                  Placeholder="Search" />
                </ToolBarContent>
                <HeaderContent>
                    <MudTh></MudTh>
                    <MudTh>
                        <MudTableSortLabel SortBy="new Func<AllStarModel, object>(x => x.PersonName)">Person</MudTableSortLabel>
                    </MudTh>
                    <MudTh>Year</MudTh>
                    <Condition Evaluation="Model.IsDoubleHeaderAllStarGame">
                        <Match>
                            <MudTh>Number of Games</MudTh>
                        </Match>
                    </Condition>
                </HeaderContent>
                <RowTemplate>
                    <MudTd DataLabel="">
                        <MudTooltip>
                            <MudImage @onclick="@(_ => ShowPersonProfileDialog(context.PersonId))"
                                      Class="rounded-lg can-click"
                                      Elevation="5"
                                      Height="200"
                                      ObjectFit="@ObjectFit.Cover"
                                      Src="@(ImageService.GetPersonImageData(context.PersonImageFileName))"
                                      Width="200" />
                        </MudTooltip>
                    </MudTd>
                    <MudTd DataLabel="Person">
                        <MudLink Href="@context.ProfileLink">@context.PersonName</MudLink>
                    </MudTd>
                    <MudTd DataLabel="Year">@context.Year</MudTd>
                    <Condition Evaluation="Model.IsDoubleHeaderAllStarGame">
                        <Match>
                            <MudTd DataLabel="Number of Games">@context.NumberOfGames</MudTd>
                        </Match>
                    </Condition>
                </RowTemplate>
                <PagerContent>
                    <MudTablePager />
                </PagerContent>
            </MudTable>
        </Div>
        <Condition Evaluation="Model.DisplayABAAllStars">
            <Match>
                <Div Class="col-6">
                    <MudTable Bordered="false"
                              Dense="false"
                              Filter="new Func<AllStarModel,bool>(FilterFuncSecondaryGrid)"
                              Hover="true"
                              Items="@Model.SecondaryAllStars.ToList()"
                              Striped="true">
                        <ToolBarContent>
                            <MudText Typo="Typo.h6">@Model.SecondaryGridTitle</MudText>
                            <MudSpacer />
                            <MudTextField @bind-Value="_secondarySearch"
                                          Adornment="Adornment.Start"
                                          AdornmentIcon="@Icons.Material.Filled.Search"
                                          Class="mt-0"
                                          IconSize="MudBlazor.Size.Medium"
                                          Placeholder="Search" />
                        </ToolBarContent>
                        <HeaderContent>
                            <MudTh></MudTh>
                            <MudTh>
                                <MudTableSortLabel SortBy="new Func<AllStarModel, object>(x => x.PersonName)">Person</MudTableSortLabel>
                            </MudTh>
                            <MudTh>Year</MudTh>
                        </HeaderContent>
                        <RowTemplate>
                            <MudTd DataLabel="">
                                <MudTooltip>
                                    <MudImage @onclick="@(_ => ShowPersonProfileDialog(context.PersonId))"
                                              Class="rounded-lg can-click"
                                              Elevation="5"
                                              Height="200"
                                              ObjectFit="@ObjectFit.Cover"
                                              Src="@(ImageService.GetPersonImageData(context.PersonImageFileName))"
                                              Width="200" />
                                </MudTooltip>
                            </MudTd>
                            <MudTd DataLabel="Person">
                                <MudLink Href="@context.ProfileLink">@context.PersonName</MudLink>
                            </MudTd>
                            <MudTd DataLabel="Year">@context.Year</MudTd>
                        </RowTemplate>
                        <PagerContent>
                            <MudTablePager />
                        </PagerContent>
                    </MudTable>
                </Div>
            </Match>
        </Condition>
        <Condition Evaluation="Model.DisplayAFLProBowlers">
            <Match>
                <Div Class="col-6">
                    <MudTable Bordered="false"
                              Dense="false"
                              Filter="new Func<AllStarModel,bool>(FilterFuncSecondaryGrid)"
                              Hover="true"
                              Items="@Model.SecondaryAllStars.ToList()"
                              Striped="true">
                        <ToolBarContent>
                            <MudText Typo="Typo.h6">@Model.SecondaryGridTitle</MudText>
                            <MudSpacer />
                            <MudTextField @bind-Value="_secondarySearch"
                                          Adornment="Adornment.Start"
                                          AdornmentIcon="@Icons.Material.Filled.Search"
                                          Class="mt-0"
                                          IconSize="MudBlazor.Size.Medium"
                                          Placeholder="Search" />
                        </ToolBarContent>
                        <HeaderContent>
                            <MudTh></MudTh>
                            <MudTh>
                                <MudTableSortLabel SortBy="new Func<AllStarModel, object>(x => x.PersonName)">Person</MudTableSortLabel>
                            </MudTh>
                            <MudTh>Year</MudTh>
                        </HeaderContent>
                        <RowTemplate>
                            <MudTd DataLabel="">
                                <MudTooltip>
                                    <MudImage @onclick="@(_ => ShowPersonProfileDialog(context.PersonId))"
                                              Class="rounded-lg can-click"
                                              Elevation="5"
                                              Height="200"
                                              ObjectFit="@ObjectFit.Cover"
                                              Src="@(ImageService.GetPersonImageData(context.PersonImageFileName))"
                                              Width="200" />
                                </MudTooltip>
                            </MudTd>
                            <MudTd DataLabel="Person">
                                <MudLink Href="@context.ProfileLink">@context.PersonName</MudLink>
                            </MudTd>
                            <MudTd DataLabel="Year">@context.Year</MudTd>
                        </RowTemplate>
                        <PagerContent>
                            <MudTablePager />
                        </PagerContent>
                    </MudTable>
                </Div>
            </Match>
        </Condition>
    </Div>
</DivPad2>
