@inherits ViewSportTools<PlayerModel>

<DivPad2>
    <Div Class="row">
        <Div Class="col-3">
            <FranchiseAutoComplete SelectedValue="Model.Franchise"
                                   SelectionChanged="(p) => OnInputChange(p)"
                                   Sports="@(new [] { Sport })" />
        </Div>
    </Div>
    <br />
    <Div Class="row" 
         Hidden="@(Model.Franchise == null)">
        <Div Class="col-12">
            <MudTable Bordered="false"
                      Dense="false"
                      Filter="new Func<PlayerModel,bool>(FilterFunc1)"
                      Hover="true"
                      Items="@Model.Players.ToList()"
                      Striped="true">
                <ToolBarContent>
                    <ToolbarTitle Text="@Model.ResultsTitle" />
                    <MudSpacer />
                    <MudTextField @bind-Value="Search"
                                  Adornment="Adornment.Start"
                                  AdornmentIcon="@Icons.Material.Filled.Search"
                                  Class="mt-0"
                                  IconSize="MudBlazor.Size.Medium"
                                  Placeholder="Search" />
                </ToolBarContent>
                <HeaderContent>
                    <MudTh></MudTh>
                    <MudTh>
                        <MudTableSortLabel SortBy="new Func<PlayerModel, object>(x => x.PersonName)">Person</MudTableSortLabel>
                    </MudTh>
                    <MudTh>
                        <MudTableSortLabel SortBy="new Func<PlayerModel, object>(x => x.TeamName)">Team</MudTableSortLabel>
                    </MudTh>
                    <MudTh>Begin Year</MudTh>
                    <MudTh>End Year</MudTh>
                    <MudTh>Role</MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd DataLabel="">
                        <MudTooltip>
                            <MudImage @onclick="@(_ => ShowPersonProfileDialog(context.PersonId))"
                                      Class="rounded-lg can-click"
                                      Elevation="5"
                                      Height="200"
                                      ObjectFit="@ObjectFit.Cover"
                                      Src="@(ImageService.GetPersonImageData(context.PersonImageFileName))"
                                      Width="200" />
                        </MudTooltip>
                    </MudTd>
                    <MudTd DataLabel="Person">
                        <MudLink Href="@context.ProfileLink">@context.PersonName</MudLink>
                    </MudTd>
                    <MudTd DataLabel="Team">@context.TeamName</MudTd>
                    <MudTd DataLabel="BeginYear">@context.BeginYear</MudTd>
                    <MudTd DataLabel="EndYear">@context.EndYear</MudTd>
                    <MudTd DataLabel="Role">@context.TeamRoleTypeName</MudTd>
                </RowTemplate>
                <PagerContent>
                    <MudTablePager />
                </PagerContent>
            </MudTable>
        </Div>
    </Div>
</DivPad2>
