@inherits ViewSportTools<LeaderModel>

<DivPad2>
    <Div Class="@DivClass.Row">
        <Div Class="@DivClass.Column6">
            <RowStack>
                <LeaderTypeAutoComplete ResetValueOnEmptyText="false"
                                        SelectedValue="Model.LeaderType"
                                        SelectionChanged="(leaderType) => OnInputChange(leaderType)"
                                        Sports="@(new [] { Sport })" />
                <CustomButton ButtonType="MudBlazor.ButtonType.Button"
                              OnClick="Browse"
                              Size="MudBlazor.Size.Small"
                              Text="View All" />
            </RowStack>
        </Div>
    </Div>
    <br />
    <Div Class="@DivClass.Row" 
         Hidden="@(Model.LeaderType?.Id == null)">
        <Div Class="@DivClass.Column12">
            <MudTable Bordered="false"
                      Dense="false"
                      Filter="new Func<LeaderModel,bool>(FilterFunc1)"
                      Hover="true"
                      Items="Model.Leaders.ToList()"
                      Striped="true">
                <ToolBarContent>
                    <ToolbarTitle Text="@Model.ResultsTitle" />
                    <MudSpacer />
                    <ToolbarSearchField SearchText="@Search"
                                        SearchTextChanged="@((p) => Search = p)" />
                </ToolBarContent>
                <HeaderContent>
                    <MudTh></MudTh>
                    <MudTh>
                        <MudTableSortLabel SortBy="new Func<LeaderModel, object>(x => x.PersonName)">Person</MudTableSortLabel>
                    </MudTh>
                    <MudTh>Leader Type</MudTh>
                    <MudTh>Year</MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd DataLabel="">
                        <PersonGridImage ImageData="@(ImageService.GetPersonImageData(context.PersonImageFileName))"
                                         ImageLoaded="StateHasChanged"
                                         PersonId="context.PersonId" />
                    </MudTd>
                    <MudTd DataLabel="Person">
                        <Link Href="@context.ProfileLink">@context.PersonName</Link>
                    </MudTd>
                    <MudTd DataLabel="LeaderType">@context.LeaderTypeName</MudTd>
                    <MudTd DataLabel="Year">@context.Year</MudTd>
                </RowTemplate>
                <PagerContent>
                    <MudTablePager />
                </PagerContent>
            </MudTable>
        </Div>
    </Div>
</DivPad2>
