@inherits ViewSportTools<PlayerModel>

<DivPad2>
    <Div Class="@DivClass.Row">
        <Div Class="@DivClass.Column3">
            <FranchiseAutoComplete SelectedValue="Model.Franchise"
                                   SelectionChanged="(p) => OnInputChange(p)"
                                   Sports="@(new [] { Sport })" />
        </Div>
    </Div>
    <br />
    <Div Class="@DivClass.Row" 
         Hidden="@(Model.Franchise == null)">
        <Div Class="@DivClass.Column12">
            <MudTable Bordered="false"
                      Dense="false"
                      Filter="new Func<PlayerModel,bool>(FilterFunc1)"
                      Hover="true"
                      Items="Model.Players.ToList()"
                      Striped="true">
                <ToolBarContent>
                    <ToolbarTitle Text="@Model.ResultsTitle" />
                    <MudSpacer />
                    <ToolbarSearchField SearchText="@Search"
                                        SearchTextChanged="@((p) => Search = p)" />
                </ToolBarContent>
                <HeaderContent>
                    <MudTh></MudTh>
                    <MudTh>
                        <MudTableSortLabel SortBy="new Func<PlayerModel, object>(x => x.PersonName)">Person</MudTableSortLabel>
                    </MudTh>
                    <MudTh>
                        <MudTableSortLabel SortBy="new Func<PlayerModel, object>(x => x.TeamName)">Team</MudTableSortLabel>
                    </MudTh>
                    <MudTh>Begin Year</MudTh>
                    <MudTh>End Year</MudTh>
                    <MudTh>Role</MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd DataLabel="">
                        <PersonGridImage ImageData="@(ImageService.GetPersonImageData(context.PersonImageFileName))"
                                         ImageLoaded="StateHasChanged"
                                         PersonId="context.PersonId" />
                    </MudTd>
                    <MudTd DataLabel="Person">
                        <Link Href="@context.ProfileLink">@context.PersonName</Link>
                    </MudTd>
                    <MudTd DataLabel="Team">@context.TeamName</MudTd>
                    <MudTd DataLabel="BeginYear">@context.BeginYear</MudTd>
                    <MudTd DataLabel="EndYear">@context.EndYear</MudTd>
                    <MudTd DataLabel="Role">@context.TeamRoleTypeName</MudTd>
                </RowTemplate>
                <PagerContent>
                    <MudTablePager />
                </PagerContent>
            </MudTable>
        </Div>
    </Div>
</DivPad2>
