@inherits ViewSportTools<HallOfFameModel>

<DivPad2>
    <Div Class="row">
        <Div Class="col-3">
            <YearDropDown MinYear="1936"
                          SelectedValue="Model.InductionYear"
                          SelectionChanged="(p) => OnInputChange(p)" />
        </Div>
    </Div>
    <br />
    <DivRowCol12>
        <MudTable Bordered="false"
                  Dense="false"
                  Filter="new Func<HallOfFameModel,bool>(FilterFunc1)"
                  Hover="true"
                  Items="@Model.HallOfFames.ToList()"
                  Striped="true">
            <ToolBarContent>
                <ToolbarTitle Text="@Model.ResultsTitle" />
                <MudSpacer />
                <ToolbarSearchField SearchText="@Search"
                                    SearchTextChanged="@((p) => Search = p)" />
            </ToolBarContent>
            <HeaderContent>
                <MudTh></MudTh>
                <MudTh>
                    <MudTableSortLabel SortBy="new Func<HallOfFameModel, object>(x => x.PersonName)">Person</MudTableSortLabel>
                </MudTh>
                <MudTh>Induction Year</MudTh>
                <MudTh hidden="@(!DisplayVotePercentage)">Vote Percentage</MudTh>
                <MudTh hidden="@(!DisplayBallot)">Ballot</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="">
                    <MudTooltip>
                        <MudImage @onclick="@(_ => ShowPersonProfileDialog(context.PersonId))"
                                  Class="rounded-lg can-click"
                                  Elevation="5"
                                  Height="200"
                                  ObjectFit="@ObjectFit.Cover"
                                  Src="@(ImageService.GetPersonImageData(context.PersonImageFileName))"
                                  Width="200" />
                    </MudTooltip>
                </MudTd>
                <MudTd DataLabel="Person">
                    <MudLink Href="@context.ProfileLink">@context.PersonName</MudLink>
                </MudTd>
                <MudTd DataLabel="InductionYear">@context.InductionYear</MudTd>
                <MudTd hidden="@(!DisplayVotePercentage)" DataLabel="VotePercentage">@context.VotePercentage</MudTd>
                <MudTd hidden="@(!DisplayBallot)" DataLabel="BallotNumber">@context.BallotNumber</MudTd>
            </RowTemplate>
            <PagerContent>
                <MudTablePager />
            </PagerContent>
        </MudTable>
    </DivRowCol12>
</DivPad2>
