@inherits ViewSportTools<DraftModel>

<DivPad2>
    <Div Class="@DivClass.Row">
        <Div Class="@DivClass.Column3">
            <FranchiseAutoComplete SelectedValue="Model.Franchise"
                                   SelectionChanged="(p) => OnInputChange(p)"
                                   Sports="@(new [] { Sport })" />
        </Div>
    </Div>
    <br />
    <Div Class="@DivClass.Row" 
         Hidden="@(Model.Franchise == null)">
        <Div Class="@DivClass.Column12">
            <MudTable Bordered="false"
                      Dense="false"
                      Filter="new Func<DraftModel,bool>(FilterFunc1)"
                      Hover="true"
                      Items="Model.Drafts.ToList()"
                      Striped="true">
                <ToolBarContent>
                    <ToolbarTitle Text="@Model.ResultsTitle" />
                    <MudSpacer />
                    <ToolbarSearchField SearchText="@Search"
                                        SearchTextChanged="@((p) => Search = p)" />
                </ToolBarContent>
                <HeaderContent>
                    <MudTh></MudTh>
                    <MudTh>
                        <MudTableSortLabel SortBy="new Func<DraftModel, object>(x => x.PersonName)">Person</MudTableSortLabel>
                    </MudTh>
                    <MudTh>
                        <MudTableSortLabel SortBy="new Func<DraftModel, object>(x => x.FranchiseName)">Franchise</MudTableSortLabel>
                    </MudTh>
                    <MudTh>Year</MudTh>
                    <MudTh>Round</MudTh>
                    <MudTh>Pick</MudTh>
                    <MudTh>Overall</MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd DataLabel="">
                        <PersonGridImage ImageData="@(ImageService.GetPersonImageData(context.PersonImageFileName))"
                                         ImageLoaded="StateHasChanged"
                                         PersonId="context.PersonId" />
                    </MudTd>
                    <MudTd DataLabel="Person">
                        <Link Href="@context.ProfileLink">@context.PersonName</Link>
                    </MudTd>
                    <MudTd DataLabel="Franchise">@context.FranchiseName</MudTd>
                    <MudTd DataLabel="Year">@context.Year</MudTd>
                    <MudTd DataLabel="Round">@context.Round</MudTd>
                    <MudTd DataLabel="Pick">@context.Pick</MudTd>
                    <MudTd DataLabel="Overall">@context.Overall</MudTd>
                </RowTemplate>
                <PagerContent>
                    <MudTablePager />
                </PagerContent>
            </MudTable>
        </Div>
    </Div>
</DivPad2>
