@inherits ViewSportTools<LeaderModel>

<DivPad2>
    <Content>
        <div class="row">
            <div class="col-6">
                <MudStack Row="true">
                    <LeaderTypeAutoComplete ResetValueOnEmptyText="false"
                                            SelectedValue="Model.LeaderType"
                                            SelectionChanged="(leaderType) => OnInputChange(leaderType)"
                                            Sports="@(new [] { Sport })" />
                    <CustomButton ButtonType="MudBlazor.ButtonType.Button"
                                  OnClick="Browse"
                                  Size="MudBlazor.Size.Small"
                                  Text="View All" />
                </MudStack>                
            </div>
        </div>
        <br />
        <div class="row" hidden="@(Model.LeaderType?.Id == null)">
            <div class="col-12">
                <MudTable Bordered="false"
                          Dense="false"
                          Filter="new Func<LeaderModel,bool>(FilterFunc1)"
                          Hover="true"
                          Items="@Model.Leaders.ToList()"
                          Striped="true">
                    <ToolBarContent>
                        <MudText Typo="Typo.h6">@Model.ResultsTitle</MudText>
                        <MudSpacer />
                        <MudTextField @bind-Value="Search"
                                      Adornment="Adornment.Start"
                                      AdornmentIcon="@Icons.Material.Filled.Search"
                                      Class="mt-0"
                                      IconSize="MudBlazor.Size.Medium"
                                      Placeholder="Search" />
                    </ToolBarContent>
                    <HeaderContent>
                        <MudTh></MudTh>
                        <MudTh>
                            <MudTableSortLabel SortBy="new Func<LeaderModel, object>(x => x.PersonName)">Person</MudTableSortLabel>
                        </MudTh>
                        <MudTh>Leader Type</MudTh>
                        <MudTh>Year</MudTh>
                    </HeaderContent>
                    <RowTemplate>
                        <MudTd DataLabel="">
                            <MudTooltip>
                                <MudImage @onclick="@(_ => ShowPersonProfileDialog(context.PersonId))"
                                          Class="rounded-lg can-click"
                                          Elevation="5"
                                          Height="200"
                                          ObjectFit="@ObjectFit.Cover"
                                          Src="@(ImageService.GetPersonImageData(context.PersonImageFileName))"
                                          Width="200" />
                            </MudTooltip>
                        </MudTd>
                        <MudTd DataLabel="Person">
                            <MudLink Href="@context.ProfileLink">@context.PersonName</MudLink>
                        </MudTd>
                        <MudTd DataLabel="LeaderType">@context.LeaderTypeName</MudTd>
                        <MudTd DataLabel="Year">@context.Year</MudTd>
                    </RowTemplate>
                    <PagerContent>
                        <MudTablePager />
                    </PagerContent>
                </MudTable>
            </div>
        </div>
    </Content>
</DivPad2>
