@inherits ViewSportTools<SingleSeasonRecordModel>

<DivPad2>
    <Div Class="row">
        <Div Class="col-12">
            <MudTable Bordered="false"
                      Dense="false"
                      Filter="new Func<SingleSeasonRecordModel,bool>(FilterFunc1)"
                      Hover="true"
                      Items="@Model.SingleSeasonRecords.ToList()"
                      Striped="true">
                <ToolBarContent>
                    <ToolbarTitle Text="Single Season Records" />
                    <MudSpacer />
                    <ToolbarSearchField SearchText="@Search"
                                        SearchTextChanged="@((p) => Search = p)" />
                </ToolBarContent>
                <HeaderContent>
                    <MudTh>
                        <MudTableSortLabel SortBy="new Func<SingleSeasonRecordModel, object>(x => x.SingleSeasonRecordTypeName)">Record Type</MudTableSortLabel>
                    </MudTh>
                    <MudTh>Record</MudTh>
                    <MudTh>
                        <MudTableSortLabel SortBy="new Func<SingleSeasonRecordModel, object>(x => x.PersonName)">Person</MudTableSortLabel>
                    </MudTh>
                    <MudTh></MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd DataLabel="RecordType">@context.SingleSeasonRecordTypeName</MudTd>
                    <MudTd DataLabel="Record">@context.Record</MudTd>
                    <MudTd DataLabel="Person">
                        <Link Href="@context.ProfileLink">@context.PersonName</Link>
                    </MudTd>
                    <MudTd DataLabel="">
                        <GridImage AllowNavigation="true"
                                   ImageData="@(ImageService.GetPersonImageData(context.PersonImageFileName))"
                                   ImageLoaded="@(_ => StateHasChanged())"
                                   OnClick="@(_ => ShowPersonProfileDialog(context.PersonId))" />
                    </MudTd>
                </RowTemplate>
                <PagerContent>
                    <MudTablePager />
                </PagerContent>
            </MudTable>
        </Div>
    </Div>
</DivPad2>
