@inherits ViewSportTools<AllStarViewModel>

<DivPad2>
    <Content>
        <DivRowCol3>
            <Content>
                <YearDropDown MinYear="@BeginYear"
                              SelectedValue="_viewModel.Year"
                              SelectionChanged="(p) => OnInputChange(p)" />
            </Content>
        </DivRowCol3>
        <PrettyBlazor.Condition Evaluation="_viewModel.IsDoubleHeaderAllStarGame">
            <Match>
                <DivRowCol12>
                    <Content>
                        <p>
                            Between 1959 and 1962, the Baseball All Star Exhibition consisted of 2 All Star Games featured as a doubleheader.
                        </p>
                        <p>
                            As a result, players could potentially be credited with 2 All Star Games per year during this period.
                        </p>
                        <br />
                    </Content>
                </DivRowCol12>
            </Match>
        </PrettyBlazor.Condition>    
        <PrettyBlazor.Condition Evaluation="_viewModel.DisplayCanceledMessage">
            <Match>
                <DivRowCol12>
                    <Content>
                        <p>
                            @_viewModel.CanceledMessage
                        </p>
                        <br />
                    </Content>
                </DivRowCol12>
            </Match>
        </PrettyBlazor.Condition>
        <DivRowCol12 Hidden="@(_viewModel.Year == 0)">
            <Content>
                <div class="row">
                    <div class="col-6">
                        <MudTable Bordered="false"
                                  Dense="false"
                                  Filter="new Func<AllStarViewModel,bool>(FilterFunc1)"
                                  Hover="true"
                                  Items="@_viewModel.AllStars.ToList()"
                                  Striped="true">
                            <ToolBarContent>
                                <MudText Typo="Typo.h6">@_viewModel.MainGridTitle</MudText>
                                <MudSpacer />
                                <MudTextField @bind-Value="Search"
                                              Adornment="Adornment.Start"
                                              AdornmentIcon="@Icons.Material.Filled.Search"
                                              Class="mt-0"
                                              IconSize="MudBlazor.Size.Medium"
                                              Placeholder="Search" />
                            </ToolBarContent>
                            <HeaderContent>
                                <MudTh></MudTh>
                                <MudTh>Person</MudTh>
                                <MudTh>Year</MudTh>
                                <PrettyBlazor.Condition Evaluation="_viewModel.IsDoubleHeaderAllStarGame">
                                    <Match>
                                        <MudTh>Number of Games</MudTh>
                                    </Match>
                                </PrettyBlazor.Condition>
                            </HeaderContent>
                            <RowTemplate>
                                <MudTd DataLabel="">
                                    <MudTooltip>
                                        <MudImage @onclick="@(_ => NavigationManager.NavigateTo(context.ProfileLink))"
                                                  Class="rounded-lg can-click"
                                                  Elevation="5"
                                                  Height="200"
                                                  ObjectFit="@ObjectFit.Cover"
                                                  Src="@(GetImageData(context.PersonImageFileName))"
                                                  Width="200" />
                                    </MudTooltip>
                                </MudTd>
                                <MudTd DataLabel="Person">
                                    <MudLink Href="@context.ProfileLink">@context.PersonName</MudLink>
                                </MudTd>
                                <MudTd DataLabel="Year">@context.Year</MudTd>
                                <PrettyBlazor.Condition Evaluation="_viewModel.IsDoubleHeaderAllStarGame">
                                    <Match>
                                        <MudTd DataLabel="Number of Games">@context.NumberOfGames</MudTd>
                                    </Match>
                                </PrettyBlazor.Condition>
                            </RowTemplate>
                            <PagerContent>
                                <MudTablePager />
                            </PagerContent>
                        </MudTable>
                    </div>
                    <PrettyBlazor.Condition Evaluation="_viewModel.DisplayABAAllStars">
                        <Match>
                            <div class="col-6">
                                <MudTable Bordered="false"
                                          Dense="false"
                                          Filter="new Func<AllStarViewModel,bool>(FilterFuncSecondaryGrid)"
                                          Hover="true"
                                          Items="@_viewModel.SecondaryAllStars.ToList()"
                                          Striped="true">
                                    <ToolBarContent>
                                        <MudText Typo="Typo.h6">@_viewModel.SecondaryGridTitle</MudText>
                                        <MudSpacer />
                                        <MudTextField @bind-Value="SecondarySearch"
                                                      Adornment="Adornment.Start"
                                                      AdornmentIcon="@Icons.Material.Filled.Search"
                                                      Class="mt-0"
                                                      IconSize="MudBlazor.Size.Medium"
                                                      Placeholder="Search" />
                                    </ToolBarContent>
                                    <HeaderContent>
                                        <MudTh></MudTh>
                                        <MudTh>Person</MudTh>
                                        <MudTh>Year</MudTh>
                                    </HeaderContent>
                                    <RowTemplate>
                                        <MudTd DataLabel="">
                                            <MudTooltip>
                                                <MudImage @onclick="@(_ => NavigationManager.NavigateTo(context.ProfileLink))"
                                                          Class="rounded-lg can-click"
                                                          Elevation="5"
                                                          Height="200"
                                                          ObjectFit="@ObjectFit.Cover"
                                                          Src="@(GetImageData(context.PersonImageFileName))"
                                                          Width="200" />
                                            </MudTooltip>
                                        </MudTd>
                                        <MudTd DataLabel="Person">
                                            <MudLink Href="@context.ProfileLink">@context.PersonName</MudLink>
                                        </MudTd>
                                        <MudTd DataLabel="Year">@context.Year</MudTd>
                                    </RowTemplate>
                                    <PagerContent>
                                        <MudTablePager />
                                    </PagerContent>
                                </MudTable>
                            </div>
                        </Match>
                    </PrettyBlazor.Condition>
                </div>                
            </Content>             
        </DivRowCol12>        
    </Content>
</DivPad2>
