@inherits EditItem<DivisionEditModel, DivisionModel>

<EditPage ContinueNavigationPath="@EditModel.RoutePrefix"
          EditMode="EditModel.EditModeType" 
          ExitNavigationPath="@EditModel.RoutePrefix"
          ImageFileName="@EditModel.ImageFileName"
          ItemName="@EditModel.ItemTitle"
          Model="EditModel"
          OnLoad="OnLoad"
          OnSave="HandleValidSubmit"
          PageFooterButtonText="@EditModel.ExitButtonText"
          PageFooterNavigationPath="@EditModel.ExitNavigationPath"
          PageTitle="@EditModel.PageTitle"
          TItem="DivisionEditModel">
    <Div Class="row">
        <Div Class="col-3">
            <ConferenceDropDown SelectedValue="EditModel.ConferenceId"
                                SelectionChanged="(p) => EditModel.ConferenceId = p" />
        </Div>
    </Div>
    <Div Class="row">
        <Div Class="col-3">
            <LeagueDropDown SelectedValue="EditModel.LeagueId"
                            SelectionChanged="(p) => EditModel.LeagueId = p" />
        </Div>
    </Div>
    <Div Class="row">
        <Div Class="col-3">
            <TextField Label="Name"
                       SelectedText="@EditModel.Name"
                       SelectedTextChanged="@((p) => EditModel.Name = p)" />
        </Div>
    </Div>
    <Div Class="row">
        <Div Class="col-3">
            <TextField Label="Abbreviation"
                       SelectedText="@EditModel.Abbreviation"
                       SelectedTextChanged="@((p) => EditModel.Abbreviation = p)" />
        </Div>
    </Div>
</EditPage>