<Div Style="@Style.MarginPad1">
    <AlertPanel Alerts="ValidationResultAlerts" />
    <Div Class="@DivClass.Row">
        <Div Class="@DivClass.Column6">
            <ForumCategoryAutoComplete ResetValueOnEmptyText="false"
                                       SelectedValue="EditModel.ForumCategory"
                                       SelectionChanged="(c) => EditModel.ForumCategory = c" />
        </Div>
        <Div Class="@DivClass.Column3"
             Visible="@(EditModel.ForumCategory?.CanBeSportRelated ?? false)">
            <SportAutoComplete SelectedValue="EditModel.Sport"
                               SelectionChanged="(s) => EditModel.Sport = s" />
        </Div>
    </Div>
    <br />
    <Div Class="@DivClass.Row">
        <Div Class="@DivClass.Column12">
            <TextField Label="Subject"
                       SelectedText="@EditModel.Subject"
                       SelectedTextChanged="@((p) => EditModel.Subject = p)" />
        </Div>
    </Div>
    <br />
    <Div Class="@DivClass.Row">
        <Div Class="@DivClass.Column12">
            <TextField Label="Message"
                       Lines="10"
                       SelectedText="@EditModel.Entry.Message"
                       SelectedTextChanged="@((p) => EditModel.Entry.Message = p)" />
        </Div>
    </Div>
    <br />
    <LeftRightSection>
        <Right>
            <SaveButton OnClick="Save"
                        Text="Create" />
        </Right>
    </LeftRightSection>
</Div>
