@inherits ReroutePage

<Div Style="@Style.MarginPad1">
    <AlertPanel Alerts="ValidationResultAlerts" />
    <ExpansionPanel CanExpand="false" 
                    Text="@EditModel.ForumCategoryTitle">
        <RowStack>
            <Fab Color="MudBlazor.Color.Primary"
                 OnClick="UpdateBookmark"
                 Size="@MudBlazor.Size.Small"
                 StartIcon="@Icons.Material.Outlined.Favorite"
                 TooltipText="@_bookmarkText" />
            <TextField Label="Subject"
                       SelectedText="@EditModel.Subject"
                       SelectedTextChanged="@((p) => EditModel.Subject = p)"
                       Visible="CanEditSubject" />
            <Text Typography="Typo.body1"
                  Visible="@(!CanEditSubject)">
                Subject - @EditModel.Subject
            </Text>            
        </RowStack>
    </ExpansionPanel>  
    <Iterations Context="forumEntry" 
                Items="EditModel.Entries.OrderByDescending(entry => entry.Rank).ThenByDescending(entry => entry.ModifiedDate).ThenByDescending(entry => entry.CreatedDate)">
        <EditForumEntry ForumEntry="forumEntry"
                        RankUpdated="OnRankUpdated" />
    </Iterations> 
    <AddForumEntry ForumEntry="EditModel.Entry" />
    <LeftRightSection>
        <Right>
            <SaveButton OnClick="AddReply"
                        Text="Reply" />
        </Right>
    </LeftRightSection>
</Div>
