@inherits ReroutePage

<ExpansionPanel Text="@(ForumEntry.ModifiedDate?.ToString("dddd, MMMM dd, yyyy hh:mm:ss tt") ?? ForumEntry.CreatedDate.ToString("dddd, MMMM dd, yyyy hh:mm:ss tt"))">
    <LeftRightSection LeftStyle="width:20%;"
                      RightStyle="width:80%;">
        <Left>
            <Text Typography="Typo.h6">@ForumEntry.CreatedByUser.Username</Text>
        </Left>
        <Right>
            <RowStack>    
                <Div Class="col-auto p-1"
                     Visible="@(!CanEdit)">
                    <Fab Color="MudBlazor.Color.Primary"
                         OnClick="UpdateRank"
                         Size="@MudBlazor.Size.Small"
                         StartIcon="@Icons.Material.Outlined.ArrowUpward"
                         TooltipText="@_upvoteButtonText" />
                </Div>           
                <Div Class="col-auto p-1">
                    <Text Typography="Typo.h6">
                        @ForumEntry.Rank.ToString()
                    </Text>
                </Div>
                <Div Class="col-8">
                    <TextField Disabled="@(!EditMode)" 
                               Label="Message"
                               Lines="10"
                               SelectedText="@ForumEntry.Message"
                               SelectedTextChanged="@((p) => ForumEntry.Message = p)" />
                </Div>   
                <HiddenControl Visible="ForumEntry.Images.Any()">
                    <ForumEntryImages CanDelete="CanEdit"
                                      ImageDeleted="OnImageDeleted"
                                      Images="ForumEntry.Images" />
                </HiddenControl>
                <EditGridButton OnEdit="Edit"
                                Size="@MudBlazor.Size.Small"
                                Visible="@(CanEdit && !EditMode)" />
                <Fab Color="MudBlazor.Color.Primary"
                     OnClick="Confirm"
                     Size="@MudBlazor.Size.Small"
                     StartIcon="@Icons.Material.Outlined.Check"
                     TooltipText="Confirm"
                     Visible="@(CanEdit && EditMode)" />
                <Fab Color="MudBlazor.Color.Primary"
                     OnClick="AddImages"
                     Size="@MudBlazor.Size.Small"
                     StartIcon="@Icons.Material.Outlined.AttachFile"
                     TooltipText="Attachments"
                     Visible="@(CanEdit && CanAttach)" />
            </RowStack>            
        </Right>
    </LeftRightSection>
</ExpansionPanel>
