<MudDialog Style="max-height:85vh;">
    <DialogContent>
        <Div Style="margin-top:1%;margin-bottom:1%;margin-left:1%;margin-right:1%;overflow-y:auto;">
            <MudTable Bordered="false"
                      Dense="false"
                      Filter="new Func<ForumCategory,bool>(FilterFunc1)"
                      Height="400px"
                      Hover="true"
                      Items="@ForumCategory.All"
                      Striped="true">
                <ToolBarContent>
                    <ToolbarTitle Text="Forum Categories" />
                    <MudSpacer />
                    <MudTextField @bind-Value="_search"
                                  Adornment="Adornment.Start"
                                  AdornmentIcon="@Icons.Material.Filled.Search"
                                  Class="mt-0"
                                  IconSize="MudBlazor.Size.Medium"
                                  Placeholder="Search" />
                </ToolBarContent>
                <HeaderContent>
                    <MudTh>
                        <MudTableSortLabel SortBy="new Func<ForumCategory, object>(x => x.Name)">Name</MudTableSortLabel>
                    </MudTh>
                    <MudTh>
                        <MudTableSortLabel SortBy="new Func<ForumCategory, object>(x => x.Abbreviation)">Abbreviation</MudTableSortLabel>
                    </MudTh>
                    <MudTh></MudTh>
                </HeaderContent>
                <RowTemplate Context="item">
                    <MudTd DataLabel="Name">@item.Name</MudTd>
                    <MudTd DataLabel="Abbreviation">@item.Abbreviation</MudTd>
                    <MudTd>
                        <MudTooltip Text="Select">
                            <MudFab Color="MudBlazor.Color.Primary"
                                    StartIcon="@Icons.Material.Outlined.Edit"
                                    OnClick="@(_ => Select(@item.Id))"
                                    Size="@MudBlazor.Size.Small" />
                        </MudTooltip>
                    </MudTd>
                </RowTemplate>
                <PagerContent>
                    <MudTablePager />
                </PagerContent>
            </MudTable>
        </Div>
    </DialogContent>
    <DialogActions>
        <CancelButton OnClick="Cancel" />
    </DialogActions>
</MudDialog>
