<ExpansionPanel Text="Trending Topics">
    <HiddenControl Visible="Model.TrendingTopics.Any()">
        <Iterations Context="forumTopic"
                    Items="Model.TrendingTopics">
            <Div Class="@DivClass.Row"
                 Style="@Style.MarginTopPad1">
                <Div Class="@DivClass.Column4">
                    <Text Typography="Typo.h6">
                        @forumTopic.ForumCategoryName @(forumTopic.Sport != null ? $" - {forumTopic.SportName}" : string.Empty)
                    </Text>
                </Div>
                <Div Class="@DivClass.Column6">
                    <Text Typography="Typo.h6">
                        @forumTopic.Subject
                    </Text>
                </Div>
                <Div Class="@DivClass.Column2">
                    <Fab Color="MudBlazor.Color.Primary"
                         OnClick="@(_ => NavigationManager.NavigateTo($"{NavigationPath.ForumTopic}/{DataProtectorService.EncryptId(forumTopic.Id)}"))"
                         Size="MudBlazor.Size.Small"
                         StartIcon="@Icons.Material.Outlined.Edit"
                         TooltipText="View" />
                </Div>
            </Div>
        </Iterations>
    </HiddenControl>
    <Text Typography="Typo.body1"
          Visible="@(!Model.TrendingTopics.Any())">
        <Div Class="@DivClass.Row">
            Nothing is trending right now.
        </Div>
    </Text>
</ExpansionPanel>