@inherits ReroutePage

<DivPad2>
    <LeftRightSection LeftStyle="width:60%;margin-right:2%;" 
                      RightStyle="width:38%;">
        <Left>  
            <Div Style="margin-bottom:1%">
                <CustomButton ButtonType="MudBlazor.ButtonType.Button"
                              OnClick="CreatePost"
                              Size="MudBlazor.Size.Small"
                              Text="Create Post" />
            </Div>
            <ExpansionPanel Text="Browse">
                <Div Style="margin-bottom:1%">
                    <RowStack>
                        <ForumCategoryAutoComplete ResetValueOnEmptyText="false"
                                                   SelectedValue="SelectedCategory"
                                                   SelectionChanged="(c) => SelectedCategory = c" />
                        <CustomButton ButtonType="MudBlazor.ButtonType.Button"
                                      OnClick="Browse"
                                      Size="MudBlazor.Size.Small"
                                      Text="View All" />
                    </RowStack>
                </Div>
                <Div Style="margin-bottom:1%"
                     Visible="@((SelectedCategory?.Id ?? 0) > 0)">
                    <Stack>
                        <Condition Evaluation="@(SelectedCategory.CanBeSportRelated)">
                            <Match>
                                <SportAutoComplete SelectedValue="SelectedSport"
                                                   SelectionChanged="(s) => OnSportChange(s)" />
                            </Match>
                        </Condition>
                        <ForumTopicGrid ForumCategory="SelectedCategory"
                                        Sport="SelectedSport" />
                    </Stack>
                </Div>
            </ExpansionPanel> 
            <ExpansionPanel Text="Search">
                <Div Style="margin-bottom:1%">
                    <RowStack>
                        <ToolbarSearchField SearchText="@_search"
                                            SearchTextChanged="@((p) => _search = p)" />
                        <CustomButton ButtonType="MudBlazor.ButtonType.Button"
                                      OnClick="Search"
                                      Size="MudBlazor.Size.Small"
                                      Text="Search" />
                    </RowStack>
                </Div>
                <Div Style="margin-bottom:1%"
                     Visible="@(!SearchText.IsNullOrEmpty())">
                    <ForumTopicSearchResultsGrid SearchText="@SearchText" />
                </Div>
            </ExpansionPanel>
        </Left>
        <Right>
           <TrendingForumTopics />
        </Right>
    </LeftRightSection>
</DivPad2>
