<Div Style="margin-top:1%;margin-bottom:1%;margin-left:1%;margin-right:1%;">
    <Condition Evaluation="@(ValidationResultAlerts.Any())">
        <Match>
            <AlertPanel Alerts="ValidationResultAlerts" />
        </Match>
    </Condition>
    <Div Class="row">
        <Div Class="col-12">
            <h3>
                @(EditModel.Title)
            </h3>
        </Div>
    </Div>
    <br />
    <LeftRightSection>
        <Left>
            <NullableDecimalField Disabled="IsReadOnly" 
                                  Label="Amount to Receive ($)"
                                  Value="EditModel.AmountToReceive"
                                  ValueChanged="@((p) => EditModel.AmountToReceive = p)" />
        </Left>
        <Right>
            <Condition Evaluation="@(!IsReadOnly)">
                <Match>
                    <AddButton OnClick="AddReceiveMemorabilia"
                               Text="Add Memorabilia to Receive" />
                </Match>
            </Condition>            
        </Right>
    </LeftRightSection>
    <br />
    <Div Class="row">
        <Div Class="col-12">
            <TradePartnerMemorabiliaGrid Items="EditModel.ReceiveItems"
                                         ReadOnly="IsReadOnly" />
        </Div>        
    </Div>
    <br />
    <br />
    <br />    
    <LeftRightSection>
        <Left>
            <NullableDecimalField Disabled="IsReadOnly" 
                                  Label="Amount to Send ($)"
                                  Value="EditModel.AmountToSend"
                                  ValueChanged="@((p) => EditModel.AmountToSend = p)" />
        </Left>
        <Right>
            <Condition Evaluation="@(!IsReadOnly)">
                <Match>
                    <AddButton OnClick="AddSendMemorabilia"
                               Text="Add Memorabilia to Send" />
                </Match>
            </Condition>            
        </Right>
    </LeftRightSection>
    <br />
    <Div Class="row">
        <Div Class="col-12">
            <UserMemorabiliaGrid Items="EditModel.SendItems"
                                 ReadOnly="IsReadOnly" />
        </Div>
    </Div>
    <br />
    <LeftRightSection>
        <Right>
            <MudStack Row="true">
                <Condition Evaluation="IsReadOnly">
                    <Match>
                        <CustomButton OnClick="OnCancel"
                                      Text="Cancel" />
                    </Match>
                    <NotMatch>
                        <Condition Evaluation="IsReviewMode">
                            <Match>
                                <CustomButton OnClick="OnReject"
                                              Text="Reject" />
                                <CustomButton OnClick="OnCounter"
                                              Text="Counter" />
                                <CustomButton OnClick="OnAccept"
                                              Text="Accept" />
                            </Match>
                            <NotMatch>
                                <CustomButton OnClick="OnSend"
                                              Text="Send" />
                            </NotMatch>
                        </Condition>
                    </NotMatch>
                </Condition>                
            </MudStack>            
        </Right>
    </LeftRightSection>
</Div>

