<Div Style="margin-top:1%;margin-bottom:1%;margin-left:1%;margin-right:1%;">
    <AlertPanel Alerts="ValidationResultAlerts" />
    <Div Class="row">
        <Div Class="col-12">
            <Text Typography="Typo.h3">
                @EditModel.Title
            </Text>
        </Div>
    </Div>
    <br />
    <LeftRightSection>
        <Left>
            <NullableDecimalField Disabled="IsReadOnly" 
                                  Label="Amount to Receive ($)"
                                  Value="EditModel.AmountToReceive"
                                  ValueChanged="@((p) => EditModel.AmountToReceive = p)" />
        </Left>
        <Right>
            <AddButton OnClick="AddReceiveMemorabilia"
                       Text="Add Memorabilia to Receive"
                       Visible="@(!IsReadOnly)" />
        </Right>
    </LeftRightSection>
    <br />
    <Div Class="row">
        <Div Class="col-12">
            <TradePartnerMemorabiliaGrid Items="EditModel.ReceiveItems"
                                         ReadOnly="IsReadOnly" />
        </Div>        
    </Div>
    <br />
    <br />
    <br />    
    <LeftRightSection>
        <Left>
            <NullableDecimalField Disabled="IsReadOnly" 
                                  Label="Amount to Send ($)"
                                  Value="EditModel.AmountToSend"
                                  ValueChanged="@((p) => EditModel.AmountToSend = p)" />
        </Left>
        <Right>
            <AddButton OnClick="AddSendMemorabilia"
                       Text="Add Memorabilia to Send"
                       Visible="@(!IsReadOnly)" />
        </Right>
    </LeftRightSection>
    <br />
    <Div Class="row">
        <Div Class="col-12">
            <UserMemorabiliaGrid Items="EditModel.SendItems"
                                 ReadOnly="IsReadOnly" />
        </Div>
    </Div>
    <br />
    <LeftRightSection>
        <Right>
            <RowStack>
                <CustomButton OnClick="OnCancel"
                              Text="Cancel"
                              Visible="IsReadOnly" />
                <CustomButton OnClick="OnReject"
                              Text="Reject"
                              Visible="@(!IsReadOnly && IsReviewMode)" />
                <CustomButton OnClick="OnCounter"
                              Text="Counter"
                              Visible="@(!IsReadOnly && IsReviewMode)" />
                <CustomButton OnClick="OnAccept"
                              Text="Accept"
                              Visible="@(!IsReadOnly && IsReviewMode)" />
                <CustomButton OnClick="OnSend"
                              Text="Send"
                              Visible="@(!IsReadOnly && !IsReviewMode)" />
            </RowStack>            
        </Right>
    </LeftRightSection>
</Div>

