@using Memorabilia.Application.Features.Admin.People
@using Memorabilia.Application.Features.Admin.Teams
@using Memorabilia.Web.Controls.DropDowns
@using Memorabilia.Web.Controls.Person
@using Memorabilia.Web.Controls.Team

<div style="border: 1px solid black; margin-top: 2%; margin-bottom: 2%; margin-left: 2%; margin-right: 2%;">
    <EditForm Model="Items" OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <DivPad2>
            <Content>
                <div class="row">
                    <div class="col-md-6" style="text-align: left">
                        <h3>Memorabilia Filters</h3>
                    </div>
                    <div class="col-md-6" style="text-align: left">
                        <h3>Autograph Filters</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <div class="form-group">
                            <MudSelect @bind-Value="@_itemTypeId"
                                       @bind-Value:event="ValueChanged" 
                                       Label="Item Type"
                                       Variant="Variant.Outlined">
                                <MudSelectItem Value="@(0)">--Select--</MudSelectItem>
                                <Iterations Items="ItemType.All" Context="itemType">
                                    <MudSelectItem Value="@itemType.Id">@itemType.Name</MudSelectItem>
                                </Iterations>	
                            </MudSelect>
                        </div>
                    </div>    
                    <div class="col-lg-2">
                        <div class="form-group">
                            <MudSelect @bind-Value="@_brandId"
                                       @bind-Value:event="ValueChanged" 
                                       Label="Brand"
                                       Variant="Variant.Outlined">
                                <MudSelectItem Value="@(0)">--Select--</MudSelectItem>
                                <Iterations Items="Brand.All" Context="brand">
                                    <MudSelectItem Value="@brand.Id">@brand.Name</MudSelectItem>
                                </Iterations>	
                            </MudSelect>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <MudSelect @bind-Value="@_memorabiliaAcquisitionTypeId"
                                       @bind-Value:event="ValueChanged" 
                                       Label="Acquisition Type"
                                       Variant="Variant.Outlined">
                                <MudSelectItem Value="@(0)">--Select--</MudSelectItem>
                                <Iterations Items="AcquisitionType.MemorabiliaAcquisitionTypes" Context="acquisitionType">
                                    <MudSelectItem Value="@acquisitionType.Id">@acquisitionType.Name</MudSelectItem>
                                </Iterations>	
                            </MudSelect>
                        </div>
                    </div> 
                    <div class="col-lg-2">
                        <div class="form-group">
                            <MudAutocomplete @bind-Value="_autographPerson"
                                             AdornmentColor="MudBlazor.Color.Primary"
                                             AdornmentIcon="@Icons.Material.Filled.Search"
                                             Label="Person"
                                             Placeholder="Search by person"
                                             ResetValueOnEmptyText="true"                                             
                                             SearchFunc="@SearchPeople"                                               
                                             T="SavePersonViewModel"
                                             Text="@_autographPerson?.ProfileName"
                                             Variant="Variant.Outlined" >
                                <ItemSelectedTemplate Context="person">
                                    @person?.ProfileName
                                </ItemSelectedTemplate>
                                <ItemTemplate Context="person">
                                    @person?.ProfileName
                                </ItemTemplate>
                            </MudAutocomplete>
                        </div>                    
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <MudSelect @bind-Value="@_writingInstrumentId"
                                       @bind-Value:event="ValueChanged" 
                                       Label="Writing Instrument"
                                       Variant="Variant.Outlined">
                                <MudSelectItem Value="@(0)">--Select--</MudSelectItem>
                                <Iterations Items="WritingInstrument.All" Context="writingInstrument">
                                    <MudSelectItem Value="@writingInstrument.Id">@writingInstrument.Name</MudSelectItem>
                                </Iterations>	
                            </MudSelect>
                        </div>
                    </div> 
                    <div class="col-lg-2">
                        <div class="form-group">
                            <MudSelect @bind-Value="@_autographAcquisitionTypeId"
                                       @bind-Value:event="ValueChanged" 
                                       Label="Acquisition Type"
                                       Variant="Variant.Outlined">
                                <MudSelectItem Value="@(0)">--Select--</MudSelectItem>
                                <Iterations Items="AcquisitionType.All" Context="acquisitionType">
                                    <MudSelectItem Value="@acquisitionType.Id">@acquisitionType.Name</MudSelectItem>
                                </Iterations>	
                            </MudSelect>
                        </div>
                    </div> 
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <div class="form-group">
                            <MudSelect @bind-Value="@_memorabiliaConditionId"
                                       @bind-Value:event="ValueChanged" 
                                       Label="Condition"
                                       Variant="Variant.Outlined">
                                <MudSelectItem Value="@(0)">--Select--</MudSelectItem>
                                <Iterations Items="Domain.Constants.Condition.All" Context="condition">
                                    <MudSelectItem Value="@condition.Id">@condition.Name</MudSelectItem>
                                </Iterations>	
                            </MudSelect>
                        </div>
                    </div>    
                    <div class="col-lg-2">
                        <div class="form-group">
                            <MudSelect @bind-Value="@_sizeId"
                                       @bind-Value:event="ValueChanged" 
                                       Label="Size"
                                       Variant="Variant.Outlined">
                                <MudSelectItem Value="@(0)">--Select--</MudSelectItem>
                                <Iterations Items="Domain.Constants.Size.All" Context="size">
                                    <MudSelectItem Value="@size.Id">@size.Name</MudSelectItem>
                                </Iterations>	
                            </MudSelect>
                        </div>
                    </div> 
                    <div class="col-lg-2">
                        <div class="form-group">
                            <MudDatePicker @bind-Date="_memorabiliaAcquiredDate"
                                           DateFormat="MM/dd/yyyy"
                                           Editable="true"
                                           Label="Acquired Date"
                                           Mask="@(new DateMask("MM/dd/yyyy"))" 
                                           Variant="Variant.Outlined" />
                        </div>
                    </div> 
                    <div class="col-lg-2">
                        <div class="form-group">
                            <MudSelect @bind-Value="@_autographConditionId"
                                       @bind-Value:event="ValueChanged" 
                                       Label="Condition"
                                       Variant="Variant.Outlined">
                                <MudSelectItem Value="@(0)">--Select--</MudSelectItem>
                                <Iterations Items="Domain.Constants.Condition.All" Context="condition">
                                    <MudSelectItem Value="@condition.Id">@condition.Name</MudSelectItem>
                                </Iterations>	
                            </MudSelect>
                        </div>
                    </div> 
                    <div class="col-lg-2">
                        <div class="form-group">
                            <MudSelect @bind-Value="@_colorId"
                                       @bind-Value:event="ValueChanged" 
                                       Label="Color"
                                       Variant="Variant.Outlined">
                                <MudSelectItem Value="@(0)">--Select--</MudSelectItem>
                                <Iterations Items="Domain.Constants.Color.All" Context="color">
                                    <MudSelectItem Value="@color.Id">@color.Name</MudSelectItem>
                                </Iterations>	
                            </MudSelect>
                        </div>
                    </div> 
                    <div class="col-lg-2">
                        <div class="form-group">
                            <MudDatePicker @bind-Date="_autographAcquiredDate"
                                           DateFormat="MM/dd/yyyy"
                                           Editable="true"
                                           Label="Acquired Date"
                                           Mask="@(new DateMask("MM/dd/yyyy"))" 
                                           Variant="Variant.Outlined" />
                        </div>
                    </div> 
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <div class="form-group">
                            <MudNumericField @bind-Value="_memorabiliaGrade" 
                                             Label="Grade"
                                             Variant="Variant.Outlined" />
                        </div>
                    </div> 
                    <div class="col-lg-2">
                        <div class="form-group">
                            <MudNumericField @bind-Value="_memorabiliaEstimatedValue" 
                                             Label="Estimated Value ($)"
                                             Variant="Variant.Outlined" />
                        </div>
                    </div> 
                    <div class="col-lg-2">
                        <div class="form-group">
                            <MudNumericField @bind-Value="_memorabiliaCost" 
                                             Label="Cost ($)"
                                             Variant="Variant.Outlined" />
                        </div>
                    </div> 
                    <div class="col-lg-2">
                        <div class="form-group">
                            <MudNumericField @bind-Value="_autographGrade" 
                                             Label="Grade"
                                             Variant="Variant.Outlined" />
                        </div>
                    </div>                 
                    <div class="col-lg-2">
                        <div class="form-group">
                            <MudSelect @bind-Value="@_spotId"
                                       @bind-Value:event="ValueChanged" 
                                       Label="Spot"
                                       Variant="Variant.Outlined">
                                <MudSelectItem Value="@(0)">--Select--</MudSelectItem>
                                <Iterations Items="Spot.All" Context="spot">
                                    <MudSelectItem Value="@spot.Id">@spot.Name</MudSelectItem>
                                </Iterations>	
                            </MudSelect>
                        </div>
                    </div> 
                    <div class="col-lg-2">
                        <div class="form-group">
                            <MudNumericField @bind-Value="_autographCost" 
                                             Label="Cost ($)"
                                             Variant="Variant.Outlined" />
                        </div>
                    </div> 
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <div class="form-group">
                            <MudSelect @bind-Value="@_levelTypeId"
                                       @bind-Value:event="ValueChanged" 
                                       Label="Level Type"
                                       Variant="Variant.Outlined">
                                <MudSelectItem Value="@(0)">--Select--</MudSelectItem>
                                <Iterations Items="LevelType.All" Context="levelType">
                                    <MudSelectItem Value="@levelType.Id">@levelType.Name</MudSelectItem>
                                </Iterations>	
                            </MudSelect>
                        </div>
                    </div> 
                    <div class="col-lg-2">
                        <div class="form-group">
                            <MudSelect @bind-Value="@_gameStyleTypeId"
                                       @bind-Value:event="ValueChanged" 
                                       Label="Game Style"
                                       Variant="Variant.Outlined">
                                <MudSelectItem Value="@(0)">--Select--</MudSelectItem>
                                <Iterations Items="GameStyleType.All" Context="gameStyleType">
                                    <MudSelectItem Value="@gameStyleType.Id">@gameStyleType.Name</MudSelectItem>
                                </Iterations>	
                            </MudSelect>
                        </div>
                    </div> 
                    <div class="col-lg-2">
                        <div class="form-group">
                            <MudSelect @bind-Value="@_memorabiliaPurchaseTypeId"
                                       @bind-Value:event="ValueChanged" 
                                       Label="Purchase Type"
                                       Variant="Variant.Outlined">
                                <MudSelectItem Value="@(0)">--Select--</MudSelectItem>
                                <Iterations Items="PurchaseType.All" Context="purchaseType">
                                    <MudSelectItem Value="@purchaseType.Id">@purchaseType.Name</MudSelectItem>
                                </Iterations>	
                            </MudSelect>
                        </div>
                    </div> 
                    <div class="col-lg-2" />
                    <div class="col-lg-2">
                        <div class="form-group">
                            <MudNumericField @bind-Value="_autographEstimatedValue" 
                                             Label="Estimated Value ($)"
                                             Variant="Variant.Outlined" />
                        </div>
                    </div> 
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <div class="form-group">
                            <MudAutocomplete @bind-Value="_memorabiliaPerson"
                                             AdornmentColor="MudBlazor.Color.Primary"
                                             AdornmentIcon="@Icons.Material.Filled.Search"
                                             Label="Person"
                                             Placeholder="Search by person"
                                             ResetValueOnEmptyText="true"                                             
                                             SearchFunc="@SearchPeople"                                               
                                             T="SavePersonViewModel"
                                             Text="@_memorabiliaPerson?.DisplayName"
                                             Variant="Variant.Outlined">
                                <ItemSelectedTemplate Context="person">
                                    @person?.DisplayName
                                </ItemSelectedTemplate>
                                <ItemTemplate Context="person">
                                    @person?.DisplayName
                                </ItemTemplate>
                            </MudAutocomplete>
                        </div>                    
                    </div> 
                    <div class="col-lg-2">
                        <div class="form-group">
                            <MudSelect @bind-Value="@_sportId"
                                       @bind-Value:event="ValueChanged" 
                                       Label="Sport"
                                       Variant="Variant.Outlined">
                                <MudSelectItem Value="@(0)">--Select--</MudSelectItem>
                                <Iterations Items="Sport.All" Context="sport">
                                    <MudSelectItem Value="@sport.Id">@sport.Name</MudSelectItem>
                                </Iterations>	
                            </MudSelect>
                        </div>                    
                    </div> 
                    <div class="col-lg-2">
                        <div class="form-group">
                            <MudSelect @bind-Value="@_sportLeagueLevelId"
                                       @bind-Value:event="ValueChanged" 
                                       Label="Sport League Level"
                                       Variant="Variant.Outlined">
                                <MudSelectItem Value="@(0)">--Select--</MudSelectItem>
                                <Iterations Items="SportLeagueLevel.All" Context="sportLeagueLevel">
                                    <MudSelectItem Value="@sportLeagueLevel.Id">@sportLeagueLevel.Name</MudSelectItem>
                                </Iterations>	
                            </MudSelect>  
                        </div>                    
                    </div> 
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <MudSelect @bind-Value="@_franchiseId"
                                       @bind-Value:event="ValueChanged" 
                                       Label="Franchise"
                                       Variant="Variant.Outlined">
                                <MudSelectItem Value="@(0)">--Select--</MudSelectItem>
                                <Iterations Items="Franchise.All" Context="franchise">
                                    <MudSelectItem Value="@franchise.Id">@franchise.Name</MudSelectItem>
                                </Iterations>	
                            </MudSelect>
                        </div>                    
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <MudSelect @bind-Value="@_privacyTypeId"
                                       @bind-Value:event="ValueChanged" 
                                       Label="Privacy Type"
                                       Variant="Variant.Outlined">
                                <MudSelectItem Value="@(0)">--Select--</MudSelectItem>
                                <Iterations Items="PrivacyType.All" Context="privacyType">
                                    <MudSelectItem Value="@privacyType.Id">@privacyType.Name</MudSelectItem>
                                </Iterations>	
                            </MudSelect>
                        </div>
                    </div> 
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <MudAutocomplete @bind-Value="_memorabiliaTeam"
                                             AdornmentColor="MudBlazor.Color.Primary"
                                             AdornmentIcon="@Icons.Material.Filled.Search"
                                             Label="Team"
                                             Placeholder="Search by team"
                                             ResetValueOnEmptyText="true"                                             
                                             SearchFunc="@SearchTeams"                                               
                                             T="SaveTeamViewModel"
                                             Text="@_memorabiliaTeam?.DisplayName"
                                             Variant="Variant.Outlined">
                                <ItemSelectedTemplate Context="team">
                                    @team?.DisplayName
                                </ItemSelectedTemplate>
                                <ItemTemplate Context="team">
                                    @team?.DisplayName
                                </ItemTemplate>
                            </MudAutocomplete>
                        </div>                    
                    </div>
                </div>
                <DivRowCol12Center>
                    <Content>
                        <MudButton ButtonType="MudBlazor.ButtonType.Button" 
                                   Color="MudBlazor.Color.Primary"
                                   OnClick="@HandleValidSubmit"
                                   Size="MudBlazor.Size.Medium"
                                   StartIcon="@Icons.Material.Filled.Save"                                   
                                   Variant="Variant.Filled">Filter</MudButton>
                        <MudButton ButtonType="MudBlazor.ButtonType.Button" 
                                   Color="MudBlazor.Color.Secondary"
                                   OnClick="@ResetCriteria"
                                   Size="MudBlazor.Size.Medium"                                  
                                   Variant="Variant.Filled">Reset Criteria</MudButton>
                    </Content>
                </DivRowCol12Center>
            </Content>
        </DivPad2>      
    </EditForm>
</div>