@inherits EditItem<SportLeagueLevelEditModel, SportLeagueLevelModel>

<EditPage ContinueNavigationPath="@EditModel.RoutePrefix"
          EditMode="EditModel.EditModeType" 
          ExitNavigationPath="@EditModel.RoutePrefix" 
          ImageFileName="@EditModel.ImageFileName" 
          ItemName="@EditModel.ItemTitle"
          Model="EditModel"
          OnLoad="OnLoad"
          OnSave="HandleValidSubmit"
          PageFooterButtonText="@EditModel.ExitButtonText"
          PageFooterNavigationPath="@EditModel.ExitNavigationPath"
          PageTitle="@EditModel.PageTitle"
          TItem="SportLeagueLevelEditModel">
    <Div Class="row">
        <Div Class="col-3">
            <SportDropDown Disabled="@(!EditModel.IsNew)"
                           SelectedValue="EditModel.SportId"
                           SelectionChanged="(p) => EditModel.SportId = p" />
        </Div>
    </Div>
    <Div Class="row">
        <Div Class="col-3">
            <LevelTypeDropDown Disabled="@(!EditModel.IsNew)"
                               SelectedValue="EditModel.LevelTypeId"
                               SelectionChanged="(p) => EditModel.LevelTypeId = p" />
        </Div>
    </Div>
    <Div Class="row">
        <Div Class="col-3">
            <TextField Label="Name"
                       SelectedText="@EditModel.Name"
                       SelectedTextChanged="@((p) => EditModel.Name = p)" />
        </Div>
    </Div>
    <Div Class="row">
        <Div Class="col-3">
            <TextField Label="Abbreviation"
                       SelectedText="@EditModel.Abbreviation"
                       SelectedTextChanged="@((p) => EditModel.Abbreviation = p)" />
        </Div>
    </Div>
</EditPage>