@inherits AutographItem<SpotEditModel>

<PageLoader IsLoading="@(!IsLoaded)">
    <PageEditor ContinueNavigationPath="@_continueNavigationPath" 
                EditModel="Model"
                ExitNavigationPath="@NavigationPath.Memorabilia"
                OnSave="Save"
                PageImageFileName="@Model.ImageFileName"
                TItem="SpotEditModel">
        <TimelineContent>
            <AutographTimeline AutographId="Model.AutographId"
                               AutographStep="Model.AutographStep"
                               DisplaySpot="Model.CanHaveSpot"
                               EditMode="Model.EditModeType"
                               MemorabiliaId="Model.MemorabiliaId" />
        </TimelineContent>
        <ImagePreview>
            <Condition Evaluation="Model.HasMemorabiliaImages">
                <Match>
                    <DivRowCol12Center>
                        <ViewMemorabiliaImagesButton MemorabiliaId="Model.MemorabiliaId" />
                    </DivRowCol12Center>
                </Match>
            </Condition>
        </ImagePreview>
        <ChildContent>
            <DivRowFormGroup>
                <Div Class="col-3">
                    <Condition Evaluation="@(Model.ItemType != null)">
                        <Match>
                            <ItemTypeSpotDropDown ItemType="@Model.ItemType"
                                                  SelectedValue="Model.SpotId"
                                                  SelectionChanged="(p) => Model.SpotId = p" />
                        </Match>
                    </Condition>
                </Div>
            </DivRowFormGroup>
        </ChildContent>
    </PageEditor>
</PageLoader>

