@inherits AutographItem<SpotEditModel>

<PageLoader IsLoading="@(!IsLoaded)">
    <PageEditor ContinueNavigationPath="@_continueNavigationPath" 
                EditModel="Model"
                ExitNavigationPath="@NavigationPath.Memorabilia"
                OnSave="Save"
                PageImageFileName="@Model.ImageFileName"
                TItem="SpotEditModel">
        <TimelineContent>
            <AutographTimeline AutographId="Model.AutographId"
                               AutographStep="Model.AutographStep"
                               DisplaySpot="Model.CanHaveSpot"
                               EditMode="Model.EditModeType"
                               MemorabiliaId="Model.MemorabiliaId" />
        </TimelineContent>
        <ImagePreview>
            <DivRowCol12Center Visible="Model.HasMemorabiliaImages">
                <ViewMemorabiliaImagesButton MemorabiliaId="Model.MemorabiliaId" />
            </DivRowCol12Center>
        </ImagePreview>
        <ChildContent>
            <DivRowFormGroup Visible="@(Model.ItemType != null)">
                <Div Class="col-3">
                    <ItemTypeSpotDropDown ItemType="@Model.ItemType"
                                          SelectedValue="Model.SpotId"
                                          SelectionChanged="(p) => Model.SpotId = p" />
                </Div>
            </DivRowFormGroup>
        </ChildContent>
    </PageEditor>
</PageLoader>

