<Div Class="row">
    <Iterations Items="_items" Context="item">
        <Div Class="col-4">
            <MemorabiliaItemGalleryCard Description="@GetDescription(item)"
                                        EditNavigationPath="@item.EditNavigationPath"
                                        MemorabiliaItem="@item"
                                        PrimaryImageFileName="@item.ImageFileName"
                                        PrimaryImageNavigationPath="@item.PrimaryImageNavigationPath"
                                        Subtitle="@GetSubtitle(item)"
                                        Title="@GetTitle(item)"
                                        TooltipText="@item.TooltipText" />
        </Div>
    </Iterations>
</Div>
<Div Hidden="@(!DisplayLoadMoreButton)">
    <DivRowCol12Center>
        <CustomButton ButtonType="MudBlazor.ButtonType.Button"
                      OnClick="LoadMore"
                      Size="MudBlazor.Size.Small"
                      Text="Load More" />
    </DivRowCol12Center>
</Div>

