<div style="margin-top:1%;margin-bottom:1%;margin-left:1%;margin-right:1%;">
    <Condition Evaluation="@(ValidationResultAlerts.Any())">
        <Match>
            <AlertPanel Alerts="ValidationResultAlerts" />
        </Match>
    </Condition>
    <div class="row">
        <div class="col-3">
            <h3>
                Collection Details
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <TextField Label="Name"
                       MaxLength="250"
                       SelectedText="@Model.Name"
                       SelectedTextChanged="@((p) => Model.Name = p)" />
        </div>
        <div class="col-6">
            <MudStack Row="true">
                <TextField Label="Description"
                           MaxLength="1000"
                           SelectedText="@Model.Description"
                           SelectedTextChanged="@((p) => Model.Description = p)" />
                <AddButton OnClick="AddMemorabilia"
                           Text="Add Memorabilia" />
            </MudStack>
        </div>
    </div>
</div>
<Condition Evaluation="Model.Items.Any()">
    <Match>
        <div class="row">
            <MemorabiliaFilter OnFilter="OnFilter" />
        </div>
        <div class="row">
            <div class="col-3" style="margin-left:2%;">
                <MudSwitch Checked="@IsDetailView"
                           CheckedChanged="(p) => IsDetailView = p"
                           Color="MudBlazor.Color.Success"
                           Label="Detail View"
                           T="bool" />
            </div>
        </div>
        <div class="row" style="margin-left:1%;margin-right:1%;">
            <Condition Evaluation="IsDetailView">
                <Match>
                    <CollectionMemorabiliaDetailGrid CollectionId="Model.Id"
                                                     Filter="_filter"
                                                     MemorabiliaSelected="@((p) => SelectedMemorabilia = p)"
                                                     UserId="UserId" />
                </Match>
                <NotMatch>
                    <CollectionMemorabiliaGalleryGrid CollectionId="Model.Id"
                                                      Filter="_filter"
                                                      UserId="@UserId" />
                </NotMatch>
            </Condition>
        </div>
        <br />
    </Match>
</Condition>
<div style="margin-right:1%;margin-bottom:1%;text-align:right;">
    <SaveButton OnClick="OnSave"
                Text="Save" />
</div>
