<AlertPanel Alerts="ValidationResultAlerts"
            DivStyle="@Style.MarginPad1"
            ShowCloseIcon="false" />
<Div Style="@Style.MarginPad1">    
    <ExpansionPanel CanExpand="false" 
                    Text="Collection Details">
        <DivRowFormGroup>
            <Div Class="@DivClass.Column3">
                <TextField DisplaySkeleton="@(!Loaded)"
                           Label="Name"
                           MaxLength="250"
                           SelectedText="@EditModel.Name"
                           SelectedTextChanged="@((p) => EditModel.Name = p)" />
            </Div>
            <Div Class="@DivClass.Column6">
                <TextField DisplaySkeleton="@(!Loaded)"
                           Label="Description"
                           MaxLength="1000"
                           SelectedText="@EditModel.Description"
                           SelectedTextChanged="@((p) => EditModel.Description = p)" />
            </Div>
        </DivRowFormGroup>
    </ExpansionPanel>
    <ExpansionPanel CanExpand="false" 
                    Text="Memorabilia">
        <Div Class="@DivClass.Row"
             Visible="EditModel.Items.Any()">
            <MemorabiliaFilter OnFilter="OnFilter" />
        </Div>
        <DivRowFormGroup>
            <LeftRightSection RightStyle="@Style.MarginPad1">
                <Right>
                    <RowStack>
                        <Switch Checked="@IsDetailView"
                                CheckedChanged="(p) => IsDetailView = p"
                                Label="Detail View" />
                        <AddButton OnClick="AddMemorabilia"
                                   Text="Add Memorabilia" />
                    </RowStack>
                </Right>
            </LeftRightSection>
        </DivRowFormGroup>
        <Div Class="@DivClass.Row"
             Style="@Style.MarginLeftRightPad1">
            <HiddenControl Visible="IsDetailView">
                <CollectionMemorabiliaDetailGrid CollectionId="EditModel.Id"
                                                 Filter="_filter"
                                                 MemorabiliaSelected="@((p) => SelectedMemorabilia = p)"
                                                 ReloadGrid="ReloadMemorabiliaGrid" />
            </HiddenControl>
            <HiddenControl Visible="@(!IsDetailView)">
                <CollectionMemorabiliaGalleryGrid CollectionId="EditModel.Id"
                                                  Filter="_filter" />
            </HiddenControl>
        </Div>
        <br />
        <Div Style="@Style.SaveButtonMarginPad">
            <SaveButton OnClick="OnSave"
                        Text="Save" />
        </Div>
    </ExpansionPanel>    
    <PageFooter NavigationPath="@NavigationPath.Collections"
                NavigationPathText="Back" />
</Div>