<AlertPanel Alerts="ValidationResultAlerts"
            DivStyle="@Style.MarginPad1"
            ShowCloseIcon="false" />
<Div Style="@Style.MarginPad1">    
    <ExpansionPanel Text="Collection Details">
        <Div Class="@DivClass.Row">
            <Div Class="@DivClass.Column3">
                <TextField DisplaySkeleton="@(!Loaded)"
                           Label="Name"
                           MaxLength="250"
                           SelectedText="@EditModel.Name"
                           SelectedTextChanged="@((p) => EditModel.Name = p)" />
            </Div>
            <Div Class="@DivClass.Column9">
                <TextField DisplaySkeleton="@(!Loaded)"
                           Label="Description"
                           MaxLength="1000"
                           SelectedText="@EditModel.Description"
                           SelectedTextChanged="@((p) => EditModel.Description = p)" />
            </Div>
        </Div>
    </ExpansionPanel>
    <ExpansionPanel Text="Memorabilia">
        <Div Class="@DivClass.Row"
             Style="@Style.MarginPadPoint5"
             Visible="_displayFilter">
            <MemorabiliaFilter OnFilter="OnFilter" />
        </Div>
        <LeftRightSection>
            <Right>
                <RowStack>
                    <Switch Checked="@IsDetailView"
                            CheckedChanged="(p) => IsDetailView = p"
                            Label="Detail View" />
                    <AddButton OnClick="AddMemorabilia"
                               Text="Add Memorabilia" />
                </RowStack>
            </Right>
        </LeftRightSection>
        <Div Class="@DivClass.Row"
             Style="@Style.MarginPadPoint5">
            <HiddenControl Visible="IsDetailView">
                <CollectionMemorabiliaDetailGrid AllMemorabiliaRemoved="@(_ => _displayFilter = false)"
                                                 CollectionId="EditModel.Id"
                                                 Filter="_filter"
                                                 MemorabiliaSelected="@((p) => SelectedMemorabilia = p)"
                                                 ReloadGrid="ReloadMemorabiliaGrid" />
            </HiddenControl>
            <HiddenControl Visible="@(!IsDetailView)">
                <CollectionMemorabiliaGalleryGrid CollectionId="EditModel.Id"
                                                  Filter="_filter" />
            </HiddenControl>
        </Div>
        <LeftRightSection Style="@Style.MarginBottomPad1">
            <Right>
                <SaveButton OnClick="OnSave"
                            Text="Save" />
            </Right>
        </LeftRightSection>
    </ExpansionPanel>    
    <PageFooter NavigationPath="@NavigationPath.Collections"
                NavigationPathText="Back" />
</Div>