@page "/Commissioners"

@using Memorabilia.Application.Features.Admin
@using Memorabilia.Application.Features.Admin.Commissioner

@inject CommandRouter _commandRouter
@inject NavigationManager _navigation
@inject QueryRouter _queryRouter
@inject IToastService _toastService

<_Page @ref="_page" 
       ConfirmationTitle="Delete Commissioner" 
       OnConfirm="Delete" 
       OnLoad="OnLoad">
    <Content>
        <div class="row">
            <div class="col-md-12" style="text-align: center">
                <h1>@_viewModel.PageTitle</h1>
            </div>
        </div>
        <br />
        <_Table Items="_viewModel.Commissioners" 
                ItemsPerPage="10"                     
                TItem="CommissionerViewModel">
            <HeaderTemplate>
                <th scope="col">Sport League</th>
                <th scope="col">Name</th>
                <th scope="col">Begin Year</th>
                <th scope="col">End Year</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </HeaderTemplate>
            <RowTemplate>
                <td>@context.SportLeagueLevelName</td>
                <td>@context.Person.DisplayName</td>
                <td>@context.BeginYear?.ToString()</td>
                <td>@context.EndYear?.ToString()</td>
                <td>
                    <_Tooltip Text="Edit">
                        <img class="can-click" 
                                src="images/pencil.png" 
                                height="25" 
                                width="25" 
                                @onclick="@(_ => _navigation.NavigateTo($"{_viewModel.RoutePrefix}/Edit/{context.Id}"))" />
                    </_Tooltip>                        
                </td>
                <td>
                    <_Tooltip Text="Delete">
                        <img class="can-click" 
                                src="images/trash.png" 
                                height="25" 
                                width="25" 
                                @onclick="@(_ => _page.ShowConfirm(context.Id))" />
                    </_Tooltip>
                </td>
            </RowTemplate>
        </_Table>
        <div class="row">
            <div class="col-md-12" style="text-align: center">
                <div class="col-md-12" style="text-align: center">
                    <a href="Commissioners/Edit">Add @_viewModel.ItemTitle</a>
                </div>
            </div>
        </div>
        <br />
    </Content>
</_Page>

@code {
    private _Page _page;
    private CommissionersViewModel _viewModel;

    protected async Task Delete(int id)
    {
        var deletedItem = _viewModel.Commissioners.Single(Commissioner => Commissioner.Id == id);
        var viewModel = new SaveCommissionerViewModel(deletedItem);
        viewModel.IsDeleted = true;

        await _commandRouter.Send(new SaveCommissioner.Command(viewModel)).ConfigureAwait(false);

        _viewModel.Commissioners.Remove(deletedItem);

        _toastService.ShowSuccess($"{_viewModel.ItemTitle} was deleted successfully!", _viewModel.PageTitle);
    }

    protected async Task OnLoad()
    {
        _viewModel = await _queryRouter.Send(new GetCommissioners.Query()).ConfigureAwait(false);
    }
}
