@page "/Sports"

@using Memorabilia.Application.Features.Admin
@using Memorabilia.Application.Features.Admin.Sport

@inject CommandRouter _commandRouter
@inject ProtectedLocalStorage _localStorage
@inject NavigationManager _navigation
@inject QueryRouter _queryRouter
@inject IToastService _toastService

@if (_viewModel == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <PopConfirm @ref="_deleteDialog"
                Title="Delete Sport"
                ConfirmedChanged="Delete" />
    <div class="row">
        <div class="col-md-12" style="text-align: center">
            <h1>@_viewModel.PageTitle</h1>
        </div>
    </div>
    <br />
    <table class="table" style="border: 1px solid black;">
        <thead>
            <tr>
                <th>Name</th>
                <th>Alternate Name</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var sport in _viewModel.Sports)
            {
                <tr>
                    <td>@sport.Name</td>
                    <td>@sport.AlternateName</td>
                    <td>
                        <_Tooltip Text="Edit">
                            <img class="can-click" 
                                 src="images/pencil.png" 
                                 height="25" 
                                 width="25" 
                                 @onclick="@(_ => _navigation.NavigateTo($"{_viewModel.RoutePrefix}/Edit/{sport.Id}"))" />
                        </_Tooltip>                        
                    </td>
                    <td>
                        <_Tooltip Text="Delete">
                            <img class="can-click" 
                                 src="images/trash.png" 
                                 height="25" 
                                 width="25" 
                                 @onclick="@(_ => ShowConfirm(sport.Id))" />
                        </_Tooltip>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="row">
        <div class="col-md-12" style="text-align: center">
            <div class="col-md-12" style="text-align: center">
                <a href="Sports/Edit">Add @_viewModel.ItemTitle</a>
            </div>
        </div>
    </div>
    <br />
}

@code {
    private PopConfirm _deleteDialog;
    private int _deletedItemId;
    private SportsViewModel _viewModel;

    protected async Task Delete(bool confirm)
    {
        if (!confirm)
        {
            _deletedItemId = 0;
            return;
        }

        var deletedItem = _viewModel.Sports.Single(sport => sport.Id == _deletedItemId);
        var viewModel = new SaveSportViewModel(deletedItem);
        viewModel.IsDeleted = true;

        var command = new SaveSport.Command(viewModel);

        await _commandRouter.Send(command).ConfigureAwait(false);
        
        _viewModel.Sports.Remove(deletedItem);

        _toastService.ShowSuccess($"{_viewModel.ItemTitle} was deleted successfully!", _viewModel.PageTitle);
    }

    protected override async Task OnInitializedAsync()
    {
        var userId = await _localStorage.GetAsync<int>("UserId");

        if (userId.Value == 0)
            _navigation.NavigateTo("Login");

        var query = new GetSports.Query();

        _viewModel = await _queryRouter.Send(query).ConfigureAwait(false);
    }

    protected void ShowConfirm(int id)
    {
        _deletedItemId = id;
        _deleteDialog.ShowPop();
    }
}
