@page "/Sports"

@using Memorabilia.Application.Features.Admin
@using Memorabilia.Application.Features.Admin.Sport

@inject CommandRouter _commandRouter
@inject ProtectedLocalStorage _localStorage
@inject NavigationManager _navigation
@inject QueryRouter _queryRouter
@inject IToastService _toastService

<_Page @ref="_page" 
       ConfirmationTitle="Delete Sport" 
       OnConfirm="Delete" 
       OnLoad="OnLoad">
    <Content>
        <div class="row">
            <div class="col-md-12" style="text-align: center">
                <h1>@_viewModel.PageTitle</h1>
            </div>
        </div>
        <br />
        <table class="table" style="border: 1px solid black;">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Alternate Name</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var sport in _viewModel.Sports)
                {
                    <tr>
                        <td>@sport.Name</td>
                        <td>@sport.AlternateName</td>
                        <td>
                            <_Tooltip Text="Edit">
                                <img class="can-click" 
                                     src="images/pencil.png" 
                                     height="25" 
                                     width="25" 
                                     @onclick="@(_ => _navigation.NavigateTo($"{_viewModel.RoutePrefix}/Edit/{sport.Id}"))" />
                            </_Tooltip>                        
                        </td>
                        <td>
                            <_Tooltip Text="Delete">
                                <img class="can-click" 
                                     src="images/trash.png" 
                                     height="25" 
                                     width="25" 
                                     @onclick="@(_ => _page.ShowConfirm(sport.Id))" />
                            </_Tooltip>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="row">
            <div class="col-md-12" style="text-align: center">
                <div class="col-md-12" style="text-align: center">
                    <a href="Sports/Edit">Add @_viewModel.ItemTitle</a>
                </div>
            </div>
        </div>
        <br />
    </Content>
</_Page>

@code {
    private _Page _page;
    private SportsViewModel _viewModel;

    protected async Task Delete(int id)
    {
        var deletedItem = _viewModel.Sports.Single(sport => sport.Id == id);
        var viewModel = new SaveSportViewModel(deletedItem);
        viewModel.IsDeleted = true;

        await _commandRouter.Send(new SaveSport.Command(viewModel)).ConfigureAwait(false);
        
        _viewModel.Sports.Remove(deletedItem);

        _toastService.ShowSuccess($"{_viewModel.ItemTitle} was deleted successfully!", _viewModel.PageTitle);
    }

    protected async Task OnLoad()
    {
        _viewModel = await _queryRouter.Send(new GetSports.Query()).ConfigureAwait(false);
    }
}