@inherits EditItem<ItemTypeLevelEditModel, ItemTypeLevelModel>

<EditPage ContinueNavigationPath="@EditModel.RoutePrefix"
          EditMode="EditModel.EditModeType" 
          ExitNavigationPath="@EditModel.RoutePrefix"
          ImageFileName="@EditModel.ImageFileName" 
          ItemName="@EditModel.ItemTitle"
          Model="EditModel"
          OnSave="HandleValidSubmit"
          PageFooterButtonText="@EditModel.ExitButtonText"
          PageFooterNavigationPath="@EditModel.ExitNavigationPath"
          PageTitle="@EditModel.PageTitle"
          TItem="ItemTypeLevelEditModel">
    <DivRowFormGroup>
        <Div Class="col-3">
            <ItemTypeAutoComplete Disabled="@(EditModel.Id > 0)" 
                                  SelectedValue="EditModel.ItemType"
                                  SelectionChanged="(p) => EditModel.ItemType = p" />
        </Div>
    </DivRowFormGroup>
    <DivRowFormGroup>
        <Div Class="col-3">
            <LevelTypeDropDown SelectedValue="EditModel.LevelTypeId"
                               SelectionChanged="(p) => EditModel.LevelTypeId = p" />
        </Div>
    </DivRowFormGroup>
</EditPage>