<MudDialog Style="@Style.Dialog">
    <DialogContent>
        <Div Style="@Style.RightAlign">
            <IconButton Icon="@Icons.Material.Filled.Close"
                        OnClick="Close" />
        </Div>
        <Div Style="@($"{Style.MarginPad1}{Style.VertificalScrollbar}")">
            <PersonProfileMain EncryptedPersonId="@(DataProtectorService.EncryptId(PersonId))" />
        </Div>
    </DialogContent>
</MudDialog>
