<Div Class="@DivClass.Row">
    <Div Class="@DivClass.Column4">
        <DivPad5>
            <DomainItemCard Description="Allows you to add, modify and remove person college records."
                            ImageFileName="@ImageFileName.Colleges"
                            Page="/People/Management/Colleges/EditColleges"
                            Title="Edit Colleges" />
        </DivPad5>
    </Div>
    <Div Class="@DivClass.Column4">
        <DivPad5>
            <DomainItemCard Description="Allows you to add, modify and remove person drafts."
                            ImageFileName="@ImageFileName.Drafts"
                            Page="/People/Management/Drafts/EditDrafts"
                            Title="Edit Drafts" />
        </DivPad5>
    </Div>
    <Div Class="@DivClass.Column4">
        <DivPad5>
            <DomainItemCard Description="Allows you to add, modify and remove person franchise records."
                            ImageFileName="@ImageFileName.RecordTypes"
                            Page="/People/Management/Accomplishments/FranchiseRecords/ViewFranchiseRecords"
                            Title="Edit Franchise Records" />
        </DivPad5>
    </Div>
    <Div Class="@DivClass.Column4">
        <DivPad5>
            <DomainItemCard Description="Allows you to add, modify and remove person nicknames."
                            ImageFileName="@ImageFileName.Nicknames"
                            Page="/People/Management/Nicknames/EditNicknames"
                            Title="Edit Nicknames" />
        </DivPad5>
    </Div>
    <Div Class="@DivClass.Column4">
        <DivPad5>
            <DomainItemCard Description="Allows you to add, modify and remove sport records."
                            ImageFileName="@ImageFileName.RecordTypes"
                            Page="/People/Management/Accomplishments/Records/EditRecords"
                            Title="Edit Records" />
        </DivPad5>
    </Div>
    <Div Class="@DivClass.Column4">
        <DivPad5>
            <DomainItemCard Description="Allows you to add, modify and remove person sport service."
                            ImageFileName="@ImageFileName.SportService"
                            Page="/People/Management/Services/EditSportService"
                            Title="Edit Sport Service" />
        </DivPad5>
    </Div>
    <Div Class="@DivClass.Column4">
        <DivPad5>
            <DomainItemCard Description="Allows you to add, modify and remove person teams."
                            ImageFileName="@ImageFileName.Teams"
                            Page="/People/Management/Teams/EditTeams"
                            Title="Edit Teams" />
        </DivPad5>
    </Div>
</Div>
