@inherits ReroutePage

<PageView AddRoute="@NavigationPath.SignatureIdentificationAdd"
          AddTitle="@($"{Constant.EditModeType.Add.Name} Signature Identification")"
          DisplayAddButton="_canInteract"
          DisplayPageHeader="false"
          DisplayPageFooter="_canInteract"
          NavigationPath="@NavigationPath.Home"
          PageTitle="Signature Identifications">
    <DivPad2>
        <LeftRightSection Style="margin-bottom:1%;">
            <Right>
                <CustomButton OnClick="Random"
                              Text="Review Random Signature" />
            </Right>
        </LeftRightSection>
        <MudTable @ref="_table" 
                  Bordered="false"
                  Dense="false"
                  Hover="true"
                  Items="@Model.SignatureIdentifications"
                  ServerData="@(new Func<TableState, Task<TableData<SignatureIdentificationModel>>>(OnRead))"
                  Striped="true">
            <ToolBarContent>
                <ToolbarTitle Text="Signature Identifications" />
            </ToolBarContent>
            <HeaderContent>
                <MudTh></MudTh>
                <MudTh></MudTh>
                <MudTh>Consensus Person</MudTh>
                <MudTh>Note</MudTh>
                <MudTh>Created By</MudTh>
                <MudTh>Created On</MudTh>
                <MudTh></MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd>
                    <MudIconButton @onclick="@(_ => ToggleChildContent(context.Id))"
                                   Icon="@context.ToggleIcon"></MudIconButton>
                </MudTd>
                <MudTh>
                    <MudImage @onclick="@(_ => OnImageClick(context))"
                              Class="rounded-lg can-click"
                              Elevation="5"
                              Height="200"
                              ObjectFit="@ObjectFit.Cover"
                              Src="@(ImageService.GetUserImageData(context.Images.First().FileName, context.CreatedUser.Id))"
                              Width="200" />
                </MudTh>
                <MudTd DataLabel="ConsensusPerson">
                    @(context.ConsensusPerson?.DisplayName ?? "No results yet")
                </MudTd>
                <MudTd DataLabel="Note">@context.Note</MudTd>
                <MudTd DataLabel="CreatedBy">@context.CreatedUser.Username</MudTd>
                <MudTd DataLabel="CreatedOn">@(context.CreatedDate.ToString("MM-dd-yyyy hh:mm:ss tt"))</MudTd>
                <MudTd DataLabel="">
                    <MudTooltip Text="Identify">
                        <MudFab Color="MudBlazor.Color.Primary"
                                StartIcon="@Icons.Material.Outlined.PersonSearch"
                                OnClick="@(_ => View(context.Id))"
                                Size="@MudBlazor.Size.Large" />
                    </MudTooltip>
                </MudTd>
            </RowTemplate>
            <ChildRowContent>
                 <Condition Evaluation="@context.DisplayDetails">
                     <Match>
                        <tr />
                        <tr style="background-color:#6D7B8D;color:honeydew;border-style:dashed;border-width:2px;border-color:#ECF3F4;">
                            <td align="center" colspan="17">
                                Summary: Total Opinions - <strong> @context.People.Length </strong>
                            </td>
                        </tr>
                        <tr />
                        <tr style="margin-top: 1%; margin-bottom: 1%; margin-left: 1%; margin-right: 1%;">
                            <td colspan="17">
                                <MudTable Bordered="false"
                                          Dense="false"
                                          Hover="true"
                                          Items="@context.People"
                                          Striped="true">
                                    <ToolBarContent>
                                        <ToolbarTitle Text="Opinions" /> 
                                        <MudSpacer />
                                    </ToolBarContent>
                                    <HeaderContent>
                                        <MudTh></MudTh>
                                        <MudTh>Person</MudTh>
                                        <MudTh>Note</MudTh>
                                        <MudTh>Created By</MudTh>
                                        <MudTh>Created On</MudTh>
                                    </HeaderContent>
                                    <RowTemplate Context="person">
                                        <MudTd DataLabel="">
                                            <MudImage Class="rounded-lg cant-click"
                                                      Elevation="5"
                                                      Height="200"
                                                      ObjectFit="@ObjectFit.Cover"
                                                      Src="@(ImageService.GetPersonImageData(person.Person.ImageFileName))"
                                                      Width="200" />
                                        </MudTd>
                                        <MudTd DataLabel="Person">@person.Person.DisplayName</MudTd>
                                        <MudTd DataLabel="Note">@person.Note</MudTd>
                                        <MudTd DataLabel="CreatedBy">@person.CreatedUser.Username</MudTd>
                                        <MudTd DataLabel="CreatedOn">@(person.CreateDate.ToString("MM-dd-yyyy hh:mm:ss tt"))</MudTd>
                                    </RowTemplate>
                                    <PagerContent>
                                        <MudTablePager />
                                    </PagerContent>
                                </MudTable>
                            </td>
                        </tr>
                     </Match>
                 </Condition>
            </ChildRowContent>
            <PagerContent>
                <MudTablePager />
            </PagerContent>
        </MudTable>
    </DivPad2>
</PageView>

