<DivPad2>
    <AlertPanel Alerts="ValidationResultAlerts" />
    <DivRowFormGroup>
        <InputFile id="fileInput"
                   @bind-Value="@Images"
                   accept="image/*" hidden multiple
                   OnChange="@LoadFiles" />
        <Fab Color="MudBlazor.Color.Secondary"
             For="fileInput"
             HtmlTag="label"
             Label="Load Images"
             StartIcon="@Icons.Material.Filled.Image" />
    </DivRowFormGroup>
    <DivRowFormGroup Visible="_files != null">
        <Div Class="col-3">
            <Text Typography="@Typo.h6">@_files?.Count() File@(_files?.Count() == 1 ? "" : "s"):</Text>
            <MudList>
                <Iterations Items="_files" Context="file">
                    <MudListItem Icon="@Icons.Material.Filled.AttachFile" @key="@file">
                        @file.Name <code>@file.Size bytes</code>
                    </MudListItem>
                </Iterations>
            </MudList>
        </Div>
        <Iterations Context="image"
                    Items="EditModel.Images" >
            <Div Class="col-3">
                <Image Height="150"
                       ImageData="@(ImageService.GetUserImageData(image.FileName, ApplicationStateService.CurrentUser.Id))"
                       Width="150" />
            </Div>
        </Iterations>
    </DivRowFormGroup>
    <DivRowFormGroup>
        <Div Class="col-6">
            <PersonSelector SelectedPerson="EditModel.Person"
                            SelectedPersonChanged="(p) => EditModel.Person = p" />
        </Div>
    </DivRowFormGroup>
    <DivRowFormGroup>
        <TextField Label="Notes"
                   Lines="10"
                   SelectedText="@EditModel.Note"
                   SelectedTextChanged="@((p) => EditModel.Note = p)" />
    </DivRowFormGroup>
    <Div Style="text-align:right;">
        <SaveButton OnClick="OnSave"
                    Text="Save" />
    </Div>
</DivPad2>
