<AlertPanel Alerts="ValidationResultAlerts"
            DivStyle="@Style.MarginPad2"
            ShowCloseIcon="false" />
<DivPad2>
    <DivRowFormGroup>
        <InputFile @bind-Value="@Images"
                   accept="image/*"
                   id="fileInput"                   
                   hidden 
                   multiple
                   OnChange="@LoadFiles" />
        <Fab Color="MudBlazor.Color.Secondary"
             For="fileInput"
             HtmlTag="label"
             Label="Load Images"
             StartIcon="@Icons.Material.Filled.Image" />
    </DivRowFormGroup>
    <DivRowFormGroup Visible="_files != null">
        <Div Class="@DivClass.Column3">
            <Text Typography="@Typo.h6">@_files?.Count() File@(_files?.Count() == 1 ? "" : "s"):</Text>
            <MudList>
                <Iterations Context="file"
                            Items="_files" >
                    <MudListItem @key="@file"
                                 Icon="@Icons.Material.Filled.AttachFile" >
                        @file.Name <code>@file.Size bytes</code>
                    </MudListItem>
                </Iterations>
            </MudList>
        </Div>
        <Iterations Context="image"
                    Items="EditModel.Images" >
            <Div Class="@DivClass.Column3">
                <Image Height="150"
                       ImageData="@(ImageService.GetUserImageData(image.FileName, ApplicationStateService.CurrentUser.Id))"
                       Width="150" />
            </Div>
        </Iterations>
    </DivRowFormGroup>
    <DivRowFormGroup>
        <Div Class="@DivClass.Column6">
            <PersonSelector SelectedPerson="EditModel.Person"
                            SelectedPersonChanged="(p) => EditModel.Person = p" />
        </Div>
    </DivRowFormGroup>
    <DivRowFormGroup>
        <TextField Label="Notes"
                   Lines="10"
                   SelectedText="@EditModel.Note"
                   SelectedTextChanged="@((p) => EditModel.Note = p)" />
    </DivRowFormGroup>
    <Div Style="@Style.RightAlign">
        <SaveButton OnClick="OnSave"
                    Text="Save" />
    </Div>
</DivPad2>
