<AlertPanel Alerts="ValidationResultAlerts"
            DivStyle="@Style.MarginPad2"
            ShowCloseIcon="false" />
<DivPad2>
    <ExpansionPanel Text="Images">
        <InputFile @bind-Value="@Images"
                   accept="image/*"
                   id="fileInput"
                   hidden
                   multiple
                   OnChange="@LoadFiles" />
        <Fab Color="MudBlazor.Color.Secondary"
             For="fileInput"
             HtmlTag="label"
             Label="Load Images"
             StartIcon="@Icons.Material.Filled.Image" />
        <Div Class="@DivClass.Row" 
             Visible="_files != null">
            <Div Class="@DivClass.Column3">
                <Text Typography="@Typo.h6">@_files?.Count() File@(_files?.Count() == 1 ? "" : "s"):</Text>
                <MudList>
                    <Iterations Context="file"
                                Items="_files">
                        <MudListItem @key="@file"
                                     Icon="@Icons.Material.Filled.AttachFile">
                            @file.Name <code>@file.Size bytes</code>
                        </MudListItem>
                    </Iterations>
                </MudList>
            </Div>
            <Iterations Context="image"
                        Items="EditModel.Images">
                <Div Class="@DivClass.Column3">
                    <Image Height="150"
                           ImageData="@(ImageService.GetUserImageData(image.FileName, ApplicationStateService.CurrentUser.Id))"
                           Width="150" />
                </Div>
            </Iterations>
        </Div>
    </ExpansionPanel>
    <ExpansionPanel Text="Details">
        <Div Class="@DivClass.Row"
             Style="@Style.MarginBottomPad1">
            <Div Class="@DivClass.Column6">
                <PersonDomainAutoComplete IsCulturalSearch="true"
                                          SelectedValue="EditModel.Person"
                                          SelectionChanged="(p) => EditModel.Person = p" />
            </Div>
        </Div>
        <Div Class="@DivClass.Row">
            <Div Class="@DivClass.Column12">
                <TextField Label="Notes"
                           Lines="10"
                           SelectedText="@EditModel.Note"
                           SelectedTextChanged="@((p) => EditModel.Note = p)" />
            </Div>
        </Div>
    </ExpansionPanel>
    <Div Style="@Style.RightAlign">
        <SaveButton OnClick="OnSave"
                    Text="Save" />
    </Div>
</DivPad2>
