<DivPad2>
    <AlertPanel Alerts="ValidationResultAlerts" />
    <DivRowFormGroup>
        <Iterations Context="image"
                    Items="Model.Images">
            <Div Class="col-4">
                <Image Height="150"
                       ImageData="@(ImageService.GetUserImageData(image.FileName, image.UserId))"
                       Width="150" />
            </Div>
        </Iterations>
    </DivRowFormGroup>
    <DivRowFormGroup>
        <Text Typography="Typo.h4">
            Person: <b>@(Model.Person?.DisplayName ?? string.Empty)</b>
        </Text>
    </DivRowFormGroup>
    <DivRowFormGroup Visible="@(Model.ConsensusSignatureReviewResultTypeId > 0)">
        <Text Typography="Typo.h4">
            Consensus Opinion: <b>@Model.ConsensusResult.Name</b>
        </Text>
    </DivRowFormGroup>
    <DivRowFormGroup>
        <SignatureReviewResultTypeDropDown SelectedValue="EditModel.SignatureReviewResultTypeId"
                                           SelectionChanged="(p) => EditModel.SignatureReviewResultTypeId = p" />
    </DivRowFormGroup>
    <DivRowFormGroup>
        <TextField Label="Notes"
                   Lines="10"
                   SelectedText="@EditModel.Note"
                   SelectedTextChanged="@((p) => EditModel.Note = p)" />
    </DivRowFormGroup>
    <Div Style="text-align:right;">
        <SaveButton OnClick="OnSave"
                    Text="Save" />
    </Div>
</DivPad2>