 <AlertPanel Alerts="ValidationResultAlerts"
             DivStyle="@Style.MarginPad2"
             ShowCloseIcon="false" />
<DivPad2>
    <ExpansionPanel Text="Images">
        <DivRowFormGroup>
            <Iterations Context="image"
                        Items="Model.Images">
                <Div Class="@DivClass.Column4">
                    <Image Height="150"
                           ImageData="@(ImageService.GetUserImageData(image.FileName, image.UserId))"
                           OnClick="@(_ => OnImageClick(Model, image.Id))"
                           Width="150" />
                </Div>
            </Iterations>
        </DivRowFormGroup>
    </ExpansionPanel>
    <ExpansionPanel Text="Details">
        <Div Class="@DivClass.Row">
            <Div Class="@DivClass.Column12">
                <Text Typography="Typo.h6">
                    Person: <b>@(Model.Person?.ProfileName ?? string.Empty)</b>
                </Text>
            </Div>            
        </Div>
        <Div Class="@DivClass.Row" 
                    Visible="@(Model.ConsensusSignatureReviewResultTypeId > 0)">
            <Div Class="@DivClass.Column12">
                <Text Typography="Typo.h6">
                    Consensus Opinion: <b>@Model.ConsensusResult.Name</b>
                </Text>
            </Div>            
        </Div>
    </ExpansionPanel>
    <ExpansionPanel Text="Your Opinion">
        <Div Class="@DivClass.Row"
             Style="@Style.MarginBottomPad1">
            <Div Class="@DivClass.Column12">
                <SignatureReviewResultTypeDropDown SelectedValue="EditModel.SignatureReviewResultTypeId"
                                                   SelectionChanged="(p) => EditModel.SignatureReviewResultTypeId = p" />
            </Div>            
        </Div>
        <Div Class="@DivClass.Row">
            <Div Class="@DivClass.Column12">
                <TextField Label="Notes"
                           Lines="10"
                           SelectedText="@EditModel.Note"
                           SelectedTextChanged="@((p) => EditModel.Note = p)" />
            </Div>            
        </Div>
    </ExpansionPanel> 
    <LeftRightSection Style="@($"{Style.MarginBottomPad1}{Style.MarginTopPad1}")">
        <Right>
            <SaveButton OnClick="OnSave"
                        Text="Save" />
        </Right>
    </LeftRightSection>
</DivPad2>