<Div Style="margin-top:1%;margin-bottom:1%;margin-left:1%;margin-right:1%;">
    <AlertPanel Alerts="ValidationResultAlerts" />
    <Div Class="row">
        <Div Class="col-12">
            <Header Text="All Star Management" />
        </Div>
    </Div>
    <DivRowFormGroup>
        <Div Class="col-3">
            <SkeletonLoader IsLoading="@(!_loaded)">
                <SportLeagueLevelDropDown SelectedValue="EditModel.SportLeagueLevelId"
                                          SelectionChanged="(p) => EditModel.SportLeagueLevelId = p" />
            </SkeletonLoader>
        </Div>
        <Div Class="col-3">
            <NullableIntField DisplaySkeleton="@(!_loaded)"
                              Label="Year"
                              Value="EditModel.Year"
                              ValueChanged="@((p) => EditModel.Year = p)" />
        </Div>
        <Div Class="col-3">
            <NullableIntField DisplaySkeleton="@(!_loaded)"
                              Label="Number of Participants"
                              Value="EditModel.NumberOfAllStars"
                              ValueChanged="@((p) => EditModel.NumberOfAllStars = p)" />
        </Div>
        <Div Class="col-3">
            <MonthDropDown SelectedValue="EditModel.MonthPlayed"
                           SelectionChanged="@((p) => EditModel.MonthPlayed = p)" />
        </Div>
    </DivRowFormGroup>
    <br />
    <LeftRightSection>
        <Right>
            <RowStack Style="margin-top:1%;margin-bottom:1%;">
                <Div>
                    <SaveButton OnClick="OnSave"
                                Text="Save" />
                </Div>
            </RowStack>
        </Right>
    </LeftRightSection>
    <PageFooter NavigationPath="/Admin/Management/AllStars/AllStarManagement"
                NavigationPathText="Back" />
</Div>

