<MudTable Bordered="false"
          Dense="false"
          Hover="true"
          Items="@Items"
          Striped="true">
    <ToolBarContent>
        <ToolbarTitle Text="Offers" />
    </ToolBarContent>
    <HeaderContent>
        <MudTh></MudTh>
        <MudTh>Buyer</MudTh>
        <MudTh>Seller</MudTh>
        <MudTh>Offer Date</MudTh>
        <MudTh>Expires Date</MudTh>
        <MudTh>Amount</MudTh>
        <MudTh>Status</MudTh>
        <MudTh></MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd>
            <IconButton Icon="@context.Memorabilia.ToggleIcon"
                        OnClick="@(_ => ToggleChildContent(context.Id))" />
        </MudTd>
        <MudTd DataLabel="Buyer">@context.Buyer.Username</MudTd>
        <MudTd DataLabel="Seller">@context.Seller.Username</MudTd>
        <MudTd DataLabel="OfferDate">@context.OfferDate.ToString("MM-dd-yyyy")</MudTd>
        <MudTd DataLabel="ExpiresDate">@context.ExpirationDate.ToString("MM-dd-yyyy")</MudTd>
        <MudTd DataLabel="Amount">@(context.Amount.ToString("c"))</MudTd>
        <MudTd DataLabel="Status">@context.OfferStatusTypeName</MudTd>
        <TableData Visible="context.CantAcceptCounterReject">
            <Fab Color="MudBlazor.Color.Secondary"
                    OnClick="@(_ => Cancel(context))"
                    StartIcon="@Icons.Material.Outlined.Cancel"
                    TooltipText="Cancel" />
        </TableData>
        <TableData Visible="@(!context.CantAcceptCounterReject && context.ShowActions)">
            <Fab Color="MudBlazor.Color.Secondary"
                 OnClick="@(_ => Accept(context))"
                 StartIcon="@Icons.Material.Outlined.Handshake"
                 TooltipText="Accept" />
            <Fab Color="MudBlazor.Color.Secondary"
                 OnClick="@(_ => Counter(context.Id))"
                 StartIcon="@Icons.Material.Outlined.SwapHoriz"
                 TooltipText="Counter" />
            <Fab Color="MudBlazor.Color.Secondary"
                 OnClick="@(_ => Reject(context))"
                 StartIcon="@Icons.Material.Outlined.DoNotTouch"
                 TooltipText="Reject" />
        </TableData>            
    </RowTemplate>
    <ChildRowContent>
        <HiddenControl Visible="@context.Memorabilia.DisplayAutographDetails">
            <tr style="margin-top: 1%; margin-bottom: 1%; margin-left: 1%; margin-right: 1%;">
                <td colspan="17">
                    <MudTable Bordered="false"
                                Dense="false"
                                Hover="true"
                                Items="@(new List<OfferMemorabiliaModel> { context.Memorabilia } )"
                                Striped="true">
                        <ToolBarContent>
                            <ToolbarTitle Text="Items" />
                            <MudSpacer />
                        </ToolBarContent>
                        <HeaderContent>
                            <MudTh></MudTh>
                            <MudTh>Item</MudTh>
                            <MudTh>Condition</MudTh>
                            <MudTh></MudTh>
                        </HeaderContent>
                        <RowTemplate Context="item">
                            <MudTd DataLabel="">
                                <GridImage ImageData="@(ImageService.GetUserImageData(item.ImageFileName, item.UserId))"
                                           ImageLoaded=@(_ => StateHasChanged()) />
                            </MudTd>
                            <MudTd DataLabel="Item">@item.ItemTypeName</MudTd>
                            <MudTd DataLabel="Condition">@item.ConditionName</MudTd>
                            <MudTd DataLabel="">
                                <ViewMemorabiliaImagesFab MemorabiliaId="item.MemorabiliaId"
                                                          UserId="item.UserId" />
                            </MudTd>
                        </RowTemplate>
                        <PagerContent>
                            <MudTablePager />
                        </PagerContent>
                    </MudTable>
                </td>
            </tr>
        </HiddenControl>
    </ChildRowContent>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>