<Div Style="@Style.MarginPad1">
    <AlertPanel Alerts="ValidationResultAlerts" />
    <Div Class="@DivClass.Row">
        <Div Class="@DivClass.Column12">
            <Text Typography="Typo.h3">
                Offer
            </Text>
        </Div>
    </Div>
    <Div Class="@DivClass.Row">
        <Div Class="@DivClass.Column12">
            <OfferMemorabiliaGrid Item="EditModel.Memorabilia" />
        </Div>
    </Div>
    <Div Class="@DivClass.Row">
        <Div Class="@DivClass.Column12">
            <NullableDecimalField Disabled="IsReadOnly"
                                  Label="Amount to Offer ($)"
                                  Value="EditModel.Amount"
                                  ValueChanged="@((p) => EditModel.Amount = p)" />
        </Div>
    </Div>
    <br />
    <br />
    <LeftRightSection>
        <Right>
            <RowStack>
                <CustomButton OnClick="OnCancel"
                              Text="Cancel"
                              Visible="IsReadOnly" />
                <CustomButton OnClick="OnReject"
                              Text="Reject"
                              Visible="@(!IsReadOnly && IsReviewMode)" />
                <CustomButton OnClick="OnCounter"
                              Text="Counter"
                              Visible="@(!IsReadOnly && IsReviewMode)" />
                <CustomButton OnClick="OnAccept"
                              Text="Accept"
                              Visible="@(!IsReadOnly && IsReviewMode)" />
                <CustomButton OnClick="OnSend"
                              Text="Send"
                              Visible="@(!IsReadOnly && !IsReviewMode)" />
            </RowStack>
        </Right>
    </LeftRightSection>
</Div>

