@inherits AutographItem<AutographEditModel>

<EditPage ContinueNavigationPath="@Model.ContinueNavigationPath"
          EditMode="Model.EditModeType"
          ExitNavigationPath="@Model.ExitNavigationPath"
          ImageFileName="@Model.ImageFileName"
          ItemName="@Model.ItemTypeName"
          Model="Model"
          OnLoad="OnLoad"
          OnSave="OnSave"
          PageFooterButtonText="@Model.ExitButtonText"
          PageFooterNavigationPath="@Model.BackNavigationPath"
          PageTitle="@Model.PageTitle"
          PerformValidation="true"
          TItem="AutographEditModel"
          UseMultipleButtons="true"
          ValidationResult="@Model.ValidationResult">
    <TimelineContent>
        <AutographTimeline AutographId="Model.Id" 
                           AutographStep="Model.AutographStep"  
                           DisplaySpot="Model.CanHaveSpot" 
                           EditMode="Model.EditModeType"
                           MemorabiliaId="Model.MemorabiliaId" />
    </TimelineContent>
    <ImagePreview>
        <Condition Evaluation="Model.HasMemorabiliaImages">
            <Match>
                <DivRowCol12Center>
                    <Content>
                        <ViewMemorabiliaImagesButton MemorabiliaId="Model.MemorabiliaId"
                                                     UserId="Model.UserId" />
                    </Content>
                </DivRowCol12Center>
            </Match>
        </Condition>        
    </ImagePreview>
    <Content>        
        <DivRowCol6>
            <Content>
                <Condition Evaluation="Model.CanImportPerson">
                    <Match>
                        <MudTooltip Text="Import from memorabilia item">
                            <MudImage @onclick="@(_ => Model.Person = new PersonEditModel(Model.MemorabiliaPerson))"
                                      Class="rounded-lg can-click"
                                      Elevation="5"
                                      Height="20"
                                      ObjectFit="@ObjectFit.Cover"
                                      Src="@(ImageService.GetDomainImageData(ImageFileName.Import))"
                                      Width="20" />
                        </MudTooltip>
                    </Match>
                </Condition>                
                <PersonSelector SelectedPerson="Model.Person"
                                SelectedPersonChanged="(p) => Model.Person = p" />  
            </Content>
        </DivRowCol6>
        <DivRowCol3>
            <Content>
                <WritingInstrumentDropDown SelectedValue="Model.WritingInstrumentId"
                                           SelectionChanged="(p) => Model.WritingInstrumentId = p" />
            </Content>
            <ContentColumn2>
                <ColorDropDown DisplayAutographColorsOnly="true"
                               SelectedValue="Model.ColorId"
                               SelectionChanged="(p) => Model.ColorId = p" />
            </ContentColumn2>
            <ContentColumn3>
                <ConditionDropDown SelectedValue="Model.ConditionId"
                                   SelectionChanged="(p) => Model.ConditionId = p" />
            </ContentColumn3>
            <ContentColumn4>
                <NullableIntField Label="Grade"
                                  Value="Model.Grade"
                                  ValueChanged="@((p) => Model.Grade = p)" />
            </ContentColumn4>
        </DivRowCol3>
        <DivRowCol6>
            <Content>
                <TextField Label="Notes"
                           Lines="10"
                           SelectedText="@Model.Note"
                           SelectedTextChanged="@((p) => Model.Note = p)" />
            </Content>
        </DivRowCol6>
        <Condition Evaluation="Model.DisplayAcquisitionDetails">
            <Match>
                <DivRowCol3 HideColumn2="@(!_displayAcquisitionDetails)"
                            HideColumn3="@(!_displayAcquisitionDetails || !Model.CanHaveCost)"
                            HideColumn4="@(!_displayAcquisitionDetails || !Model.CanHavePlaceOfPurchase)">
                    <Content>
                        <div style="display:flex">
                            <AcquisitionTypeDropDown IsAutograph="true"
                                                     SelectedValue="Model.AcquisitionTypeId"
                                                     SelectionChanged="OnAcquisitionTypeChange" />
                            <MudTooltip Text="Import from memorabilia item">
                                <MudImage @onclick="OnImportAcquisition"
                                          Class="rounded-lg can-click"
                                          Elevation="5"
                                          Height="20"
                                          ObjectFit="@ObjectFit.Cover"
                                          Src="@(ImageService.GetDomainImageData(ImageFileName.Import))"
                                          Width="20" />
                            </MudTooltip>                            
                        </div>                        
                    </Content>
                    <ContentColumn2>
                        <MudDatePicker @bind-Date="Model.AcquiredDate"
                                       Label="Acquired Date"
                                       Variant="Variant.Outlined" />
                    </ContentColumn2>
                    <ContentColumn3>
                        <NullableDecimalField Label="Cost ($)"
                                              Value="Model.Cost"
                                              ValueChanged="@((p) => Model.Cost = p)" />
                    </ContentColumn3>
                    <ContentColumn4>
                        <PurchaseTypeDropDown SelectedValue="Model.PurchaseTypeId"
                                              SelectionChanged="(p) => Model.PurchaseTypeId = p" />
                    </ContentColumn4>
                </DivRowCol3>
                <Condition Evaluation="Model.DisplayThroughTheMailDetails">
                    <Match>
                        <DivRowCol3>
                            <Content>
                                <MudDatePicker @bind-Date="Model.SentDate"
                                               Label="Sent Date"
                                               Variant="Variant.Outlined" />
                            </Content>
                            <ContentColumn2>
                                <MudDatePicker @bind-Date="Model.ReceivedDate"
                                               Label="Received Date"
                                               Variant="Variant.Outlined" />
                            </ContentColumn2>
                        </DivRowCol3>
                    </Match>
                </Condition>  
                <DivRowCol3>
                    <Content>
                        <div style="display:flex">
                            <NullableDecimalField Label="Estimated Value ($)"
                                                  Value="Model.EstimatedValue"
                                                  ValueChanged="@((p) => Model.EstimatedValue = p)" />
                            <MudTooltip Text="Import from estimated value from item">
                                <MudImage @onclick="OnImportEstimatedValue"
                                          Class="rounded-lg can-click"
                                          Elevation="5"
                                          Height="20"
                                          ObjectFit="@ObjectFit.Cover"
                                          Src="@(ImageService.GetDomainImageData(ImageFileName.Import))"
                                          Width="20" />
                            </MudTooltip>
                        </div>
                    </Content>
                </DivRowCol3>
            </Match>
        </Condition>
        <DivRowCol3>
            <Content>
                <MudSwitch Checked="@Model.FullName"
                           CheckedChanged="(p) => Model.FullName = p"
                           Color="MudBlazor.Color.Success"
                           Label="Is Full Name?"
                           T="bool" />
            </Content>
        </DivRowCol3>       
        <DivRowCol3>
            <Content>
                <MudSwitch Checked="@Model.IsPersonalized"
                           CheckedChanged="(p) => Model.IsPersonalized = p"
                           Color="MudBlazor.Color.Success"
                           Label="Is Personalized?"
                           T="bool" />
            </Content>
        </DivRowCol3>
        <Condition Evaluation="Model.IsPersonalized">
            <Match>
                <DivRowCol3>
                    <Content>
                        <TextField HelperText="Example: To Nick"
                                   Label="Personalization Text"
                                   SelectedText="@Model.PersonalizationText"
                                   SelectedTextChanged="@((p) => Model.PersonalizationText = p)" />
                    </Content>
                </DivRowCol3>
            </Match>
        </Condition>        
        <DivRowCol3>
            <Content>
                <MudSwitch Checked="@Model.IsNumbered"
                           CheckedChanged="(p) => Model.IsNumbered = p"
                           Color="MudBlazor.Color.Success"
                           Label="Is Numbered?"
                           T="bool" />
            </Content>
        </DivRowCol3>
        <Condition Evaluation="Model.IsNumbered">
            <Match>
                <DivRowCol3>
                    <Content>
                        <div class="row">
                            <div style="padding-left:15px; width:45%; flex:auto;">
                                <NumericField Label="Left Serial #"
                                              TType="int?"
                                              Value="Model.Numerator"
                                              ValueChanged="@((p) => Model.Numerator = p)" />
                            </div>
                            <div style="padding-right:15px; padding-left:5px; width:45%; flex:auto;">
                                <NumericField Label="Right Serial #"
                                              TType="int?"
                                              Value="Model.Denominator"
                                              ValueChanged="@((p) => Model.Denominator = p)" />
                            </div>
                        </div>
                    </Content>
                </DivRowCol3>
            </Match>
        </Condition>        
    </Content>
</EditPage>