@inherits AutographItem<SaveAutographViewModel>

<EditPage ContinueNavigationPath="@ViewModel.ContinueNavigationPath"
          EditMode="ViewModel.EditModeType"
          ExitNavigationPath="@ViewModel.ExitNavigationPath"
          ImagePath="@ViewModel.ImagePath"
          ItemName="@ViewModel.ItemTypeName"
          Model="ViewModel"
          OnLoad="OnLoad"
          OnSave="OnSave"
          PageFooterButtonText="@ViewModel.ExitButtonText"
          PageFooterNavigationPath="@ViewModel.BackNavigationPath"
          PageTitle="@ViewModel.PageTitle"
          TItem="SaveAutographViewModel"
          UseMultipleButtons="true">
    <TimelineContent>
        <AutographTimeline AutographId="ViewModel.Id" 
                           AutographStep="ViewModel.AutographStep"  
                           DisplaySpot="ViewModel.CanHaveSpot" 
                           EditMode="ViewModel.EditModeType"
                           MemorabiliaId="ViewModel.MemorabiliaId" />
    </TimelineContent>
    <Content>
        <DivRowCol6>
            <Content>
                <MudTooltip Text="Import from memorabilia item">
                    <MudImage @onclick="OnImportPersonClick"
                              hidden="@(!_displayPersonImport)" 
                              Class="rounded-lg can-click" 
                              Elevation="5" 
                              Height="20"                                              
                              ObjectFit="@ObjectFit.Cover"
                              Src="images/import.jpg"
                              Width="20" />
                </MudTooltip>
                <PersonSelector SelectedPerson="ViewModel.Person"
                                SelectedPersonChanged="SelectedPersonChanged" />  
            </Content>
        </DivRowCol6>
        <DivRowCol3>
            <Content>
                <MudCheckBox @bind-Checked="@ViewModel.FullName" 
                             Label="Is Full Name" />
            </Content>
        </DivRowCol3>
        <DivRowCol3>
            <Content>
                <MudCheckBox Checked="@ViewModel.IsPersonalized"
                             CheckedChanged="PersonalizationCheckboxClicked"
                             Label="Has Personalization"
                             T="bool" />  
                <DivHidden Hidden="@(!_displayPersonalization)">
                    <Content>
                        <MudTextField @bind-Value="ViewModel.PersonalizationText" 
                                      Label="Personalization Text" 
                                      HelperText="Example: To Nick" 
                                      Variant="Variant.Outlined" />
                    </Content>
                </DivHidden>
            </Content>
        </DivRowCol3>
        <DivRowCol3>
            <Content>
                <MudSelect @bind-Value="@ViewModel.WritingInstrumentId"
                           @bind-Value:event="ValueChanged" 
                           Label="Writing Instrument"
                           Variant="Variant.Outlined">
                    <MudSelectItem Value="@(0)">--Select--</MudSelectItem>
                    <Iterations Items="ViewModel.WritingInstruments" Context="writingInstrument">
                        <MudSelectItem Value="@writingInstrument.Id">@writingInstrument.Name</MudSelectItem>
                    </Iterations>	
                </MudSelect>
            </Content>
            <ContentColumn2>
                <MudSelect @bind-Value="@ViewModel.ConditionId"
                           @bind-Value:event="ValueChanged" 
                           Label="Condition"
                           Variant="Variant.Outlined">
                    <MudSelectItem Value="@(0)">--Select--</MudSelectItem>
                    <Iterations Items="ViewModel.Conditions" Context="condition">
                        <MudSelectItem Value="@condition.Id">@condition.Name</MudSelectItem>
                    </Iterations>	
                </MudSelect>
            </ContentColumn2>
            <ContentColumn3>
                <PrettyBlazor.Condition Evaluation="ViewModel.DisplayAcquisitionDetails">
                    <Match>
                        <MudCheckBox CheckedChanged="EstimatedValueCheckboxClicked"
                                     Label="Estimated Value same as Memorabilia"
                                     T="bool" />  
                    </Match>
                </PrettyBlazor.Condition>  
            </ContentColumn3>
            <ContentColumn4>
                <PrettyBlazor.Condition Evaluation="ViewModel.DisplayAcquisitionDetails">
                    <Match>
                        <MudCheckBox CheckedChanged="AcquisitionDetailsCheckboxClicked"
                                     Label="Acquisition Details same as Memorabilia"
                                     T="bool" />   
                    </Match>
                </PrettyBlazor.Condition>  
            </ContentColumn4>
        </DivRowCol3>
        <DivRowCol3>
            <Content>
                <MudSelect @bind-Value="@ViewModel.ColorId"
                           @bind-Value:event="ValueChanged" 
                           Label="Color"
                           Variant="Variant.Outlined">
                    <MudSelectItem Value="@(0)">--Select--</MudSelectItem>
                    <Iterations Items="ViewModel.Colors" Context="color">
                        <MudSelectItem Value="@color.Id">@color.Name</MudSelectItem>
                    </Iterations>	
                </MudSelect>
            </Content>
            <ContentColumn2>                
                <MudNumericField @bind-Value="ViewModel.Grade" 
                                 Label="Grade" 
                                 Variant="Variant.Outlined" />
            </ContentColumn2>
            <ContentColumn3>
                <PrettyBlazor.Condition Evaluation="ViewModel.DisplayAcquisitionDetails">
                    <Match>
                        <MudNumericField @bind-Value="ViewModel.EstimatedValue"
                                         Label="Estimated Value ($)" 
                                         Variant="Variant.Outlined" />
                    </Match>
                </PrettyBlazor.Condition>
            </ContentColumn3>
            <ContentColumn4>
                <PrettyBlazor.Condition Evaluation="ViewModel.DisplayAcquisitionDetails">
                    <Match>
                        <MudTooltip Text="Import from memorabilia item">
                            <MudImage @onclick="OnImportAcquisitionClick"
                                      hidden="@(!_displayPersonImport)" 
                                      Class="rounded-lg can-click" 
                                      Elevation="5" 
                                      Height="20"                                              
                                      ObjectFit="@ObjectFit.Cover"
                                      Src="images/import.jpg"
                                      Width="20" />
                        </MudTooltip>
                        <MudSelect @bind-Value="@ViewModel.AcquisitionTypeId"
                                   @bind-Value:event="ValueChanged" 
                                   Label="Acquisition Type"
                                   Variant="Variant.Outlined">
                            <MudSelectItem Value="@(0)">--Select--</MudSelectItem>
                            <Iterations Items="ViewModel.AcquisitionTypes" Context="acquisitionType">
                                <MudSelectItem Value="@acquisitionType.Id">@acquisitionType.Name</MudSelectItem>
                            </Iterations>	
                        </MudSelect>
                    </Match>
                </PrettyBlazor.Condition>
            </ContentColumn4>
        </DivRowCol3>
        <DivRowCol3>
            <ContentColumn4>
                <PrettyBlazor.Condition Evaluation="ViewModel.DisplayAcquisitionDetails && _displayAcquisitionDetails">
                    <Match>
                        <MudDatePicker @bind-Date="ViewModel.AcquiredDate"
                                       DateFormat="MM/dd/yyyy"
                                       Editable="true"
                                       Label="Acquired Date"
                                       Mask="@(new DateMask("MM/dd/yyyy"))" 
                                       Variant="Variant.Outlined"/>
                    </Match>
                </PrettyBlazor.Condition>
            </ContentColumn4>
        </DivRowCol3>
        <DivRowCol3>
            <ContentColumn4>
                <PrettyBlazor.Condition Evaluation="ViewModel.DisplayAcquisitionDetails && _displayAcquisitionDetails">
                    <Match>
                        <MudNumericField @bind-Value="ViewModel.Cost"
                                         Label="Cost ($)" 
                                         Variant="Variant.Outlined" />
                    </Match>
                </PrettyBlazor.Condition>
            </ContentColumn4>
        </DivRowCol3>
        <DivRowCol3>
            <ContentColumn4>
                <PrettyBlazor.Condition Evaluation="ViewModel.DisplayAcquisitionDetails && _displayAcquisitionDetails">
                    <Match>
                        <DivHidden Hidden="@(!ViewModel.CanHavePlaceOfPurchase)">
                            <Content>
                                <MudSelect @bind-Value="@ViewModel.PurchaseTypeId"
                                           @bind-Value:event="ValueChanged" 
                                           Label="Place of Purchase"
                                           Variant="Variant.Outlined">
                                    <MudSelectItem Value="@(0)">--Select--</MudSelectItem>
                                    <Iterations Items="ViewModel.PurchaseTypes" Context="purchaseType">
                                        <MudSelectItem Value="@purchaseType.Id">@purchaseType.Name</MudSelectItem>
                                    </Iterations>	
                                </MudSelect>
                            </Content>
                        </DivHidden>
                    </Match>
                </PrettyBlazor.Condition>
            </ContentColumn4>
        </DivRowCol3>
        <DivRowCol3>
            <ContentColumn4>
                <PrettyBlazor.Condition Evaluation="ViewModel.DisplayAcquisitionDetails && ViewModel.DisplayThroughTheMailDetails">
                    <Match>
                        <MudDatePicker @bind-Date="ViewModel.SentDate"
                                       DateFormat="MM/dd/yyyy"
                                       Editable="true"
                                       Label="Sent" 
                                       Mask="@(new DateMask("MM/dd/yyyy"))" 
                                       Variant="Variant.Outlined" /> 
                    </Match>
                </PrettyBlazor.Condition>
            </ContentColumn4>
        </DivRowCol3>
        <DivRowCol3>
            <ContentColumn4>
                <PrettyBlazor.Condition Evaluation="ViewModel.DisplayAcquisitionDetails && ViewModel.DisplayThroughTheMailDetails">
                    <Match>
                        <MudDatePicker @bind-Date="ViewModel.ReceivedDate" 
                                       DateFormat="MM/dd/yyyy"
                                       Editable="true"
                                       Label="Received" 
                                       Mask="@(new DateMask("MM/dd/yyyy"))" 
                                       Variant="Variant.Outlined"  />
                    </Match>
                </PrettyBlazor.Condition>
            </ContentColumn4>
        </DivRowCol3>
        <DivRowCol3>
            <Content>
                <MudCheckBox Checked="_displayNumbered"
                             CheckedChanged="NumberedCheckboxClicked" 
                             Label="Numbered"
                             T="bool" /> 
            </Content>
        </DivRowCol3>
        <DivRowCol1 Hidden="@(!_displayNumbered)">
            <Content>
                <MudNumericField @bind-Value="ViewModel.Numerator" 
                                 Label="Numerator"
                                 Variant="Variant.Outlined" />  
            </Content>
            <ContentColumn2>
                <label for="of">of</label>  
            </ContentColumn2>
            <ContentColumn3>
                <MudNumericField @bind-Value="ViewModel.Denominator" 
                                 Label="Denominator"
                                 Variant="Variant.Outlined" /> 
            </ContentColumn3>
        </DivRowCol1> 
        <DivRowCol3>
            <Content>
                <MudTextField @bind-Value="ViewModel.Note" 
                              Label="Note"
                              Lines="10" 
                              T="string"
                              Variant="Variant.Outlined" />
            </Content>
        </DivRowCol3>
    </Content>
</EditPage>