<DivPad2>
    <ExpansionPanel Text="For Sale">
        <Div Class="@DivClass.Row"
             Visible="_hasItemsForSale">
            <Div Class="@DivClass.Column12">
                <MemorabiliaFilter OnFilter="OnFilter" />
            </Div>
        </Div>
        <Div Class="@DivClass.Row"
             Visible="_hasItemsForSale">
            <Div Class="@DivClass.Column12">
                <ForSaleSummary />
            </Div>
        </Div>
        <LeftRightSection Style="@($"{Style.MarginBottomPad1}{Style.MarginTopPad1}")">
            <Right>
                <AddButton OnClick="AddMemorabilia"
                           Text="Add Memorabilia" />
            </Right>
        </LeftRightSection>
        <Div Class="@DivClass.Row">
            <Div Class="@DivClass.Column12">
                <ForSaleGrid Filter="_filter"
                             ReloadGrid="ReloadMemorabiliaGrid" />
            </Div>
        </Div>
    </ExpansionPanel>
</DivPad2>
