<MudTable @ref="_table"
          Bordered="false"
          CanCancelEdit="true"
          CommitEditTooltip="Save"
          Dense="false"
          Hover="true"
          Items="@Model.Items"
          RowEditCancel="ResetItemToOriginalValues"
          RowEditPreview="BackupItem"
          ServerData="@(new Func<TableState, Task<TableData<ForSaleMemorabiliaEditModel>>>(OnRead))"
          Striped="true"
          Style="width:100%">
    <ToolBarContent>
        <ToolbarTitle Text="Memorabilia For Sale" />
    </ToolBarContent>
    <HeaderContent>
        <MudTh>
            <RowStack>
                <CustomButton ButtonType="ButtonType.Button"
                              OnClick="OnSelectAll"
                              Text="@SelectAllButtonText" />
                <CustomButton ButtonType="ButtonType.Button"
                              OnClick="RemoveSelected"
                              Text="Remove Selected"
                              Visible="SelectedMemorabilia.Any()" />
            </RowStack>
        </MudTh>
        <MudTh></MudTh>
        <MudTh>Item</MudTh>
        <MudTh>Buy Now Price</MudTh>
        <MudTh>Allow Best Offer</MudTh>
        <MudTh>Minimum Offer Price</MudTh>
        <MudTh></MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="">
            <BooleanCheckBox Checked="@(SelectedMemorabilia.Contains(context))"
                             CheckedChanged="(p) => OnMemorabiliaSelected(context)" />
        </MudTd>
        <MudTd DataLabel="">
            <GridImage ImageLoaded="@(_ => StateHasChanged())"
                       ImageFileName="@context.MemorabiliaPrimaryImage"
                       NavigationPath="@($"{NavigationPath.MemorabiliaImage}/{Constant.EditModeType.Update.Name}/{DataProtectorService.EncryptId(context.MemorabiliaId)}")" />
        </MudTd>
        <MudTd DataLabel="Item">@context.ItemTypeName</MudTd>
        <MudTd DataLabel="BuyNowPrice">@(context.BuyNowPrice?.ToString("c") ?? string.Empty)</MudTd>
        <MudTd DataLabel="AllowBestOffer">@(context.AllowBestOffer ? "Yes" : "No")</MudTd>
        <MudTd DataLabel="MinimumOfferPrice">@(context.MinimumOfferPrice?.ToString("c") ?? string.Empty)</MudTd>
        <MudTd DataLabel="">
            <ViewMemorabiliaImagesFab MemorabiliaId="context.Memorabilia.Id" />
            <Fab Color="MudBlazor.Color.Secondary"
                 OnClick="@(_ => ShowRemoveSaleMemorabiliaConfirm(context.Id))"
                 Size="@MudBlazor.Size.Small"
                 StartIcon="@Icons.Material.Outlined.DeleteOutline"
                 TooltipText="Remove From Sell List" />
        </MudTd>
    </RowTemplate>
    <RowEditingTemplate>
            <MudTd DataLabel="">
                <BooleanCheckBox Checked="@(SelectedMemorabilia.Contains(context))"
                                 CheckedChanged="(p) => OnMemorabiliaSelected(context)" />
            </MudTd>
            <MudTd DataLabel="">
                <GridImage ImageLoaded="@(_ => StateHasChanged())"
                           ImageFileName="@context.MemorabiliaPrimaryImage"
                           NavigationPath="@($"{NavigationPath.MemorabiliaImage}/{Constant.EditModeType.Update.Name}/{DataProtectorService.EncryptId(context.Memorabilia.Id)}")" />
            </MudTd>
            <MudTd DataLabel="Item">@context.ItemTypeName</MudTd>
            <MudTd DataLabel="BuyNowPrice">
                <NullableDecimalField Value="@context.BuyNowPrice"
                                      ValueChanged="@((p) => context.BuyNowPrice = p)" />
            </MudTd>
            <MudTd DataLabel="AllowBestOffer">
                <Switch Checked="@context.AllowBestOffer"
                        CheckedChanged="(p) => OnAllowBestOfferChanged(context, p)"
                        Label="Allow Best Offer?" />
            </MudTd>
            <MudTd DataLabel="MinimumOfferPrice">
                <NullableDecimalField Disabled="@(!context.CanEditMinimumOfferPrice)" 
                                      Value="@context.MinimumOfferPrice"
                                      ValueChanged="@((p) => context.MinimumOfferPrice = p)" />
            </MudTd>
            <MudTd DataLabel="">
                <ViewMemorabiliaImagesFab MemorabiliaId="context.MemorabiliaId" />
                <Fab Color="MudBlazor.Color.Secondary"
                     OnClick="@(_ => ShowRemoveSaleMemorabiliaConfirm(context.Id))"
                     Size="@MudBlazor.Size.Small"
                     StartIcon="@Icons.Material.Outlined.DeleteOutline"
                     TooltipText="Remove From Sell List" />
            </MudTd>
    </RowEditingTemplate>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>
<Div Style="margin-bottom:1%;margin-right:1%;text-align:right;"
     Visible="@(Model.Items.Any())">
    <SaveButton OnClick="OnSave"
                Text="Save" />
</Div>
