<Div Class="@DivClass.Row"
     Style="@Style.MarginPad1">
    <Div Class="@DivClass.Column4"
         Style="@Style.MarginPad1">
        <MudCard>
            <MudCardMedia Height="300"
                          Image="@(ImageService.GetDomainImageData(ImageFileName.RecordTypes))" />
            <MudCardContent>
                <Text Typography="Typo.h5">
                    Edit Franchise Records
                </Text>
                <Text Typography="Typo.body2">
                    Allows you to add, modify and remove franchise records.
                </Text>
            </MudCardContent>
            <MudCardActions>
                <CustomButton Color="MudBlazor.Color.Primary"
                              OnClick="@(_ => NavigationManager.NavigateTo("/Admin/Management/Accomplishments/Records/ViewFranchiseRecords"))"
                              Text="View"
                              Variant="Variant.Text" />
            </MudCardActions>
        </MudCard>
    </Div>
    <Div Class="@DivClass.Column4"
         Style="@Style.MarginPad1">
        <MudCard>
            <MudCardMedia Height="300"
                          Image="@(ImageService.GetDomainImageData(ImageFileName.Nicknames))" />
            <MudCardContent>
                <Text Typography="Typo.h5">
                    Edit Nicknames
                </Text>
                <Text Typography="Typo.body2">
                    Allows you to add, modify and remove nicknames.
                </Text>
            </MudCardContent>
            <MudCardActions>
                <CustomButton Color="MudBlazor.Color.Primary"
                              OnClick="@(_ => NavigationManager.NavigateTo("/Admin/Management/Nicknames/EditNicknames"))"
                              Text="View"
                              Variant="Variant.Text" />
            </MudCardActions>
        </MudCard>
    </Div>
    <Div Class="@DivClass.Column4"
         Style="@Style.MarginPad1">
        <MudCard>
            <MudCardMedia Height="300"
                          Image="@(ImageService.GetDomainImageData(ImageFileName.AccomplishmentTypes))" />
            <MudCardContent>
                <Text Typography="Typo.h5">
                    Manage Accomplishments
                </Text>
                <Text Typography="Typo.body2">
                    Allows you to manage accomplishments.
                </Text>
            </MudCardContent>
            <MudCardActions>
                <CustomButton Color="MudBlazor.Color.Primary"
                              OnClick="@(_ => NavigationManager.NavigateTo("/Admin/Management/Accomplishments/AccomplishmentManagement"))"
                              Text="View"
                              Variant="Variant.Text" />
            </MudCardActions>
        </MudCard>
    </Div>
    <Div Class="@DivClass.Column4"
         Style="@Style.MarginPad1">
        <MudCard>
            <MudCardMedia Height="300"
                          Image="@(ImageService.GetDomainImageData(ImageFileName.AllStars))" />
            <MudCardContent>
                <Text Typography="Typo.h5">
                    Manage All Stars
                </Text>
                <Text Typography="Typo.body2">
                    Allows you to manage all stars.
                </Text>
            </MudCardContent>
            <MudCardActions>
                <CustomButton Color="MudBlazor.Color.Primary"
                              OnClick="@(_ => NavigationManager.NavigateTo("/Admin/Management/AllStars/AllStarManagement"))" 
                              Text="View"
                              Variant="Variant.Text" />
            </MudCardActions>
        </MudCard>
    </Div>
    <Div Class="@DivClass.Column4"
         Style="@Style.MarginPad1">
        <MudCard>
            <MudCardMedia Height="300"
                          Image="@(ImageService.GetDomainImageData(ImageFileName.AwardTypes))" />
            <MudCardContent>
                <Text Typography="Typo.h5">
                    Manage Awards
                </Text>
                <Text Typography="Typo.body2">
                    Allows you to manage awards.
                </Text>
            </MudCardContent>
            <MudCardActions>
                <CustomButton Color="MudBlazor.Color.Primary"
                              OnClick="@(_ => NavigationManager.NavigateTo("/Admin/Management/Awards/AwardManagement"))"
                              Text="View"
                              Variant="Variant.Text" />
            </MudCardActions>
        </MudCard>
    </Div>
</Div>
