<Div Class="row"
     Style="margin-left:1%;margin-right:1%;margin-top:1%;margin-bottom:1%;">
    <Div Class="col-4">
        <MudCard>
            <MudCardMedia Height="300"
                          Image="@(ImageService.GetDomainImageData(ImageFileName.AccomplishmentTypes))" />
            <MudCardContent>
                <Text Typography="Typo.h5">
                    Manage Accomplishments
                </Text>
                <Text Typography="Typo.body2">
                    Allows you to manage accomplishments
                </Text>
            </MudCardContent>
            <MudCardActions>
                <CustomButton Color="MudBlazor.Color.Primary"
                              OnClick="@(_ => NavigationManager.NavigateTo("/Admin/Management/Accomplishments/AccomplishmentManagement"))"
                              Text="View"
                              Variant="Variant.Text" />
            </MudCardActions>
        </MudCard>
    </Div>
    <Div Class="col-4">
        <MudCard>
            <MudCardMedia Height="300"
                          Image="@(ImageService.GetDomainImageData(ImageFileName.AllStars))" />
            <MudCardContent>
                <Text Typography="Typo.h5">
                    Manage All Stars
                </Text>
                <Text Typography="Typo.body2">
                    Allows you to manage all stars
                </Text>
            </MudCardContent>
            <MudCardActions>
                <CustomButton Color="MudBlazor.Color.Primary"
                              OnClick="@(_ => NavigationManager.NavigateTo("/Admin/Management/AllStars/AllStarManagement"))" 
                              Text="View"
                              Variant="Variant.Text" />
            </MudCardActions>
        </MudCard>
    </Div>
    <Div Class="col-4">
        <MudCard>
            <MudCardMedia Height="300"
                          Image="@(ImageService.GetDomainImageData(ImageFileName.AwardTypes))" />
            <MudCardContent>
                <Text Typography="Typo.h5">
                    Manage Awards
                </Text>
                <Text Typography="Typo.body2">
                    Allows you to manage awards
                </Text>
            </MudCardContent>
            <MudCardActions>
                <CustomButton Color="MudBlazor.Color.Primary"
                              OnClick="@(_ => NavigationManager.NavigateTo("/Admin/Management/Awards/AwardManagement"))"
                              Text="View"
                              Variant="Variant.Text" />
            </MudCardActions>
        </MudCard>
    </Div>
</Div>
