<Div Class="@DivClass.Row">
    <Div Class="@DivClass.Column4">
        <DivPad5>
            <DomainItemCard Description="Allows you to manage accomplishments."
                            ImageFileName="@ImageFileName.AccomplishmentTypes"
                            Page="/Admin/Management/Accomplishments/AccomplishmentManagement"
                            Title="Manage Accomplishments" />
        </DivPad5>        
    </Div>
    <Div Class="@DivClass.Column4">
        <DivPad5>
            <DomainItemCard Description="Allows you to manage all stars."
                            ImageFileName="@ImageFileName.AllStars"
                            Page="/Admin/Management/AllStars/AllStarManagement"
                            Title="Manage All Stars" />
        </DivPad5>        
    </Div>
    <Div Class="@DivClass.Column4">
        <DivPad5>
            <DomainItemCard Description="Allows you to manage awards."
                            ImageFileName="@ImageFileName.AwardTypes"
                            Page="/Admin/Management/Awards/AwardManagement"
                            Title="Manage Awards" />
        </DivPad5>        
    </Div>
</Div>
