<Div Class="row">
    <Div Class="col-4">
        <DivPad5>
            <span hidden="@(!_displayItemTypeNotFound)"
                  style="background-color:red;">
                Item Type Not Found
            </span>
        </DivPad5>
    </Div>
</Div>
<Div Class="row" 
     KeyDown="Enter">
    <Div Class="col-4">
        <DivPad5>
            <MudStack Row="true">
                <TextField Label="Quick Jump"
                           SelectedText="@DomainItemQuickJump"
                           SelectedTextChanged="@((p) => DomainItemQuickJump = p)" />
                <CustomButton ButtonType="MudBlazor.ButtonType.Button"
                              OnClick="QuickJump"
                              Size="MudBlazor.Size.Small"
                              Text="Go" />
            </MudStack>
            @*<Div Style="display:flex">
                <TextField Label="Quick Jump"
                           SelectedText="@DomainItemQuickJump"
                           SelectedTextChanged="@((p) => DomainItemQuickJump = p)" />
                <CustomButton ButtonType="MudBlazor.ButtonType.Button"
                              OnClick="QuickJump"
                              Size="MudBlazor.Size.Small"
                              Text="Go" />
            </Div>*@
        </DivPad5>                
    </Div>
</Div>
<Div Class="row">
    <Iterations Items="Model.Items" Context="item">
        <Div Class="col-4">
            <DomainItemCard Description="@item.Description"
                            ImageFileName="@item.ImageFileName"
                            Page="@item.Page"
                            Title="@item.Title" />
        </Div>  
    </Iterations>
</Div>
