<Div Class="@DivClass.Row"
     Visible="_displayItemTypeNotFound">
    <Div Class="@DivClass.Column4">
        <DivPad5>
            <Text Style="background-color:red;"
                  Typography="Typo.body1">
                Item Type Not Found
            </Text>
        </DivPad5>
    </Div>
</Div>
<Div Class="@DivClass.Row"
     KeyDown="Enter">
    <Div Class="@DivClass.Column4">
        <DivPad5>
            <RowStack>
                <TextField Label="Quick Jump"
                           SelectedText="@DomainItemQuickJump"
                           SelectedTextChanged="@((p) => DomainItemQuickJump = p)" />
                <CustomButton ButtonType="MudBlazor.ButtonType.Button"
                              OnClick="QuickJump"
                              Size="MudBlazor.Size.Small"
                              Text="Go" />
            </RowStack>
        </DivPad5>                
    </Div>
</Div>
<Div Class="@DivClass.Row">
    <Iterations Context="item"
                Items="Model.Items">
        <Div Class="@DivClass.Column4">
            <DomainItemCard Description="@item.Description"
                            ImageFileName="@item.ImageFileName"
                            Page="@item.Page"
                            Title="@item.Title" />
        </Div>  
    </Iterations>
</Div>
