@inherits ImagePage

<div class="row" @onkeydown="@Enter">
    <div class="col-md-4">
        <DivPad5>
            <Content>                
                <TextField Label="Quick Jump"
                           SelectedText="@DomainItemQuickJump"
                           SelectedTextChanged="@((p) => DomainItemQuickJump = p)" />
                <br />
                <span style="background-color:red;" hidden="@(!_displayItemTypeNotFound)">
                    Item Type Not Found
                </span>
                <br />
                <MudButton ButtonType="MudBlazor.ButtonType.Button" 
                           Color="MudBlazor.Color.Primary"
                           OnClick="QuickJump"
                           Size="MudBlazor.Size.Small"                                  
                           Variant="Variant.Filled">Go</MudButton>                 
            </Content>                    
        </DivPad5>                
    </div>
</div>
<div class="row">
    <Iterations Items="ViewModel.Items" Context="item">
        <div class="col-md-4">
            <DomainItemCard Description="@item.Description"
                            DomainImageRootPath="@DomainImageRootPath"
                            ImageFileName="@item.ImageFileName"
                            Page="@item.Page"
                            Title="@item.Title" />
        </div>  
    </Iterations>
</div>
