<Div Class="row"
     Visible="_displayItemTypeNotFound">
    <Div Class="col-4">
        <DivPad5>
            <Text Style="background-color:red;"
                  Typography="Typo.body1">
                Item Type Not Found
            </Text>
        </DivPad5>
    </Div>
</Div>
<Div Class="row" 
     KeyDown="Enter">
    <Div Class="col-4">
        <DivPad5>
            <RowStack>
                <TextField Label="Quick Jump"
                           SelectedText="@DomainItemQuickJump"
                           SelectedTextChanged="@((p) => DomainItemQuickJump = p)" />
                <CustomButton ButtonType="MudBlazor.ButtonType.Button"
                              OnClick="QuickJump"
                              Size="MudBlazor.Size.Small"
                              Text="Go" />
            </RowStack>
        </DivPad5>                
    </Div>
</Div>
<Div Class="row">
    <Iterations Items="Model.Items" Context="item">
        <Div Class="col-4">
            <DomainItemCard Description="@item.Description"
                            ImageFileName="@item.ImageFileName"
                            Page="@item.Page"
                            Title="@item.Title" />
        </Div>  
    </Iterations>
</Div>
