<div class="row">
    <div class="col-md-4">
        <DivPad5>
            <Content>
                <span hidden="@(!_displayItemTypeNotFound)"
                      style="background-color:red;">
                    Item Type Not Found
                </span>
            </Content>
        </DivPad5>
    </div>
</div>
<div class="row" @onkeydown="@Enter">
    <div class="col-md-4">
        <DivPad5>
            <Content> 
                <div style="display:flex">
                    <TextField Label="Quick Jump"
                               SelectedText="@DomainItemQuickJump"
                               SelectedTextChanged="@((p) => DomainItemQuickJump = p)" />
                    <CustomButton ButtonType="MudBlazor.ButtonType.Button"
                                  OnClick="QuickJump"
                                  Size="MudBlazor.Size.Small"
                                  Text="Go" />
                </div>                             
            </Content>                    
        </DivPad5>                
    </div>
</div>
<div class="row">
    <Iterations Items="Model.Items" Context="item">
        <div class="col-md-4">
            <DomainItemCard Description="@item.Description"
                            ImageFileName="@item.ImageFileName"
                            Page="@item.Page"
                            Title="@item.Title" />
        </div>  
    </Iterations>
</div>
