<DivPad2>
    <ExpansionPanel Text="Paypal">
        <Div Class="@DivClass.Row">
            <Div Class="@DivClass.Column3">
                <CustomButton Color="MudBlazor.Color.Error"
                              OnClick="CreatePaypalOrder"
                              Text="Create Paypal Order" />
            </Div>
        </Div>
    </ExpansionPanel>    
    <br />
    <ExpansionPanel Text="Stripe">
        <Div Class="@DivClass.Row">
            <Div Class="@DivClass.Column3">
                <CustomButton Color="MudBlazor.Color.Error"
                              OnClick="CreateStripeOrder"
                              Text="Create Stripe Order" />
            </Div>
        </Div>
    </ExpansionPanel>    
    <br />
    <ExpansionPanel Text="Address Single Line">
        <SingleLineAddress SelectedAddress="@Address" />
    </ExpansionPanel>
    <ExpansionPanel Text="Address Multi Line">
        <MultiLineAddress SelectedAddress="SelectedAddress" />
    </ExpansionPanel>
</DivPad2>
