<DivPad2>
    <ExpansionPanel Text="Paypal">
        <Div Class="@DivClass.Row">
            <Div Class="@DivClass.Column3">
                <CustomButton Color="MudBlazor.Color.Error"
                              OnClick="CreatePaypalOrder"
                              Text="Create Paypal Order" />
            </Div>
        </Div>
    </ExpansionPanel>    
    <br />
    <ExpansionPanel Text="Stripe">
        <Div Class="@DivClass.Row">
            <Div Class="@DivClass.Column3">
                <CustomButton Color="MudBlazor.Color.Error"
                              OnClick="CreateStripeOrder"
                              Text="Create Stripe Order" />
            </Div>
        </Div>
    </ExpansionPanel>    
    <br />
    <ExpansionPanel Text="Address Single Line">
        <DivRowFormGroup>
            <Div Class="@DivClass.Column6">
                <TextField Id="address"
                           MaxLength="250"
                           SelectedText="@Address"
                           SelectedTextChanged="@((p) => Address = p)" />
            </Div>
        </DivRowFormGroup>
    </ExpansionPanel>
    <ExpansionPanel Text="Address Multi Line">
        <DivRowFormGroup>
            <Div Class="@DivClass.Column6">
                <TextField Id="address1"
                           MaxLength="250"
                           SelectedText="@AddressLine1"
                           SelectedTextChanged="@((p) => AddressLine1 = p)" />
            </Div>
        </DivRowFormGroup>
        <DivRowFormGroup>
            <Div Class="@DivClass.Column6">
                <TextField Id="address2" 
                           MaxLength="250"
                           SelectedText="@AddressLine2"
                           SelectedTextChanged="@((p) => AddressLine2 = p)" />
            </Div>
        </DivRowFormGroup>
        <DivRowFormGroup>
            <Div Class="@DivClass.Column6">
                <TextField Id="locality"
                           MaxLength="100"
                           SelectedText="@City"
                           SelectedTextChanged="@((p) => City = p)" />
            </Div>
        </DivRowFormGroup>
        <DivRowFormGroup>
            <Div Class="@DivClass.Column3">
                <TextField Id="state"
                           MaxLength="100"
                           SelectedText="@StateProvidence"
                           SelectedTextChanged="@((p) => StateProvidence = p)" />
            </Div>
            <Div Class="@DivClass.Column3">
                <TextField Id="postCode"
                           MaxLength="12"
                           SelectedText="@PostalCode"
                           SelectedTextChanged="@((p) => PostalCode = p)" />
            </Div>
        </DivRowFormGroup>
        <DivRowFormGroup>
            <Div Class="@DivClass.Column6">
                <TextField Id="country"
                           MaxLength="150"
                           SelectedText="@CountryRegion"
                           SelectedTextChanged="@((p) => CountryRegion = p)" />
            </Div>
        </DivRowFormGroup>
    </ExpansionPanel>
</DivPad2>
