<DivPad2>
    <ExpansionPanel Text="Paypal">
        <Div Class="@DivClass.Row">
            <Div Class="@DivClass.Column3">
                <CustomButton Color="MudBlazor.Color.Error"
                              OnClick="CreatePaypalOrder"
                              Text="Create Paypal Order" />
            </Div>
        </Div>
    </ExpansionPanel>    
    <br />
    <ExpansionPanel Text="Stripe">
        <Div Class="@DivClass.Row">
            <Div Class="@DivClass.Column3">
                <CustomButton Color="MudBlazor.Color.Error"
                              OnClick="CreateStripeOrder"
                              Text="Create Stripe Order" />
            </Div>
        </Div>
    </ExpansionPanel>    
    <br />
    <ExpansionPanel Text="DateTimeOffset Tests">
        <MudDatePicker @bind-Date="SampleDate"
                       DateFormat="MM/dd/yyyy"
                       Editable="true"
                       Label="Sample Date"
                       Mask="@(new DateMask("MM/dd/yyyy"))"
                       Variant="Variant.Outlined" />
        <br />
        <Div Class="@DivClass.Row">
            <Div Class="@DivClass.Column3">
                <CustomButton Color="MudBlazor.Color.Error"
                              OnClick="DateTest"
                              Text="Test" />
            </Div>
        </Div>
    </ExpansionPanel>
</DivPad2>
