<MudDialog Style="max-height:85vh;">
    <DialogContent>
        <DivPad2>
            <Div Class="row">
                <Div Class="col-3">
                    <NullableDecimalField Label="Fee/Donation ($)"
                                          Value="ThroughTheMailMemorabilia.Cost"
                                          ValueChanged="@((p) => ThroughTheMailMemorabilia.Cost = p)" />
                </Div>
                <Div Class="col-3">
                    <Switch Checked="ThroughTheMailMemorabilia.IsExtraReceived"
                            CheckedChanged="(p) => ThroughTheMailMemorabilia.IsExtraReceived = p"
                            Label="Was Extra Received?" />
                </Div>
                <Div Class="col-3">
                    <Condition Evaluation="@(ThroughTheMailMemorabilia.MemorabiliaId > 0)">
                        <Match>
                            <MudTooltip Text="Remove link to Memorabilia">
                                <MudFab Color="MudBlazor.Color.Secondary"
                                        Icon="@Icons.Material.Outlined.LinkOff"
                                        OnClick="@(_ => ThroughTheMailMemorabilia.MemorabiliaId = 0)" />
                            </MudTooltip>
                        </Match>
                        <NotMatch>
                            <MudTooltip Text="Link to Memorabilia">
                                <MudFab Color="MudBlazor.Color.Secondary"
                                        Icon="@Icons.Material.Outlined.AddLink"
                                        OnClick="@(_ => AddMemorabiliaLink())" />
                            </MudTooltip>
                        </NotMatch>
                    </Condition>
                </Div>
                <Condition Evaluation="@(ThroughTheMailMemorabilia.MemorabiliaId > 0)">
                    <Match>
                        <Div Class="col-3">
                            <MudImage Class="rounded-lg can-click"
                                      Elevation="5"
                                      Height="100"
                                      ObjectFit="@ObjectFit.Cover"
                                      Src="@(ImageService.GetUserImageData(ThroughTheMailMemorabilia.MemorabiliaImageFileName))"
                                      Width="100" />
                        </Div>
                    </Match>
                </Condition>
            </Div>
        </DivPad2>
    </DialogContent>
    <DialogActions>
        <CancelButton OnClick="Cancel" />
        <AddButton OnClick="Add"
                   Text="Add" />
    </DialogActions>
</MudDialog>
