<MudDialog Style="@Style.Dialog">
    <DialogContent>
        <DivPad2>
            <Div Class="@DivClass.Row">
                <Div Class="@DivClass.Column3">
                    <NullableDecimalField Label="Fee/Donation ($)"
                                          Value="ThroughTheMailMemorabilia.Cost"
                                          ValueChanged="@((p) => ThroughTheMailMemorabilia.Cost = p)" />
                </Div>
                <Div Class="@DivClass.Column3">
                    <Switch Checked="ThroughTheMailMemorabilia.IsExtraReceived"
                            CheckedChanged="(p) => ThroughTheMailMemorabilia.IsExtraReceived = p"
                            Label="Was Extra Received?" />
                </Div>
                <Div Class="@DivClass.Column3">
                    <Fab Color="MudBlazor.Color.Secondary"
                         OnClick="@(_ => ThroughTheMailMemorabilia.AutographId = 0)"
                         StartIcon="@Icons.Material.Outlined.LinkOff"
                         TooltipText="Remove link to Autograph"
                         Visible="@(ThroughTheMailMemorabilia.AutographId > 0)" />
                    <Fab Color="MudBlazor.Color.Secondary"
                         OnClick="@(_ => AddAutographLink())"
                         StartIcon="@Icons.Material.Outlined.AddLink"
                         TooltipText="Link to Autograph"
                         Visible="@(ThroughTheMailMemorabilia.AutographId <= 0)" />
                </Div>
                <Div Class="@DivClass.Column3"
                     Visible="@(ThroughTheMailMemorabilia.AutographId > 0)">
                    <Image Height="100"
                           ImageData="@(ImageService.GetUserImageData(ThroughTheMailMemorabilia.AutographImageFileName))"
                           Width="100" />
                </Div>
            </Div>            
        </DivPad2>
    </DialogContent>
    <DialogActions>
        <CancelButton OnClick="Cancel" />
        <AddButton OnClick="Add"
                   Text="Add" />
    </DialogActions>
</MudDialog>
