<MudDialog Style="max-height:85vh;">
    <DialogContent>
        <DivPad2>
            <Div Class="row">
                <Div Class="col-3">
                    <NullableDecimalField Label="Fee/Donation ($)"
                                          Value="ThroughTheMailMemorabilia.Cost"
                                          ValueChanged="@((p) => ThroughTheMailMemorabilia.Cost = p)" />
                </Div>
                <Div Class="col-3">
                    <Switch Checked="ThroughTheMailMemorabilia.IsExtraReceived"
                            CheckedChanged="(p) => ThroughTheMailMemorabilia.IsExtraReceived = p"
                            Label="Was Extra Received?" />
                </Div>
                <Div Class="col-3">
                    <Fab Color="MudBlazor.Color.Secondary"
                         OnClick="@(_ => ThroughTheMailMemorabilia.MemorabiliaId = 0)"
                         StartIcon="@Icons.Material.Outlined.LinkOff"
                         TooltipText="Remove link to Memorabilia"
                         Visible="@(ThroughTheMailMemorabilia.MemorabiliaId > 0)" />
                    <Fab Color="MudBlazor.Color.Secondary"
                         OnClick="@(_ => AddMemorabiliaLink())"
                         StartIcon="@Icons.Material.Outlined.AddLink"
                         TooltipText="Link to Memorabilia"
                         Visible="@(ThroughTheMailMemorabilia.MemorabiliaId <= 0)" />
                </Div>
                <Div Class="col-3"
                     Visible="@(ThroughTheMailMemorabilia.MemorabiliaId > 0)">
                    <Image Height="100"
                           ImageData="@(ImageService.GetUserImageData(ThroughTheMailMemorabilia.MemorabiliaImageFileName))"
                           Width="100" />
                </Div>
            </Div>
        </DivPad2>
    </DialogContent>
    <DialogActions>
        <CancelButton OnClick="Cancel" />
        <AddButton OnClick="Add"
                   Text="Add" />
    </DialogActions>
</MudDialog>
