@page "/Memorabilia/Bat/Edit/{memorabiliaId:int}"

@using Memorabilia.Application.Features.Admin.ItemTypeBrand
@using Memorabilia.Application.Features.Admin.People
@using Memorabilia.Application.Features.Admin.Teams
@using Memorabilia.Application.Features.Memorabilia.Bat
@using Memorabilia.Web.Controls.DropDowns
@using Memorabilia.Web.Controls.MemorabiliaItem
@using Memorabilia.Web.Controls.Person
@using Memorabilia.Web.Controls.Team

<EditPage ContinueNavigationPath="@_viewModel.ContinueNavigationPath"
          EditMode="_viewModel.EditModeType"
          ExitNavigationPath="@_viewModel.ExitNavigationPath"
          ImagePath="@_viewModel.ImagePath"
          ItemName="@_viewModel.ItemType.Name"
          Model="_viewModel"
          OnLoad="OnLoad"
          OnSave="OnSave"
          PageFooterButtonText="@_viewModel.ExitButtonText"
          PageFooterNavigationPath="@_viewModel.ExitNavigationPath"
          PageTitle="@_viewModel.PageTitle"
          TItem="SaveBatViewModel"
          UseMultipleButtons="true">
    <TimelineContent>
        <MemorabiliaItemTimeline EditMode="_viewModel.EditModeType"
                                 ItemTypeName="@_viewModel.ItemType.Name"
                                 MemorabiliaId="_viewModel.MemorabiliaId"
                                 MemorabiliaItemStep="_viewModel.MemorabiliaItemStep" />
    </TimelineContent>
    <Content>
        <DivRowCol3>
            <Content>
                <ItemTypeBrandDropDown @bind-Value="@_viewModel.BrandId" 
                                       @bind-Value:event="ValueChanged"
                                       ItemType="_viewModel.ItemType"
                                       SelectedValue="_viewModel.BrandId" />
            </Content>
            <ContentColumn2>
                <ItemTypeSizeDropDown @bind-Value="@_viewModel.SizeId"
                                      @bind-Value:event="ValueChanged" 
                                      ItemType="_viewModel.ItemType"
                                      SelectedValue="@_viewModel.SizeId" /> 
            </ContentColumn2>
        </DivRowCol3>
        <DivRowCol3>
            <Content>
                <MudSelect @bind-Value="@_viewModel.BatTypeId"
                           @bind-Value:event="ValueChanged"    
                           Label="Bat Type"
                           Variant="Variant.Outlined" >
                    <MudSelectItem Value="@(0)">--Select--</MudSelectItem>
                    <Iterations Items="_viewModel.BatTypes" Context="batType">
                        <MudSelectItem Value="@batType.Id">@batType.Name</MudSelectItem>
                    </Iterations>	
                </MudSelect>
            </Content>
            <ContentColumn2>
                <MudSelect @bind-Value="@_viewModel.GameStyleTypeId"
                           @bind-Value:event="ValueChanged"    
                           Label="Game Style Type"
                           Variant="Variant.Outlined" >
                    <MudSelectItem Value="@(0)">--Select--</MudSelectItem>
                    <Iterations Items="_viewModel.GameStyleTypes" Context="gameStyleType">
                        <MudSelectItem Value="@gameStyleType.Id">@gameStyleType.Name</MudSelectItem>
                    </Iterations>	
                </MudSelect>
            </ContentColumn2>
        </DivRowCol3>
        <DivRowCol3>
            <ContentColumn2>
                <div hidden="@(!_viewModel.DisplayGameDate)">
                    <MudDatePicker @bind-Date="_viewModel.GameDate"
                                   DateFormat="MM/dd/yyyy"
                                   Editable="true"
                                   Label="Game Date"
                                   Mask="@(new DateMask("MM/dd/yyyy"))" 
                                   Variant="Variant.Outlined" />
                </div> 
            </ContentColumn2>
        </DivRowCol3>
        <DivRowCol3>
            <Content>
                <MudSelect @bind-Value="@_viewModel.ColorId"
                           @bind-Value:event="ValueChanged"    
                           Label="Color"
                           Variant="Variant.Outlined" >
                    <MudSelectItem Value="@(0)">--Select--</MudSelectItem>
                    <Iterations Items="_viewModel.Colors" Context="color">
                        <MudSelectItem Value="@color.Id">@color.Name</MudSelectItem>
                    </Iterations>	
                </MudSelect>
            </Content>
            <ContentColumn2>
                <MudNumericField @bind-Value="_viewModel.Length" 
                                 Label="Length" 
                                 Variant="Variant.Outlined" />
            </ContentColumn2>
        </DivRowCol3>
        <PersonSelector CanFilterBySport="true"
                        CanToggle="true"
                        ItemType="_viewModel.ItemType"
                        SelectedPerson="_viewModel.Person"
                        SelectedPersonChanged="SelectedPersonChanged"
                        Sport="_viewModel.Sport" />                 
        <TeamSelector CanToggle="true" 
                      ItemType="_viewModel.ItemType"
                      SelectedTeam="_viewModel.Team"
                      SelectedTeamChanged="SelectedTeamChanged"
                      SportLeagueLevel="_viewModel.SportLeagueLevel" />
    </Content>
</EditPage>