@inherits AutographItem<AuthenticationEditModel>

<PageLoader IsLoading="@(!IsLoaded)">
    <PageEditor EditModel="EditModel"
                OnSave="Save"
                PageImageFileName="@EditModel.ImageFileName"
                TItem="AuthenticationsEditModel">
        <TimelineContent>
            <AutographTimeline AutographId="EditModel.AutographId"
                               AutographStep="EditModel.AutographStep"
                               DisplaySpot="EditModel.CanHaveSpot"
                               EditMode="EditModel.EditModeType"
                               MemorabiliaId="EditModel.MemorabiliaId" />
        </TimelineContent>
        <ImagePreview>
            <Condition Evaluation="EditModel.HasMemorabiliaImages">
                <Match>
                    <DivRowCol12Center>
                        <ViewMemorabiliaImagesButton MemorabiliaId="EditModel.MemorabiliaId" />
                    </DivRowCol12Center>
                </Match>
            </Condition>
        </ImagePreview>
        <ChildContent>
            <DivRowFormGroup Style="margin-top:1%;margin-bottom:1%;">
                <MudStack Class="col-12"
                          Row="true"
                          Style="margin-bottom:1%;">
                    <AuthenticationCompanyDropDown Disabled="@(EditMode == EditModeType.Update)"
                                                   SelectedValue="Model.AuthenticationCompanyId"
                                                   SelectionChanged="(p) => Model.AuthenticationCompanyId = p" />
                    <TextField Label="Verification"
                               SelectedText="@Model.Verification"
                               SelectedTextChanged="@((p) => Model.Verification = p)" />
                    <AddUpdateMudFab EditMode="EditMode"
                                     OnAdd="Add"
                                     OnUpdate="Update" />
                </MudStack>
                <Div Class="col-4">
                </Div>
            </DivRowFormGroup>
            <DivRowFormGroup Style="margin-top:1%;margin-bottom:1%;">
                <MudStack Class="col-12"
                          Row="true"
                          Style="margin-bottom:1%;">
                    <MudSwitch Checked="@Model.HasHologram"
                               CheckedChanged="(p) => Model.HasHologram = p"
                               Color="MudBlazor.Color.Success"
                               Label="Has Hologram?"
                               T="bool" />
                    <MudSwitch Checked="@Model.HasCertificationCard"
                               CheckedChanged="(p) => Model.HasCertificationCard = p"
                               Color="MudBlazor.Color.Success"
                               Label="Has Cert Card?"
                               T="bool" />
                    <MudSwitch Checked="@Model.HasLetter"
                               CheckedChanged="(p) => Model.HasLetter = p"
                               Color="MudBlazor.Color.Success"
                               Label="Has LOA?"
                               T="bool" />
                    <MudSwitch Checked="@Model.Witnessed"
                               CheckedChanged="(p) => Model.Witnessed = p"
                               Color="MudBlazor.Color.Success"
                               Label="Was Witnessed?"
                               T="bool" />
                </MudStack>
            </DivRowFormGroup>
            <DivRowCol12>
                <MudTable Bordered="false"
                          Dense="false"
                          Hover="true"
                          Items="@EditModel.Authentications.Where(authentication => !authentication.IsDeleted)"
                          Striped="true">
                    <ToolBarContent>
                        <MudText Typo="Typo.h6">Authentications</MudText>
                    </ToolBarContent>
                    <HeaderContent>
                        <MudTh>Authentication Company</MudTh>
                        <MudTh>Has Certification Card</MudTh>
                        <MudTh>Has Hologram</MudTh>
                        <MudTh>Has Letter</MudTh>
                        <MudTh>Verification</MudTh>
                        <MudTh>Witnessed</MudTh>
                        <MudTh></MudTh>
                    </HeaderContent>
                    <RowTemplate Context="authentication">
                        <MudTd DataLabel="Authentication Company">
                            <Condition Evaluation="authentication.CanNavigateToWebsite">
                                <Match>
                                    <MudLink Href="@(authentication.VerificationWebsiteLink)" Target="_blank">@authentication.VerificationWebsiteLinkText</MudLink>
                                </Match>
                                <NotMatch>
                                    @authentication.AuthenticationCompanyName
                                </NotMatch>
                            </Condition>
                        </MudTd>
                        <MudTd DataLabel="Has Certification Card">@(authentication.HasCertificationCard ? "Yes" : "No")</MudTd>
                            <MudTd DataLabel="Has Hologram">@(authentication.HasHologram ? "Yes" : "No")</MudTd>
                            <MudTd DataLabel="Has Letter">@(authentication.HasLetter ? "Yes" : "No")</MudTd>
                            <MudTd DataLabel="Verification">@authentication.Verification</MudTd>
                            <MudTd DataLabel="Witnessed">@(authentication.Witnessed ? "Yes" : "No")</MudTd>
                            <MudTd DataLabel="">
                                <MudTooltip Text="Edit">
                                    <MudFab Color="MudBlazor.Color.Primary"
                                        Icon="@Icons.Material.Outlined.ModeEditOutline"
                                        OnClick="@(_ => Edit(authentication))" />
                                </MudTooltip>
                                <MudTooltip Text="Delete">
                                    <MudFab Color="MudBlazor.Color.Secondary"
                                        Icon="@Icons.Material.Outlined.DeleteOutline"
                                        OnClick="@(_ => authentication.IsDeleted = true)" />
                                </MudTooltip>
                            </MudTd>
                        </RowTemplate>
                    </MudTable>
                </DivRowCol12>
                <br />
            </ChildContent>
    </PageEditor>
</PageLoader>

