@inherits EditPersonItem<SavePersonHallOfFamesViewModel, PersonHallOfFameViewModel>

<EditPage ContinueNavigationPath="@ViewModel.ContinueNavigationPath"
          EditMode="ViewModel.EditModeType"
          ExitNavigationPath="@ViewModel.ExitNavigationPath"
          ImageFileName="@ViewModel.ImageFileName"
          ItemName="@ViewModel.ItemTitle"
          Model="ViewModel"
          OnLoad="OnLoad"
          OnSave="HandleValidSubmit"
          PageFooterButtonText="@ViewModel.ExitButtonText"
          PageFooterNavigationPath="@ViewModel.BackNavigationPath"
          PageTitle="@ViewModel.PageTitle"
          PerformValidation="PerformValidation"
          TItem="SavePersonHallOfFamesViewModel"
          UseMultipleButtons="true"
          ValidationResult="@ViewModel.ValidationResult">
    <TimelineContent>
        <PersonTimeline EditMode="ViewModel.EditModeType"
                        PersonId="ViewModel.PersonId"
                        PersonStep="ViewModel.PersonStep" />
    </TimelineContent>
    <Content>
        <div style="margin-bottom:1%;">
            <MudTabs ApplyEffectsToContainer="true"
                     Centered="true"
                     Elevation="2"
                     PanelClass="pa-6"
                     Rounded="true">
                <MudTabPanel BadgeColor="MudBlazor.Color.Success"
                             BadgeData="ViewModel.HallOfFames.Count(hof => !hof.IsDeleted)"
                             Text="Sports">
                    <DivRowCol12>
                        <Content>
                            <PersonHallOfFameEditor HallOfFames="ViewModel.HallOfFames"
                                                    SportLeagueLevels="ViewModel.SportLeagueLevels" />
                        </Content>
                    </DivRowCol12>
                </MudTabPanel>
                <MudTabPanel BadgeColor="MudBlazor.Color.Success"
                             BadgeData="ViewModel.FranchiseHallOfFames.Count(hof => !hof.IsDeleted)"
                             Text="Franchises">
                    <DivRowCol12>
                        <Content>
                            <PersonFranchiseHallOfFameEditor FranchiseHallOfFames="ViewModel.FranchiseHallOfFames"
                                                             Sports="ViewModel.Sports" />
                        </Content>
                    </DivRowCol12>
                </MudTabPanel>
                <MudTabPanel BadgeColor="MudBlazor.Color.Success"
                             BadgeData="ViewModel.CollegeHallOfFames.Count(hof => !hof.IsDeleted)"
                             Text="College">
                    <DivRowCol12>
                        <Content>
                            <PersonCollegeHallOfFameEditor CollegeHallOfFames="ViewModel.CollegeHallOfFames" />
                        </Content>
                    </DivRowCol12>
                </MudTabPanel>
                <MudTabPanel BadgeColor="MudBlazor.Color.Success"
                             BadgeData="ViewModel.InternationalHallOfFames.Count(hof => !hof.IsDeleted)"
                             Text="International">
                    <DivRowCol12>
                        <Content>
                            <PersonInternationalHallOfFameEditor InternationalHallOfFames="ViewModel.InternationalHallOfFames" />
                        </Content>
                    </DivRowCol12>
                </MudTabPanel>
            </MudTabs>
        </div>
    </Content>
</EditPage>