@inherits EditPersonItem<PersonOccupationsEditModel, PersonOccupationModel>

<EditPage ContinueNavigationPath="@EditModel.ContinueNavigationPath"
          EditMode="EditModel.EditModeType"
          ExitNavigationPath="@EditModel.ExitNavigationPath"
          ImageFileName="@EditModel.ImageFileName"
          ItemName="@EditModel.ItemTitle"
          Model="EditModel"
          OnLoad="OnLoad"
          OnSave="HandleValidSubmit"
          PageFooterButtonText="@EditModel.ExitButtonText"
          PageFooterNavigationPath="@EditModel.BackNavigationPath"
          PageTitle="@EditModel.PageTitle"
          TItem="PersonOccupationsEditModel"
          UseMultipleButtons="true">
    <TimelineContent>
        <PersonTimeline EditMode="EditModel.EditModeType"
                        PersonId="EditModel.PersonId"
                        PersonStep="EditModel.PersonStep" />
    </TimelineContent>
    <Content>
        <div class="d-flex justify-content-between" style="width:100%">
            <div style="width:48%">
                <MudTabs ApplyEffectsToContainer="true"
                         Centered="true"
                         Elevation="2"
                         PanelClass="pa-6"
                         Rounded="true">
                    <MudTabPanel BadgeColor="MudBlazor.Color.Success"
                                 BadgeData="EditModel.Occupations.Count(occupation => !occupation.IsDeleted)"
                                 Text="Occupations">
                        <DivRowCol12>
                            <Content>
                                <PersonOccupationSelector Occupations="EditModel.Occupations"
                                                          OnOccupationChange="@(() => StateHasChanged())" />
                            </Content>
                        </DivRowCol12>
                    </MudTabPanel>
                    <Condition Evaluation="@EditModel.HasAthleteOccupation">
                        <Match>
                            <MudTabPanel BadgeColor="MudBlazor.Color.Success"
                                         BadgeData="EditModel.Sports.Count(sport => !sport.IsDeleted)"
                                         Text="Sports">
                                <DivRowCol12>
                                    <Content>
                                        <PersonSportEditor OnSportChange="@(() => StateHasChanged())"
                                                           Sports="EditModel.Sports" />
                                    </Content>
                                </DivRowCol12>
                            </MudTabPanel>
                        </Match>
                    </Condition>
                    <Condition Evaluation="@EditModel.HasPositionSport">
                        <Match>
                            <MudTabPanel BadgeColor="MudBlazor.Color.Success"
                                         BadgeData="EditModel.Positions.Count(position => !position.IsDeleted)"
                                         Text="Positions">
                                <DivRowCol12>
                                    <Content>
                                        <PersonPositionEditor Positions="EditModel.Positions"
                                                              Sports="@(EditModel.Sports.Select(sport => sport.Sport).ToArray())" />
                                    </Content>
                                </DivRowCol12>
                            </MudTabPanel>
                        </Match>                        
                    </Condition>                    
                </MudTabs>
            </div>
            <div style="width:48%">
                <PersonRecentOccupationSelector OnRecentOccupationChange="OnRecentOccupationChange"
                                                RecentOccupations="RecentPersonOccupations" />
            </div>        
        </div>
    </Content>
</EditPage>