@inherits EditItem<SavePersonViewModel, PersonViewModel>

<EditPage ContinueNavigationPath="@ViewModel.ContinueNavigationPath"
          EditMode="ViewModel.EditModeType"
          ExitNavigationPath="@ViewModel.ExitNavigationPath"
          ImageFileName="@ViewModel.ImageFileName"
          ItemName="@ViewModel.ItemTitle"
          Model="ViewModel"
          OnLoad="OnLoad"
          OnSave="HandleValidSubmit"
          PageFooterButtonText="@ViewModel.ExitButtonText"
          PageFooterNavigationPath="@ViewModel.BackNavigationPath"
          PageTitle="@ViewModel.PageTitle"
          PerformValidation="PerformValidation"
          TItem="SavePersonViewModel"
          UseMultipleButtons="true"
          ValidationResult="@ViewModel.ValidationResult">
    <TimelineContent>
        <PersonTimeline EditMode="ViewModel.EditModeType"
                        PersonId="ViewModel.Id"
                        PersonStep="ViewModel.PersonStep" />
    </TimelineContent>
    <Content>   
        <div style="margin-bottom:1%;">
            <MudTabs ApplyEffectsToContainer="true"
                     Centered="true"
                     Elevation="2"
                     PanelClass="pa-6"
                     Rounded="true">
                <MudTabPanel Text="Details">
                    <DivRowCol3>
                        <Content>
                            <TextField Label="First Name"
                                       MaxLength="50"
                                       OnBlur="OnNameFieldBlur"
                                       SelectedText="@ViewModel.FirstName"
                                       SelectedTextChanged="@((p) => ViewModel.FirstName = p)" />
                        </Content>
                        <ContentColumn2>
                            <TextField Label="Middle Name"
                                       MaxLength="50"
                                       SelectedText="@ViewModel.MiddleName"
                                       SelectedTextChanged="@((p) => ViewModel.MiddleName = p)" />
                        </ContentColumn2>
                        <ContentColumn3>
                            <TextField Label="Last Name"
                                       MaxLength="50"
                                       OnBlur="OnNameFieldBlur"
                                       SelectedText="@ViewModel.LastName"
                                       SelectedTextChanged="@((p) => ViewModel.LastName = p)" />
                        </ContentColumn3>
                        <ContentColumn4>
                            <TextField Label="Suffix"
                                       MaxLength="25"
                                       OnBlur="OnNameFieldBlur"
                                       SelectedText="@ViewModel.Suffix"
                                       SelectedTextChanged="@((p) => ViewModel.Suffix = p)" />
                        </ContentColumn4>
                    </DivRowCol3>
                    <DivRowCol3>
                        <Content>
                            <TextField Label="Calling Name"
                                       MaxLength="50"
                                       OnBlur="OnNameFieldBlur"
                                       SelectedText="@ViewModel.Nickname"
                                       SelectedTextChanged="@((p) => ViewModel.Nickname = p)" />
                        </Content>
                        <ContentColumn2>
                            <TextField Label="Legal Name"
                                       MaxLength="225"
                                       SelectedText="@ViewModel.LegalName"
                                       SelectedTextChanged="@((p) => ViewModel.LegalName = p)" />
                        </ContentColumn2>
                        <ContentColumn3>
                            <TextField Label="Display Name"
                                       MaxLength="225"
                                       SelectedText="@ViewModel.DisplayName"
                                       SelectedTextChanged="@((p) => ViewModel.DisplayName = p)" />
                        </ContentColumn3>
                        <ContentColumn4>
                            <TextField Label="Profile Name"
                                       MaxLength="225"
                                       SelectedText="@ViewModel.ProfileName"
                                       SelectedTextChanged="@((p) => ViewModel.ProfileName = p)" />
                        </ContentColumn4>
                    </DivRowCol3>
                    <DivRowCol3>
                        <Content>
                            <MudDatePicker @bind-Date="ViewModel.BirthDate"
                                           DateFormat="MM/dd/yyyy"
                                           Editable="true"
                                           Label="Birth Date"
                                           Mask="@(new DateMask("MM/dd/yyyy"))"
                                           Variant="Variant.Outlined" />
                        </Content>
                        <ContentColumn2>
                            <MudDatePicker @bind-Date="ViewModel.DeathDate"
                                           DateFormat="MM/dd/yyyy"
                                           Editable="true"
                                           Label="Death Date"
                                           Mask="@(new DateMask("MM/dd/yyyy"))"
                                           Variant="Variant.Outlined" />
                        </ContentColumn2>
                    </DivRowCol3>
                </MudTabPanel>
                <MudTabPanel BadgeColor="MudBlazor.Color.Success"
                             BadgeData="ViewModel.Nicknames.Count(nickname => !nickname.IsDeleted)"
                             Text="Nicknames">
                    <DivRowCol12>
                        <Content>
                            <PersonNicknameEditor Nicknames="ViewModel.Nicknames" />
                        </Content>
                    </DivRowCol12>
                </MudTabPanel>
            </MudTabs>
        </div>        
    </Content>
</EditPage>