@inherits EditPersonItem<PersonImageEditModel, PersonImageModel>

<PageLoader IsLoading="@(!IsLoaded)">
    <PageEditor DisplayBackToMenuItemLink="true"
                DisplaySaveContinueButton="false"
                EditModel="EditModel"              
                MenuItemLinkText="Back to View People"
                MenuItemPath="@EditModel.MenuItemPath"        
                PageImageFileName="@EditModel.ImageFileName"
                TItem="PersonImageEditModel">
        <TimelineContent>
            <PersonTimeline EditMode="EditModel.EditModeType"
                            PersonId="EditModel.PersonId"
                            PersonStep="EditModel.PersonStep" />
        </TimelineContent>
        <ChildContent>
            <DivRowCol12Center>
                <InputFile id="fileInput"
                           accept="image/*"
                           hidden
                           OnChange="@LoadFile" />
                <MudFab Color="MudBlazor.Color.Secondary"
                        HtmlTag="label"
                        Icon="@Icons.Material.Filled.Image"
                        Label="Load picture"
                        for="fileInput" />                
            </DivRowCol12Center>
            <br />
            <DivRowCol12Center>
                <Condition Evaluation="_hasImage">
                    <Match>
                        <Div Class="col-3">
                            <ImageEditor CanRemove="true"
                                         HasPrimary="false"
                                         ImageFileName="@EditModel.PersonImageFileName"
                                         ImageRootType="ImageRootType.People"
                                         ImageType="ImageType.Primary"
                                         OnRemove="Remove" />
                        </Div>                        
                    </Match>
                </Condition>
            </DivRowCol12Center>
        </ChildContent>
        <AdditionalButtons>
            <SaveButton OnClick="Save"
                        Text="Save & Return to People" />
        </AdditionalButtons>
    </PageEditor>
</PageLoader>


