@inherits EditPersonItem<SavePersonSportServiceViewModel, PersonSportServiceViewModel>

<EditPage ContinueNavigationPath="@ViewModel.ContinueNavigationPath"
          DomainImageRootPath="@DomainImageRootPath"
          EditMode="ViewModel.EditModeType"
          ExitNavigationPath="@ViewModel.ExitNavigationPath"
          ImageFileName="@ViewModel.ImageFileName"
          ItemName="@ViewModel.ItemTitle"
          Model="ViewModel"
          OnLoad="OnLoad"
          OnSave="HandleValidSubmit"
          PageFooterButtonText="@ViewModel.ExitButtonText"
          PageFooterNavigationPath="@ViewModel.BackNavigationPath"
          PageTitle="@ViewModel.PageTitle"
          TItem="SavePersonSportServiceViewModel"
          UseMultipleButtons="true">
    <TimelineContent>
        <PersonTimeline EditMode="ViewModel.EditModeType"
                        PersonId="ViewModel.PersonId"
                        PersonStep="ViewModel.PersonStep" />
    </TimelineContent>
    <Content>  
        <div style="margin-bottom:1%;">
            <MudTabs ApplyEffectsToContainer="true"
                     Centered="true"
                     Elevation="2"
                     PanelClass="pa-6"
                     Rounded="true">
                <MudTabPanel BadgeColor="MudBlazor.Color.Success" 
                             BadgeData="ViewModel.Colleges.Count(college => !college.IsDeleted)"
                             Text="Colleges">
                    <DivRowCol12>
                        <Content>
                            <PersonCollegeEditor Colleges="ViewModel.Colleges" />
                        </Content>
                    </DivRowCol12>
                </MudTabPanel>
                <MudTabPanel BadgeColor="MudBlazor.Color.Success"
                             BadgeData="ViewModel.Drafts.Count(draft => !draft.IsDeleted)"
                             Text="Drafts">
                    <DivRowCol12>
                        <Content>
                            <PersonDraftEditor Drafts="ViewModel.Drafts"
                                               SportIds="ViewModel.SportIds" />
                        </Content>
                    </DivRowCol12>
                </MudTabPanel>
                <MudTabPanel Text="Service">
                    <DivRowCol3>
                        <Content>
                            <MudDatePicker @bind-Date="ViewModel.DebutDate"
                                           DateFormat="MM/dd/yyyy"
                                           Editable="true"
                                           Label="Debut Date"
                                           Mask="@(new DateMask("MM/dd/yyyy"))"
                                           Variant="Variant.Outlined" />
                        </Content>
                        <ContentColumn2>
                            <MudDatePicker @bind-Date="ViewModel.LastAppearanceDate"
                                           DateFormat="MM/dd/yyyy"
                                           Editable="true"
                                           Label="Last Appearance Date"
                                           Mask="@(new DateMask("MM/dd/yyyy"))"
                                           Variant="Variant.Outlined" />
                        </ContentColumn2>
                        <ContentColumn3>
                            <MudDatePicker @bind-Date="ViewModel.FreeAgentSigningDate"
                                           DateFormat="MM/dd/yyyy"
                                           Editable="true"
                                           Label="Free Agent Signing Date"
                                           Mask="@(new DateMask("MM/dd/yyyy"))"
                                           Variant="Variant.Outlined" />
                        </ContentColumn3>
                    </DivRowCol3>
                </MudTabPanel>
            </MudTabs>
        </div>              
    </Content>
</EditPage>