<Div Style="border: 1px solid black;border-radius:25px; margin-top:1%;margin-bottom:1%;margin-left:1%;margin-right:1%;">
    <DivPad5>
        <Div Class="row" 
             Style="text-align:center;margin-bottom:2%;">
             <Text>
                <b>@Title</b>@_price
                <br />
             </Text>            
        </Div>
        <Iterations Context="feature"
                    Items="Constant.Feature.All">
            <RowStack>
                <Image Height="15"
                       ImageData="@(Features.Contains(feature) ? ImageService.GetDomainImageData(Constant.ImageFileName.GreenCheckmark)
                                                               : ImageService.GetDomainImageData(Constant.ImageFileName.RedX))"
                       Width="15" />
                @feature.Name
                <Image AllowNavigation="true"
                       Height="15"
                       ImageData="@(ImageService.GetDomainImageData(Constant.ImageFileName.Information))"
                       OnClick="@(() => ShowDescription(feature))"
                       TooltipText="View Description"
                       Width="15" />
            </RowStack>
        </Iterations>
        <br />
        <DivPad5>
            <DivRowFormGroup>
                <CustomButton ButtonType="ButtonType.Button"
                              OnClick="Select"
                              Text="Select"
                              Visible="@_canSelect" />
                <Text Visible="@(!_canSelect)">
                    <b>Your current subscription.</b>
                    <br />
                </Text>
            </DivRowFormGroup>
        </DivPad5>              
    </DivPad5>      
</Div>
