@page "/Teams/Edit"
@page "/Teams/Edit/{id:int}"

@using Memorabilia.Application.Features.Admin
@using Memorabilia.Application.Features.Admin.Team
@using Memorabilia.Web.Controls.Franchise
@using Memorabilia.Web.Controls.SportLeagueLevel

@inject CommandRouter _commandRouter
@inject ProtectedLocalStorage _localStorage
@inject NavigationManager _navigation
@inject QueryRouter _queryRouter
@inject IToastService _toastService

@if (_viewModel == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-12" style="text-align: center">
            <h1>@_viewModel.PageTitle</h1>
        </div>
    </div>
    <br />
    <div style="border: 1px solid black; margin-top: 2%; margin-bottom: 2%; margin-left: 2%; margin-right: 2%;">
        <div class="row" style="margin-top: 2%; margin-bottom: 2%; margin-left: 1%; margin-right: 1%;">
            <div class="col-lg-12" style="text-align: center">
                <img src="images/teams.jpg" alt="Image" height="150" width="150" />
            </div>
            <EditForm Model="_viewModel" OnValidSubmit="HandleValidSubmit">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <div hidden="@(!_displayFranchise)">
                    <div class="form-group">
                        <label for="sportLeague">Sport League</label>
                        <select @onchange="OnChangeSportLeagueLevel">
                            @foreach (var sportLeagueLevel in SportLeagueLevel.All)
                            {
                                <option value="@sportLeagueLevel.Id">@sportLeagueLevel.Name</option>
                            }
                        </select>                            
                    </div>
                    <div class="form-group">
                        <label for="franchise">Franchise</label>
                        <_FranchiseDropDown @bind-Value="@_viewModel.FranchiseId" 
                                            @bind-Value:event="ValueChanged"
                                            SportLeagueLevel="@_sportLeagueLevel" />   
                    </div>
                </div>
                <div class="form-group">
                    <label for="name">Name</label>
                    <InputText id="name" @bind-Value="_viewModel.Name" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="location">Location</label>
                    <InputText id="location" @bind-Value="_viewModel.Location" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="nickname">Nickname</label>
                    <InputText id="nickname" @bind-Value="_viewModel.Nickname" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="abbreviation">Abbreviation</label>
                    <InputText id="abbreviation" @bind-Value="_viewModel.Abbreviation" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="beginYear">Begin Year</label>
                    <InputNumber id="beginYear" @bind-Value="_viewModel.BeginYear" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="endYear">End Year</label>
                    <InputNumber id="endYear" @bind-Value="_viewModel.EndYear" class="form-control" />
                </div>
                <div class="text-right">
                    <button type="submit" class="btn btn-primary" @onclick="@(()=> _continue = true)">Save & Continue</button>
                    <button type="submit" class="btn btn-primary">Save & Exit</button>
                    <button type="button" class="btn btn-secondary" @onclick="@(_ => _navigation.NavigateTo("Teams"))">Cancel</button>
                </div>
            </EditForm>
        </div>
        <div class="row">
            <div class="col-md-12" style="text-align: center">
                <a href="Teams">Back</a>
            </div>
        </div>
        <br />
    </div>
}

@code {
    [Parameter]
    public int Id { get; set; }

    private bool _continue { get; set; }
    private bool _displayFranchise { get; set; }
    private SportLeagueLevel _sportLeagueLevel;
    private SaveTeamViewModel _viewModel = new SaveTeamViewModel();

    protected async Task HandleValidSubmit()
    {
        var command = new SaveTeam.Command(_viewModel);

        await _commandRouter.Send(command).ConfigureAwait(false);

        var nextStep = _viewModel.SportLeagueLevelId == SportLeagueLevel.MajorLeagueBaseball.Id ? "Division" : "Conference";

        var url = _continue ? $"Team/{nextStep}/Edit/{command.Id}/{_viewModel.SportLeagueLevelId}" : "Teams";

        _navigation.NavigateTo(url);

        _toastService.ShowSuccess("Team was saved successfully!", _viewModel.PageTitle);
    }

    protected override async Task OnInitializedAsync()
    {
        if (Id == 0)
        {
            _displayFranchise = true;
            _sportLeagueLevel = SportLeagueLevel.MajorLeagueBaseball;
            return;
        }

        var query = new GetTeam.Query(Id);

        _viewModel = new SaveTeamViewModel(await _queryRouter.Send(query).ConfigureAwait(false));
    }

    private void OnChangeSportLeagueLevel(ChangeEventArgs args)
    {
        _sportLeagueLevel = SportLeagueLevel.Find(int.Parse(args.Value.ToString()));
    }
}

