@page "/ItemTypeSports"

@using Memorabilia.Application.Features.Admin
@using Memorabilia.Application.Features.Admin.ItemTypeSport

@inject CommandRouter _commandRouter
@inject ProtectedLocalStorage _localStorage
@inject NavigationManager _navigation
@inject QueryRouter _queryRouter
@inject IToastService _toastService

<_Page @ref="_page" 
       ConfirmationTitle="Delete Item Type Sport" 
       OnConfirm="Delete" 
       OnLoad="OnLoad">
    <Content>
        <div class="row">
            <div class="col-md-12" style="text-align: center">
                <h1>@_viewModel.PageTitle</h1>
            </div>
        </div>
        <br />
        <_Table Items="_viewModel.ItemTypeSports" 
                ItemsPerPage="10"                     
                TItem="ItemTypeSportViewModel">
            <HeaderTemplate>
                <th scope="col">Item Type</th>
                <th scope="col">Sport</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </HeaderTemplate>
            <RowTemplate>
                <td>@context.ItemTypeName</td>
                <td>@context.SportName</td>
                <td>
                    <_Tooltip Text="Edit">
                        <img class="can-click" 
                                src="images/pencil.png" 
                                height="25" 
                                width="25" 
                                @onclick="@(_ => _navigation.NavigateTo($"{_viewModel.RoutePrefix}/Edit/{context.Id}"))" />
                    </_Tooltip>                        
                </td>
                <td>
                    <_Tooltip Text="Delete">
                        <img class="can-click" 
                                src="images/trash.png" 
                                height="25" 
                                width="25" 
                                @onclick="@(_ => _page.ShowConfirm(context.Id))" />
                    </_Tooltip>
                </td>
            </RowTemplate>
        </_Table>
        <div class="row">
            <div class="col-md-12" style="text-align: center">
                <div class="col-md-12" style="text-align: center">
                    <a href="ItemTypeSports/Edit">Add @_viewModel.ItemTitle</a>
                </div>
            </div>
        </div>
        <br />
    </Content>
</_Page>

@code {
    private _Page _page;
    private ItemTypeSportsViewModel _viewModel;

    protected async Task Delete(int id)
    {
        var deletedItem = _viewModel.ItemTypeSports.Single(ItemTypeSport => ItemTypeSport.Id == id);
        var viewModel = new SaveItemTypeSportViewModel(deletedItem);
        viewModel.IsDeleted = true;

        await _commandRouter.Send(new SaveItemTypeSport.Command(viewModel)).ConfigureAwait(false);
        
        _viewModel.ItemTypeSports.Remove(deletedItem);

        _toastService.ShowSuccess($"{_viewModel.ItemTitle} was deleted successfully!", _viewModel.PageTitle);
    }

    protected async Task OnLoad()
    {
        _viewModel = await _queryRouter.Send(new GetItemTypeSports.Query()).ConfigureAwait(false);
    }
}
