@page "/Memorabilia/Photo/Edit/{memorabiliaId:int}"

@using Memorabilia.Application.Features.Admin.Person
@using Memorabilia.Application.Features.Memorabilia
@using Memorabilia.Application.Features.Memorabilia.Photo
@using Memorabilia.Web.Controls.GameStyleType
@using Memorabilia.Web.Controls.ItemTypeBrand
@using Memorabilia.Web.Controls.ItemTypeLevel
@using Memorabilia.Web.Controls.ItemTypeSize
@using Memorabilia.Web.Controls.MemorabiliaItem
@using Memorabilia.Web.Controls.Orientation
@using Memorabilia.Web.Controls.Photo
@using Memorabilia.Web.Controls.Person
@using Memorabilia.Web.Controls.Team

@inject CommandRouter _commandRouter
@inject QueryRouter _queryRouter

<_EditMemorabiliaItem ImagePath="@_viewModel.ImagePath"
					  ItemType="_viewModel.ItemType" 
                      MemorabiliaId="MemorabiliaId"
                      Model="_viewModel"
                      OnLoad="OnLoad"
                      OnSave="OnSave"
                      PageTitle="_viewModel.PageTitle"
                      TItem="SavePhotoViewModel">
    <Content>
		<div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="brand">Brand</label>
                    <_ItemTypeBrandDropDown @bind-Value="@_viewModel.BrandId" 
                                            @bind-Value:event="ValueChanged"
                                            ItemType="_viewModel.ItemType" />
                </div> 
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="size">Size</label>
                    <_ItemTypeSizeDropDown @bind-Value="@_viewModel.SizeId"
                                           @bind-Value:event="ValueChanged" 
                                           ItemType="_viewModel.ItemType" /> 
                </div> 
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="photoType">Type</label>
                    <_PhotoTypeDropDown @bind-Value="@_viewModel.PhotoTypeId"
                                        @bind-Value:event="ValueChanged" /> 
                </div> 
            </div>
            <div class="col-lg-6">
                    <div class="form-group">
                    <label for="orientation">Orientation</label>
                    <_OrientationDropDown @bind-Value="@_viewModel.OrientationId"
                                          @bind-Value:event="ValueChanged" /> 
                </div> 
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <InputCheckbox id="framed" @bind-Value="@_viewModel.Framed" />
                    <label for="framed">Framed</label>
                </div> 
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <InputCheckbox id="matted" @bind-Value="@_viewModel.Matted" />
                    <label for="matted">Matted</label>
                </div> 
            </div>
        </div>
        <_PersonSelector AllowMultiple="true"
                         CanToggle="true"
                         ItemType="_viewModel.ItemType"
                         People="_viewModel.People" />                 
        <_TeamSelector AllowMultiple="true"
                       CanToggle="true" 
                       ItemType="_viewModel.ItemType"
                       Teams="_viewModel.Teams" />
	</Content>
</_EditMemorabiliaItem>

@code {
    [Parameter]
    public int MemorabiliaId { get; set; }

    private SavePhotoViewModel _viewModel = new SavePhotoViewModel();    

    protected async Task OnLoad()
    {
        var photoViewModel = await _queryRouter.Send(new GetPhoto.Query(MemorabiliaId)).ConfigureAwait(false);

        if (photoViewModel.Brand == null)
        {
            SetDefaults();
            return;
        }    

        _viewModel = new SavePhotoViewModel(photoViewModel);  
    }  

    protected async Task OnSave()
    {            
        _viewModel.MemorabiliaId = MemorabiliaId;

        var command = new SavePhoto.Command(_viewModel);

        await _commandRouter.Send(command).ConfigureAwait(false);

        MemorabiliaId = command.MemorabiliaId;
    }

    private void SetDefaults()
    {
        _viewModel.BrandId = Brand.None.Id;
        _viewModel.OrientationId = Orientation.Portrait.Id;
        _viewModel.PhotoTypeId = PhotoType.Glossy.Id;
    }
}