@inherits EditItem<ItemTypeBrandEditModel, ItemTypeBrandModel>

<EditPage ContinueNavigationPath="@EditModel.RoutePrefix"
          EditMode="EditModel.EditModeType" 
          ExitNavigationPath="@EditModel.RoutePrefix"
          ImageFileName="@EditModel.ImageFileName" 
          ItemName="@EditModel.ItemTitle"
          Model="EditModel"
          OnSave="HandleValidSubmit"
          PageFooterButtonText="@EditModel.ExitButtonText"
          PageFooterNavigationPath="@EditModel.ExitNavigationPath"
          PageTitle="@EditModel.PageTitle"
          TItem="ItemTypeBrandEditModel">
    <DivRowFormGroup>
        <Div Class="col-3">
            <ItemTypeAutoComplete Disabled="@(EditModel.Id > 0)"
                                  SelectedValue="EditModel.ItemType"
                                  SelectionChanged="(p) => EditModel.ItemType = p" />
        </Div>
    </DivRowFormGroup>
    <DivRowFormGroup>
        <Div Class="col-3">
            <BrandAutoComplete SelectedValue="EditModel.Brand"
                               SelectionChanged="(p) => EditModel.Brand = p" />
        </Div>
    </DivRowFormGroup>
</EditPage>