@inherits EditItemTypeItem<ItemTypeBrandEditModel, ItemTypeBrandModel>

<EditPage ContinueNavigationPath="@EditModel.RoutePrefix"
          EditMode="EditModel.EditModeType" 
          ExitNavigationPath="@EditModel.RoutePrefix"
          ImageFileName="@EditModel.ImageFileName" 
          ItemName="@EditModel.ItemTitle"
          Model="EditModel"
          OnSave="HandleValidSubmit"
          PageFooterButtonText="@EditModel.ExitButtonText"
          PageFooterNavigationPath="@EditModel.ExitNavigationPath"
          PageTitle="@EditModel.PageTitle"
          TItem="ItemTypeBrandEditModel">
    <Div Class="row" 
         Hidden="@(!DisplayItemType)">
        <Div Class="col-3">
            <ItemTypeAutoComplete SelectedValue="EditModel.ItemType"
                                  SelectionChanged="(p) => EditModel.ItemType = p" />
        </Div>
    </Div>
    <Div Class="row">
        <Div Class="col-3">
            <BrandAutoComplete SelectedValue="EditModel.Brand"
                               SelectionChanged="(p) => EditModel.Brand = p" />
        </Div>
    </Div>
</EditPage>