@typeparam TItem

<Div Style="border: 1px solid black; margin-top: 2%; margin-bottom: 2%; margin-left: 2%; margin-right: 2%;">
    <DivPad2>
        <DivRowCol12Center>
            <Image Height="150"
                   ImageData="@(ImageService.GetDomainImageData(Constant.ImageFileName.Images))"
                   Width="150" />
        </DivRowCol12Center>
        <DivRowCol12Center>
            <InputFile id="fileInput"
                       @bind-Value="@Images"
                       accept="image/*" hidden multiple
                       OnChange="@LoadFiles" />
            <MudFab Color="MudBlazor.Color.Secondary"
                    HtmlTag="label"
                    StartIcon="@Icons.Material.Filled.Image"
                    Label="Load pictures"
                    for="fileInput" />
            <Fab Color="MudBlazor.Color.Secondary"
                 Label="@ImportButtonText"
                 OnClick="Import"
                 StartIcon="@Icons.Material.Filled.Image"
                 Visible="CanImportImages" />
        </DivRowCol12Center>
        <Div Class="row"
             Visible="_files != null">
            <ToolbarTitle>@_files?.Count() File@(_files?.Count() == 1 ? "" : "s"):</ToolbarTitle>
            <MudList>
                <Iterations Context="file"
                            Items="_files">
                    <MudListItem @key="@file"
                                 Icon="@Icons.Material.Filled.AttachFile">
                        @file.Name <code>@file.Size bytes</code>
                    </MudListItem>
                </Iterations>
            </MudList>
        </Div>
        <br />
        <Div Class="row">
            <Iterations Context="image"
                        Items="Images">
                <Div Class="col-3">
                    <ImageEditor CanRemove="true"
                                 HasPrimary="true"
                                 ImageFileName="@image.FileName"
                                 ImageRootType="ImageRootType.User"
                                 ImageType="image.ImageType"
                                 IsPrimary="image.IsPrimary"
                                 OnPrimarySet="PrimarySet"
                                 OnRemove="Remove" />
                </Div>
            </Iterations>
        </Div>
        <br />
        <DivLeftAlign>
            <LeftRightSection>
                <Right>
                    <RowStack Style="margin-top:1%;margin-bottom:1%;">
                        <CancelButton OnClick="Cancel" />
                        @AdditionalButtons
                        <SaveButton OnClick="SaveAndExit"
                                    Text="Save & Exit" />
                    </RowStack>
                </Right>
            </LeftRightSection>
        </DivLeftAlign>
        <br />
    </DivPad2>
</Div>