<EditPage ContinueNavigationPath="@Model.NavigationPath"
          EditMode="Model.EditModeType"
          ExitNavigationPath="@Model.NavigationPath"
          ImageFileName="@Model.ImageFileName"
          ItemName="@Model.DomainTypeName"
          Model="Model"
          OnSave="Save"
          PageFooterNavigationPath="@Model.PageFooterNavigationPath"
          PageTitle="@Model.PageTitle"
          TItem="DomainEditModel">
    <Div Class="row">
        <Div Class="col-3">
            <TextField DisplaySkeleton="@(Model == null)" 
                       Label="Name"
                       MaxLength="@MaxNameLength"
                       SelectedText="@Model.Name"
                       SelectedTextChanged="@((p) => Model.Name = p)" />
        </Div>
    </Div>
    <Div Class="row">
        <Div Class="col-3">
            <TextField DisplaySkeleton="@(Model == null)" 
                       Label="Abbreviation"
                       MaxLength="@MaxAbbreviationLength"
                       SelectedText="@Model.Abbreviation"
                       SelectedTextChanged="@((p) => Model.Abbreviation = p)" />
        </Div>
    </Div>
</EditPage>


