<PageEditor DisplaySaveContinueButton="false" 
            EditModel="EditModel"
            OnSave="Save"
            PageImageFileName="@EditModel.ImageFileName"
            TItem="DomainEditModel">
    <DivRowFormGroup>
        <Div Class="@DivClass.Column3">
            <TextField DisplaySkeleton="@(EditModel == null)"
                       Label="Name"
                       MaxLength="MaxNameLength"
                       SelectedText="@EditModel.Name"
                       SelectedTextChanged="@((p) => EditModel.Name = p)" />
        </Div>
    </DivRowFormGroup>
    <DivRowFormGroup>
        <Div Class="@DivClass.Column3">
            <TextField DisplaySkeleton="@(EditModel == null)"
                       Label="Abbreviation"
                       MaxLength="MaxAbbreviationLength"
                       SelectedText="@EditModel.Abbreviation"
                       SelectedTextChanged="@((p) => EditModel.Abbreviation = p)" />
        </Div>
    </DivRowFormGroup>
</PageEditor>


