@typeparam TItem

@inherits ImagePage

<div style="border: 1px solid black; margin-top: 2%; margin-bottom: 2%; margin-left: 2%; margin-right: 2%;">
    <EditForm Model="Model">
        <DivPad2>
            <Content>
                <DivRowCol12Center>
                    <Content>
                        <MudImage Class="rounded-lg" 
                                  Elevation="5" 
                                  Height="150"                                  
                                  ObjectFit="@ObjectFit.Cover"
                                  Src="@(GetDomainImageData(Domain.Constants.ImageFileName.Images))"
                                  Width="150" />
                    </Content>
                </DivRowCol12Center>
                <div class="row">
                    <div>
                        <InputFile id="fileInput"
                                   @bind-Value="@Images"
                                   accept="image/*" hidden multiple
                                   OnChange="@LoadFiles" />
                        <MudFab Color="MudBlazor.Color.Secondary"
                                HtmlTag="label"
                                Icon="@Icons.Material.Filled.Image"
                                Label="Load pictures"
                                for="fileInput" />
                    </div>
                    <div style="padding-left:15px;">
                        <PrettyBlazor.Condition Evaluation="CanImportImages">
                            <Match>
                                <MudFab Color="MudBlazor.Color.Secondary"
                                        Icon="@Icons.Material.Filled.Image"
                                        Label="@ImportButtonText"
                                        OnClick="Import" />
                            </Match>
                        </PrettyBlazor.Condition>
                    </div>                    
                </div>
                <div class="row">
                    <PrettyBlazor.Condition Evaluation="_files != null">
                        <Match>
                            <MudText Typo="@Typo.h6">@_files?.Count() File@(_files?.Count() == 1 ? "" : "s"):</MudText>
                            <MudList>
                                <Iterations Items="_files" Context="file">
                                    <MudListItem Icon="@Icons.Material.Filled.AttachFile" @key="@file">
                                        @file.Name <code>@file.Size bytes</code>
                                    </MudListItem>
                                </Iterations>
                            </MudList>
                        </Match>
                    </PrettyBlazor.Condition>
                </div>
                <br />
                <div class="row">
                    <Iterations Items="Images" Context="image">
                        <div class="col-lg-3">
                            <ImageEditor CanRemove="true"
                                         DomainImageRootPath="@DomainImageRootPath"
                                         HasPrimary="true"
                                         ImageFileName="@image.FileName"
                                         ImageRootPath="@UploadPath"
                                         ImageType="image.ImageType"
                                         IsPrimary="image.IsPrimary"
                                         OnPrimarySet="PrimarySet"
                                         OnRemove="Remove" />  
                        </div>                    
                    </Iterations>
                </div> 
                <br />
                <DivLeftAlign>
                    <Content>
                        @AdditionalButtons
                        <SaveButton OnClick="SaveAndExit" 
                                    Text="Save & Exit" />                                              
                        <CancelButton OnClick="Cancel" />
                    </Content>
                </DivLeftAlign>
            </Content>
        </DivPad2>           
    </EditForm>         
</div>