@typeparam TItem

<PageBorder>
    <DivRowCol12Center>
        <Image Height="150"
               ImageData="@(ImageService.GetDomainImageData(Constant.ImageFileName.Images))"
               Width="150" />
    </DivRowCol12Center>
    <DivRowCol12Center>
        <InputFile @bind-Value="Images"
                   accept="image/*"
                   hidden
                   multiple
                   id="fileInput"
                   OnChange="LoadFiles" />
        <Fab Color="MudBlazor.Color.Secondary"
             For="fileInput"
             HtmlTag="label"
             Label="Load pictures"
             StartIcon="@Icons.Material.Filled.Image" />
        <Fab Color="MudBlazor.Color.Secondary"
             Label="@ImportButtonText"
             OnClick="Import"
             StartIcon="@Icons.Material.Filled.Image"
             Visible="CanImportImages" />
    </DivRowCol12Center>
    <Div Class="@DivClass.Row"
         Visible="_files != null">
        <ToolbarTitle>@_files?.Count() File@(_files?.Count() == 1 ? "" : "s"):</ToolbarTitle>
        <MudList>
            <Iterations Context="file"
                        Items="_files">
                <MudListItem @key="@file"
                             Icon="@Icons.Material.Filled.AttachFile">
                    @file.Name <code>@file.Size bytes</code>
                </MudListItem>
            </Iterations>
        </MudList>
    </Div>
    <br />
    <Div Class="@DivClass.Row">
        <Iterations Context="image"
                    Items="Images">
            <Div Class="@DivClass.Column3">
                <ImageEditor CanRemove="true"
                             HasPrimary="true"
                             ImageFileName="@image.FileName"
                             ImageRootType="ImageRootType.User"
                             ImageType="image.ImageType"
                             IsPrimary="image.IsPrimary"
                             OnPrimarySet="PrimarySet"
                             OnRemove="Remove" />
            </Div>
        </Iterations>
    </Div>
    <br />
    <DivLeftAlign>
        <LeftRightSection>
            <Right>
                <RowStack Style="@($"{Style.MarginBottomPad1}{Style.MarginTopPad1}")">
                    <CancelButton OnClick="Cancel" />
                    @AdditionalButtons
                    <SaveButton OnClick="SaveAndExit"
                                Text="Save & Exit" />
                </RowStack>
            </Right>
        </LeftRightSection>
    </DivLeftAlign>
    <br />
</PageBorder>