<MudCard>
    <MudCardMedia Height="300"         
                  Image="@(ImageService.GetImageData(ImageRootType, ImageFileName))" />
    <MudCardContent>
        <Text Typography="Typo.h5">@(ImageType?.Name ?? string.Empty)</Text>
    </MudCardContent>
    <MudCardActions>
        <Div Visible="@(HasPrimary && !IsPrimary)">
            <CustomButton ButtonType="ButtonType.Button"
                          OnClick="@(_ => SetPrimary(ImageFileName))"
                          Text="Make Primary"
                          Variant="Variant.Text" />
        </Div>
        <Div Visible="CanRemove">
            <CustomButton OnClick="@(_ => Remove(ImageFileName))"
                          Text="Remove"
                          Variant="Variant.Text" />
        </Div>
    </MudCardActions>
</MudCard>
