@typeparam TItem 

<PageHeader PageTitle="@EditModel.PageTitle" />
@TimelineContent
@ImagePreview
<PageBorder>
    <LeftRightSection Visible="DisplayBackToMenuItemLink">
        <Right>
            <Link Href="@MenuItemPath">@MenuItemLinkText</Link>
        </Right>
    </LeftRightSection>
    <AlertPanel Alerts="ValidationResultAlerts" />
    <PageImage ImageFileName="@PageImageFileName" />
    @ChildContent
    <LeftRightSection Visible="@UseMultipleButtons">
        <Right>
            <RowStack Style="margin-top:1%;margin-bottom:1%;">
                <CancelButton OnClick="@(_ => NavigationManager.NavigateTo(EditModel.ExitNavigationPath))" />
                @AdditionalButtons
                <Div Visible="DisplaySaveExitButton">
                    <SaveButton OnClick="@(_ => Save(true))"
                                Text="Save & Exit" />
                </Div>
                <Div Visible="DisplaySaveContinueButton">
                    <SaveButton OnClick="@(_ => Save(false))"
                                Text="Save & Continue" />
                </Div>
            </RowStack>
        </Right>
    </LeftRightSection>
    <Div Style="margin-top:1%;margin-bottom:1%;"
         Visible="@(!UseMultipleButtons)">
        <LeftRightSection>
            <Right>
                <SaveButton Text="Save" />
            </Right>
        </LeftRightSection>
    </Div>
</PageBorder>
<PageFooter NavigationPath="@EditModel.ExitNavigationPath"
            NavigationPathText="Back"
            Visible="@DisplayFooter" />

