@page "/ItemTypeSpots"

@using Memorabilia.Application.Features.Admin
@using Memorabilia.Application.Features.Admin.ItemTypeSpot

@inject CommandRouter _commandRouter
@inject ProtectedLocalStorage _localStorage
@inject NavigationManager _navigation
@inject QueryRouter _queryRouter
@inject IToastService _toastService

@if (_viewModel == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <PopConfirm @ref="_deleteDialog"
                Title="Delete ItemTypeSpot"
                ConfirmedChanged="Delete" />
    <div class="row">
        <div class="col-md-12" style="text-align: center">
            <h1>@_viewModel.PageTitle</h1>
        </div>
    </div>
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>Item Type</th>
                <th>Spot</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var itemTypeSpot in _viewModel.ItemTypeSpots)
            {
                <tr>
                    <td>@itemTypeSpot.ItemTypeName</td>
                    <td>@itemTypeSpot.SpotName</td>
                    <td>
                        <_Tooltip Text="Edit">
                            <img class="can-click" 
                                 src="images/pencil.png" 
                                 height="25" 
                                 width="25" 
                                 @onclick="@(_ => _navigation.NavigateTo($"ItemTypeSpots/Edit/{itemTypeSpot.Id}"))" />
                        </_Tooltip>                        
                    </td>
                    <td>
                        <_Tooltip Text="Delete">
                            <img class="can-click" 
                                 src="images/trash.png" 
                                 height="25" 
                                 width="25" 
                                 @onclick="@(_ => ShowConfirm(itemTypeSpot.Id))" />
                        </_Tooltip>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="row">
        <div class="col-md-12" style="text-align: center">
            <div class="col-md-12" style="text-align: center">
                <a href="ItemTypeSpots/Add">Add Item Type Spot</a>
            </div>
        </div>
    </div>
    <br />
}

@code {
    private PopConfirm _deleteDialog;
    private int _deletedItemId;
    private ItemTypeSpotsViewModel _viewModel;

    protected async Task Delete(bool confirm)
    {
        if (!confirm)
        {
            _deletedItemId = 0;
            return;
        }

        var viewModel = new SaveItemTypeSpotViewModel(_viewModel.ItemTypeSpots.Single(ItemTypeSpot => ItemTypeSpot.Id == _deletedItemId));
        viewModel.IsDeleted = true;

        var command = new SaveItemTypeSpot.Command(viewModel);

        await _commandRouter.Send(command).ConfigureAwait(false);
        await OnInitializedAsync().ConfigureAwait(false);

        _toastService.ShowSuccess("Item Type Spot was deleted successfully!", _viewModel.PageTitle);
    }

    protected override async Task OnInitializedAsync()
    {
        var userId = await _localStorage.GetAsync<int>("UserId");

        if (userId.Value == 0)
            _navigation.NavigateTo("Login");

        var query = new GetItemTypeSpots.Query();

        _viewModel = await _queryRouter.Send(query).ConfigureAwait(false);
    }

    protected void ShowConfirm(int id)
    {
        _deletedItemId = id;
        _deleteDialog.ShowPop();
    }
}
