<DivPad2>
    <ExpansionPanel Text="For Trade">
        <Div Class="@DivClass.Row"
             Visible="_hasItemsForTrade">
            <Div Class="@DivClass.Column12">
                <MemorabiliaFilter OnFilter="OnFilter" />
            </Div>            
        </Div>
        <LeftRightSection Style="@($"{Style.MarginBottomPad1}{Style.MarginTopPad1}")">
            <Right>
                <AddButton OnClick="AddMemorabilia"
                           Text="Add Memorabilia" />
            </Right>
        </LeftRightSection>
        <Div Class="@DivClass.Row">
            <Div Class="@DivClass.Column12">
                <ForTradeGrid Filter="_filter" />
            </Div>
        </Div>
    </ExpansionPanel>
</DivPad2>



