@page "/Memorabilia/Basketball/Edit/{memorabiliaId:int}"

@using Memorabilia.Application.Features.Admin.Person
@using Memorabilia.Application.Features.Admin.Team
@using Memorabilia.Application.Features.Memorabilia
@using Memorabilia.Application.Features.Memorabilia.Basketball
@using Memorabilia.Web.Controls.Basketball
@using Memorabilia.Web.Controls.Commissioner
@using Memorabilia.Web.Controls.ItemTypeBrand
@using Memorabilia.Web.Controls.ItemTypeGameStyle
@using Memorabilia.Web.Controls.ItemTypeLevel
@using Memorabilia.Web.Controls.ItemTypeSize
@using Memorabilia.Web.Controls.MemorabiliaItem
@using Memorabilia.Web.Controls.Person
@using Memorabilia.Web.Controls.Team

@inject CommandRouter _commandRouter
@inject QueryRouter _queryRouter

<_EditMemorabiliaItem ImagePath="@_viewModel.ImagePath"
					  ItemType="_viewModel.ItemType" 
                      MemorabiliaId="MemorabiliaId"
                      Model="_viewModel"
                      OnLoad="OnLoad"
                      OnSave="OnSave"
                      PageTitle="_viewModel.PageTitle"
                      TItem="SaveBasketballViewModel">
    <Content>
		<div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="level">Level</label>
                    <_ItemTypeLevelDropDown @bind-Value="@_viewModel.LevelTypeId"
                                            @bind-Value:event="ValueChanged" 
                                            ItemType="_viewModel.ItemType" /> 
                </div> 
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="brand">Brand</label>
                    <_ItemTypeBrandDropDown @bind-Value="@_viewModel.BrandId" 
                                            @bind-Value:event="ValueChanged"
                                            ItemType="_viewModel.ItemType" />
                </div> 
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="size">Size</label>
                    <_ItemTypeSizeDropDown @bind-Value="@_viewModel.SizeId"
                                           @bind-Value:event="ValueChanged" 
                                           ItemType="_viewModel.ItemType" /> 
                </div> 
            </div>
            <div class="col-lg-6">
                    <div class="form-group">
                    <label for="BasketballType">Type</label>
                    <_BasketballTypeDropDown @bind-Value="@_viewModel.BasketballTypeId" 
                                             @bind-Value:event="ValueChanged"
                                             GameStyleType="_viewModel.GameStyleType" /> 
                </div> 
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="gameStyleType">Game Style Type</label>
                    <_ItemTypeGameStyleDropDown @bind-Value="@_viewModel.GameStyleTypeId"
                                                @bind-Value:event="ValueChanged"
                                                ItemType="_viewModel.ItemType" /> 
                </div> 
            </div>
            <div class="col-lg-6">
                    <div class="form-group">
                    <label for="commissioner">Commissioner</label>
                    <_CommissionerDropDown @bind-Value="@_viewModel.CommissionerId"
                                           @bind-Value:event="ValueChanged" 
                                           SportLeagueLevel="_viewModel.SportLeagueLevel" />
                </div>
            </div>
        </div>
        <div class="row">                    
            <div class="col-lg-6">
                <div class="form-group" hidden="@(!_viewModel.DisplayGameDate)">
                    <label for="gameDate">Game Date</label>
                    <InputDate id="gameDate" class="form-control" @bind-Value="_viewModel.GameDate" />
                </div>                        
            </div>
            <div class="col-lg-6" />  
        </div>
        <_PersonSelector CanFilterBySport="true"
                         CanToggle="true"
                         ItemType="_viewModel.ItemType"
                         SelectedPerson="_viewModel.Person"
                         SelectedPersonChanged="SelectedPersonChanged"
                         Sport="_viewModel.Sport" />                 
        <_TeamSelector CanToggle="true" 
                       ItemType="_viewModel.ItemType"
                       SelectedTeam="_viewModel.Team"
                       SelectedTeamChanged="SelectedTeamChanged"
                       SportLeagueLevel="_viewModel.SportLeagueLevel" />
	</Content>
</_EditMemorabiliaItem>

@code {
    [Parameter]
    public int MemorabiliaId { get; set; }

    private SaveBasketballViewModel _viewModel = new SaveBasketballViewModel();    

    protected async Task OnLoad()
    {      

        var viewModel = await _queryRouter.Send(new GetBasketball.Query(MemorabiliaId)).ConfigureAwait(false);

        if (viewModel.Brand == null)
        {
            SetDefaults();
            return;
        }    

        _viewModel = new SaveBasketballViewModel(viewModel);  
    }    

    protected async Task OnSave()
    {
        _viewModel.MemorabiliaId = MemorabiliaId;

        var command = new SaveBasketball.Command(_viewModel);

        await _commandRouter.Send(command).ConfigureAwait(false);

        MemorabiliaId = command.MemorabiliaId;
    }

    private void SelectedPersonChanged(SavePersonViewModel person)
    {
        _viewModel.Person = person;
    }

    private void SelectedTeamChanged(SaveTeamViewModel team)
    {
        _viewModel.Team = team;
    }

    private void SetDefaults()
    {
        _viewModel.BasketballTypeId = BasketballType.Official.Id;
        _viewModel.BrandId = Brand.Spalding.Id;
        _viewModel.GameStyleTypeId = GameStyleType.None.Id;        
        _viewModel.LevelTypeId = LevelType.Professional.Id;
        _viewModel.SizeId = Size.Standard.Id;       
    }
}