@page "/Memorabilia/Basketball/Edit/{memorabiliaId:int}"

@using Memorabilia.Application.Features.Admin.Commissioners
@using Memorabilia.Application.Features.Admin.People
@using Memorabilia.Application.Features.Admin.Teams
@using Memorabilia.Application.Features.Memorabilia
@using Memorabilia.Application.Features.Memorabilia.Basketball
@using Memorabilia.Web.Controls.DropDowns
@using Memorabilia.Web.Controls.MemorabiliaItem
@using Memorabilia.Web.Controls.Person
@using Memorabilia.Web.Controls.Team

<EditPage ContinueNavigationPath="@_viewModel.ContinueNavigationPath"
          EditMode="_viewModel.EditModeType"
          ExitNavigationPath="@_viewModel.ExitNavigationPath"
          ImagePath="@_viewModel.ImagePath"
          ItemName="@_viewModel.ItemType.Name"
          Model="_viewModel"
          OnLoad="OnLoad"
          OnSave="OnSave"
          PageFooterButtonText="@_viewModel.ExitButtonText"
          PageFooterNavigationPath="@_viewModel.ExitNavigationPath"
          PageTitle="@_viewModel.PageTitle"
          TItem="SaveBasketballViewModel"
          UseMultipleButtons="true">
    <TimelineContent>
        <MemorabiliaItemTimeline EditMode="_viewModel.EditModeType"
                                 ItemTypeName="@_viewModel.ItemType.Name"
                                 MemorabiliaId="_viewModel.MemorabiliaId"
                                 MemorabiliaItemStep="_viewModel.MemorabiliaItemStep" />
    </TimelineContent>
    <Content>
        <DivRowCol3>
            <Content>
                <ItemTypeLevelDropDown @bind-Value="@_viewModel.LevelTypeId"
                                       @bind-Value:event="ValueChanged" 
                                       ItemType="_viewModel.ItemType"
                                       SelectedValue="_viewModel.LevelTypeId" /> 
            </Content>
            <ContentColumn2>
                <ItemTypeBrandDropDown @bind-Value="@_viewModel.BrandId" 
                                       @bind-Value:event="ValueChanged"
                                       ItemType="_viewModel.ItemType"
                                       SelectedValue="_viewModel.BrandId" />
            </ContentColumn2>
        </DivRowCol3>
        <DivRowCol3>
            <Content>
                <ItemTypeSizeDropDown @bind-Value="@_viewModel.SizeId"
                                      @bind-Value:event="ValueChanged" 
                                      ItemType="_viewModel.ItemType"
                                      SelectedValue="@_viewModel.SizeId" /> 
            </Content>
            <ContentColumn2>
                <MudSelect @bind-Value="@_viewModel.BasketballTypeId"
                           @bind-Value:event="ValueChanged"    
                           Label="Type"
                           Variant="Variant.Outlined" >
                    <MudSelectItem Value="@(0)">--Select--</MudSelectItem>
                    <Iterations Items="_viewModel.BasketballTypes" Context="basketballType">
                        <MudSelectItem Value="@basketballType.Id">@basketballType.Name</MudSelectItem>
                    </Iterations>	
                </MudSelect>
            </ContentColumn2>
        </DivRowCol3>
        <DivRowCol3>
            <Content>
                <ItemTypeGameStyleDropDown @bind-Value="@_viewModel.GameStyleTypeId"
                                           @bind-Value:event="ValueChanged"
                                           ItemType="_viewModel.ItemType"
                                           SelectedValue="_viewModel.GameStyleTypeId" /> 
            </Content>
            <ContentColumn2>
                <MudSelect @bind-Value="@_viewModel.CommissionerId"
                           @bind-Value:event="ValueChanged"    
                           Label="Commissioner"
                           Variant="Variant.Outlined" >
                    <MudSelectItem Value="@(0)">--Select--</MudSelectItem>
                    <Iterations Items="_commissioners" Context="commissioner">
                        <MudSelectItem Value="@commissioner.Id">@commissioner.Person.DisplayName</MudSelectItem>
                    </Iterations>	
                </MudSelect>
            </ContentColumn2>
        </DivRowCol3>
        <DivRowCol3>
            <Content>
                <div hidden="@(!_viewModel.DisplayGameDate)">
                    <MudDatePicker @bind-Date="_viewModel.GameDate"
                                   DateFormat="MM/dd/yyyy"
                                   Editable="true"
                                   Label="Game Date"
                                   Mask="@(new DateMask("MM/dd/yyyy"))" 
                                   Variant="Variant.Outlined" />
                </div> 
            </Content>
        </DivRowCol3>
        <PersonSelector CanFilterBySport="true"
                        CanToggle="true"
                        ItemType="_viewModel.ItemType"
                        SelectedPerson="_viewModel.Person"
                        SelectedPersonChanged="SelectedPersonChanged"
                        Sport="_viewModel.Sport" />                 
        <TeamSelector CanToggle="true" 
                      ItemType="_viewModel.ItemType"
                      SelectedTeam="_viewModel.Team"
                      SelectedTeamChanged="SelectedTeamChanged"
                      SportLeagueLevel="_viewModel.SportLeagueLevel" />
    </Content>
</EditPage>