<Dialog DisplayCancelButton="true"
        OnCancel="Cancel">
    <DialogContent>
        <DivPad2>
            <ExpansionPanel Text="Add Project Memorabilia Team">
                <DivRowFormGroup>
                    <Div Class="@DivClass.Column6">
                        <TeamSearchAutoComplete SelectedValue="ProjectMemorabiliaTeam.Team"
                                                SelectionChanged="(p) => ProjectMemorabiliaTeam.Team = p" />
                    </Div>
                    <Div Class="@DivClass.Column3">
                        <NullableDecimalField Label="Estimated Cost"
                                              Value="ProjectMemorabiliaTeam.EstimatedCost"
                                              ValueChanged="@((p) => ProjectMemorabiliaTeam.EstimatedCost = p)" />
                    </Div>
                </DivRowFormGroup>
                <DivRowFormGroup>
                    <Div Class="@DivClass.Column3">
                        <RowStack Spacing="0">
                            <NullableIntField Label="Rank"
                                              Value="ProjectMemorabiliaTeam.Rank"
                                              ValueChanged="@((p) => ProjectMemorabiliaTeam.Rank = p)" />
                            <Image AllowNavigation="true"
                                   Height="20"
                                   ImageData="@(ImageService.GetDomainImageData(ImageFileName.Import))"
                                   OnClick="@(() => ProjectMemorabiliaTeam.Rank = MaxRank)"
                                   TooltipText="Import Max Rank"
                                   Width="20" />
                        </RowStack>
                    </Div>
                    <Div Class="@DivClass.Column3">
                        <PriorityTypeDropDown SelectedValue="ProjectMemorabiliaTeam.PriorityTypeId"
                                              SelectionChanged="(p) => ProjectMemorabiliaTeam.PriorityTypeId = p" />
                    </Div>
                    <Div Class="@DivClass.Column3">
                        <ProjectStatusTypeDropDown SelectedValue="ProjectMemorabiliaTeam.ProjectStatusTypeId"
                                                   SelectionChanged="(p) => ProjectMemorabiliaTeam.ProjectStatusTypeId = p" />
                    </Div>
                    <Div Class="@DivClass.Column3">
                        <Switch Checked="ProjectMemorabiliaTeam.Upgrade"
                                CheckedChanged="(p) => ProjectMemorabiliaTeam.Upgrade = p"
                                Label="Is Upgrade?" />
                    </Div>
                </DivRowFormGroup>
                <DivRowFormGroup Visible="@(ProjectId > 0 && ProjectMemorabiliaTeam.Team != null && ProjectMemorabiliaTeam.Team.Id > 0)">
                    <Div Class="@DivClass.Column3">
                        <Fab Color="MudBlazor.Color.Secondary"
                             OnClick="@(_ => ProjectMemorabiliaTeam.MemorabiliaId = 0)"
                             StartIcon="@Icons.Material.Outlined.LinkOff"
                             TooltipText="Remove link to Autograph"
                             Visible="@(ProjectMemorabiliaTeam.MemorabiliaId > 0)" />
                        <Fab Color="MudBlazor.Color.Secondary"
                             OnClick="@(_ => AddMemorabiliaLink(ProjectMemorabiliaTeam))"
                             StartIcon="@Icons.Material.Outlined.AddLink"
                             TooltipText="Link to Memorabilia"
                             Visible="@(ProjectMemorabiliaTeam.MemorabiliaId <= 0)" />
                    </Div>
                </DivRowFormGroup>
                <DivRowFormGroup Visible="@(ProjectMemorabiliaTeam.MemorabiliaId > 0)">
                    <Div Class="@DivClass.Column3">
                        <Image Height="100"
                               ImageData="@(ImageService.GetUserImageData(ProjectMemorabiliaTeam.MemorabiliaFileName))"
                               Width="100" />
                    </Div>
                </DivRowFormGroup>
            </ExpansionPanel>            
        </DivPad2>
    </DialogContent>
    <ActionsContent>   
        <AddButton OnClick="Add"
                   Text="Add" />       
    </ActionsContent>
</Dialog>
