<Dialog DisplayCancelButton="true"
        OnCancel="Cancel">
    <DialogContent>
        <DivPad2>
            <ExpansionPanel Text="Add Project Person">
                <DivRowFormGroup>
                    <Div Class="@DivClass.Column6">
                        <PersonDomainAutoComplete Class="d-flex justify-context-between"
                                                  IsCulturalSearch="true"
                                                  SelectedValue="ProjectPerson.Person"
                                                  SelectionChanged="(p) => ProjectPerson.Person = p" />
                    </Div>                   
                    <Div Class="@DivClass.Column3">
                        <NullableDecimalField Label="Estimated Cost"
                                              Value="ProjectPerson.EstimatedCost"
                                              ValueChanged="@((p) => ProjectPerson.EstimatedCost = p)" />
                    </Div>
                </DivRowFormGroup>
                <DivRowFormGroup>
                    <Div Class="@DivClass.Column3">
                        <RowStack Spacing="0">
                            <NullableIntField Label="Rank"
                                              Value="ProjectPerson.Rank"
                                              ValueChanged="@((p) => ProjectPerson.Rank = p)" />
                            <Image AllowNavigation="true"
                                   Height="20"
                                   ImageData="@(ImageService.GetDomainImageData(ImageFileName.Import))"
                                   OnClick="@(() => ProjectPerson.Rank = MaxRank)"
                                   TooltipText="Import Max Rank"
                                   Width="20" />
                        </RowStack>
                    </Div>
                    <Div Class="@DivClass.Column3">
                        <PriorityTypeDropDown SelectedValue="ProjectPerson.PriorityTypeId"
                                              SelectionChanged="(p) => ProjectPerson.PriorityTypeId = p" />
                    </Div>
                    <Div Class="@DivClass.Column3">
                        <ProjectStatusTypeDropDown SelectedValue="ProjectPerson.ProjectStatusTypeId"
                                                   SelectionChanged="(p) => ProjectPerson.ProjectStatusTypeId = p" />
                    </Div>
                    <Div Class="@DivClass.Column3">
                        <Switch Checked="ProjectPerson.Upgrade"
                                CheckedChanged="(p) => ProjectPerson.Upgrade = p"
                                Label="Is Upgrade?" />
                    </Div>
                </DivRowFormGroup>
                <DivRowFormGroup Visible="@(ProjectId > 0 && ProjectPerson.Person != null && ProjectPerson.Person.Id > 0)">
                    <Div Class="@DivClass.Column3">
                        <Fab Color="MudBlazor.Color.Secondary"
                             OnClick="@(_ => ProjectPerson.AutographId = 0)"
                             StartIcon="@Icons.Material.Outlined.LinkOff"
                             TooltipText="Remove link to Autograph"
                             Visible="@(ProjectPerson.AutographId > 0)" />
                        <Fab Color="MudBlazor.Color.Secondary"
                             OnClick="@(_ => AddAutographLink(ProjectPerson))"
                             StartIcon="@Icons.Material.Outlined.AddLink"
                             TooltipText="Link to Autograph"
                             Visible="@(ProjectPerson.AutographId <= 0)" />
                    </Div>
                </DivRowFormGroup>
                <DivRowFormGroup
                     Visible="@(ProjectPerson.AutographId > 0)">
                    <Div Class="@DivClass.Column3">
                        <Image Height="100"
                               ImageData="@(ImageService.GetUserImageData(ProjectPerson.AutographFileName))"
                               Width="100" />
                    </Div>
                </DivRowFormGroup>
            </ExpansionPanel>            
        </DivPad2>
    </DialogContent>
    <ActionsContent>   
        <AddButton OnClick="Add"
                   Text="Add" />
    </ActionsContent>
</Dialog>
