<MudDialog Style="@Style.Dialog">
    <DialogContent>
        <DivPad2>
            <ExpansionPanel Text="Import Project Team">
                <DivRowCol12>
                    <MudTable Bordered="false"
                              Dense="false"
                              Filter="new Func<Entity.Team, bool>(Filter)"
                              Hover="true"
                              Items="Teams"
                              Striped="true">
                        <ToolBarContent>
                            <ToolbarTitle Text="Teams" />
                            <MudSpacer />
                            <ToolbarSearchField SearchText="@_search"
                                                SearchTextChanged="@((p) => _search = p)" />
                        </ToolBarContent>
                        <HeaderContent>
                            <MudTh>
                                <CustomButton ButtonType="ButtonType.Button"
                                              OnClick="OnSelectAll"
                                              Text="@SelectAllButtonText" />
                            </MudTh>
                            <MudTh>Display Name</MudTh>
                        </HeaderContent>
                        <RowTemplate>
                            <MudTd>
                                <BooleanCheckBox Checked="@(SelectedTeams.Contains(context))"
                                                 CheckedChanged="(p) => TeamSelected(context)" />
                            </MudTd>
                            <MudTd DataLabel="Display Name">@context.DisplayName</MudTd>
                        </RowTemplate>
                        <PagerContent>
                            <MudTablePager />
                        </PagerContent>
                    </MudTable>
                </DivRowCol12>
            </ExpansionPanel>
        </DivPad2>        
    </DialogContent>
    <DialogActions>
        <Div Style="@($"{Style.MarginBottomPad1}{Style.MarginRightPad1}")">
            <CancelButton OnClick="Cancel" />
            <CustomButton OnClick="Import"
                          Text="Import" />
        </Div>        
    </DialogActions>
</MudDialog>
