<div style="margin-top:1%;margin-left:1%">
    <Condition Evaluation="@(ValidationResultAlerts.Any())">
        <Match>
            <AlertPanel Alerts="ValidationResultAlerts" />
        </Match>
    </Condition>
    <Div Class="row">
        <Div Class="col-3">
            <h3>
                Project Details
            </h3>
        </Div>
    </Div>
    <Div Class="row">
        <Div Class="col-3">
            <TextField DisplaySkeleton="@(!Loaded)" 
                       Label="Name"
                       MaxLength="1000"
                       SelectedText="@Model.Name"
                       SelectedTextChanged="@((p) => Model.Name = p)" />
        </Div>
        <Div Class="col-3">
            <SkeletonLoader IsLoading="@(!Loaded)">
                <MudDatePicker @bind-Date="Model.StartDate"
                               DateFormat="MM/dd/yyyy"
                               Editable="true"
                               Label="Start Date"
                               Mask="@(new DateMask("MM/dd/yyyy"))"
                               Variant="Variant.Outlined" />
            </SkeletonLoader>            
        </Div>
        <Div Class="col-3">
            <SkeletonLoader IsLoading="@(!Loaded)">
                <MudDatePicker @bind-Date="Model.EndDate"
                               DateFormat="MM/dd/yyyy"
                               Editable="true"
                               Label="End Date"
                               Mask="@(new DateMask("MM/dd/yyyy"))"
                               Variant="Variant.Outlined" />
            </SkeletonLoader>            
        </Div>
    </Div>
    <Div Class="row">
        <Div Class="col-3">
            <SkeletonLoader IsLoading="@(!Loaded)">
                <ProjectSelector Disabled="@(Model.Id > 0)"
                                 OnProjectTypeSelected="OnProjectTypeSelected"
                                 SelectedProjectType="Model.ProjectType" />
            </SkeletonLoader>
        </Div>
    </Div>      
    <br /> 
    <Condition Evaluation="@(Model.ProjectType != null && ProjectTypeComponent != null)">
        <Match>
            <DynamicComponent Parameters="@ProjectTypeParameters"
                              Type="@ProjectTypeComponent" />
        </Match>
    </Condition>
    <br /> 
    <Condition Evaluation="@(Model.Id > 0)">
        <Match>
            <Div Class="row" 
                 Style="margin-left:1%;margin-right:1%">
                <MudProgressLinear Class="my-7"
                                   Color="MudBlazor.Color.Success"
                                   Size="MudBlazor.Size.Large"
                                   Value="Model.StatusPercentage">
                    <MudText Color="MudBlazor.Color.Dark"
                             Typo="Typo.subtitle1">
                        <b>@(Model.StatusPercentage)%</b>
                    </MudText>
                </MudProgressLinear>
            </Div>
        </Match>
    </Condition>    
    <Condition Evaluation="@(Model.ProjectType.IsPersonProject())"> 
        <Match>
            <Condition Evaluation="Model.People.Any()">
                <Match>
                    <Div Class="row" 
                         Style="margin-left:1%;margin-right:1%">
                        <Div Class="col-2">
                            <ProjectPriority MustHaveCount="Model.People.Count(person => person.PriorityTypeId == Constant.PriorityType.MustHave.Id)"
                                             NiceToHaveCount="Model.People.Count(person => person.PriorityTypeId == Constant.PriorityType.NiceToHave.Id)"
                                             NoWayCount="Model.People.Count(person => person.PriorityTypeId == Constant.PriorityType.NoWay.Id)"
                                             TakeItOrLeaveItCount="Model.People.Count(person => person.PriorityTypeId == Constant.PriorityType.TakeItOrLeaveIt.Id)" />
                        </Div>
                        <Div Class="col-2">
                            <ProjectStatus CompletedCount="Model.People.Count(person => person.ProjectStatusTypeId == Constant.ProjectStatusType.Completed.Id)"
                                           InProgressCount="Model.People.Count(person => person.ProjectStatusTypeId == Constant.ProjectStatusType.InProgress.Id)"
                                           NotStartedCount="Model.People.Count(person => person.ProjectStatusTypeId == 0 || person.ProjectStatusTypeId == Constant.ProjectStatusType.NotStarted.Id)" />
                        </Div>
                        <Div Class="col-2">
                            <MudStack>
                                <MudChip Color="MudBlazor.Color.Success">@($"Linked to Autograph - {Model.People.Count(person => person.AutographId > 0)}")</MudChip>
                                <MudChip Color="MudBlazor.Color.Info">@($"Not Linked to Autograph - {Model.People.Count(person => person.AutographId == 0)}")</MudChip>
                            </MudStack>
                        </Div>
                        <Div Class="col-2">
                            <MudStack>
                                <MudChip Color="MudBlazor.Color.Success">@($"Upgrade - {Model.People.Count(person => person.Upgrade)}")</MudChip>
                                <MudChip Color="MudBlazor.Color.Info">@($"Not Upgrade - {Model.People.Count(person => !person.Upgrade)}")</MudChip>
                            </MudStack>
                        </Div>
                        <Div Class="col-2">
                            <MudStack>
                                <MudChip Color="MudBlazor.Color.Success">@($"Living - {Model.People.Count(person => !person.Deceased)}")</MudChip>
                                <MudChip Color="MudBlazor.Color.Info">@($"Deceased - {Model.People.Count(person => person.Deceased)}")</MudChip>
                            </MudStack>
                        </Div>
                    </Div>
                    <br />
                </Match>
            </Condition>            
            <Condition Evaluation="@(Model.ProjectType == ProjectType.BaseballType)"> 
                <Match>
                    <BaseballTypeDetails Model="Model" />
                    <br />
                </Match>
            </Condition>
            <Condition Evaluation="@(Model.ProjectType == ProjectType.Card)">
                <Match>
                    <CardDetails Model="Model" />
                    <br />
                </Match>
            </Condition>
            <Condition Evaluation="@(Model.ProjectType == ProjectType.HallOfFame)">
                <Match>
                    <HallofFameDetails Model="Model" />
                    <br />
                </Match>
            </Condition>
            <Condition Evaluation="@(Model.ProjectType == ProjectType.ItemType)">
                <Match>
                    <ItemTypeDetails Model="Model" />
                    <br />
                </Match>
            </Condition>
            <Condition Evaluation="@(Model.ProjectType == ProjectType.Team)">
                <Match>
                    <TeamDetails Model="Model" />
                    <br />
                </Match>
            </Condition>  
            <Condition Evaluation="@(Model.ProjectType == ProjectType.WorldSeries)">
                <Match>
                    <WorldSeriesDetails Model="Model" />
                    <br />
                </Match>
            </Condition>
        </Match>
    </Condition>
    <Condition Evaluation="@(Model.ProjectType.IsTeamProject())">
        <Match>
            <Condition Evaluation="Model.MemorabiliaTeams.Any()">
                <Match>
                    <Div Class="row" 
                         Style="margin-left:1%;margin-right:1%">
                        <Div Class="col-2">
                            <ProjectPriority MustHaveCount="Model.People.Count(person => person.PriorityTypeId == Constant.PriorityType.MustHave.Id)"
                                                NiceToHaveCount="Model.People.Count(person => person.PriorityTypeId == Constant.PriorityType.NiceToHave.Id)"
                                                NoWayCount="Model.People.Count(person => person.PriorityTypeId == Constant.PriorityType.NoWay.Id)"
                                                TakeItOrLeaveItCount="Model.People.Count(person => person.PriorityTypeId == Constant.PriorityType.TakeItOrLeaveIt.Id)" />
                        </Div>
                        <Div Class="col-2">
                            <ProjectStatus CompletedCount="Model.People.Count(person => person.ProjectStatusTypeId == Constant.ProjectStatusType.Completed.Id)"
                                            InProgressCount="Model.People.Count(person => person.ProjectStatusTypeId == Constant.ProjectStatusType.InProgress.Id)"
                                            NotStartedCount="Model.People.Count(person => person.ProjectStatusTypeId == 0 || person.ProjectStatusTypeId == Constant.ProjectStatusType.NotStarted.Id)" />
                        </Div>
                        <Div Class="col-2">
                            <MudStack>
                                <MudChip Color="MudBlazor.Color.Success">@($"Linked to Autograph - {Model.People.Count(person => person.AutographId > 0)}")</MudChip>
                                <MudChip Color="MudBlazor.Color.Info">@($"Not Linked to Autograph - {Model.People.Count(person => person.AutographId == 0)}")</MudChip>
                            </MudStack>
                        </Div>
                        <Div Class="col-2">
                            <MudStack>
                                <MudChip Color="MudBlazor.Color.Success">@($"Upgrade - {Model.People.Count(person => person.Upgrade)}")</MudChip>
                                <MudChip Color="MudBlazor.Color.Info">@($"Not Upgrade - {Model.People.Count(person => !person.Upgrade)}")</MudChip>
                            </MudStack>
                        </Div>
                    </Div>
                    <br />
                </Match>
            </Condition>            
            <Condition Evaluation="@(Model.ProjectType == ProjectType.HelmetType)">
                <Match>
                    <HelmetTypeDetails Model="Model" />
                    <br />
                </Match>
            </Condition>                          
        </Match>
    </Condition>
    <Condition Evaluation="@(Model.ProjectType != null)">
        <Match>
            <Div Style="margin-bottom:1%;margin-right:1%;text-align:right;">
                <SaveButton OnClick="OnSave"
                            Text="Save" />
            </Div>            
        </Match>
    </Condition>
</div>


