<div style="margin-top:1%;margin-left:1%">
    <PrettyBlazor.Condition Evaluation="@(ValidationResultAlerts.Any())">
        <Match>
            <AlertPanel Alerts="ValidationResultAlerts" />
        </Match>
    </PrettyBlazor.Condition>
    <DivRowCol3>
        <Content>
            <h3>
                Project Details
            </h3>
        </Content>
    </DivRowCol3>
    <DivRowCol3>
        <Content>
            <TextField Label="Name"
                       MaxLength="1000"
                       SelectedText="@_viewModel.Name"
                       SelectedTextChanged="@((p) => _viewModel.Name = p)" />
        </Content>
        <ContentColumn2>
            <MudDatePicker @bind-Date="_viewModel.StartDate"
                           DateFormat="MM/dd/yyyy"
                           Editable="true"
                           Label="Start Date"
                           Mask="@(new DateMask("MM/dd/yyyy"))"
                           Variant="Variant.Outlined" />
        </ContentColumn2>
        <ContentColumn3>
            <MudDatePicker @bind-Date="_viewModel.EndDate"
                           DateFormat="MM/dd/yyyy"
                           Editable="true"
                           Label="End Date"
                           Mask="@(new DateMask("MM/dd/yyyy"))"
                           Variant="Variant.Outlined" />
        </ContentColumn3>
    </DivRowCol3>
    <ProjectSelector Disabled="@(_viewModel.Id > 0)" 
                     OnProjectTypeSelected="OnProjectTypeSelected"
                     SelectedProjectType="_viewModel.ProjectType" />
    <br /> 
    <Condition Evaluation="@(_viewModel.ProjectType != null && ProjectTypeComponent != null)">
        <Match>
            <DynamicComponent Parameters="@ProjectTypeParameters"
                              Type="@ProjectTypeComponent" />
        </Match>
    </Condition>
    <br /> 
    <Condition Evaluation="@(_viewModel.Id > 0)">
        <Match>
            <div class="row" style="margin-left:1%;margin-right:1%">
                <MudProgressLinear Class="my-7"
                                   Color="MudBlazor.Color.Success"
                                   Size="MudBlazor.Size.Large"
                                   Value="_viewModel.StatusPercentage">
                    <MudText Color="MudBlazor.Color.Dark"
                             Typo="Typo.subtitle1">
                        <b>@(_viewModel.StatusPercentage)%</b>
                    </MudText>
                </MudProgressLinear>
            </div>
        </Match>
    </Condition>    
    <Condition Evaluation="@(_viewModel.ProjectType.IsPersonProject())"> 
        <Match>
            <Condition Evaluation="_viewModel.People.Any()">
                <Match>
                    <div class="row" style="margin-left:1%;margin-right:1%">
                        <div class="col-6">
                            <ProjectPriority MustHaveCount="_viewModel.People.Count(person => person.PriorityTypeId == Domain.Constants.PriorityType.MustHave.Id)"
                                             NiceToHaveCount="_viewModel.People.Count(person => person.PriorityTypeId == Domain.Constants.PriorityType.NiceToHave.Id)"
                                             NoWayCount="_viewModel.People.Count(person => person.PriorityTypeId == Domain.Constants.PriorityType.NoWay.Id)"
                                             TakeItOrLeaveItCount="_viewModel.People.Count(person => person.PriorityTypeId == Domain.Constants.PriorityType.TakeItOrLeaveIt.Id)" />
                        </div>
                        <div class="col-2" />
                        <div class="col-4">
                            <ProjectStatus CompletedCount="_viewModel.People.Count(person => person.ProjectStatusTypeId == Domain.Constants.ProjectStatusType.Completed.Id)"
                                           InProgressCount="_viewModel.People.Count(person => person.ProjectStatusTypeId == Domain.Constants.ProjectStatusType.InProgress.Id)"
                                           NotStartedCount="_viewModel.People.Count(person => person.ProjectStatusTypeId == 0 || person.ProjectStatusTypeId == Domain.Constants.ProjectStatusType.NotStarted.Id)" />
                        </div>
                    </div>
                    <br />
                    <div class="row" style="margin-left:1%;margin-right:1%">
                        <MudChipSet>
                            <MudChip Color="MudBlazor.Color.Success">@($"Linked to Autograph - {_viewModel.People.Count(person => person.AutographId > 0)}")</MudChip>
                                <MudChip Color="MudBlazor.Color.Info">@($"Not Linked to Autograph - {_viewModel.People.Count(person => person.AutographId == 0)}")</MudChip>
                            </MudChipSet>
                            <MudChipSet>
                                <MudChip Color="MudBlazor.Color.Success">@($"Upgrade - {_viewModel.People.Count(person => person.Upgrade)}")</MudChip>
                                <MudChip Color="MudBlazor.Color.Info">@($"Not Upgrade - {_viewModel.People.Count(person => !person.Upgrade)}")</MudChip>
                            </MudChipSet>
                            <MudChipSet>
                                <MudChip Color="MudBlazor.Color.Success">@($"Living - {_viewModel.People.Count(person => !person.Deceased)}")</MudChip>
                                <MudChip Color="MudBlazor.Color.Info">@($"Deceased - {_viewModel.People.Count(person => person.Deceased)}")</MudChip>
                            </MudChipSet>
                        </div>
                        <br />
                </Match>
            </Condition>            
            <Condition Evaluation="@(_viewModel.ProjectType == ProjectType.BaseballType)"> 
                <Match>
                    <BaseballTypeDetails Model="_viewModel" />
                    <br />
                </Match>
            </Condition>
            <Condition Evaluation="@(_viewModel.ProjectType == ProjectType.Card)">
                <Match>
                    <CardDetails Model="_viewModel" />
                    <br />
                </Match>
            </Condition>
            <Condition Evaluation="@(_viewModel.ProjectType == ProjectType.HallOfFame)">
                <Match>
                    <HallofFameDetails Model="_viewModel" />
                    <br />
                </Match>
            </Condition>
            <Condition Evaluation="@(_viewModel.ProjectType == ProjectType.ItemType)">
                <Match>
                    <ItemTypeDetails Model="_viewModel" />
                    <br />
                </Match>
            </Condition>
            <Condition Evaluation="@(_viewModel.ProjectType == ProjectType.Team)">
                <Match>
                    <TeamDetails Model="_viewModel" />
                    <br />
                </Match>
            </Condition>  
            <Condition Evaluation="@(_viewModel.ProjectType == ProjectType.WorldSeries)">
                <Match>
                    <WorldSeriesDetails Model="_viewModel" />
                    <br />
                </Match>
            </Condition>
        </Match>
    </Condition>
    <Condition Evaluation="@(_viewModel.ProjectType.IsTeamProject())">
        <Match>
            <Condition Evaluation="_viewModel.MemorabiliaTeams.Any()">
                <Match>
                        <div class="row" style="margin-left:1%;margin-right:1%">
                            <div class="col-6">
                                <ProjectPriority MustHaveCount="_viewModel.MemorabiliaTeams.Count(team => team.PriorityTypeId == Domain.Constants.PriorityType.MustHave.Id)"
                                                 NiceToHaveCount="_viewModel.MemorabiliaTeams.Count(team => team.PriorityTypeId == Domain.Constants.PriorityType.NiceToHave.Id)"
                                                 NoWayCount="_viewModel.MemorabiliaTeams.Count(team => team.PriorityTypeId == Domain.Constants.PriorityType.NoWay.Id)"
                                                 TakeItOrLeaveItCount="_viewModel.MemorabiliaTeams.Count(team => team.PriorityTypeId == Domain.Constants.PriorityType.TakeItOrLeaveIt.Id)" />
                            </div>
                            <div class="col-2" />
                            <div class="col-4">
                                <ProjectStatus CompletedCount="_viewModel.MemorabiliaTeams.Count(team => team.ProjectStatusTypeId == Domain.Constants.ProjectStatusType.Completed.Id)"
                                               InProgressCount="_viewModel.MemorabiliaTeams.Count(team => team.ProjectStatusTypeId == Domain.Constants.ProjectStatusType.InProgress.Id)"
                                               NotStartedCount="_viewModel.MemorabiliaTeams.Count(team => team.ProjectStatusTypeId == 0 || team.ProjectStatusTypeId == Domain.Constants.ProjectStatusType.NotStarted.Id)" />
                            </div>
                        </div>
                        <br />
                        <div class="row" style="margin-left:1%;margin-right:1%">
                            <MudChipSet>
                                <MudChip Color="MudBlazor.Color.Success">@($"Linked to Memorabilia - {_viewModel.MemorabiliaTeams.Count(team => team.MemorabiliaId > 0)}")</MudChip>
                                <MudChip Color="MudBlazor.Color.Info">@($"Not Linked to Memorabilia - {_viewModel.MemorabiliaTeams.Count(team => team.MemorabiliaId == 0)}")</MudChip>
                            </MudChipSet>
                            <MudChipSet>
                                <MudChip Color="MudBlazor.Color.Success">@($"Upgrade - {_viewModel.MemorabiliaTeams.Count(team => team.Upgrade)}")</MudChip>
                                <MudChip Color="MudBlazor.Color.Info">@($"Not Upgrade - {_viewModel.MemorabiliaTeams.Count(team => !team.Upgrade)}")</MudChip>
                            </MudChipSet>
                        </div>
                        <br />
                </Match>
            </Condition>            
            <Condition Evaluation="@(_viewModel.ProjectType == ProjectType.HelmetType)">
                <Match>
                    <HelmetTypeDetails Model="_viewModel" />
                    <br />
                </Match>
            </Condition>                          
        </Match>
    </Condition>
    <Condition Evaluation="@(_viewModel.ProjectType != null)">
        <Match>
            <div style="margin-bottom:1%">
                <SaveButton OnClick="OnSave"
                            Text="Save" />
            </div>            
        </Match>
    </Condition>
</div>


