<Div Style="margin-top:1%;margin-left:1%;margin-right:1%">
    <AlertPanel Alerts="ValidationResultAlerts" />
    <Div Class="row">
        <Div Class="col-3">
            <Text Typography="Typo.h3">
                Project Details
            </Text>
        </Div>
    </Div>
    <DivRowFormGroup>
        <Div Class="col-3">
            <TextField DisplaySkeleton="@(!Loaded)" 
                       Label="Name"
                       MaxLength="1000"
                       SelectedText="@EditModel.Name"
                       SelectedTextChanged="@((p) => EditModel.Name = p)" />
        </Div>
        <Div Class="col-3">
            <SkeletonLoader IsLoading="@(!Loaded)">
                <MudDatePicker @bind-Date="EditModel.StartDate"
                               DateFormat="MM/dd/yyyy"
                               Editable="true"
                               Label="Start Date"
                               Mask="@(new DateMask("MM/dd/yyyy"))"
                               Variant="Variant.Outlined" />
            </SkeletonLoader>            
        </Div>
        <Div Class="col-3">
            <SkeletonLoader IsLoading="@(!Loaded)">
                <MudDatePicker @bind-Date="EditModel.EndDate"
                               DateFormat="MM/dd/yyyy"
                               Editable="true"
                               Label="End Date"
                               Mask="@(new DateMask("MM/dd/yyyy"))"
                               Variant="Variant.Outlined" />
            </SkeletonLoader>            
        </Div>
        <Div Class="col-3">
            <SkeletonLoader IsLoading="@(!Loaded)">
                <ProjectSelector Disabled="@(EditModel.Id > 0)"
                                 OnProjectTypeSelected="OnProjectTypeSelected"
                                 SelectedProjectType="EditModel.ProjectType" />
            </SkeletonLoader>
        </Div>
    </DivRowFormGroup> 
    <Condition Evaluation="@(EditModel.ProjectType != null && ProjectTypeComponent != null)">
        <Match>
            <DynamicComponent Parameters="@ProjectTypeParameters"
                              Type="@ProjectTypeComponent" />
        </Match>
    </Condition>
    <br />      
    <Div Class="row"
         Style="margin-left:1%;margin-right:1%"
         Visible="@(EditModel.Id > 0)">
        <MudProgressLinear Class="my-7"
                           Color="MudBlazor.Color.Success"
                           Size="MudBlazor.Size.Large"
                           Value="EditModel.StatusPercentage">
            <Text Color="MudBlazor.Color.Dark"
                  Typography="Typo.subtitle1">
                <b>@(EditModel.StatusPercentage)%</b>
            </Text>
        </MudProgressLinear>
    </Div>
    <Condition Evaluation="@(EditModel.ProjectType.IsPersonProject() && EditModel.People.Any())">
        <Match>
            <Div Class="row"
                 Style="margin-left:1%;margin-right:1%">
                <Div Class="col-2">
                    <ProjectPriority MustHaveCount="EditModel.People.Count(person => person.PriorityTypeId == Constant.PriorityType.MustHave.Id)"
                                     NiceToHaveCount="EditModel.People.Count(person => person.PriorityTypeId == Constant.PriorityType.NiceToHave.Id)"
                                     NoWayCount="EditModel.People.Count(person => person.PriorityTypeId == Constant.PriorityType.NoWay.Id)"
                                     TakeItOrLeaveItCount="EditModel.People.Count(person => person.PriorityTypeId == Constant.PriorityType.TakeItOrLeaveIt.Id)"
                                     WatchingCount="EditModel.People.Count(person => person.PriorityTypeId == Constant.PriorityType.Watching.Id)" />
                </Div>
                <Div Class="col-2">
                    <ProjectStatus CompletedCount="EditModel.People.Where(person => person.PriorityTypeId != Constant.PriorityType.Watching.Id).Count(person => person.ProjectStatusTypeId == Constant.ProjectStatusType.Completed.Id)"
                                   InProgressCount="EditModel.People.Where(person => person.PriorityTypeId != Constant.PriorityType.Watching.Id).Count(person => person.ProjectStatusTypeId == Constant.ProjectStatusType.InProgress.Id)"
                                   NotStartedCount="EditModel.People.Where(person => person.PriorityTypeId != Constant.PriorityType.Watching.Id).Count(person => person.ProjectStatusTypeId == 0 || person.ProjectStatusTypeId == Constant.ProjectStatusType.NotStarted.Id)" />
                </Div>
                <Div Class="col-2">
                    <Stack>
                        <Chip Color="MudBlazor.Color.Success">@($"Linked to Autograph - {EditModel.People.Where(person => person.PriorityTypeId != Constant.PriorityType.Watching.Id).Count(person => person.AutographId > 0)}")</Chip>
                        <Chip Color="MudBlazor.Color.Info">@($"Not Linked to Autograph - {EditModel.People.Where(person => person.PriorityTypeId != Constant.PriorityType.Watching.Id).Count(person => person.AutographId == 0)}")</Chip>
                    </Stack>
                 </Div>
                <Div Class="col-2">
                    <Stack>
                        <Chip Color="MudBlazor.Color.Success">@($"Upgrade - {EditModel.People.Where(person => person.PriorityTypeId != Constant.PriorityType.Watching.Id).Count(person => person.Upgrade)}")</Chip>
                        <Chip Color="MudBlazor.Color.Info">@($"Not Upgrade - {EditModel.People.Where(person => person.PriorityTypeId != Constant.PriorityType.Watching.Id).Count(person => !person.Upgrade)}")</Chip>
                    </Stack>
                </Div>
                <Div Class="col-2">
                    <Stack>
                        <Chip Color="MudBlazor.Color.Success">@($"Living - {EditModel.People.Where(person => person.PriorityTypeId != Constant.PriorityType.Watching.Id).Count(person => !person.Deceased)}")</Chip>
                        <Chip Color="MudBlazor.Color.Info">@($"Deceased - {EditModel.People.Where(person => person.PriorityTypeId != Constant.PriorityType.Watching.Id).Count(person => person.Deceased)}")</Chip>
                    </Stack>
                </Div>
                <Div Class="col-2">
                    <Stack>
                        <Chip Color="MudBlazor.Color.Success">@($"Total Estimated Cost - {EditModel.People.Where(person => person.PriorityTypeId != Constant.PriorityType.Watching.Id).Sum(person => (person.EstimatedCost ?? 0)).ToString("c") ?? string.Empty}")</Chip>
                    </Stack>
                </Div>
            </Div>
            <br />
        </Match>
     </Condition>
    <Condition Evaluation="@(EditModel.ProjectType.IsPersonProject() && EditModel.ProjectType == ProjectType.BaseballType)">
        <Match>
            <BaseballTypeDetails Model="EditModel" />
            <br />
        </Match>
    </Condition>
    <Condition Evaluation="@(EditModel.ProjectType.IsPersonProject() && EditModel.ProjectType == ProjectType.Card)">
        <Match>
            <CardDetails Model="EditModel" />
            <br />
        </Match>
    </Condition>
    <Condition Evaluation="@(EditModel.ProjectType.IsPersonProject() && EditModel.ProjectType == ProjectType.HallOfFame)">
        <Match>
            <HallOfFameDetails Model="EditModel" />
            <br />
        </Match>
    </Condition>
    <Condition Evaluation="@(EditModel.ProjectType.IsPersonProject() && EditModel.ProjectType == ProjectType.ItemType)">
        <Match>
            <ItemTypeDetails Model="EditModel" />
            <br />
        </Match>
    </Condition>
    <Condition Evaluation="@(EditModel.ProjectType.IsPersonProject() && EditModel.ProjectType == ProjectType.Team)">
        <Match>
            <TeamDetails Model="EditModel" />
            <br />
        </Match>
    </Condition>
    <Condition Evaluation="@(EditModel.ProjectType.IsPersonProject() && EditModel.ProjectType == ProjectType.WorldSeries)">
        <Match>
            <WorldSeriesDetails Model="EditModel" />
            <br />
        </Match>
    </Condition>
    <Condition Evaluation="@(EditModel.ProjectType.IsTeamProject() && EditModel.MemorabiliaTeams.Any())">
        <Match>
            <Div Class="row" 
                    Style="margin-left:1%;margin-right:1%">
                <Div Class="col-2">
                    <ProjectPriority MustHaveCount="EditModel.MemorabiliaTeams.Count(memorabiliaTeam => memorabiliaTeam.PriorityTypeId == Constant.PriorityType.MustHave.Id)"
                                        NiceToHaveCount="EditModel.MemorabiliaTeams.Count(memorabiliaTeam => memorabiliaTeam.PriorityTypeId == Constant.PriorityType.NiceToHave.Id)"
                                        NoWayCount="EditModel.MemorabiliaTeams.Count(memorabiliaTeam => memorabiliaTeam.PriorityTypeId == Constant.PriorityType.NoWay.Id)"
                                        TakeItOrLeaveItCount="EditModel.MemorabiliaTeams.Count(memorabiliaTeam => memorabiliaTeam.PriorityTypeId == Constant.PriorityType.TakeItOrLeaveIt.Id)"
                                        WatchingCount="EditModel.People.Count(person => person.PriorityTypeId == Constant.PriorityType.Watching.Id)" />
                </Div>
                <Div Class="col-2">
                    <ProjectStatus CompletedCount="EditModel.MemorabiliaTeams.Where(person => person.PriorityTypeId != Constant.PriorityType.Watching.Id).Count(memorabiliaTeam => memorabiliaTeam.ProjectStatusTypeId == Constant.ProjectStatusType.Completed.Id)"
                                    InProgressCount="EditModel.MemorabiliaTeams.Where(person => person.PriorityTypeId != Constant.PriorityType.Watching.Id).Count(memorabiliaTeam => memorabiliaTeam.ProjectStatusTypeId == Constant.ProjectStatusType.InProgress.Id)"
                                    NotStartedCount="EditModel.MemorabiliaTeams.Where(person => person.PriorityTypeId != Constant.PriorityType.Watching.Id).Count(memorabiliaTeam => memorabiliaTeam.ProjectStatusTypeId == 0 || memorabiliaTeam.ProjectStatusTypeId == Constant.ProjectStatusType.NotStarted.Id)" />
                </Div>
                <Div Class="col-2">
                    <Stack>
                        <Chip Color="MudBlazor.Color.Success">@($"Linked to Memorabilia - {EditModel.MemorabiliaTeams.Where(person => person.PriorityTypeId != Constant.PriorityType.Watching.Id).Count(memorabiliaTeam => memorabiliaTeam.MemorabiliaId > 0)}")</Chip>
                        <Chip Color="MudBlazor.Color.Info">@($"Not Linked to Memorabilia - {EditModel.MemorabiliaTeams.Where(person => person.PriorityTypeId != Constant.PriorityType.Watching.Id).Count(memorabiliaTeam => memorabiliaTeam.MemorabiliaId == 0)}")</Chip>
                    </Stack>
                </Div>
                <Div Class="col-2">
                    <Stack>
                        <Chip Color="MudBlazor.Color.Success">@($"Upgrade - {EditModel.MemorabiliaTeams.Where(person => person.PriorityTypeId != Constant.PriorityType.Watching.Id).Count(memorabiliaTeam => memorabiliaTeam.Upgrade)}")</Chip>
                        <Chip Color="MudBlazor.Color.Info">@($"Not Upgrade - {EditModel.MemorabiliaTeams.Where(person => person.PriorityTypeId != Constant.PriorityType.Watching.Id).Count(memorabiliaTeam => !memorabiliaTeam.Upgrade)}")</Chip>
                    </Stack>
                </Div>
                <Div Class="col-2">
                    <Stack>
                        <Chip Color="MudBlazor.Color.Success">@($"Total Estimated Cost - {EditModel.MemorabiliaTeams.Where(person => person.PriorityTypeId != Constant.PriorityType.Watching.Id).Sum(memorabiliaTeam => (memorabiliaTeam.EstimatedCost ?? 0)).ToString("c") ?? string.Empty}")</Chip>
                    </Stack>
                </Div>
            </Div>
            <br />
        </Match>
    </Condition>            
    <Condition Evaluation="@(EditModel.ProjectType.IsTeamProject() && EditModel.ProjectType == ProjectType.HelmetType)">
        <Match>
            <HelmetTypeDetails Model="EditModel" />
            <br />
        </Match>
    </Condition>     
    <Div Style="margin-bottom:1%;margin-right:1%;text-align:right;"
            Visible="@(EditModel.ProjectType != null)">
        <SaveButton OnClick="OnSave"
                    Text="Save" />
    </Div>
</Div>


