<div style="margin-top:1%;margin-left:1%">
    <PrettyBlazor.Condition Evaluation="@(ValidationResultAlerts.Any())">
        <Match>
            <AlertPanel Alerts="ValidationResultAlerts" />
        </Match>
    </PrettyBlazor.Condition>
    <DivRowCol3>
        <Content>
            <h3>
                Project Details
            </h3>
        </Content>
    </DivRowCol3>
    <DivRowCol3>
        <Content>
            <TextField Label="Name"
                       MaxLength="1000"
                       SelectedText="@_viewModel.Name"
                       SelectedTextChanged="@((p) => _viewModel.Name = p)" />
        </Content>
        <ContentColumn2>
            <MudDatePicker @bind-Date="_viewModel.StartDate"
                           DateFormat="MM/dd/yyyy"
                           Editable="true"
                           Label="Start Date"
                           Mask="@(new DateMask("MM/dd/yyyy"))"
                           Variant="Variant.Outlined" />
        </ContentColumn2>
        <ContentColumn3>
            <MudDatePicker @bind-Date="_viewModel.EndDate"
                           DateFormat="MM/dd/yyyy"
                           Editable="true"
                           Label="End Date"
                           Mask="@(new DateMask("MM/dd/yyyy"))"
                           Variant="Variant.Outlined" />
        </ContentColumn3>
    </DivRowCol3>
    <ProjectSelector Disabled="@(_viewModel.Id > 0)" 
                     OnProjectTypeSelected="OnProjectTypeSelected"
                     SelectedProjectType="_viewModel.ProjectType" />
    <br /> 
    <Condition Evaluation="@(_viewModel.ProjectType != null && ProjectTypeComponent != null)">
        <Match>
            <DynamicComponent Parameters="@ProjectTypeParameters"
                              Type="@ProjectTypeComponent" />
        </Match>
    </Condition>
    <br /> 
    <Condition Evaluation="@(_viewModel.Id > 0)">
        <Match>
            <div class="row" style="margin-left:1%;margin-right:1%">
                <MudProgressLinear Class="my-7"
                                   Color="MudBlazor.Color.Success"
                                   Size="MudBlazor.Size.Large"
                                   Value="_viewModel.StatusPercentage">
                    <MudText Color="MudBlazor.Color.Dark"
                             Typo="Typo.subtitle1">
                        <b>@(_viewModel.StatusPercentage)%</b>
                    </MudText>
                </MudProgressLinear>
            </div>
        </Match>
    </Condition>
    @*ProjectPersonGrid*@
    <Condition Evaluation="@(_viewModel.ProjectType.IsPersonProject())"> 
        <Match>
            <Condition Evaluation="@(_viewModel.ProjectType == ProjectType.BaseballType)"> 
                <Match>
                    <BaseballTypeDetails Model="_viewModel" />
                    <br />
                </Match>
            </Condition>
            <Condition Evaluation="@(_viewModel.ProjectType == ProjectType.Card)">
                <Match>
                    <CardDetails Model="_viewModel" />
                    <br />
                </Match>
            </Condition>
            <Condition Evaluation="@(_viewModel.ProjectType == ProjectType.HallOfFame)">
                <Match>
                    <HallOfFameDetails Model="_viewModel" />
                    <br />
                </Match>
            </Condition>
            <Condition Evaluation="@(_viewModel.ProjectType == ProjectType.ItemType)">
                <Match>
                    <ItemTypeDetails Model="_viewModel" />
                    <br />
                </Match>
            </Condition>
        </Match>
    </Condition>
    @*ProjectMemorabiliaGrid*@
    <Condition Evaluation="@(_viewModel.ProjectType.IsTeamProject())">
        <Match>
            <Condition Evaluation="@(_viewModel.ProjectType == ProjectType.HelmetType)">
                <Match>
                    <HelmetTypeDetails Model="_viewModel" />
                    <br />
                </Match>
            </Condition>    
            <Condition Evaluation="@(_viewModel.ProjectType == ProjectType.Team)">
                <Match>
                    <TeamDetails Model="_viewModel" />
                    <br />
                </Match>
            </Condition>
            <Condition Evaluation="@(_viewModel.ProjectType == ProjectType.WorldSeries)">
                <Match>
                    <WorldSeriesDetails Model="_viewModel" />
                    <br />
                </Match>
            </Condition>
        </Match>
    </Condition>
    <Condition Evaluation="@(_viewModel.ProjectType != null)">
        <Match>
            <div style="margin-bottom:1%">
                <SaveButton OnClick="OnSave"
                            Text="Save" />
            </div>            
        </Match>
    </Condition>
</div>


