<Dialog DisplayCloseButton="true"
        OnClose="Cancel">
    <DialogContent>
        <Div Style="@($"{Style.MarginPad1}{Style.VertificalScrollbar}")">
            <MudTable Bordered="false"
                      Dense="false"
                      Hover="true"
                      Items="Model"
                      Striped="true">
                <ToolBarContent>
                    <ToolbarTitle Text="Memorabilia" />
                    <MudSpacer />
                </ToolBarContent>
                <HeaderContent>
                    <MudTh></MudTh>
                    <MudTh>Item</MudTh>
                    <MudTh>Condition</MudTh>
                    <MudTh>Value</MudTh>
                    <MudTh>Acquisition Type</MudTh>
                    <MudTh>Acquisition Date</MudTh>
                    <MudTh>Cost</MudTh>
                    <MudTh>Purchase Place</MudTh>
                    <MudTh></MudTh>
                </HeaderContent>
                <RowTemplate Context="memorabilia">
                    <MudTd>
                        <GridImage AllowNavigation="true"
                                   OnClick="@(_ => NavigationManager.NavigateTo($"Memorabilia/Image/Edit/{DataProtectorService.EncryptId(memorabilia.Id)}"))"
                                   ImageData="@(ImageService.GetUserImageData(memorabilia.ImageFileName))"
                                   ImageLoaded="StateHasChanged"
                                   TooltipText="@memorabilia.ImageDisplayCount" />
                    </MudTd>
                    <MudTd DataLabel="Item">@memorabilia.ItemTypeName</MudTd>
                    <MudTd DataLabel="Condition">@memorabilia.ConditionName</MudTd>
                    <MudTd DataLabel="Value">@memorabilia.EstimatedValue?.ToString("c")</MudTd>
                    <MudTd DataLabel="Acquisition Type">@memorabilia.AcquisitionTypeName</MudTd>
                    <MudTd DataLabel="Acquisition Date">@memorabilia.Acquisition.AcquiredDate?.ToString("MM-dd-yyyy")</MudTd>
                    <MudTd DataLabel="Cost">@memorabilia.Acquisition.Cost?.ToString("c")</MudTd>
                    <MudTd DataLabel="Purchase Place">@memorabilia.PurchaseTypeName</MudTd>
                    <TableDataRightAligned>
                        <Fab Color="MudBlazor.Color.Primary"
                             OnClick="@(_ => Select(@memorabilia))"
                             Size="MudBlazor.Size.Small"
                             StartIcon="@Icons.Material.Outlined.Edit"
                             TooltipText="Select" />
                    </TableDataRightAligned>
                </RowTemplate>
                <PagerContent>
                    <MudTablePager />
                </PagerContent>
            </MudTable>
        </Div>
    </DialogContent>
</Dialog>
