<MudDialog Class="mud-dialog-width-lg" 
           Style="max-height:80vh;">
    <DialogContent>
        <div style="text-align:right;">
            <MudIconButton Icon="@Icons.Material.Filled.Close"
                           OnClick="Cancel" />
        </div>
        <div style="margin-top:2%;margin-bottom:2%;margin-left:2%;margin-right:2%;overflow-y:auto;">
            <MudTable Bordered="false"
                      Dense="false"
                      Height="400px"
                      Hover="true"
                      Items="@DomainItems"
                      Striped="true">
                <ToolBarContent>
                    <MudText Typo="Typo.h6">@Title</MudText>
                    <MudSpacer />
                </ToolBarContent>
                <HeaderContent>
                    <MudTh>Name</MudTh>
                    <MudTh>Abbreviation</MudTh>
                    <MudTh></MudTh>
                </HeaderContent>
                <RowTemplate Context="item">
                    <MudTd DataLabel="Name">@item.Name</MudTd>
                    <MudTd DataLabel="Abbreviation">@item.Abbreviation</MudTd>
                    <MudTd>
                        <MudTooltip Text="Select">
                            <MudFab Color="MudBlazor.Color.Primary"
                                    Icon="@Icons.Material.Outlined.Add"
                                    OnClick="@(_ => Select(@item.Id))"
                                    Size="@MudBlazor.Size.Small" />
                        </MudTooltip>
                    </MudTd>
                </RowTemplate>
                <PagerContent>
                    <MudTablePager />
                </PagerContent>
            </MudTable>
        </div>
    </DialogContent>
    <DialogActions>
        <CancelButton OnClick="Cancel" />
    </DialogActions>
</MudDialog>
