<MudDialog Class="mud-dialog-width-lg"
           Style="max-height:80vh;">
    <DialogContent>
        <div style="text-align:right;">
            <MudIconButton Icon="@Icons.Material.Filled.Close"
                           OnClick="Cancel" />
        </div>
        <br />
        <DivRowCol12>
            <Content>
                <MudTable Bordered="false"
                          Dense="false"
                          Filter="new Func<Domain.Entities.Team,bool>(FilterFunc1)"
                          Hover="true"
                          Items="@Teams"
                          Striped="true">
                    <ToolBarContent>
                        <MudText Typo="Typo.h6">Teams</MudText>
                        <MudSpacer />
                        <MudTextField @bind-Value="_search"
                                      Adornment="Adornment.Start"
                                      AdornmentIcon="@Icons.Material.Filled.Search"
                                      Class="mt-0"
                                      IconSize="MudBlazor.Size.Medium"
                                      Placeholder="Search" />
                    </ToolBarContent>
                    <HeaderContent>
                        <MudTh>
                            <CustomButton ButtonType="ButtonType.Button"
                                          OnClick="OnSelectAll"
                                          Text="@SelectAllButtonText" />
                        </MudTh>
                        <MudTh>Display Name</MudTh>
                    </HeaderContent>
                    <RowTemplate>
                        <MudTd DataLabel="">
                            <BooleanCheckBox Checked="@(SelectedTeams.Contains(context))"
                                             CheckedChanged="(p) => TeamSelected(context)" />
                        </MudTd>
                        <MudTd DataLabel="Display Name">@context.DisplayName</MudTd>
                    </RowTemplate>
                    <PagerContent>
                        <MudTablePager />
                    </PagerContent>
                </MudTable>
            </Content>
        </DivRowCol12>
    </DialogContent>
    <DialogActions>
        <CancelButton OnClick="Cancel" />
        <CustomButton OnClick="Import"
                      Text="Import" />
    </DialogActions>
</MudDialog>
