<MudDialog Style="max-height:85vh;overflow-y:auto;">
    <DialogContent>
        <DivPad2>
            <Div Class="row" 
                 Style="text-align:center">                
                <Div Class="col-4">
                    <Image AllowNavigation="true"
                           Height="150"
                           ImageData="@(ImageService.GetDomainImageData(ImageFileName.Google))"
                           OnClick="@(_ => Select(LoginProvider.Google))"
                           TooltipText="Google"
                           Width="150" />
                </Div>
                @*TODO:Can only get this working when I am a business*@
                @*<Div Class="col-4">
                    <MudTooltip Text="Meta">
                        <MudImage @onclick="@(_ => Select(LoginProvider.Meta))"
                                  Class="rounded-lg can-click"
                                  Elevation="5"
                                  Height="150"
                                  ObjectFit="@ObjectFit.Cover"
                                  Src="@(ImageService.GetDomainImageData(ImageFileName.Meta))"
                                  Width="150" />
                    </MudTooltip>
                </Div>*@
                <Div Class="col-4">
                    <Image AllowNavigation="true"
                           Height="150"
                           ImageData="@(ImageService.GetDomainImageData(ImageFileName.Microsoft))"
                           OnClick="@(_ => Select(LoginProvider.Microsoft))"
                           TooltipText="Microsoft"
                           Width="150" />
                </Div>
                <Div Class="col-4">
                    <MudTooltip Text="X">
                        <Image AllowNavigation="true"
                               Height="150"
                               ImageData="@(ImageService.GetDomainImageData(ImageFileName.X))"
                               OnClick="@(_ => Select(LoginProvider.X))"
                               TooltipText="X"
                               Width="150" />
                    </MudTooltip>
                </Div>
            </Div>
        </DivPad2>
    </DialogContent>
    <DialogActions>
        <CancelButton OnClick="Cancel" />
    </DialogActions>
</MudDialog>
