<Condition Evaluation="CanToggle">
    <Match>
        <Div Class="row">
            <Div Class="col-3">
                <Switch Checked="@_hasPeople"
                        CheckedChanged="PersonCheckboxClicked"
                        Label="@_itemTypeNameLabel" />
            </Div>
        </Div>
    </Match>
</Condition>
<Condition Evaluation="CanFilterBySport">
    <Match>
        <Div Class="row" 
             Hidden="@(!_displayPeople)"
             Style="margin-top:1%;margin-bottom:1%;padding-left:10px;">
            <Div Class="col-6">
                <Condition Evaluation="@(CanFilterBySport && Sport != null)">
                    <Match>
                        <Div Class="row" 
                             Style="margin-top:1%;margin-bottom:1%;padding-left:10px;">
                            <Div Class="col-3">
                                <Switch Checked="@_filterPeople"
                                        CheckedChanged="PersonFilterCheckboxClicked"
                                        Label="@_itemTypeNameFilterLabel" />
                            </Div>
                        </Div>
                    </Match>
                </Condition>  
            </Div>
        </Div>
    </Match>
</Condition>
<Div Class="row" 
     Hidden="@(!_displayPeople)"
     Style="margin-top:1%;margin-bottom:1%;padding-left:10px;">
    <Div Class="col-6">
        <PersonAutoComplete IsCulturalSearch="true" 
                            SelectedValue="SelectedPerson"
                            SelectionChanged="(p) => SelectedPerson = p"
                            Sport="Sport" />
    </Div>
</Div>
<Div Class="row" 
     Hidden="@(!_displayPeople)"
     Style="margin-top:1%;margin-bottom:1%;padding-left:10px;">
    <Div Class="col-6">
        <DivLeftAlign>
            <AddButton OnClick="Add"
                       Text="Add Person" />
        </DivLeftAlign>
        <br />
        <MudTable Bordered="false"
                  Dense="false" 
                  Hover="true"
                  Items="@SelectedPeople.Where(person => !person.IsDeleted).ToList()"    
                  Striped="true">
            <HeaderContent>
                <MudTh>Person</MudTh>
                <MudTh></MudTh>
                <MudTh></MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Person">@context.DisplayName</MudTd>
                <MudTd DataLabel="">
                    <MudTooltip Text="View Profile">
                        <MudFab Color="MudBlazor.Color.Secondary"
                                Icon="@Icons.Material.Filled.Person"
                                OnClick="@(_ => ShowPersonProfile(context.Id))" />
                    </MudTooltip>
                </MudTd>
                <MudTd DataLabel="">
                    <MudTooltip Text="Delete">
                        <MudFab Color="MudBlazor.Color.Secondary"
                                Icon="@Icons.Material.Outlined.DeleteOutline"
                                OnClick="@(_ => context.IsDeleted = true)" />
                    </MudTooltip>  
                </MudTd>
            </RowTemplate>
        </MudTable>
    </Div>
</Div>