<RowStack Class="col-4"
          Style="margin-left:-1%;margin-bottom:1%;">
    <TextField Label="Nickname"
               MaxLength="100"
               SelectedText="@Model.Nickname"
               SelectedTextChanged="@((p) => Model.Nickname = p)" />
    <AddMudFab OnAdd="Add" />
</RowStack>
<Div Class="row">
    <Div Class="col-6">
         <MudTable Bordered="false"
                   Dense="false" 
                   Hover="true"
                   Items="@Nicknames.Where(nickname => !nickname.IsDeleted).ToList()"    
                   Striped="true">
            <HeaderContent>
                <MudTh>Nickname</MudTh>
                <MudTh></MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Nickname">@context.Nickname</MudTd>
                <MudTd DataLabel="">
                    <DeleteGridButton OnDelete="@(_ => context.IsDeleted = true)" />
                </MudTd>
            </RowTemplate>
        </MudTable>
    </Div>
</Div>

