<MudStack Class="col-4" 
          Row="true"
          Style="margin-left:-1%;margin-bottom:1%;">
    <TextField Label="Nickname"
               MaxLength="100"
               SelectedText="@Model.Nickname"
               SelectedTextChanged="@((p) => Model.Nickname = p)" />
    <AddMudFab OnAdd="Add" />
</MudStack>
<Div Class="row">
    <Div Class="col-6">
         <MudTable Bordered="false"
                   Dense="false" 
                   Hover="true"
                   Items="@Nicknames.Where(nickname => !nickname.IsDeleted).ToList()"    
                   Striped="true">
            <HeaderContent>
                <MudTh>Nickname</MudTh>
                <MudTh></MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Nickname">@context.Nickname</MudTd>
                <MudTd DataLabel="">
                    <MudTooltip Text="Delete">
                        <MudFab Color="MudBlazor.Color.Secondary"
                                Icon="@Icons.Material.Outlined.DeleteOutline"
                                OnClick="@(_ => Nicknames.Remove(context))" />
                    </MudTooltip>  
                </MudTd>
            </RowTemplate>
        </MudTable>
    </Div>
</Div>

