<Div Class="row"
     Style="margin-top:1%;margin-bottom:1%;">
    <Div Class="col-4">
        <CollegeAutoComplete Disabled="@(!_canEditCollege)"
                             ResetValueOnEmptyText="false"
                             SelectedValue="Model.College"
                             SelectionChanged="(p) => Model.College = p" />
    </Div>
    <Div Class="col-4">
        <SportAutoComplete SelectedValue="Model.Sport"
                           SelectionChanged="(p) => Model.Sport = p" />
    </Div>
    <Div Class="col-4">
        <NullableIntField Label="Induction Year"
                          Value="Model.Year"
                          ValueChanged="@((p) => Model.Year = p)" />
    </Div>
</Div>
<DivLeftAlign>
    <Div Hidden="@(!_canAdd)">
        <AddButton OnClick="Add" />
    </Div>
    <Div Hidden="@(!_canUpdate)">
        <UpdateButton OnClick="Update" />
    </Div>
</DivLeftAlign>
<br />
<Div Class="row">
    <Div Class="col-6">
        <MudTable Bordered="false"
                  Dense="false"
                  Hover="true"
                  Items="@CollegeHallOfFames.Where(hof => !hof.IsDeleted).ToList()"
                  Striped="true">
            <HeaderContent>
                <MudTh>College</MudTh>
                <MudTh>Sport</MudTh>
                <MudTh>Year</MudTh>
                <MudTh></MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="College">@context.CollegeName</MudTd>
                <MudTd DataLabel="Sport">@context.SportName</MudTd>
                <MudTd DataLabel="Year">@context.Year</MudTd>
                <MudTd DataLabel="">
                    <MudTooltip Text="Edit">
                        <MudFab Color="MudBlazor.Color.Primary"
                                Icon="@Icons.Material.Outlined.ModeEditOutline"
                                OnClick="@(_ => Edit(context))" />
                    </MudTooltip>
                    <MudTooltip Text="Delete">
                        <MudFab Color="MudBlazor.Color.Secondary"
                                Icon="@Icons.Material.Outlined.DeleteOutline"
                                OnClick="@(_ => context.IsDeleted = true)" />
                    </MudTooltip>
                </MudTd>
            </RowTemplate>
        </MudTable>
    </Div>
</Div>

