<Div Class="row"
     Visible="CanToggle">
    <Div Class="col-3">
        <Switch Checked="@_hasPeople"
                CheckedChanged="PersonCheckboxClicked"
                Label="@_itemTypeNameLabel" />
    </Div>
</Div>
<Div Visible="_displayPeople">
    <Div Class="row"
         Style="margin-top:1%;margin-bottom:1%;padding-left:10px;"
         Visible="CanFilterBySport">
        <Div Class="col-3">
            <Switch Checked="@_filterPeople"
                    CheckedChanged="PersonFilterCheckboxClicked"
                    Label="@_itemTypeNameFilterLabel" />
        </Div>
    </Div>
    <Div Class="row">
        <Div Class="col-6">
            <RowStack>
                <PersonAutoComplete Disabled="Disabled"
                                    IsCulturalSearch="true"
                                    SelectedValue="Model"
                                    SelectionChanged="(p) => Model = p"
                                    Sport="Sport" />
                <IconButton Icon="@Icons.Material.Filled.Person"
                            OnClick="ShowPersonProfile"
                            TooltipText="View Profile"
                            Visible="@_hasPeople" />
            </RowStack>
            <br />
        </Div>
    </Div>
</Div>