<DivRowFormGroup>
    <Div Class="col-6">
        <CollegeAutoComplete Disabled="@(EditMode == EditModeType.Update)"
                             ResetValueOnEmptyText="false"
                             SelectedValue="Model.College"
                             SelectionChanged="(p) => Model.College = p" />
    </Div>
</DivRowFormGroup>
<DivRowFormGroup>
    <MudStack Class="col-6"
              Row="true"
              Style="margin-bottom:1%;">        
        <NullableIntField Label="Begin Year"
                          Value="Model.BeginYear"
                          ValueChanged="@((p) => Model.BeginYear = p)" />
        <NullableIntField Label="End Year"
                          Value="Model.EndYear"
                          ValueChanged="@((p) => Model.EndYear = p)" />
        <AddUpdateMudFab EditMode="EditMode"
                         OnAdd="Add"
                         OnUpdate="Update" />
    </MudStack>
</DivRowFormGroup>
<Div Class="row">
    <Div Class="col-6">
         <MudTable Bordered="false"
                   Dense="false" 
                   Hover="true"
                   Items="@Colleges.Where(college => !college.IsDeleted).ToList()"    
                   Striped="true">
            <HeaderContent>
                <MudTh>College</MudTh>
                <MudTh>Begin Year</MudTh>
                <MudTh>End Year</MudTh>
                <MudTh></MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="College">@context.CollegeName</MudTd>
                <MudTd DataLabel="Begin Year">@context.BeginYear</MudTd>
                <MudTd DataLabel="End Year">@context.EndYear</MudTd>
                <MudTd DataLabel="">
                    <MudTooltip Text="Edit">
                        <MudFab Color="MudBlazor.Color.Primary"                                
                                Icon="@Icons.Material.Outlined.ModeEditOutline"
                                OnClick="@(_ => Edit(context))" />
                    </MudTooltip> 
                    <MudTooltip Text="Delete">
                        <MudFab Color="MudBlazor.Color.Secondary"
                                Icon="@Icons.Material.Outlined.DeleteOutline"
                                OnClick="@(_ => context.IsDeleted = true)" />
                    </MudTooltip>  
                </MudTd>
            </RowTemplate>
        </MudTable>
    </Div>
</Div>



