<DivRowFormGroup>
    <RowStack Class="col-6"
              Style="margin-bottom:1%;">
        <InternationalHallOfFameTypeDropDown Disabled="@(EditMode == EditModeType.Update)"
                                             Label="Type"
                                             SelectedValue="Model.InternationalHallOfFameTypeId"
                                             SelectionChanged="(p) => Model.InternationalHallOfFameTypeId = p" />
        <NullableIntField Label="Induction Year"
                          Value="Model.Year"
                          ValueChanged="@((p) => Model.Year = p)" />
        <AddUpdateFab EditMode="EditMode"
                      OnAdd="Add"
                      OnUpdate="Update" />
    </RowStack>
</DivRowFormGroup>
<Div Class="row">
    <Div Class="col-6">
         <MudTable Bordered="false"
                   Dense="false" 
                   Hover="true"
                   Items="@InternationalHallOfFames.Where(hof => !hof.IsDeleted).ToList()"    
                   Striped="true">
            <HeaderContent>
                <MudTh>Type</MudTh>
                <MudTh>Induction Year</MudTh>
                <MudTh></MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Type">@context.InternationalHallOfFameTypeName</MudTd>
                <MudTd DataLabel="Induction Year">@context.Year</MudTd>
                <MudTd DataLabel="">
                    <EditGridButton OnEdit="@(_ => Edit(context))" />
                    <DeleteGridButton OnDelete="@(_ => context.IsDeleted = true)" />
                </MudTd>
            </RowTemplate>
        </MudTable>
    </Div>
</Div>

