<Div Class="row">
    <Div Class="col-6">
        <PositionAutoComplete SelectedValue="Model.Position"
                              SelectionChanged="(p) => Model.Position = p"
                              Sports="Sports" />
    </Div>
    <Div Class="col-6">
        <MudSwitch Checked="@(Model.PositionType == PositionType.Primary)"
                   CheckedChanged="OnPositionTypeChange"
                   Color="MudBlazor.Color.Success"
                   Label="Is Primary?"
                   T="bool" />
    </Div>
</Div>
<DivLeftAlign>
    <AddButton OnClick="Add" />
</DivLeftAlign>
<br />
<DivRowCol12>
    <MudTable Bordered="false"
              Dense="false"
              Hover="true"
              Items="@Positions.Where(position => !position.IsDeleted).OrderBy(position => position.PositionName).ToList()"
              Striped="true">
        <HeaderContent>
            <MudTh>Position</MudTh>
            <MudTh>Type</MudTh>
            <MudTh></MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Position">@context.PositionName</MudTd>
            <MudTd DataLabel="Type">@context.PositionTypeName</MudTd>
            <MudTd DataLabel="">
                <MudTooltip Text="Delete">
                    <MudFab Color="MudBlazor.Color.Secondary"
                            Icon="@Icons.Material.Outlined.DeleteOutline"
                            OnClick="@(_ => Delete(context))" />
                </MudTooltip>
            </MudTd>
        </RowTemplate>
    </MudTable>
</DivRowCol12>

