<DivRowFormGroup>
    <RowStack Class="@DivClass.Column12"
              Style="@Style.MarginBottomPad1">
        <AwardTypeAutoComplete IncludeMultiSport="true" 
                               ResetValueOnEmptyText="false"
                               SelectedValue="Model.AwardType"
                               SelectionChanged="(p) => Model.AwardType = p"
                               Sports="Sports" />
        <TextField HelperText="Ex. 1999 or 1999-2002 or 2003, 2005-2008"
                   Label="Years"
                   SelectedText="@_years"
                   SelectedTextChanged="@((p) => _years = p)" />
        <AddFab OnAdd="Add" />
    </RowStack>
</DivRowFormGroup>
<Div Class="@DivClass.Row">
    <Div Class="@DivClass.Column12">
         <MudTable Bordered="false"
                   Dense="false"
                   Filter="new Func<PersonAwardEditModel, bool>(Filter)"
                   Hover="true"
                   Items="Awards.Where(award => !award.IsDeleted).ToList()"    
                   Striped="true">
            <ToolBarContent>
                <ToolbarTitle Text="Awards" />
                <MudSpacer />
                <ToolbarSearchField SearchText="@_search"
                                    SearchTextChanged="@((p) => _search = p)" />
            </ToolBarContent>
            <HeaderContent>
                <MudTh>Award</MudTh>
                <MudTh>Year</MudTh>
                <MudTh></MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Award">@context.AwardTypeName</MudTd>
                <MudTd DataLabel="Year">@context.Year</MudTd>
                <TableDataRightAligned>
                    <DeleteGridButton OnDelete="@(_ => context.IsDeleted = true)" />
                </TableDataRightAligned>
            </RowTemplate>
            <PagerContent>
                <MudTablePager />
            </PagerContent>
        </MudTable>
    </Div>
</Div>

