<DivRowFormGroup>
    <MudStack Class="col-12"
              Row="true"
              Style="margin-bottom:1%;">
        <FranchiseAutoComplete Disabled="@(EditMode == EditModeType.Update)"
                               SelectedValue="Model.Franchise"
                               SelectionChanged="(p) => Model.Franchise = p"
                               Sports="Sports" />
        <NullableIntField Label="Number"
                          Value="Model.PlayerNumber"
                          ValueChanged="@((p) => Model.PlayerNumber = p)" />
        <AddUpdateMudFab EditMode="EditMode"
                         OnAdd="Add"
                         OnUpdate="Update" />
    </MudStack>
</DivRowFormGroup>
<Div Class="row">
    <Div Class="col-12">
         <MudTable Bordered="false"
                   Dense="false" 
                   Hover="true"
                   Items="@RetiredNumbers.Where(retiredNumber => !retiredNumber.IsDeleted).ToList()"    
                   Striped="true">
            <HeaderContent>
                <MudTh>Franchise</MudTh>
                <MudTh>Number</MudTh>
                <MudTh></MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Franchise">@context.FranchiseName</MudTd>
                <MudTd DataLabel="Number">@context.PlayerNumber</MudTd>
                <MudTd DataLabel="">
                    <EditGridButton OnEdit="@(_ => Edit(context))" />
                    <DeleteGridButton OnDelete="@(_ => context.IsDeleted = true)" />
                </MudTd>
            </RowTemplate>
        </MudTable>
    </Div>
</Div>

