<DivRowFormGroup>
    <MudStack Class="col-12"
              Row="true"
              Style="margin-bottom:1%;">
        <LeaderTypeAutoComplete ResetValueOnEmptyText="false"
                                SelectedValue="Model.LeaderType"
                                SelectionChanged="(p) => Model.LeaderType = p"
                                Sports="Sports" />
        <TextField HelperText="Ex. 1999 or 1999-2002 or 2003, 2005-2008"
                   Label="Years"
                   SelectedText="@_years"
                   SelectedTextChanged="@((p) => _years = p)" />
        <AddMudFab OnAdd="Add" />
    </MudStack>
</DivRowFormGroup>
<Div Class="row">
    <Div Class="col-12">
         <MudTable Bordered="false"
                   Dense="false" 
                   Hover="true"
                   Items="@Leaders.Where(Leader => !Leader.IsDeleted).ToList()"    
                   Striped="true">
            <HeaderContent>
                <MudTh>Leader</MudTh>
                <MudTh>Year</MudTh>
                <MudTh></MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Leader">@context.LeaderTypeName</MudTd>
                <MudTd DataLabel="Year">@context.Year</MudTd>
                <MudTd DataLabel="">
                    <MudTooltip Text="Delete">
                        <MudFab Color="MudBlazor.Color.Secondary"
                                Icon="@Icons.Material.Outlined.DeleteOutline"
                                OnClick="@(_ => context.IsDeleted = true)" />
                    </MudTooltip>  
                </MudTd>
            </RowTemplate>
        </MudTable>
    </Div>
</Div>

