<div class="row">
    <div class="col-3">
        <SportLeagueLevelDropDown Disabled="@(!_canEditSportLeagueLevel)" 
                                  SelectedValue="Model.SportLeagueLevelId"
                                  SelectionChanged="(p) => Model.SportLeagueLevelId = p" />
    </div> 
    <div class="col-3">
        <BallotNumberDropDown SelectedValue="Model.BallotNumber"
                              SelectionChanged="(p) => Model.BallotNumber = p" />
    </div>   
    <div class="col-3">
        <NullableIntField Label="Induction Year"
                          Value="Model.InductionYear"
                          ValueChanged="@((p) => Model.InductionYear = p)" />
    </div>
    <div class="col-3">
        <NullableDecimalField Label="Vote Percentage"
                              Maximum="100"
                              Value="Model.VotePercentage"
                              ValueChanged="@((p) => Model.VotePercentage = p)" />
    </div>
</div>
<br />
<DivLeftAlign>
    <Content>
        <DivHidden Hidden="@(!_canAddHallOfFame)">
            <Content>
                <AddButton OnClick="Add" />
            </Content>
        </DivHidden>
        <DivHidden Hidden="@(!_canUpdateHallOfFame)">
            <Content>
                <UpdateButton OnClick="Update" />
            </Content>
        </DivHidden>
    </Content>
</DivLeftAlign>
<DivRowCol6>
    <Content>
         <MudTable Bordered="false"
                   Dense="false" 
                   Hover="true"
                   Items="@HallOfFames.Where(hof => !hof.IsDeleted).ToList()"    
                   Striped="true">
            <HeaderContent>
                <MudTh>Sport</MudTh>
                <MudTh>Induction Year</MudTh>
                <MudTh>Vote Percentage</MudTh>
                <MudTh>Ballot</MudTh>
                <MudTh></MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Sport">@context.SportName</MudTd>
                <MudTd DataLabel="Induction Year">@context.InductionYear</MudTd>
                <MudTd DataLabel="Vote Percentage">@context.VotePercentage</MudTd>
                <MudTd DataLabel="Ballot">@context.BallotNumberName</MudTd>
                <MudTd DataLabel="">
                    <MudTooltip Text="Edit">
                        <MudFab Color="MudBlazor.Color.Primary"                                
                                Icon="@Icons.Material.Outlined.ModeEditOutline"
                                OnClick="@(_ => Edit(context))" />
                    </MudTooltip> 
                    <MudTooltip Text="Delete">
                        <MudFab Color="MudBlazor.Color.Secondary"
                                Icon="@Icons.Material.Outlined.DeleteOutline"
                                OnClick="@(_ => context.IsDeleted = true)" />
                    </MudTooltip>  
                </MudTd>
            </RowTemplate>
        </MudTable>
    </Content>
</DivRowCol6>

