<DivRowFormGroup>
    <RowStack Class="@DivClass.Column6"
              Style="@Style.MarginBottomPad1">
        <FranchiseHallOfFameAutoComplete Disabled="@(EditMode == EditModeType.Update)"
                                         SelectedValue="Model.FranchiseHallOfFameType"
                                         SelectionChanged="(p) => Model.FranchiseHallOfFameType = p"
                                         Sports="Sports" />
        <NullableIntField Label="Induction Year"
                          Value="Model.Year"
                          ValueChanged="@((p) => Model.Year = p)" />
        <AddUpdateFab EditMode="EditMode"
                      OnAdd="Add"
                      OnUpdate="Update" />
    </RowStack>
</DivRowFormGroup>
<Div Class="@DivClass.Row">
    <Div Class="@DivClass.Column6">
         <MudTable Bordered="false"
                   Dense="false" 
                   Hover="true"
                   Items="@FranchiseHallOfFames.Where(hof => !hof.IsDeleted).ToList()"    
                   Striped="true">
            <HeaderContent>
                <MudTh>Franchise</MudTh>
                <MudTh>HOF</MudTh>
                <MudTh>Year</MudTh>
                <MudTh></MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Franchise">@context.FranchiseName</MudTd>
                <MudTd DataLabel="HOF">@context.FranchiseHallOfFameTypeName</MudTd>
                <MudTd DataLabel="Year">@context.Year</MudTd>
                <MudTd DataLabel="">
                    <EditGridButton OnEdit="@(_ => Edit(context))" />
                    <DeleteGridButton OnDelete="@(_ => context.IsDeleted = true)" />
                </MudTd>
            </RowTemplate>
        </MudTable>
    </Div>
</Div>

