<DivRowFormGroup>
    <MudStack Class="col-12"
              Row="true"
              Style="margin-bottom:1%;">
        <RecordTypeAutoComplete Disabled="@(EditMode == EditModeType.Update)"
                                ResetValueOnEmptyText="false"
                                SelectedValue="Model.RecordType"
                                SelectionChanged="(p) => Model.RecordType = p"
                                Sports="Sports" />
        <NullableIntField Label="Year"
                          Value="Model.Year"
                          ValueChanged="@((p) => Model.Year = p)" />
        <TextField Label="Record"
                   SelectedText="@Model.Record"
                   SelectedTextChanged="@((p) => Model.Record = p)" />
        <AddUpdateMudFab EditMode="EditMode"
                         OnAdd="Add"
                         OnUpdate="Update" />
    </MudStack>
</DivRowFormGroup>
<Div Class="row">
    <Div Class="col-12">
         <MudTable Bordered="false"
                   Dense="false" 
                   Hover="true"
                   Items="@SingleSeasonRecords.Where(record => !record.IsDeleted).ToList()"    
                   Striped="true">
            <HeaderContent>
                <MudTh>Record Type</MudTh>
                <MudTh>Year</MudTh>
                <MudTh>Record</MudTh>
                <MudTh></MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="RecordType">@context.RecordTypeName</MudTd>
                <MudTd DataLabel="Year">@context.Year</MudTd>
                <MudTd DataLabel="Record">@context.Record</MudTd>
                <MudTd DataLabel="">
                    <MudTooltip Text="Edit">
                        <MudFab Color="MudBlazor.Color.Primary"                                
                                StartIcon="@Icons.Material.Outlined.ModeEditOutline"
                                OnClick="@(_ => Edit(context))" />
                    </MudTooltip> 
                    <MudTooltip Text="Delete">
                        <MudFab Color="MudBlazor.Color.Secondary"
                                StartIcon="@Icons.Material.Outlined.DeleteOutline"
                                OnClick="@(_ => context.IsDeleted = true)" />
                    </MudTooltip>  
                </MudTd>
            </RowTemplate>
        </MudTable>
    </Div>
</Div>

