<Condition Evaluation="CanToggle">
    <Match>
        <Div Class="row">
            <Div Class="col-3">
                <MudSwitch Checked="@_hasPeople"
                           CheckedChanged="PersonCheckboxClicked"
                           Color="MudBlazor.Color.Success"
                           Label="@_itemTypeNameLabel"
                           T="bool" />
            </Div>
        </Div>
    </Match>
</Condition>
<Div Hidden="@(!_displayPeople)">
    <Condition Evaluation="CanFilterBySport">
        <Match>
            <Div Class="row"
                 Style="margin-top:1%;margin-bottom:1%;padding-left:10px;")>
                <Div Class="col-3">
                    <MudSwitch Checked="@_filterPeople"
                               CheckedChanged="PersonFilterCheckboxClicked"
                               Color="MudBlazor.Color.Success"
                               Label="@_itemTypeNameFilterLabel"
                               T="bool" />
                </Div>
            </Div>
        </Match>
    </Condition>
    <Div Class="row">
        <Div Class="col-6">
            <Div Class="d-flex justify-context-between">
                <PersonAutoComplete Disabled="Disabled"
                                    IsCulturalSearch="true"
                                    SelectedValue="Model"
                                    SelectionChanged="(p) => Model = p"
                                    Sport="Sport" />
                <Condition Evaluation="@_hasPeople">
                    <Match>
                        <MudTooltip Text="View Profile">
                            <MudIconButton Icon="@Icons.Material.Filled.Person"
                                           OnClick="ShowPersonProfile" />
                        </MudTooltip>
                    </Match>
                </Condition>
            </Div>
            <br />
        </Div>
    </Div>
</Div>