<DivRowFormGroup>
    <RowStack Class="@DivClass.Column12"
              Style="@Style.MarginBottomPad1">
        <AccomplishmentTypeAutoComplete SelectedValue="Model.AccomplishmentType"
                                        SelectionChanged="(p) => Model.AccomplishmentType = p"
                                        Sports="Sports" />
        <Div Visible="IsYearAccomplishment">
            <TextField HelperText="Ex. 1999 or 1999-2002 or 2003, 2005-2008"
                       Label="Years"
                       SelectedText="@_years"
                       SelectedTextChanged="@((p) => _years = p)" />
        </Div>
        <Div Visible="IsDateAccomplishment">
            <MudDatePicker @bind-Date="Model.Date"
                           DateFormat="MM/dd/yyyy"
                           Editable="true"
                           Label="Date"
                           Mask="@(new DateMask("MM/dd/yyyy"))"
                           Variant="Variant.Outlined" />
        </Div>
        <AddFab OnAdd="Add" />
    </RowStack>
</DivRowFormGroup>
<Div Class="@DivClass.Row">
    <Div Class="@DivClass.Column12">
         <MudTable Bordered="false"
                   Dense="false" 
                   Hover="true"
                   Items="Items"
                   RowsPerPage="10"
                   Striped="true">
            <HeaderContent>
                <MudTh>Accomplishment</MudTh>
                <MudTh>Date</MudTh>
                <MudTh>Year</MudTh>
                <MudTh></MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Accomplishment">@context.AccomplishmentTypeName</MudTd>
                <MudTd DataLabel="Date">@context.FormattedDate</MudTd>
                <MudTd DataLabel="Year">@context.Year</MudTd>
                <TableDataRightAligned>
                    <DeleteGridButton OnDelete="@(_ => context.IsDeleted = true)" />
                </TableDataRightAligned>
            </RowTemplate>
            <PagerContent>
                <MudTablePager />
            </PagerContent>
        </MudTable>
    </Div>
</Div>
