<DivRowFormGroup>
    <RowStack Class="@DivClass.Column12"
              Style="@Style.MarginBottomPad1">
        <RecordTypeAutoComplete Disabled="@(EditMode == EditModeType.Update)"
                                ResetValueOnEmptyText="false"
                                SelectedValue="Model.RecordType"
                                SelectionChanged="(p) => Model.RecordType = p"
                                Sports="Sports" />
        <TextField Label="Record"
                   SelectedText="@Model.Record"
                   SelectedTextChanged="@((p) => Model.Record = p)" />
        <AddUpdateFab EditMode="EditMode"
                      OnAdd="Add"
                      OnUpdate="Update" />
    </RowStack>
</DivRowFormGroup>
<Div Class="@DivClass.Row">
    <Div Class="@DivClass.Column12">
         <MudTable Bordered="false"
                   Dense="false"
                   Filter="new Func<PersonCareerRecordEditModel, bool>(Filter)"
                   Hover="true"
                   Items="CareerRecords.Where(record => !record.IsDeleted).ToList()"    
                   Striped="true">
            <ToolBarContent>
                <ToolbarTitle Text="Career Records" />
                <MudSpacer />
                <ToolbarSearchField SearchText="@_search"
                                    SearchTextChanged="@((p) => _search = p)" />
            </ToolBarContent>
            <HeaderContent>
                <MudTh>Record Type</MudTh>
                <MudTh>Record</MudTh>
                <MudTh></MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="RecordType">@context.RecordTypeName</MudTd>
                <MudTd DataLabel="Record">@context.Record</MudTd>
                <TableDataRightAligned>
                    <EditGridButton OnEdit="@(_ => Edit(context))" />
                    <DeleteGridButton OnDelete="@(_ => context.IsDeleted = true)" />
                </TableDataRightAligned>
            </RowTemplate>
            <PagerContent>
                <MudTablePager />
            </PagerContent>
        </MudTable>
    </Div>
</Div>

