<Div Class="row">
    <Div Class="col-6">
        <RecordTypeAutoComplete Disabled="@(!_canEditRecordType)" 
                                ResetValueOnEmptyText="false"
                                SelectedValue="Model.RecordType"
                                SelectionChanged="(p) => Model.RecordType = p"
                                Sports="Sports" />
    </Div>
    <Div Class="col-6">
        <TextField Label="Record"
                   SelectedText="@Model.Record"
                   SelectedTextChanged="@((p) => Model.Record = p)" />
    </Div>
</Div>
<DivLeftAlign>
    <Div Hidden="@(!_canAdd)">
        <AddButton OnClick="Add" />
    </Div>
    <Div Hidden="@(!_canUpdate)">
        <UpdateButton OnClick="Update" />
    </Div>
</DivLeftAlign>
<br />
<Div Class="row">
    <Div Class="col-6">
         <MudTable Bordered="false"
                   Dense="false" 
                   Hover="true"
                   Items="@CareerRecords.Where(record => !record.IsDeleted).ToList()"    
                   Striped="true">
            <HeaderContent>
                <MudTh>Record Type</MudTh>
                <MudTh>Record</MudTh>
                <MudTh></MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="RecordType">@context.RecordTypeName</MudTd>
                <MudTd DataLabel="Record">@context.Record</MudTd>
                <MudTd DataLabel="">
                    <MudTooltip Text="Edit">
                        <MudFab Color="MudBlazor.Color.Primary"                                
                                Icon="@Icons.Material.Outlined.ModeEditOutline"
                                OnClick="@(_ => Edit(context))" />
                    </MudTooltip> 
                    <MudTooltip Text="Delete">
                        <MudFab Color="MudBlazor.Color.Secondary"
                                Icon="@Icons.Material.Outlined.DeleteOutline"
                                OnClick="@(_ => context.IsDeleted = true)" />
                    </MudTooltip>  
                </MudTd>
            </RowTemplate>
        </MudTable>
    </Div>
</Div>

