<DivRowFormGroup>
    <MudStack Class="col-6"
              Row="true"
              Style="margin-bottom:1%;">
        <InternationalHallOfFameTypeDropDown Disabled="@(EditMode == EditModeType.Update)"
                                             Label="Type"
                                             SelectedValue="Model.InternationalHallOfFameTypeId"
                                             SelectionChanged="(p) => Model.InternationalHallOfFameTypeId = p" />
        <NullableIntField Label="Induction Year"
                          Value="Model.Year"
                          ValueChanged="@((p) => Model.Year = p)" />
        <AddUpdateMudFab EditMode="EditMode"
                         OnAdd="Add"
                         OnUpdate="Update" />
    </MudStack>
</DivRowFormGroup>
<Div Class="row">
    <Div Class="col-6">
         <MudTable Bordered="false"
                   Dense="false" 
                   Hover="true"
                   Items="@InternationalHallOfFames.Where(hof => !hof.IsDeleted).ToList()"    
                   Striped="true">
            <HeaderContent>
                <MudTh>Type</MudTh>
                <MudTh>Induction Year</MudTh>
                <MudTh></MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Type">@context.InternationalHallOfFameTypeName</MudTd>
                <MudTd DataLabel="Induction Year">@context.Year</MudTd>
                <MudTd DataLabel="">
                    <MudTooltip Text="Edit">
                        <MudFab Color="MudBlazor.Color.Primary"                                
                                Icon="@Icons.Material.Outlined.ModeEditOutline"
                                OnClick="@(_ => Edit(context))" />
                    </MudTooltip> 
                    <MudTooltip Text="Delete">
                        <MudFab Color="MudBlazor.Color.Secondary"
                                Icon="@Icons.Material.Outlined.DeleteOutline"
                                OnClick="@(_ => context.IsDeleted = true)" />
                    </MudTooltip>  
                </MudTd>
            </RowTemplate>
        </MudTable>
    </Div>
</Div>

