<DivRowFormGroup>
    <RowStack Class="@DivClass.Column6"
              Style="@Style.MarginBottomPad1">
        <TextField HelperText="Ex. 1999 or 1999-2002 or 2003, 2005-2008"
                   Label="Years"
                   SelectedText="@_years"
                   SelectedTextChanged="@((p) => _years = p)" />
        <SportLeagueLevelDropDown SelectedValue="Model.SportLeagueLevelId"
                                  SelectionChanged="(p) => Model.SportLeagueLevelId = p"
                                  Visible="DisplaySportLeagueLevels" />
        <SportAutoComplete SelectedValue="Model.Sport"
                           SelectionChanged="(p) => Model.Sport = p"
                           Visible="DisplaySports" />
        <AddFab OnAdd="Add" />
    </RowStack>
</DivRowFormGroup>
<Div Class="@DivClass.Row">
    <Div Class="@DivClass.Column6">
         <MudTable Bordered="false"
                   Dense="false" 
                   Hover="true"
                   Items="@AllStars.Where(allStar => !allStar.IsDeleted).ToList()"
                   Striped="true">
            <HeaderContent>
                <MudTh>Year</MudTh>
                <TableHeader Visible="@DisplaySportLeagueLevels">Sport League Level</TableHeader>
                <TableHeader Visible="@DisplaySports">Sport</TableHeader>
                <MudTh></MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Year">@context.Year</MudTd>
                <TableData DataLabel="Sport League Level"
                           Visible="DisplaySportLeagueLevels">@context.SportLeagueLevelName</TableData>
                <TableData DataLabel="Sport"
                           Visible="DisplaySports">@context.SportName</TableData>
                <MudTd DataLabel="">
                    <DeleteGridButton OnDelete="@(_ => context.IsDeleted = true)" />
                </MudTd>
            </RowTemplate>
            <PagerContent>
                <MudTablePager />
            </PagerContent>
        </MudTable>
    </Div>
</Div>
