<DivRowFormGroup>
    <RowStack Class="col-12"
              Style="margin-bottom:1%;">
        <AwardTypeAutoComplete IncludeMultiSport="true" 
                               ResetValueOnEmptyText="false"
                               SelectedValue="Model.AwardType"
                               SelectionChanged="(p) => Model.AwardType = p"
                               Sports="Sports" />
        <TextField HelperText="Ex. 1999 or 1999-2002 or 2003, 2005-2008"
                   Label="Years"
                   SelectedText="@_years"
                   SelectedTextChanged="@((p) => _years = p)" />
        <AddFab OnAdd="Add" />
    </RowStack>
</DivRowFormGroup>
<Div Class="row">
    <Div Class="col-12">
         <MudTable Bordered="false"
                   Dense="false" 
                   Hover="true"
                   Items="@Awards.Where(award => !award.IsDeleted).ToList()"    
                   Striped="true">
            <HeaderContent>
                <MudTh>Award</MudTh>
                <MudTh>Year</MudTh>
                <MudTh></MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Award">@context.AwardTypeName</MudTd>
                <MudTd DataLabel="Year">@context.Year</MudTd>
                <MudTd DataLabel=""> 
                    <DeleteGridButton OnDelete="@(_ => context.IsDeleted = true)" />
                </MudTd>
            </RowTemplate>
        </MudTable>
    </Div>
</Div>

