<MudStack>
    <Div Style="@Style.MarginBottomPad1"
         Visible="CanFilterBySport">
        <Switch Checked="_filterPeople"
                CheckedChanged="PersonFilterCheckboxClicked"
                Label="@_itemTypeNameFilterLabel" />
    </Div>
    <Div Class="@DivClass.Row"
         Style="@Style.MarginLeftPad1">
        <PersonDomainAutoComplete Disabled="Disabled"
                                  IsCulturalSearch="true"
                                  SelectedValue="Model"
                                  SelectionChanged="(p) => Model = p"
                                  Sport="Sport" />
        <IconButton Icon="@Icons.Material.Filled.Person"
                    OnClick="ShowPersonProfile"
                    TooltipText="View Profile"
                    Visible="_hasPeople" />
    </Div>
</MudStack>