<DivRowFormGroup>
    <RowStack Class="@DivClass.Column12"
              Style="@Style.MarginBottomPad1">
        <CollegeAutoComplete Colleges="Colleges"
                             Disabled="@(EditMode == EditModeType.Update)"
                             SelectedValue="Model.College"
                             SelectionChanged="(p) => Model.College = p" />
        <NullableIntField Label="Number"
                          Value="Model.PlayerNumber"
                          ValueChanged="@((p) => Model.PlayerNumber = p)" />
        <AddUpdateFab EditMode="EditMode"
                      OnAdd="Add"
                      OnUpdate="Update" />
    </RowStack>
</DivRowFormGroup>
<Div Class="@DivClass.Row">
    <Div Class="@DivClass.Column12">
        <MudTable Bordered="false"
                  Dense="false"
                  Hover="true"
                  Items="CollegeRetiredNumbers.Where(retiredNumber => !retiredNumber.IsDeleted).ToList()"
                  Striped="true">
            <HeaderContent>
                <MudTh>College</MudTh>
                <MudTh>Number</MudTh>
                <MudTh></MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="College">@context.CollegeName</MudTd>
                <MudTd DataLabel="Number">@context.PlayerNumber</MudTd>
                <TableDataRightAligned>
                    <EditGridButton OnEdit="@(_ => Edit(context))" />
                    <DeleteGridButton OnDelete="@(_ => context.IsDeleted = true)" />
                </TableDataRightAligned>
            </RowTemplate>
        </MudTable>
    </Div>
</Div>

