<Div Class="d-flex ms-1 flex-row" 
     Style="margin-top: 1%; margin-bottom: 1%;">
     <Div>
        <PersonSearchAutoComplete IsCulturalSearch="true"
                                  SelectedValue="SelectedPerson"
                                  SelectionChanged="(p) => SelectedPerson = p" />
     </Div>
    <Div style="padding-left: 10px; padding-top: 12px;">
        <AddButton OnClick="Add"
                   Text="Add Person" />
     </Div>
</Div>
<Div Class="d-flex ms-1 flex-row"
     Style="margin-top: 3%; margin-bottom: 1%;">
    <MudTable Bordered="false"
              Dense="false"
              Hover="true"
              Items="@SelectedPeople.ToList()"              
              Striped="true">
        <HeaderContent>
            <MudTh>Selected People</MudTh>
            <MudTh></MudTh>
            <MudTh></MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Person">@context.DisplayName</MudTd>
            <MudTd DataLabel="">
                <Fab Color="MudBlazor.Color.Secondary"
                     OnClick="@(_ => ShowPersonProfile(context.Id))"
                     StartIcon="@Icons.Material.Filled.Person"
                     TooltipText="View Profile" />
            </MudTd>
            <MudTd DataLabel="">
                <DeleteGridButton OnDelete="@(_ => RemovePerson(context))" />
            </MudTd>            
        </RowTemplate>
    </MudTable>
</Div>