@inherits AutographItem<InscriptionEditModel>

<EditPage ContinueNavigationPath="@_InscriptionsModel.ContinueNavigationPath"
          EditMode="_InscriptionsModel.EditModeType"
          ExitNavigationPath="@_InscriptionsModel.ExitNavigationPath"
          ImageFileName="@_InscriptionsModel.ImageFileName"
          ItemName="@_InscriptionsModel.PageTitle"
          Model="_InscriptionsModel"
          OnLoad="OnLoad"
          OnSave="OnSave"
          PageFooterButtonText="@_InscriptionsModel.ExitButtonText"
          PageFooterNavigationPath="@_InscriptionsModel.BackNavigationPath"
          PageTitle="@_InscriptionsModel.PageTitle"
          TItem="InscriptionsEditModel"
          UseMultipleButtons="true"
          ValidationResult="@ViewModel.ValidationResult">
    <TimelineContent>
        <AutographTimeline AutographId="_InscriptionsModel.AutographId" 
                           AutographStep="_InscriptionsModel.AutographStep"  
                           DisplaySpot="_InscriptionsModel.CanHaveSpot" 
                           EditMode="_InscriptionsModel.EditModeType"
                           MemorabiliaId="_InscriptionsModel.MemorabiliaId" />
    </TimelineContent>
    <ImagePreview>
        <PrettyBlazor.Condition Evaluation="_InscriptionsModel.HasMemorabiliaImages">
            <Match>
                <ImagePanel ImageNames="@_InscriptionsModel.MemorabiliaImageNames"
                            PanelText="Memorabilia Images"
                            UserId="_InscriptionsModel.UserId" />
            </Match>
        </PrettyBlazor.Condition>
    </ImagePreview>
    <Content>
        <div class="d-flex justify-content-between" style="width:100%">
            <div style="width:48%">
                <DivRowCol6>
                    <Content>
                        <InscriptionTypeDropDown Disabled="@(!_canEditInscriptionType)"
                                                 SelectedValue="ViewModel.InscriptionTypeId"
                                                 SelectionChanged="(p) => ViewModel.InscriptionTypeId = p" />
                    </Content>
                </DivRowCol6>
                <DivRowCol6>
                    <Content>
                        <TextField Label="Inscription"
                                   SelectedText="@ViewModel.InscriptionText"
                                   SelectedTextChanged="@((p) => ViewModel.InscriptionText = p)" />
                    </Content>
                </DivRowCol6>
                <br/>
                <DivRowCol12>
                    <Content>
                        <DivLeftAlign>
                            <Content>
                                <DivHidden Hidden="@(!_canAddInscription)">
                                    <Content>
                                        <AddButton OnClick="AddInscription" />
                                    </Content>
                                </DivHidden>
                                <DivHidden Hidden="@(!_canUpdateInscription)">
                                    <Content>
                                        <UpdateButton OnClick="UpdateInscription" />
                                    </Content>
                                </DivHidden>
                            </Content>
                        </DivLeftAlign>
                    </Content>
                </DivRowCol12>
                <DivRowCol12>
                    <Content>
                        <MudTable Bordered="false"
                                  Dense="false"
                                  Hover="true"
                                  Items="@_InscriptionsModel.Inscriptions.Where(inscription => !inscription.IsDeleted)"
                                  Striped="true">
                            <ToolBarContent>
                                <MudText Typo="Typo.h6">Inscriptions</MudText>
                            </ToolBarContent>
                            <HeaderContent>
                                <MudTh>Inscription Type</MudTh>
                                <MudTh>Inscription Text</MudTh>
                                <MudTh></MudTh>
                            </HeaderContent>
                            <RowTemplate Context="inscription">
                                <MudTd DataLabel="Inscription Type">@inscription.InscriptionTypeName</MudTd>
                                <MudTd DataLabel="Inscription Text">@inscription.InscriptionText</MudTd>
                                <MudTd DataLabel="">
                                    <MudTooltip Text="Edit">
                                        <MudFab Color="MudBlazor.Color.Primary"
                                                Icon="@Icons.Material.Outlined.ModeEditOutline"
                                                OnClick="@(_ => Edit(inscription))" />
                                    </MudTooltip>
                                    <MudTooltip Text="Delete">
                                        <MudFab Color="MudBlazor.Color.Secondary"
                                                Icon="@Icons.Material.Outlined.DeleteOutline"
                                                OnClick="@(_ => inscription.IsDeleted = true)" />
                                    </MudTooltip>
                                </MudTd>
                            </RowTemplate>
                        </MudTable>
                    </Content>
                </DivRowCol12>
                <br />
            </div>
            <div style="width:48%">
                <DivRowCol12>
                    <Content>
                        <SuggestedInscriptions InscriptionSelected="OnSuggestedInscriptionSelected"
                                               PersonId="_InscriptionsModel.PersonId" />
                    </Content>
                </DivRowCol12>
            </div>
        </div>      
    </Content>
</EditPage>