<Page>
    <Content>
        <PageHeader PageTitle="@_viewModel.PageTitle" />
        <div class="row">
            <EditForm Model="_viewModel" OnValidSubmit="HandleValidSubmit">
                <DataAnnotationsValidator />
                <div class="form-group">
                    <TextField Label="Username"
                               SelectedText="@_viewModel.Username"
                               SelectedTextChanged="@((p) => _viewModel.Username = p)" />
                </div>
                <div class="form-group">
                    <TextField InputType="InputType.Password" 
                               Label="Password"
                               SelectedText="@_viewModel.Password"
                               SelectedTextChanged="@((p) => _viewModel.Password = p)" />
                </div>
                <div class="form-group">
                    <TextField InputType="InputType.Password" 
                               Label="Confirm Password"
                               SelectedText="@_viewModel.ConfirmPassword"
                               SelectedTextChanged="@((p) => _viewModel.ConfirmPassword = p)" />
                </div>
                <div class="form-group">
                    <MudTextField @bind-Value="_viewModel.FirstName"
                                  Label="First Name"
                                  Variant="Variant.Outlined" />
                </div>
                <div class="form-group">
                    <TextField Label="Last Name"
                               SelectedText="@_viewModel.LastName"
                               SelectedTextChanged="@((p) => _viewModel.LastName = p)" />
                </div>
                <div class="form-group">
                    <TextField Label="Email Address"
                               SelectedText="@_viewModel.EmailAddress"
                               SelectedTextChanged="@((p) => _viewModel.EmailAddress = p)" />
                </div>
                <div class="form-group">
                    <TextField Label="Phone"
                               SelectedText="@_viewModel.Phone"
                               SelectedTextChanged="@((p) => _viewModel.Phone = p)" />
                </div>
                <div class="text-right">
                    <SaveButton Text="Save" />
                </div>
                <ValidationSummary />
            </EditForm>
        </div>
    </Content>
</Page>
