<Div Style="margin-top:1%;margin-left:1%;margin-right:1%">
    <PageHeader PageTitle="Register" />
    <br />
    <Condition Evaluation="@(ValidationResultAlerts.Any())">
        <Match>
            <AlertPanel Alerts="ValidationResultAlerts" />
            <br />
        </Match>
    </Condition>
    <p>Enter a valid Google email address.  You will use this email address to sign in.</p>
    <DivRowFormGroup>
        <Div Class="col-3">
            <TextField Label="Email Address"
                       MaxLength="100"
                       SelectedText="@EditModel.EmailAddress"
                       SelectedTextChanged="@((p) => EditModel.EmailAddress = p)" />
        </Div>
        <Div Class="col-3">
            <TextField Label="First Name"
                       MaxLength="50"
                       SelectedText="@EditModel.FirstName"
                       SelectedTextChanged="@((p) => EditModel.FirstName = p)" />
        </Div>
        <Div Class="col-3">
            <TextField Label="Last Name"
                       MaxLength="50"
                       SelectedText="@EditModel.LastName"
                       SelectedTextChanged="@((p) => EditModel.LastName = p)" />
        </Div>
        <Div Class="col-3">
            <TextField Label="Username"
                       MaxLength="50"
                       SelectedText="@EditModel.Username"
                       SelectedTextChanged="@((p) => EditModel.Username = p)" />
        </Div>
    </DivRowFormGroup>
    <DivRowFormGroup>
        <Div Class="col-3">
            <TextField HelperText="Used for Google Authentication" 
                       Label="Google Email Address"
                       MaxLength="100"
                       SelectedText="@EditModel.GoogleEmailAddress"
                       SelectedTextChanged="@((p) => EditModel.GoogleEmailAddress = p)" />
        </Div>
        <Div Class="col-3">
            <TextField HelperText="Used for Microsoft Authentication"
                       Label="Microsoft Email Address"
                       MaxLength="100"
                       SelectedText="@EditModel.MicrosoftEmailAddress"
                       SelectedTextChanged="@((p) => EditModel.MicrosoftEmailAddress = p)" />
        </Div>
        <Div Class="col-3">
            <TextField HelperText="Used for X Authentication"
                       Label="X Handle"
                       MaxLength="50"
                       SelectedText="@EditModel.XHandle"
                       SelectedTextChanged="@((p) => EditModel.XHandle = p)" />
        </Div>
    </DivRowFormGroup>
    <br />
    <DivRowFormGroup>
        <Div Class="col-3">
            <SaveButton OnClick="Save"
                        Text="Save" />
        </Div>        
    </DivRowFormGroup>
</Div>
