<PageHeader PageTitle="@Model.PageTitle" />
<DivPad2>
    <Div Class="row"
         Style="margin-top:1%;margin-bottom:1%;">
        <Div Class="col-4">
            <DomainItemCard ImageFileName="@Model.DashboardImageFileName"
                            Page="@NavigationPath.ManageDashboard"
                            Title="Manage Dashboard" />
        </Div>
        <Div Class="col-4">
            <DomainItemCard ImageFileName="@Model.UserSettingsImageFileName"
                            Page="@NavigationPath.UserSettings"
                            Title="Manage User Settings" />
        </Div>
    </Div>
</DivPad2>
