<PageHeader PageTitle="@Model.PageTitle" />
<DivPad2>
    <Div Class="@DivClass.Row"
         Style="@($"{Style.MarginTopPad1}{Style.MarginBottomPad1}")">
        <Div Class="@DivClass.Column4">
            <DomainItemCard ImageFileName="@Model.DashboardImageFileName"
                            Page="@NavigationPath.ManageDashboard"
                            Title="Manage Dashboard" />
        </Div>
        <Div Class="@DivClass.Column4">
            <DomainItemCard ImageFileName="@Model.UserSettingsImageFileName"
                            Page="@NavigationPath.UserSettings"
                            Title="Manage User Settings" />
        </Div>
    </Div>
</DivPad2>
