<Div Style="margin-top:1%;margin-bottom:1%;margin-left:1%;margin-right:1%;">
    <Div Class="row">
        <Div Class="col-3">
            <h3>
                User Settings
            </h3>
        </Div>
    </Div>
    <MudExpansionPanel IsExpanded="true"
                       Text="Appearance">
        <DivRowFormGroup>
            <Div Class="col-3">
                <Switch Checked="EditModel.UseDarkTheme"
                        CheckedChanged="(p) => EditModel.UseDarkTheme = p"
                        Label="Use Dark Theme?" />
            </Div>
        </DivRowFormGroup>
    </MudExpansionPanel>    
    <MudExpansionPanel IsExpanded="true"
                       Text="Login Settings">
        <DivRowFormGroup>
            <Div Class="col-3">
                <TextField HelperText="Used for Google Authentication"
                           Label="Google Email Address"
                           MaxLength="100"
                           SelectedText="@EditModel.GoogleEmailAddress"
                           SelectedTextChanged="@((p) => EditModel.GoogleEmailAddress = p)" />
            </Div>
            <Div Class="col-3">
                <TextField HelperText="Used for Microsoft Authentication"
                           Label="Microsoft Email Address"
                           MaxLength="100"
                           SelectedText="@EditModel.MicrosoftEmailAddress"
                           SelectedTextChanged="@((p) => EditModel.MicrosoftEmailAddress = p)" />
            </Div>
            <Div Class="col-3">
                <TextField HelperText="Used for X Authentication"
                           Label="X Handle"
                           MaxLength="50"
                           SelectedText="@EditModel.XHandle"
                           SelectedTextChanged="@((p) => EditModel.XHandle = p)" />
            </Div>
        </DivRowFormGroup>
    </MudExpansionPanel>
    <MudExpansionPanel IsExpanded="true"
                       Text="Payment Settings">
        <DivRowFormGroup>
            <UserPaymentOptionEditor PaymentOptions="EditModel.PaymentOptions" />
        </DivRowFormGroup>
    </MudExpansionPanel>
    <MudExpansionPanel IsExpanded="true"
                       Text="Social Medias">
        <DivRowFormGroup>
            <UserSocialMediaEditor SocialMedias="EditModel.SocialMedias" />
        </DivRowFormGroup>
    </MudExpansionPanel>
    <Div Style="margin-bottom:1%;margin-right:1%;text-align:right;">
        <SaveButton OnClick="OnSave"
                    Text="Save" />
    </Div>
</Div>
