<DivPad2>
    <ExpansionPanel Text="Appearance">
        <DivRowFormGroup>
            <Div Class="@DivClass.Column3">
                <Switch Checked="EditModel.UseDarkTheme"
                        CheckedChanged="(p) => EditModel.UseDarkTheme = p"
                        Label="Use Dark Theme?" />
            </Div>
        </DivRowFormGroup>
    </ExpansionPanel>    
    <ExpansionPanel Text="Login Settings">
        <DivRowFormGroup>
            <Div Class="@DivClass.Column3">
                <TextField HelperText="Used for Google Authentication"
                           Label="Google Email Address"
                           MaxLength="100"
                           SelectedText="@EditModel.GoogleEmailAddress"
                           SelectedTextChanged="@((p) => EditModel.GoogleEmailAddress = p)" />
            </Div>
            <Div Class="@DivClass.Column3">
                <TextField HelperText="Used for Microsoft Authentication"
                           Label="Microsoft Email Address"
                           MaxLength="100"
                           SelectedText="@EditModel.MicrosoftEmailAddress"
                           SelectedTextChanged="@((p) => EditModel.MicrosoftEmailAddress = p)" />
            </Div>
            <Div Class="@DivClass.Column3">
                <TextField HelperText="Used for X Authentication"
                           Label="X Handle"
                           MaxLength="50"
                           SelectedText="@EditModel.XHandle"
                           SelectedTextChanged="@((p) => EditModel.XHandle = p)" />
            </Div>
        </DivRowFormGroup>
    </ExpansionPanel>
    <ExpansionPanel Text="Membership Settings">
        <DivRowFormGroup>
            <Div Style="@($"{Style.MarginBottomPad1}{Style.MarginLeftPad1}")">
                <RowStack>
                    <Text Typography="Typo.h6">
                        Subscription: <b>@(ApplicationStateService.SubscriberLevel)</b>
                    </Text>
                    <Text Typography="Typo.h6"
                          Visible="@(ApplicationStateService.CurrentUser.SubscriptionExpirationDate.HasValue)">
                        Expires: <b>@(ApplicationStateService.CurrentUser.SubscriptionExpirationDate.Value.ToString("MM-dd-yyyy"))</b>
                    </Text>
                    <Text Typography="Typo.h6">
                        Status: <b>@ApplicationStateService.CurrentUser.MembershipStatus()</b>
                    </Text>
                </RowStack>
            </Div>                       
        </DivRowFormGroup>
        <DivRowFormGroup>
            <Div Style="@Style.MarginLeftPad1">
                <RowStack>
                    <CustomButton Color="MudBlazor.Color.Success"
                                  OnClick="UpgradeMembership"
                                  Text="Upgrade"
                                  Visible="_showUpgradeMembership" />
                    <CustomButton Color="MudBlazor.Color.Error"
                                  OnClick="CancelMembership"
                                  Text="Cancel Membership"
                                  Visible="_showCancelMembership" />
                    <Link Href="@StripeSettings.CustomerSelfManageUrl"
                          Target="_blank"
                          Visible="@(ApplicationStateService.CurrentUser.IsActiveMember())">
                        Update Payment Details
                    </Link>
                </RowStack>
            </Div>
        </DivRowFormGroup>
    </ExpansionPanel>
    <ExpansionPanel Text="Shipping Address">
        <MultiLineAddress SelectedAddress="EditModel.ShippingAddress" />
    </ExpansionPanel>
    <ExpansionPanel Text="Payment Settings">
        <DivRowCol12>
            <UserPaymentOptionEditor PaymentOptions="EditModel.PaymentOptions" />
        </DivRowCol12>        
    </ExpansionPanel>
    <ExpansionPanel Text="Social Medias">
        <DivRowCol12>
            <UserSocialMediaEditor SocialMedias="EditModel.SocialMedias" />
        </DivRowCol12>        
    </ExpansionPanel>
    <Div Style="@($"{Style.MarginBottomPad1}{Style.RightAlign}")">
        <SaveButton OnClick="OnSave"
                    Text="Save" />
    </Div>
</DivPad2>
