@inherits EditItem<CommissionerEditModel, CommissionerModel>

<EditPage ContinueNavigationPath="@EditModel.RoutePrefix"
          EditMode="EditModel.EditModeType" 
          ExitNavigationPath="@EditModel.RoutePrefix"
          ImageFileName="@EditModel.ImageFileName"
          ItemName="@EditModel.ItemTitle"
          Model="EditModel"    
          OnSave="HandleValidSubmit"
          PageFooterButtonText="@EditModel.ExitButtonText"
          PageFooterNavigationPath="@EditModel.ExitNavigationPath"
          PageTitle="@EditModel.PageTitle"
          TItem="CommissionerEditModel">
    <DivRowFormGroup>
        <Div Class="col-3">
            <SportLeagueLevelDropDown Disabled="@(!EditModel.IsNew)"
                                      SelectedValue="EditModel.SportLeagueLevelId"
                                      SelectionChanged="(p) => EditModel.SportLeagueLevelId = p" />
        </Div>
    </DivRowFormGroup>
    <DivRowFormGroup>
        <Div Class="col-3">
            <PersonDomainAutoComplete Disabled="@(!EditModel.IsNew)"
                                      SelectedValue="EditModel.Person"
                                      SelectionChanged="(p) => EditModel.Person = p"
                                      SportLeagueLevelId="EditModel.SportLeagueLevelId" />
        </Div>
    </DivRowFormGroup>
    <DivRowFormGroup>
        <Div Class="col-3">
            <NullableIntField Label="Begin Year"
                              Value="EditModel.BeginYear"
                              ValueChanged="@((p) => EditModel.BeginYear = p)" />
        </Div>
    </DivRowFormGroup>
    <DivRowFormGroup>
        <Div Class="col-3">
            <NullableIntField Label="End Year"
                              Value="EditModel.EndYear"
                              ValueChanged="@((p) => EditModel.EndYear = p)" />
        </Div>
    </DivRowFormGroup>
</EditPage>