@using Blazored.Typeahead
@using Memorabilia.Application.Features.Admin.Person
@using Memorabilia.Web.Controls.Person

@inject QueryRouter _queryRouter

<BlazoredTypeahead @bind-Value="_viewModel" 
                   SearchMethod="SearchPeople"                     
                   Placeholder="Search by name...">
    <SelectedTemplate Context="person">
        @person.DisplayName
    </SelectedTemplate>
    <ResultTemplate Context="person">
        @person.DisplayName
    </ResultTemplate>   
</BlazoredTypeahead> 
<br />  
<div hidden="@(!AllowMultiple)">
    <div class="text-right" hidden="@(!_canAdd)">
        <button type="button" class="btn btn-secondary" @onclick="Add">Add Person</button>
    </div>
    <br />  
    <_Table Items="People.Where(person => !person.IsDeleted).ToList()" 
            ItemsPerPage="5"   
            TItem="SavePersonViewModel">
        <HeaderTemplate>
            <th scope="col">Person</th>
            <th scope="col"></th>
        </HeaderTemplate>
        <RowTemplate>
            <td>@context.DisplayName</td>
            <td>
                <_Tooltip Text="Delete">
                    <img class="can-click" 
                         src="images/trash.png" 
                         height="25" 
                         width="25" 
                         @onclick="@(_ => Remove(context.Id))" />
                </_Tooltip>
            </td>
        </RowTemplate>
    </_Table>
</div>

@code {
    [Parameter]
    public bool AllowMultiple { get; set; }

    [Parameter]
    public List<SavePersonViewModel> People { get; set; } = new();

    [Parameter]
    public SavePersonViewModel SelectedPerson { get; set; }

    [Parameter]
    public EventCallback<SavePersonViewModel> SelectedPersonChanged { get; set; }

    [Parameter]
    public Sport Sport { get; set; }

    SavePersonViewModel _viewModel
    {
        get => SelectedPerson;
        set
        {
            SelectedPerson = value;
            SelectedPersonChanged.InvokeAsync(value);
        }
    } 

    private bool _canAdd = true;
    private IEnumerable<SavePersonViewModel> _people = Enumerable.Empty<SavePersonViewModel>();  

    protected override async Task OnInitializedAsync()
    {
        await LoadPeople().ConfigureAwait(false);
    } 

    public async Task Reload(Sport sport = null)
    {
        var query = new GetPeople.Query(sport?.Id ?? null);

        _people = (await _queryRouter.Send(query).ConfigureAwait(false)).People.Select(person => new SavePersonViewModel(person));
    }

    private void Add()
    {
        var person = People.SingleOrDefault(person => person.Id == _viewModel.Id);

        if (person != null)
            person.IsDeleted = false;
        else
            People.Add(_viewModel); 

        _viewModel = new();

        SetCanAdd();
    }    

    private async Task LoadPeople()
    {
        var query = new GetPeople.Query(Sport?.Id ?? null);

        _people = (await _queryRouter.Send(query).ConfigureAwait(false)).People.Select(person => new SavePersonViewModel(person));
    }    

    private void Remove(int personId)
    {
        var person = People.SingleOrDefault(person => person.Id == personId);

        if (person == null)
            return;

        person.IsDeleted = true;

        SetCanAdd();
    }     

    private async Task<IEnumerable<SavePersonViewModel>> SearchPeople(string searchText)
    {
        return await Task.FromResult(_people.Where(person => person.DisplayName.Contains(searchText, StringComparison.OrdinalIgnoreCase))).ConfigureAwait(false);
    }

    private void SetCanAdd()
    {
        _canAdd = AllowMultiple || People.Count(person => !person.IsDeleted) == 0;
    }
}
