@using Blazored.Typeahead
@using Memorabilia.Application.Features.Admin.Person
@using Memorabilia.Application.Features.Admin.Team
@using Memorabilia.Web.Controls.Team

@inject QueryRouter _queryRouter

<BlazoredTypeahead SearchMethod="SearchTeams"
                   @bind-Value="@_viewModel"
                   Placeholder="Search by team...">
    <SelectedTemplate Context="team">
        @team.TeamDisplayName
    </SelectedTemplate>
    <ResultTemplate Context="team">
        @team.TeamDisplayName
    </ResultTemplate>   
</BlazoredTypeahead> 
<div class="row">
    <div class="col-lg-6">
        <div class="form-group">
            <label for="beginYear">Begin Year</label>
            <InputNumber id="beginYear" class="form-control" @bind-Value="_viewModel.BeginYear" />
        </div> 
    </div>
    <div class="col-lg-6">
        <div class="form-group">
            <label for="endYear">End Year</label>
            <InputNumber id="endYear" class="form-control" @bind-Value="_viewModel.EndYear" />
        </div> 
    </div>
</div> 
<div class="text-right">
    <button type="button" class="btn btn-secondary" @onclick="Add">Add</button>
</div>
<br />  
<table class="table" style="border: 1px solid black;">
    <thead>
        <tr>
            <th>Team</th>
            <th>Begin Year</th>
            <th>End Year</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var team in Teams.Where(team => !team.IsDeleted))
        {
            <tr>
                <td>@team.TeamName</td>
                <td>@team.BeginYear</td>
                <td>@team.EndYear</td>
                <td>
                    <_Tooltip Text="Delete">
                        <img class="can-click" 
                             src="images/trash.png" 
                             height="25" 
                             width="25" 
                             @onclick="@(_ => Remove(team.Id))" />
                    </_Tooltip>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    [Parameter]
    public int PersonId { get; set; }

    [Parameter]
    public List<SavePersonTeamViewModel> Teams { get; set; } = new();

    private IEnumerable<SavePersonTeamViewModel> _teams = Enumerable.Empty<SavePersonTeamViewModel>();  
    private SavePersonTeamViewModel _viewModel = new SavePersonTeamViewModel();

    protected override async Task OnInitializedAsync()
    {
        await LoadTeams().ConfigureAwait(false);
    } 

    private void Add()
    {        
        Teams.Add(_viewModel);

        _viewModel = new SavePersonTeamViewModel();
    }

    private async Task LoadTeams()
    {
        var query = new GetTeams.Query();

        _teams = (await _queryRouter.Send(query).ConfigureAwait(false)).Teams.Select(team => new SavePersonTeamViewModel(PersonId, team));
    }

    private void Remove(int teamPersonId)
    {
        var team = Teams.SingleOrDefault(team => team.Id == teamPersonId);

        if (team == null)
            return;

        team.IsDeleted = true;                                                                        
    } 

    private async Task<IEnumerable<SavePersonTeamViewModel>> SearchTeams(string searchText)
    {
        return await Task.FromResult(_teams.Where(team => team.TeamDisplayName.Contains(searchText, StringComparison.OrdinalIgnoreCase))).ConfigureAwait(false);
    }
}
