@page "/Memorabilia/Edit"
@page "/Memorabilia/Edit/{id:int}"

@using Memorabilia.Application.Features.Memorabilia

<EditPage ContinueNavigationPath="@_viewModel.ContinueNavigationPath"
          DisplayFooter="false"
          EditMode="_viewModel.EditModeType"
          ExitNavigationPath="@_viewModel.ExitNavigationPath"
          ImagePath="@_viewModel.ImagePath"
          ItemName="@_viewModel.ItemTypeName"
          Model="_viewModel"
          OnLoad="OnLoad"
          OnSave="OnSave"
          PageTitle="@_viewModel.PageTitle"
          TItem="SaveMemorabiliaItemViewModel"
          UseMultipleButtons="true">
    <TimelineContent>
        <MemorabiliaItemTimeline EditMode="_viewModel.EditModeType"
                                 ItemTypeName="@_viewModel.ItemTypeName"
                                 MemorabiliaId="_viewModel.Id"
                                 MemorabiliaItemStep="_viewModel.MemorabiliaItemStep" />
    </TimelineContent>
    <Content>
        <DivRowCol3>
            <Content>
                <MudSelect @bind-Value="@_viewModel.ItemTypeId"
                           @bind-Value:event="ValueChanged"    
                           Disabled="@(!_canEditItemType)"
                           Label="Item Type"
                           Variant="Variant.Outlined">
                    <MudSelectItem Value="@(0)">--Select--</MudSelectItem>
                    <Iterations Items="_viewModel.ItemTypes" Context="item">
                        <MudSelectItem Value="@item.Id">@item.Name</MudSelectItem>
                    </Iterations>	
                </MudSelect>
            </Content>
        </DivRowCol3>
        <DivRowCol3>
            <Content>
                <MudSelect @bind-Value="@_viewModel.ConditionId"
                           @bind-Value:event="ValueChanged" 
                           Label="Condition"
                           Variant="Variant.Outlined">
                    <MudSelectItem Value="@(0)">--Select--</MudSelectItem>
                    <Iterations Items="_viewModel.Conditions" Context="item">
                        <MudSelectItem Value="@item.Id">@item.Name</MudSelectItem>
                    </Iterations>	
                </MudSelect>
            </Content>
            <ContentColumn2>
                <MudSelect @bind-Value="@_viewModel.AcquisitionTypeId"
                           @bind-Value:event="ValueChanged" 
                           Label="Acquisition Type"
                           Variant="Variant.Outlined">
                    <MudSelectItem Value="@(0)">--Select--</MudSelectItem>
                    <Iterations Items="_viewModel.AcquisitionTypes" Context="item">
                        <MudSelectItem Value="@item.Id">@item.Name</MudSelectItem>
                    </Iterations>	
                </MudSelect>
            </ContentColumn2>
            <ContentColumn3>
                <DivHidden Hidden="@(!_viewModel.CanHaveCost)">
                    <Content>
                        <MudNumericField @bind-Value="_viewModel.Cost" 
                                         Label="Cost ($)" 
                                         Variant="Variant.Outlined" />
                    </Content>
                </DivHidden>
            </ContentColumn3>
        </DivRowCol3>
        <DivRowCol3>
            <Content>
                <MudNumericField @bind-Value="_viewModel.EstimatedValue" 
                                 Label="Estimated Value ($)"
                                 Variant="Variant.Outlined" />
            </Content>
            <ContentColumn2>
                <MudDatePicker @bind-Date="_viewModel.AcquiredDate"
                               DateFormat="MM/dd/yyyy"
                               Editable="true"
                               Label="Acquired Date"
                               Mask="@(new DateMask("MM/dd/yyyy"))" 
                               Variant="Variant.Outlined" />
            </ContentColumn2>
            <ContentColumn3>
                <DivHidden Hidden="@(!_viewModel.CanHaveCost)">
                    <Content>
                        <MudSelect @bind-Value="@_viewModel.PurchaseTypeId"
                                   @bind-Value:event="ValueChanged" 
                                   Label="Purchase Type"
                                   Variant="Variant.Outlined">
                            <MudSelectItem Value="@(0)">--Select--</MudSelectItem>
                            <Iterations Items="_viewModel.PurchaseTypes" Context="item">
                                <MudSelectItem Value="@item.Id">@item.Name</MudSelectItem>
                            </Iterations>	
                        </MudSelect>
                    </Content>
                </DivHidden>
            </ContentColumn3>
        </DivRowCol3>
        <DivRowCol3>
            <Content>
                <MudSelect @bind-Value="@_viewModel.PrivacyTypeId"
                           @bind-Value:event="ValueChanged" 
                           Label="Privacy Type"
                           Variant="Variant.Outlined">
                    <MudSelectItem Value="@(0)">--Select--</MudSelectItem>
                    <Iterations Items="_viewModel.PrivacyTypes" Context="item">
                        <MudSelectItem Value="@item.Id">@item.Name</MudSelectItem>
                    </Iterations>	
                </MudSelect>
            </Content>
            <ContentColumn2>
                <MudCheckBox @bind-Checked="@_viewModel.AcquiredWithAutograph" 
                             Label="Acquired with Autograph(s)" />
            </ContentColumn2>
        </DivRowCol3>
        <DivRowCol3>
            <Content>
                <MudCheckBox Checked="_displayNumbered"
                             CheckedChanged="NumberedCheckboxClicked" 
                             Label="Numbered"
                             T="bool" /> 
            </Content>
        </DivRowCol3>
        <DivRowCol1 Hidden="@(!_displayNumbered)">
            <Content>
                <MudNumericField @bind-Value="_viewModel.Numerator" 
                                 Label="Numerator"
                                 Variant="Variant.Outlined" />  
            </Content>
            <ContentColumn2>
                <label for="of">of</label>  
            </ContentColumn2>
            <ContentColumn3>
                <MudNumericField @bind-Value="_viewModel.Denominator" 
                                 Label="Denominator"
                                 Variant="Variant.Outlined" /> 
            </ContentColumn3>
        </DivRowCol1>  
        <DivRowCol3>
            <Content>
                <MudTextField @bind-Value="_viewModel.Note" 
                              Label="Note"
                              Lines="10" 
                              T="string"
                              Variant="Variant.Outlined" />
            </Content>
        </DivRowCol3>
    </Content>
</EditPage>