@page "/Memorabilia/Items"

@using Memorabilia.Application.Features.Memorabilia
@using Memorabilia.Web.Controls
@using System 
@using System.IO

@inject CommandRouter _commandRouter
@inject ProtectedLocalStorage _localStorage
@inject NavigationManager _navigation
@inject QueryRouter _queryRouter
@inject IToastService _toastService

@if (_viewModel == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <PopConfirm @ref="_deleteDialog"
                Title="Delete Memorabilia Item"
                ConfirmedChanged="Delete" />
    <div class="row">
        <div class="col-md-12" style="text-align: center">
            <h1>@_viewModel.PageTitle</h1>
        </div>
    </div>
    <br />
    <_Table Items="_viewModel.MemorabiliaItems.ToList()" 
            ItemsPerPage="5"                     
            TItem="MemorabiliaItemViewModel">
        <HeaderTemplate>
            <th scope="col"></th>
            <th scope="col">Item Type</th>
            <th scope="col">Condition</th>
            <th scope="col">Value</th>
            <th scope="col">Acquisition Type</th>
            <th scope="col">Acquisition Date</th>
            <th scope="col">Cost</th>
            <th scope="col">Place of Purchase</th>
            <th scope="col">Privacy Type</th>
            <th scope="col">Autographs</th>
            <th scope="col">Create Date</th>
            <th scope="col">Last Modified Date</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </HeaderTemplate>
        <RowTemplate>
            <td>
                <_Tooltip Text="Images">
                    <img class="can-click" 
                            src="data:image/jpg;base64,@Convert.ToBase64String(File.ReadAllBytes(@context.ImagePath))"
                            height="40" 
                            width="40" 
                            @onclick="@( _ => _navigation.NavigateTo($"Memorabilia/Image/Edit/{@context.Id}") )" />
                </_Tooltip>                         
            </td>
            <td>@context.ItemTypeName</td>
            <td>@context.ConditionName</td>
            <td>@context.EstimatedValue?.ToString("c")</td>
            <td>@context.AcquisitionTypeName</td>
            <td>@context.Acquisition.AcquiredDate?.ToString("MM-dd-yyyy")</td>
            <td>@context.Acquisition.Cost?.ToString("c")</td>
            <td>@context.PurchaseTypeName</td>
            <td>@context.PrivacyTypeName</td>
            <td>
                <_Tooltip Text="@context.AutographDisplayCount">
                    <img class="can-click" 
                            src="@context.PrimaryAutographImagePath" 
                            height="40" 
                            width="40" 
                            @onclick="@(_ => _navigation.NavigateTo((@context.HasAutographs ? $"Autographs/Edit/{@context.PrimaryAutographId}" : $"Autographs/Add/{@context.Id}")))" />
                </_Tooltip>                         
            </td>
            <td>@context.CreateDate</td>
            <td>@context.LastModifiedDate</td>
            <td>
                <_Tooltip Text="Add Autograph">
                    <img class="can-click" 
                            src="images/add.png" 
                            height="40" 
                            width="40" 
                            @onclick="@(_ => _navigation.NavigateTo($"Autographs/Add/{@context.Id}"))" />
                </_Tooltip>                         
            </td>
            <td>
                <_Tooltip Text="Details">
                    <img class="can-click" 
                            src="images/details.png" 
                            height="40" 
                            width="40" 
                            @onclick="@(_ => _navigation.NavigateTo($"Memorabilia/{@context.ItemTypeName}/Edit/{@context.Id}"))" />
                </_Tooltip>                         
            </td>
            <td>
                <_Tooltip Text="Edit">
                    <img class="can-click" 
                            src="images/pencil.png" 
                            height="40" 
                            width="40" 
                            @onclick="@(_ => _navigation.NavigateTo($"Memorabilia/Edit/{@context.Id}"))" />
                </_Tooltip>                        
            </td>
            <td>
                <_Tooltip Text="Delete">
                    <img class="can-click" 
                            src="images/trash.png" 
                            height="40" 
                            width="40" 
                            @onclick="@(_ => ShowConfirm(@context.Id))" />
                </_Tooltip>
            </td>
        </RowTemplate> 
    </_Table>    
    <div class="row">
        <div class="col-md-12" style="text-align: center">
            <div class="col-md-12" style="text-align: center">
                <a href="Memorabilia/Add">Add Memorabilia</a>
            </div>
        </div>
    </div>
    <br />
}

@code {
    private PopConfirm _deleteDialog;
    private int _deletedItemId;
    private MemorabiliaItemsViewModel _viewModel;

    protected async Task Delete(bool confirm)
    {
        if (!confirm)
        {
            _deletedItemId = 0;
            return;
        }

        var itemToDelete = _viewModel.MemorabiliaItems.Single(item => item.Id == _deletedItemId);
        var viewModel = new SaveMemorabiliaItemViewModel(itemToDelete);
        viewModel.IsDeleted = true;

        var command = new SaveMemorabiliaItem.Command(viewModel);

        await _commandRouter.Send(command).ConfigureAwait(false);
        await OnInitializedAsync().ConfigureAwait(false);

        _toastService.ShowSuccess($"{itemToDelete.ItemTypeName} was deleted successfully!", _viewModel.PageTitle);
    }

    protected override async Task OnInitializedAsync()
    {
        var userId = await _localStorage.GetAsync<int>("UserId");

        if (userId.Value == 0)
            _navigation.NavigateTo("Login");

        var query = new GetMemorabiliaItems.Query(userId.Value);

        _viewModel = await _queryRouter.Send(query).ConfigureAwait(false);
    }

    protected void ShowConfirm(int id)
    {
        _deletedItemId = id;
        _deleteDialog.ShowPop();
    }
}