@page "/Memorabilia/UnsignedItems"

@using Memorabilia.Application.Features.Memorabilia
@using System 
@using System.IO

@inject CommandRouter _commandRouter
@inject ProtectedLocalStorage _localStorage
@inject NavigationManager _navigation
@inject QueryRouter _queryRouter
@inject IToastService _toastService

@if (_viewModel == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <PopConfirm @ref="_deleteDialog"
                Title="Delete Memorabilia Item"
                ConfirmedChanged="Delete" />
    <div class="row">
        <div class="col-md-12" style="text-align: center">
            <h1>@_viewModel.PageTitle</h1>
        </div>
    </div>
    <br />
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Item Type</th>
                <th>Condition</th>
                <th>Value</th>
                <th>Acquisition Type</th>
                <th>Acquisition Date</th>
                <th>Cost</th>
                <th>Place of Purchase</th>
                <th>Privacy Type</th>
                <th>Create Date</th>
                <th>Last Modified Date</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var memorabiliaItem in _viewModel.MemorabiliaItems)
            {
                <tr>
                    <td>
                        <img class="can-click" 
                             src="data:image/jpg;base64,@Convert.ToBase64String(File.ReadAllBytes(@memorabiliaItem.ImagePath))"
                             height="25" 
                             width="25" 
                             @onclick="@( _ => _navigation.NavigateTo($"Memorabilia/Image/Edit/{memorabiliaItem.Id}") )" />
                    </td>
                    <td>@memorabiliaItem.ItemTypeName</td>
                    <td>@memorabiliaItem.ConditionName</td>
                    <td>@memorabiliaItem.EstimatedValue?.ToString("c")</td>
                    <td>@memorabiliaItem.AcquisitionTypeName</td>
                    <td>@memorabiliaItem.Acquisition.AcquiredDate?.ToString("MM-dd-yyyy")</td>
                    <td>@memorabiliaItem.Acquisition.Cost?.ToString("c")</td>
                    <td>@memorabiliaItem.PurchaseTypeName</td>
                    <td>@memorabiliaItem.PrivacyTypeName</td>
                    <td>@memorabiliaItem.CreateDate</td>
                    <td>@memorabiliaItem.LastModifiedDate</td>
                    <td>
                        <img class="can-click" 
                             src="images/details.png" 
                             height="25" 
                             width="25" 
                             @onclick="@(_ => _navigation.NavigateTo($"Memorabilia/{memorabiliaItem.ItemTypeName}/Edit/{memorabiliaItem.Id}"))" />
                    </td>
                    <td>
                        <img class="can-click" 
                             src="images/pencil.png" 
                             height="25" 
                             width="25" 
                             @onclick="@(_ => _navigation.NavigateTo($"Memorabilia/Edit/{memorabiliaItem.Id}"))" />
                    </td>
                    <td>
                        <img class="can-click" 
                             src="images/trash.png" 
                             height="25" 
                             width="25" 
                             "@(_ => ShowConfirm(memorabiliaItem.Id))" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="row">
        <div class="col-md-12" style="text-align: center">
            <div class="col-md-12" style="text-align: center">
                <a href="Memorabilia/Add">Add Memorabilia</a>
            </div>
        </div>
    </div>
    <br />
}

@code {
    private PopConfirm _deleteDialog;
    private int _deletedItemId;
    private MemorabiliaItemsViewModel _viewModel;

    protected async Task Delete(bool confirm)
    {
        if (!confirm)
        {
            _deletedItemId = 0;
            return;
        }

        var itemToDelete = _viewModel.MemorabiliaItems.Single(item => item.Id == _deletedItemId);
        var viewModel = new SaveMemorabiliaItemViewModel(itemToDelete);
        viewModel.IsDeleted = true;

        var command = new SaveMemorabiliaItem.Command(viewModel);

        await _commandRouter.Send(command).ConfigureAwait(false);
        await OnInitializedAsync().ConfigureAwait(false);

        _toastService.ShowSuccess($"{itemToDelete.ItemTypeName} was deleted successfully!", _viewModel.PageTitle);
    }

    protected override async Task OnInitializedAsync()
    {
        var userId = await _localStorage.GetAsync<int>("UserId");

        if (userId.Value == 0)
            _navigation.NavigateTo("Login");

        var query = new GetMemorabiliaItems.Query(userId.Value);

        _viewModel = await _queryRouter.Send(query).ConfigureAwait(false);
    }

    protected void ShowConfirm(int id)
    {
        _deletedItemId = id;
        _deleteDialog.ShowPop();
    }
}