@typeparam TItem

<DivRowFormGroup>
    <Div Class="@DivClass.Column3"
         Visible="DisplayItemTypeBrand">
        <ItemTypeBrandDropDown ItemType="Model.ItemType"
                               SelectedValue="Model.BrandId"
                               SelectionChanged="(p) => BrandChanged(p)" />        
    </Div>
    <Div Class="@DivClass.Column3"
         Visible="DisplayItemTypeSize">
        <ItemTypeSizeDropDown ItemType="Model.ItemType"
                              SelectedValue="Model.SizeId"
                              SelectionChanged="(p) => Model.SizeId = p" />
    </Div>
    <Div Class="@DivClass.Column3"
         Visible="DisplayItemTypeLevel">
        <ItemTypeLevelDropDown ItemType="Model.ItemType"
                               SelectedValue="Model.LevelTypeId"
                               SelectionChanged="(p) => Model.LevelTypeId = p" />
    </Div>
    <Div Class="@DivClass.Column3">
        <SportDropDown ItemType="Model.ItemType"
                       SelectedValue="Model.SportId"
                       SelectionChanged="(p) => Model.SportId = p"
                       Visible="DisplaySingleSportSelector" />
        <SportDropDown MultiSelect="true"
                       SelectedItems="Model.SportIds"
                       SelectedItemsChanged="(p) => Model.SportIds = p.ToList()"
                       Visible="DisplayMultiSportSelector" />
    </Div>
</DivRowFormGroup>
<DivRowFormGroup Visible="DisplayItemTypeGameStyle">
    <Div Class="@DivClass.Column3"
         Visible="Model.DisplayGameStyleType">
        <ItemTypeGameStyleDropDown ItemType="Model.ItemType"
                                   Label="@GameStyleTypeDisplayText"
                                   SelectedValue="Model.GameStyleTypeId"
                                   SelectionChanged="(p) => Model.GameStyleTypeId = p" />
    </Div>
    <Div Class="@DivClass.Column3"
         Visible="Model.DisplayGameDate">
        <MudDatePicker @bind-Date="Model.GameDate"
                       DateFormat="MM/dd/yyyy"
                       Editable="true"
                       Label="@GameDateDisplayText"
                       Mask="@(new DateMask("MM/dd/yyyy"))"
                       Variant="Variant.Outlined" />
    </Div>
</DivRowFormGroup>
@AdditionalContent
<ExpansionPanel Style="@($"{Style.MarginLeftPad1}{Style.MarginBottomPad1}")"
                Text="Person Selection"
                Visible="DisplaySinglePersonSelector">
    <Div Class="@DivClass.Row">
        <Div Class="@DivClass.Column6">
            <PersonSelector CanFilterBySport="CanFilterPersonBySport"
                            ItemType="Model.ItemType"
                            SelectedPerson="Model.Person"
                            SelectedPersonChanged="(p) => Model.Person = p"
                            Sport="Model.Sport" />
        </Div>
    </Div>
</ExpansionPanel>
<ExpansionPanel Style="@($"{Style.MarginLeftPad1}{Style.MarginBottomPad1}")"
                Text="People Selection"
                Visible="DisplayMultiPersonSelector">
    <Div Class="@DivClass.Row">
        <Div Class="@DivClass.Column6">
            <MultiPersonSelector ItemType="Model.ItemType"
                                 SelectedPeople="Model.People"
                                 SelectedPeopleChanged="@((people) => Model.People = people)" />
        </Div>
    </Div>
</ExpansionPanel>
<ExpansionPanel Style="@($"{Style.MarginLeftPad1}{Style.MarginBottomPad1}")"
                Text="Team Selection"
                Visible="DisplaySingleTeamSelector">
    <Div Class="@DivClass.Row">
        <Div Class="@DivClass.Column6">
            <TeamAutoComplete SelectedValue="Model.Team"
                              SelectionChanged="(p) => Model.Team = p"
                              Sport="Model.Sport"
                              SportLeagueLevel="Model.SportLeagueLevel" />
        </Div>
    </Div>
</ExpansionPanel>
<ExpansionPanel Style="@($"{Style.MarginLeftPad1}{Style.MarginBottomPad1}")"
                Text="Teams Selection"
                Visible="DisplayMultiTeamSelector">
    <Div Class="@DivClass.Row">
        <Div Class="@DivClass.Column6">
            <MultiTeamSelector ItemType="Model.ItemType"
                               SelectedTeams="Model.Teams"
                               SelectedTeamsChanged="@((teams) => Model.Teams = teams)" />
        </Div>
    </Div>
</ExpansionPanel>