<Div Style="border: 1px solid black; margin-top: 2%; margin-bottom: 2%; margin-left: 2%; margin-right: 2%;">
    <MudExpansionPanels MultiExpansion="true">
        <MudExpansionPanel Text="Memorabilia Filters">
            <Div Class="row">
                <Div Class="col-2">
                    <Div Class="form-group">
                        <ItemTypeDropDown MultiSelect="true"
                                          SelectedItems="Model.ItemTypeIds"
                                          SelectedItemsChanged="(p) => Model.ItemTypeIds = p" />
                    </Div>
                </Div>
                <Div Class="col-2">
                    <Div Class="form-group">
                        <BrandDropDown MultiSelect="true"
                                       SelectedItems="Model.BrandIds"
                                       SelectedItemsChanged="(p) => Model.BrandIds = p" />
                    </Div>
                </Div>                
                <Div Class="col-2">
                    <Div Class="form-group">
                        <SizeDropDown MultiSelect="true"
                                      SelectedItems="Model.SizeIds"
                                      SelectedItemsChanged="(p) => Model.SizeIds = p" />
                    </Div>
                </Div>
                <Div Class="col-2">
                    <Condition Evaluation="@DisplayAcquisitionType">
                        <Match>
                            <Div Class="form-group">
                                <AcquisitionTypeDropDown MultiSelect="true"
                                                         SelectedItems="Model.AcquisitionTypeIds"
                                                         SelectedItemsChanged="(p) => Model.AcquisitionTypeIds = p" />
                            </Div>
                        </Match>
                    </Condition>                    
                </Div>
                <Div Class="col-2">
                    <Div Class="form-group">
                        <MudDatePicker @bind-Date="Model.AcquiredDateBegin"
                                       DateFormat="MM/dd/yyyy"
                                       Editable="true"
                                       Label="Acquired Date - Begin"
                                       Mask="@(new DateMask("MM/dd/yyyy"))"
                                       Variant="Variant.Outlined" />
                    </Div>
                </Div>
                <Div Class="col-2">
                    <Div Class="form-group">
                        <MudDatePicker @bind-Date="Model.AcquiredDateEnd"
                                       DateFormat="MM/dd/yyyy"
                                       Editable="true"
                                       Label="Acquired Date - End"
                                       Mask="@(new DateMask("MM/dd/yyyy"))"
                                       Variant="Variant.Outlined" />
                    </Div>
                </Div>                
            </Div>
            <Div Class="row">                
                <Div Class="col-2">
                    <Div Class="form-group">
                        <ConditionDropDown MultiSelect="true"
                                           SelectedItems="Model.ConditionIds"
                                           SelectedItemsChanged="(p) => Model.ConditionIds = p" />
                    </Div>
                </Div>
                <Div Class="col-2">
                    <Div Class="form-group">
                        <LevelTypeDropDown MultiSelect="true"
                                           SelectedItems="Model.LevelTypeIds"
                                           SelectedItemsChanged="(p) => Model.LevelTypeIds = p" />
                    </Div>
                </Div>
                <Div Class="col-2">
                    <Div Class="form-group">
                        <NullableDecimalField Label="Estimated Value Low ($)"
                                              Value="Model.EstimatedValueLow"
                                              ValueChanged="@((p) => Model.EstimatedValueLow = p)" />
                    </Div>
                </Div>
                <Div Class="col-2">
                    <Div Class="form-group">
                        <NullableDecimalField Label="Estimated Value High ($)"
                                              Value="Model.EstimatedValueHigh"
                                              ValueChanged="@((p) => Model.EstimatedValueHigh = p)" />
                    </Div>
                </Div>
                <Div Class="col-2">
                    <Div Class="form-group">
                        <NullableDecimalField Label="Cost Low ($)"
                                              Value="Model.CostLow"
                                              ValueChanged="@((p) => Model.CostLow = p)" />
                    </Div>
                </Div>
                <Div Class="col-2">
                    <Div Class="form-group">
                        <NullableDecimalField Label="Cost High ($)"
                                              Value="Model.CostHigh"
                                              ValueChanged="@((p) => Model.CostHigh = p)" />
                    </Div>
                </Div>
            </Div>
            <Div Class="row">                
                <Div Class="col-2">
                    <Div Class="form-group">
                        <SportDropDown MultiSelect="true"
                                       SelectedItems="Model.SportIds"
                                       SelectedItemsChanged="(p) => Model.SportIds = p" />
                    </Div>
                </Div>
                <Div Class="col-2">
                    <Div Class="form-group">
                        <SportLeagueLevelDropDown MultiSelect="true"
                                                  SelectedItems="Model.SportLeagueLevelIds"
                                                  SelectedItemsChanged="(p) => Model.SportLeagueLevelIds = p" />
                    </Div>
                </Div>
                <Div Class="col-2">
                    <Div Class="form-group">
                        <FranchiseDropDown MultiSelect="true"
                                           SelectedItems="Model.FranchiseIds"
                                           SelectedItemsChanged="(p) => Model.FranchiseIds = p" />
                    </Div>
                </Div>
                <Div Class="col-2">
                    <Div Class="form-group">
                        <PrivacyTypeDropDown MultiSelect="true"
                                             SelectedItems="Model.PrivacyTypeIds"
                                             SelectedItemsChanged="(p) => Model.PrivacyTypeIds = p" />
                    </Div>
                </Div>
                <Div Class="col-2">
                    <Div Class="form-group">
                        <PurchaseTypeDropDown MultiSelect="true"
                                              SelectedItems="Model.PurchaseTypeIds"
                                              SelectedItemsChanged="(p) => Model.PurchaseTypeIds = p" />
                    </Div>
                </Div>
                <Div Class="col-2">
                    <Div Class="form-group">
                        <GameStyleTypeDropDown MultiSelect="true"
                                               SelectedItems="Model.GameStyleTypeIds"
                                               SelectedItemsChanged="(p) => Model.GameStyleTypeIds = p" />
                    </Div>
                </Div>
            </Div>            
            <Div Class="row">
                <Div Class="col-2">
                    <Div Class="form-group">
                        <RadioField EmptyValue="ImageFilter.None"
                                    Options="ImageFilter.FilterItems"
                                    SelectionChanged="(p) => Model.ImageFilter = p"
                                    SelectedOption="Model.ImageFilter"
                                    TItemType="ImageFilter" />
                    </Div>
                </Div>
                <Div Class="col-2">
                    <Div Class="form-group">
                        <RadioField EmptyValue="AutographFilter.None"
                                    Options="AutographFilter.FilterItems"
                                    SelectionChanged="(p) => Model.AutographFilter = p"
                                    SelectedOption="Model.AutographFilter"
                                    TItemType="AutographFilter" />
                    </Div>
                </Div>
                <Div Class="col-2">
                    <Div Class="form-group">
                        <RadioField EmptyValue="SaleFilter.None"
                                    Options="SaleFilter.FilterItems"
                                    SelectionChanged="(p) => Model.SaleFilter = p"
                                    SelectedOption="Model.SaleFilter"
                                    TItemType="SaleFilter" />
                    </Div>
                </Div>
                <Div Class="col-2">
                    <Div Class="form-group">
                        <RadioField EmptyValue="TradeFilter.None"
                                    Options="TradeFilter.FilterItems"
                                    SelectionChanged="(p) => Model.TradeFilter = p"
                                    SelectedOption="Model.TradeFilter"
                                    TItemType="TradeFilter" />
                    </Div>
                </Div>
                <Div Class="col-2">
                    <MudStack Row="true">
                        <Switch Checked="@Model.IncludeSold"
                                CheckedChanged="(p) => Model.IncludeSold = p"
                                Label="Include Sold Items" />
                        <Switch Checked="@Model.IncludeTraded"
                                CheckedChanged="(p) => Model.IncludeTraded = p"
                                Label="Include Traded Items" />
                    </MudStack>
                </Div>
            </Div>
            <Div Class="row">
                <Div Class="col-4">
                    <Div Class="form-group">
                        <SearchPersonSelector SelectedPeople="Model.People"
                                              SelectedPeopleChanged="@((people) => Model.People = people)" />
                    </Div>
                </Div>
                <Div Class="col-4">
                    <Div Class="form-group">
                        <SearchTeamSelector SelectedTeams="Model.Teams"
                                            SelectedTeamsChanged="(teams) => Model.Teams = teams" />
                    </Div>
                </Div>
            </Div>
        </MudExpansionPanel>
        <MudExpansionPanel Text="Autograph Filters">            
            <Div Class="row">   
                <Div Class="col-2">
                    <Div Class="form-group">
                        <ColorDropDown DisplayAutographColorsOnly="true"
                                       MultiSelect="true"
                                       SelectedItems="Model.AutographSearchCriteria.ColorIds"
                                       SelectedItemsChanged="(p) => Model.AutographSearchCriteria.ColorIds = p" />
                    </Div>
                </Div>
                <Div Class="col-2">
                    <Div Class="form-group">
                        <WritingInstrumentDropDown MultiSelect="true"
                                                   SelectedItems="Model.AutographSearchCriteria.WritingInstrumentIds"
                                                   SelectedItemsChanged="(p) => Model.AutographSearchCriteria.WritingInstrumentIds = p" />
                    </Div>
                </Div>
                <Div Class="col-2">
                    <Div Class="form-group">
                        <ConditionDropDown MultiSelect="true"
                                           SelectedItems="Model.AutographSearchCriteria.ConditionIds"
                                           SelectedItemsChanged="(p) => Model.AutographSearchCriteria.ConditionIds = p" />
                    </Div>
                </Div>
                <Div Class="col-2">
                    <Div Class="form-group">
                        <AcquisitionTypeDropDown IsAutograph="true"
                                                 MultiSelect="true"
                                                 SelectedItems="Model.AutographSearchCriteria.AcquisitionTypeIds"
                                                 SelectedItemsChanged="(p) => Model.AutographSearchCriteria.AcquisitionTypeIds = p" />
                    </Div>
                </Div>
                <Div Class="col-2">
                    <Div Class="form-group">
                        <MudDatePicker @bind-Date="Model.AutographSearchCriteria.AcquiredDateBegin"
                                       DateFormat="MM/dd/yyyy"
                                       Editable="true"
                                       Label="Acquired Date - Begin"
                                       Mask="@(new DateMask("MM/dd/yyyy"))"
                                       Variant="Variant.Outlined" />
                    </Div>
                </Div> 
                <Div Class="col-2">
                    <Div Class="form-group">
                        <MudDatePicker @bind-Date="Model.AutographSearchCriteria.AcquiredDateEnd"
                                       DateFormat="MM/dd/yyyy"
                                       Editable="true"
                                       Label="Acquired Date - End"
                                       Mask="@(new DateMask("MM/dd/yyyy"))"
                                       Variant="Variant.Outlined" />
                    </Div>
                </Div>
            </Div>
            <Div Class="row">
                <Div Class="col-2">
                    <Div Class="form-group">
                        <NullableIntField HideSpinButtons="false" 
                                          Label="Grade"
                                          Maximum="10"                                          
                                          Value="Model.AutographSearchCriteria.Grade"
                                          ValueChanged="@((p) => Model.AutographSearchCriteria.Grade = p)" />
                    </Div>
                </Div>
                <Div Class="col-2">
                    <Div Class="form-group">
                        <SpotDropDown MultiSelect="true"
                                      SelectedItems="Model.AutographSearchCriteria.SpotIds"
                                      SelectedItemsChanged="(p) => Model.AutographSearchCriteria.SpotIds = p" />
                    </Div>
                </Div>
                <Div Class="col-2">
                    <Div Class="form-group">
                        <NullableDecimalField Label="Cost Low ($)"
                                              Value="Model.AutographSearchCriteria.CostLow"
                                              ValueChanged="@((p) => Model.AutographSearchCriteria.CostLow = p)" />
                    </Div>
                </Div>
                <Div Class="col-2">
                    <Div Class="form-group">
                        <NullableDecimalField Label="Cost High ($)"
                                              Value="Model.AutographSearchCriteria.CostHigh"
                                              ValueChanged="@((p) => Model.AutographSearchCriteria.CostHigh = p)" />
                    </Div>
                </Div>
                <Div Class="col-2">
                    <Div Class="form-group">
                        <NullableDecimalField Label="Estimated Value Low ($)"
                                              Value="Model.AutographSearchCriteria.EstimatedValueLow"
                                              ValueChanged="@((p) => Model.AutographSearchCriteria.EstimatedValueLow = p)" />
                    </Div>
                </Div>
                <Div Class="col-2">
                    <Div Class="form-group">
                        <NullableDecimalField Label="Estimated Value High ($)"
                                              Value="Model.AutographSearchCriteria.EstimatedValueHigh"
                                              ValueChanged="@((p) => Model.AutographSearchCriteria.EstimatedValueHigh = p)" />
                    </Div>
                </Div>                
            </Div>
            <Div Class="row">
                <Div Class="col-2">
                    <Div Class="form-group">
                        <SportDropDown MultiSelect="true"
                                       SelectedItems="Model.AutographSearchCriteria.SportIds"
                                       SelectedItemsChanged="(p) => Model.AutographSearchCriteria.SportIds = p" />
                    </Div>
                </Div>
                <Div Class="col-2">
                    <Div Class="form-group">
                        <SportLeagueLevelDropDown MultiSelect="true"
                                                  SelectedItems="Model.AutographSearchCriteria.SportLeagueLevelIds"
                                                  SelectedItemsChanged="(p) => Model.AutographSearchCriteria.SportLeagueLevelIds = p" />
                    </Div>
                </Div>
                <Div Class="col-2">
                    <Div Class="form-group">
                        <FranchiseDropDown MultiSelect="true"
                                           SelectedItems="Model.AutographSearchCriteria.FranchiseIds"
                                           SelectedItemsChanged="(p) => Model.AutographSearchCriteria.FranchiseIds = p" />
                    </Div>
                </Div>
            </Div>
            <Div Class="row">
                <Div Class="col-2">
                    <Div Class="form-group">
                        <RadioField EmptyValue="AuthenticationFilter.None"
                                    Options="AuthenticationFilter.FilterItems"
                                    SelectionChanged="(p) => Model.AutographSearchCriteria.AuthenticationFilter = p"
                                    SelectedOption="Model.AutographSearchCriteria.AuthenticationFilter"
                                    TItemType="AuthenticationFilter" />
                    </Div>
                </Div>
                <Div Class="col-2">
                    <Div Class="form-group">
                        <RadioField EmptyValue="InscriptionFilter.None"
                                    Options="InscriptionFilter.FilterItems"
                                    SelectionChanged="(p) => Model.AutographSearchCriteria.InscriptionFilter = p"
                                    SelectedOption="Model.AutographSearchCriteria.InscriptionFilter"
                                    TItemType="InscriptionFilter" />
                    </Div>
                </Div>
                <Div Class="col-2">
                    <Div Class="form-group">
                        <RadioField EmptyValue="PersonalizationFilter.None" 
                                    Options="PersonalizationFilter.FilterItems"
                                    SelectionChanged="(p) => Model.AutographSearchCriteria.PersonalizationFilter = p"
                                    SelectedOption="Model.AutographSearchCriteria.PersonalizationFilter"
                                    TItemType="PersonalizationFilter" />
                    </Div>
                </Div>
                <Div Class="col-2">
                    <Div Class="form-group">
                        <RadioField EmptyValue="ImageFilter.None"
                                    Options="ImageFilter.FilterItems"
                                    SelectionChanged="(p) => Model.AutographSearchCriteria.ImageFilter = p"
                                    SelectedOption="Model.AutographSearchCriteria.ImageFilter"
                                    TItemType="ImageFilter" />
                    </Div>
                </Div>
            </Div>
            <Div Class="row">
                <Div Class="col-4">
                    <Div Class="form-group">
                        <SearchPersonSelector SelectedPeople="Model.AutographSearchCriteria.People"
                                              SelectedPeopleChanged="@((people) => Model.AutographSearchCriteria.People = people)" />
                    </Div>
                </Div>
                <Div Class="col-4">
                    <Div Class="form-group">
                        <SearchTeamSelector SelectedTeams="Model.AutographSearchCriteria.Teams"
                                            SelectedTeamsChanged="(teams) => Model.AutographSearchCriteria.Teams = teams" />
                    </Div>
                </Div>
            </Div>
        </MudExpansionPanel>
    </MudExpansionPanels>
    <DivPad2>
        <DivRowCol12Center>
            <CustomButton OnClick="FilterItems"
                          Text="Filter" />
            <CustomButton Color="MudBlazor.Color.Secondary"
                          OnClick="ResetCriteria"
                          Text="Reset Criteria" />
        </DivRowCol12Center>
    </DivPad2>
</Div>

