@inherits ImagePage

<EditPage ContinueNavigationPath="@_viewModel.ContinueNavigationPath"
          DomainImageRootPath="@DomainImageRootPath"  
          DisplayFooter="false"
          EditMode="_viewModel.EditModeType"
          ExitNavigationPath="@_viewModel.ExitNavigationPath"
          ImageFileName="@_viewModel.ImageFileName"
          ItemName="@_viewModel.ItemTypeName"
          Model="_viewModel"
          OnLoad="OnLoad"
          OnSave="OnSave"
          PageTitle="@_viewModel.PageTitle"
          TItem="SaveMemorabiliaItemViewModel"
          UseMultipleButtons="true">
    <TimelineContent>
        <MemorabiliaItemTimeline EditMode="_viewModel.EditModeType"
                                 ItemTypeName="@_viewModel.ItemTypeName"
                                 MemorabiliaId="_viewModel.Id"
                                 MemorabiliaItemStep="_viewModel.MemorabiliaItemStep" />
    </TimelineContent>
    <Content>
        <DivRowCol3>
            <Content>
                <ItemTypeDropDown Disabled="@(!_viewModel.CanEditItemType)"
                                  SelectedValue="_viewModel.ItemTypeId"
                                  SelectionChanged="(p) => _viewModel.ItemTypeId = p" />
            </Content>
        </DivRowCol3>
        <DivRowCol3>
            <Content>
                <ConditionDropDown SelectedValue="_viewModel.ConditionId"
                                   SelectionChanged="(p) => _viewModel.ConditionId = p" />
            </Content>
            <ContentColumn2>
                <AcquisitionTypeDropDown IsAutograph="false" 
                                         SelectedValue="_viewModel.AcquisitionTypeId"
                                         SelectionChanged="(p) => _viewModel.AcquisitionTypeId = p" />
            </ContentColumn2>
            <ContentColumn3>
                <DivHidden Hidden="@(!_viewModel.CanHaveCost)">
                    <Content>
                        <NumericField Label="Cost ($)" 
                                      TType="decimal?"
                                      Value="_viewModel.Cost"
                                      ValueChanged="@((p) => _viewModel.Cost = p)" />
                    </Content>
                </DivHidden>
            </ContentColumn3>
        </DivRowCol3>
        <DivRowCol3>
            <Content>
                <NumericField Label="Estimated Value ($)"
                              TType="decimal?"
                              Value="_viewModel.EstimatedValue"
                              ValueChanged="@((p) => _viewModel.EstimatedValue = p)" />
            </Content>
            <ContentColumn2>
                <MudDatePicker @bind-Date="_viewModel.AcquiredDate"
                               Label="Acquired Date"
                               Variant="Variant.Outlined" />
            </ContentColumn2>
            <ContentColumn3>
                <DivHidden Hidden="@(!_viewModel.CanHaveCost)">
                    <Content>
                        <PurchaseTypeDropDown SelectedValue="_viewModel.PurchaseTypeId"
                                              SelectionChanged="(p) => _viewModel.PurchaseTypeId = p" />
                    </Content>
                </DivHidden>
            </ContentColumn3>
        </DivRowCol3>
        <DivRowCol3>
            <Content>
                <PrivacyTypeDropDown SelectedValue="_viewModel.PrivacyTypeId"
                                     SelectionChanged="(p) => _viewModel.PrivacyTypeId = p" />
            </Content>
            <ContentColumn2>
                <CheckBox Checked="@_viewModel.AcquiredWithAutograph"
                          CheckedChanged="(p) => _viewModel.AcquiredWithAutograph = p"
                          Label="Acquired with Autograph(s)"
                          TType="bool"/> 
            </ContentColumn2>
        </DivRowCol3>
        <DivRowCol3>
            <Content>
                <CheckBox Checked="@_viewModel.IsNumbered"
                          CheckedChanged="(p) => _viewModel.IsNumbered = p"  
                          Label="Numbered"
                          TType="bool"/> 
            </Content>
        </DivRowCol3>
        <DivRowCol1 Hidden="@(!_viewModel.IsNumbered)">
            <Content>
                <NumericField Label="Numerator"
                              TType="int?"
                              Value="_viewModel.Numerator"
                              ValueChanged="@((p) => _viewModel.Numerator = p)" />  
            </Content>
            <ContentColumn2>
                <label for="of">of</label>  
            </ContentColumn2>
            <ContentColumn3>
                <NumericField Label="Denominator"
                              TType="int?"
                              Value="_viewModel.Denominator"
                              ValueChanged="@((p) => _viewModel.Denominator = p)" />
            </ContentColumn3>
        </DivRowCol1>  
        <DivRowCol3>
            <Content>
                <TextField Label="Note"
                           Lines="10"
                           SelectedText="@_viewModel.Note"
                           SelectedTextChanged="@((p) => _viewModel.Note = p)"/>
            </Content>
        </DivRowCol3>
    </Content>
</EditPage>