<Div Class="row">
    <Iterations Context="item"
                Items="_items">
        <Div Class="col-4">
            <MemorabiliaItemGalleryCard Description="@GetDescription(item)"
                                        EditNavigationPath="@GetEditNavigationPath(item.Id)"
                                        MemorabiliaItem="@item"
                                        PrimaryImageFileName="@item.ImageFileName"
                                        PrimaryImageNavigationPath="@GetPrimaryImageNavigationPath(item.Id)"
                                        Subtitle="@GetSubtitle(item)"
                                        Title="@GetTitle(item)"
                                        TooltipText="@item.TooltipText" />
        </Div>
    </Iterations>
</Div>
<Div Visible="DisplayLoadMoreButton">
    <DivRowCol12Center>
        <CustomButton ButtonType="MudBlazor.ButtonType.Button"
                      OnClick="LoadMore"
                      Size="MudBlazor.Size.Small"
                      Text="Load More" />
    </DivRowCol12Center>
</Div>
