@typeparam TItem

<DivRowFormGroup>
    <Div Class="@DivClass.Column3"
         Visible="DisplayItemTypeBrand">
        <ItemTypeBrandDropDown ItemType="Model.ItemType"
                               SelectedValue="Model.BrandId"
                               SelectionChanged="(p) => Model.BrandId = p" />        
    </Div>
    <Div Class="@DivClass.Column3"
         Visible="DisplayItemTypeSize">
        <ItemTypeSizeDropDown ItemType="Model.ItemType"
                              SelectedValue="Model.SizeId"
                              SelectionChanged="(p) => Model.SizeId = p" />
    </Div>
    <Div Class="@DivClass.Column3"
         Visible="DisplayItemTypeLevel">
        <ItemTypeLevelDropDown ItemType="Model.ItemType"
                               SelectedValue="Model.LevelTypeId"
                               SelectionChanged="(p) => Model.LevelTypeId = p" />
    </Div>
    <Div Class="@DivClass.Column3">
        <SportDropDown ItemType="Model.ItemType"
                       SelectedValue="Model.SportId"
                       SelectionChanged="(p) => Model.SportId = p"
                       Visible="DisplaySingleSportSelector" />
        <SportDropDown MultiSelect="true"
                       SelectedItems="Model.SportIds"
                       SelectedItemsChanged="(p) => Model.SportIds = p.ToList()"
                       Visible="DisplayMultiSportSelector" />
    </Div>
</DivRowFormGroup>
<DivRowFormGroup Visible="DisplayItemTypeGameStyle">
    <Div Class="@DivClass.Column3"
         Visible="Model.DisplayGameStyleType">
        <ItemTypeGameStyleDropDown ItemType="Model.ItemType"
                                   Label="@GameStyleTypeDisplayText"
                                   SelectedValue="Model.GameStyleTypeId"
                                   SelectionChanged="(p) => Model.GameStyleTypeId = p" />
    </Div>
    <Div Class="@DivClass.Column3"
         Visible="Model.DisplayGameDate">
        <MudDatePicker @bind-Date="Model.GameDate"
                       DateFormat="MM/dd/yyyy"
                       Editable="true"
                       Label="@GameDateDisplayText"
                       Mask="@(new DateMask("MM/dd/yyyy"))"
                       Variant="Variant.Outlined" />
    </Div>
</DivRowFormGroup>
@AdditionalContent
<HiddenControl Visible="DisplaySinglePersonSelector">
    <PersonSelector CanFilterBySport="CanFilterPersonBySport"
                    CanToggle="CanTogglePersonSelector"
                    ItemType="Model.ItemType"
                    SelectedPerson="Model.Person"
                    SelectedPersonChanged="(p) => Model.Person = p"
                    Sport="Model.Sport" />
</HiddenControl>
<HiddenControl Visible="DisplayMultiPersonSelector">
    <MultiPersonSelector CanToggle="true"
                         ItemType="Model.ItemType"
                         SelectedPeople="Model.People"
                         SelectedPeopleChanged="@((people) => Model.People = people)" />
</HiddenControl>
<Div Class="@DivClass.Row"
     Visible="DisplaySingleTeamSelector">
    <Div Class="@DivClass.Column6">
        <TeamAutoComplete SelectedValue="Model.Team"
                          SelectionChanged="(p) => Model.Team = p"
                          Sport="Model.Sport"
                          SportLeagueLevel="Model.SportLeagueLevel" />
    </Div>
</Div>
<HiddenControl Visible="DisplayMultiTeamSelector">
    <MultiTeamSelector CanToggle="CanToggleMultiTeamSelector"
                       ItemType="Model.ItemType"
                       SelectedTeams="Model.Teams"
                       SelectedTeamsChanged="@((teams) => Model.Teams = teams)" />
</HiddenControl>