<EditPage ContinueNavigationPath="@Model.ContinueNavigationPath"
          DisplayFooter="false"
          EditMode="Model.EditModeType"
          ExitNavigationPath="@Model.ExitNavigationPath"
          ImageFileName="@Model.ImageFileName"
          ItemName="@Model.ItemTypeName"
          Model="Model"
          OnLoad="OnLoad"
          OnSave="OnSave"
          PageTitle="@Model.PageTitle"
          PerformValidation="true"
          TItem="MemorabiliaEditModel"
          UseMultipleButtons="true"
          ValidationResult="@Model.ValidationResult">
    <TimelineContent>
        <MemorabiliaItemTimeline EditMode="Model.EditModeType"
                                 ItemTypeName="@Model.ItemTypeName"
                                 MemorabiliaId="Model.Id"
                                 MemorabiliaItemStep="Model.MemorabiliaItemStep" />
    </TimelineContent>
    <Content>
        <DivRowCol3>
            <Content>
                <ItemTypeAutoComplete Disabled="@(!Model.CanEditItemType)" 
                                      SelectedValue="Model.ItemType"
                                      SelectionChanged="(p) => Model.ItemType = p" />
            </Content>
            <ContentColumn2>
                <ConditionDropDown SelectedValue="Model.ConditionId"
                                   SelectionChanged="(p) => Model.ConditionId = p" />
            </ContentColumn2>
            <ContentColumn3>
                <NumericField Label="Estimated Value ($)"
                              TType="decimal?"
                              Value="Model.EstimatedValue"
                              ValueChanged="@((p) => Model.EstimatedValue = p)" />
            </ContentColumn3>
            <ContentColumn4>
                <PrivacyTypeDropDown SelectedValue="Model.PrivacyTypeId"
                                     SelectionChanged="(p) => Model.PrivacyTypeId = p" />
            </ContentColumn4>
        </DivRowCol3>
        <DivRowCol3 HideColumn3="@(!Model.CanHaveCost)"
                    HideColumn4="@(!Model.CanHaveCost)">
            <Content>
                <AcquisitionTypeDropDown IsAutograph="false"
                                         SelectedValue="Model.AcquisitionTypeId"
                                         SelectionChanged="OnAcquisitionTypeChange" />
            </Content>
            <ContentColumn2>
                <MudDatePicker @bind-Date="Model.AcquiredDate"
                               DateFormat="MM/dd/yyyy"
                               Editable="true"
                               Label="Acquired Date"
                               Mask="@(new DateMask("MM/dd/yyyy"))"
                               Variant="Variant.Outlined" />
            </ContentColumn2>
            <ContentColumn3>
                <NumericField Label="Cost ($)" 
                              TType="decimal?"
                              Value="Model.Cost"
                              ValueChanged="@((p) => Model.Cost = p)" />
            </ContentColumn3>
            <ContentColumn4>
                <PurchaseTypeDropDown SelectedValue="Model.PurchaseTypeId"
                                      SelectionChanged="(p) => Model.PurchaseTypeId = p" />
            </ContentColumn4>
        </DivRowCol3>
        <DivRowCol6>
            <Content>
                <TextField Label="Notes"
                           Lines="10"
                           SelectedText="@Model.Note"
                           SelectedTextChanged="@((p) => Model.Note = p)" />
            </Content>
            <ContentColumn2>
                <MultiCollectionSelector SelectedCollections="Model.Collections" 
                                         UserId="Model.UserId" />
            </ContentColumn2>
        </DivRowCol6>
        <DivRowCol6>
            <Content>
                <MudStack Row="true">
                    <MudSwitch Checked="@Model.IsNumbered"
                               CheckedChanged="(p) => Model.IsNumbered = p"
                               Color="MudBlazor.Color.Success"
                               Label="Is Numbered?"
                               T="bool" />
                    <MudSwitch Checked="@Model.Framed"
                               CheckedChanged="(p) => Model.Framed = p"
                               Color="MudBlazor.Color.Success"
                               Label="Is Framed?"
                               T="bool" />
                    <MudSwitch Checked="@Model.AcquiredWithAutograph"
                               CheckedChanged="(p) => Model.AcquiredWithAutograph = p"
                               Color="MudBlazor.Color.Success"
                               Label="Acquired with Autograph(s)?"
                               T="bool" />                    
                    <MudSwitch Checked="@Model.ForTrade"
                               CheckedChanged="(p) => Model.ForTrade = p"
                               Color="MudBlazor.Color.Success"
                               Label="Available For Trade?"
                               T="bool" />
                </MudStack>
            </Content>
        </DivRowCol6>
        <DivRowCol3 Hidden="@(!Model.IsNumbered)">
            <Content>
                <div class="row">
                    <div style="padding-left:15px; width:45%; flex:auto;">
                        <NumericField Label="Left Serial #"
                                      TType="int?"
                                      Value="Model.Numerator"
                                      ValueChanged="@((p) => Model.Numerator = p)" />
                    </div>
                    <div style="padding-right:15px; padding-left:5px; width:45%; flex:auto;">
                        <NumericField Label="Right Serial #"
                                      TType="int?"
                                      Value="Model.Denominator"
                                      ValueChanged="@((p) => Model.Denominator = p)" />
                    </div>
                </div>
            </Content>
        </DivRowCol3>        
    </Content>
</EditPage>