<EditPage ContinueNavigationPath="@_viewModel.ContinueNavigationPath"
          DisplayFooter="false"
          EditMode="_viewModel.EditModeType"
          ExitNavigationPath="@_viewModel.ExitNavigationPath"
          ImagePath="@_viewModel.ImagePath"
          ItemName="@_viewModel.ItemTypeName"
          Model="_viewModel"
          OnLoad="OnLoad"
          OnSave="OnSave"
          PageTitle="@_viewModel.PageTitle"
          TItem="SaveMemorabiliaItemViewModel"
          UseMultipleButtons="true">
    <TimelineContent>
        <MemorabiliaItemTimeline EditMode="_viewModel.EditModeType"
                                 ItemTypeName="@_viewModel.ItemTypeName"
                                 MemorabiliaId="_viewModel.Id"
                                 MemorabiliaItemStep="_viewModel.MemorabiliaItemStep" />
    </TimelineContent>
    <Content>
        <DivRowCol3>
            <Content>
                <ItemTypeDropDown Disabled="@(!_canEditItemType)"
                                  SelectedValue="_viewModel.ItemTypeId"
                                  SelectionChanged="(p) => _viewModel.ItemTypeId = p" />
            </Content>
        </DivRowCol3>
        <DivRowCol3>
            <Content>
                <ConditionDropDown SelectedValue="_viewModel.ConditionId"
                                   SelectionChanged="(p) => _viewModel.ConditionId = p" />
            </Content>
            <ContentColumn2>
                <AcquisitionTypeDropDown IsAutograph="false" 
                                         SelectedValue="_viewModel.AcquisitionTypeId"
                                         SelectionChanged="(p) => _viewModel.AcquisitionTypeId = p" />
            </ContentColumn2>
            <ContentColumn3>
                <DivHidden Hidden="@(!_viewModel.CanHaveCost)">
                    <Content>
                        <MudNumericField @bind-Value="_viewModel.Cost" 
                                         Label="Cost ($)" 
                                         Variant="Variant.Outlined" />
                    </Content>
                </DivHidden>
            </ContentColumn3>
        </DivRowCol3>
        <DivRowCol3>
            <Content>
                <MudNumericField @bind-Value="_viewModel.EstimatedValue" 
                                 Label="Estimated Value ($)"
                                 Variant="Variant.Outlined" />
            </Content>
            <ContentColumn2>
                <MudDatePicker @bind-Date="_viewModel.AcquiredDate"
                               DateFormat="MM/dd/yyyy"
                               Editable="true"
                               Label="Acquired Date"
                               Mask="@(new DateMask("MM/dd/yyyy"))" 
                               Variant="Variant.Outlined" />
            </ContentColumn2>
            <ContentColumn3>
                <DivHidden Hidden="@(!_viewModel.CanHaveCost)">
                    <Content>
                        <PurchaseTypeDropDown SelectedValue="_viewModel.PurchaseTypeId"
                                              SelectionChanged="(p) => _viewModel.PurchaseTypeId = p" />
                    </Content>
                </DivHidden>
            </ContentColumn3>
        </DivRowCol3>
        <DivRowCol3>
            <Content>
                <PrivacyTypeDropDown SelectedValue="_viewModel.PrivacyTypeId"
                                     SelectionChanged="(p) => _viewModel.PrivacyTypeId = p" />
            </Content>
            <ContentColumn2>
                <MudCheckBox @bind-Checked="@_viewModel.AcquiredWithAutograph" 
                             Label="Acquired with Autograph(s)" />
            </ContentColumn2>
        </DivRowCol3>
        <DivRowCol3>
            <Content>
                <MudCheckBox Checked="_displayNumbered"
                             CheckedChanged="NumberedCheckboxClicked" 
                             Label="Numbered"
                             T="bool" /> 
            </Content>
        </DivRowCol3>
        <DivRowCol1 Hidden="@(!_displayNumbered)">
            <Content>
                <MudNumericField @bind-Value="_viewModel.Numerator" 
                                 Label="Numerator"
                                 Variant="Variant.Outlined" />  
            </Content>
            <ContentColumn2>
                <label for="of">of</label>  
            </ContentColumn2>
            <ContentColumn3>
                <MudNumericField @bind-Value="_viewModel.Denominator" 
                                 Label="Denominator"
                                 Variant="Variant.Outlined" /> 
            </ContentColumn3>
        </DivRowCol1>  
        <DivRowCol3>
            <Content>
                <MudTextField @bind-Value="_viewModel.Note" 
                              Label="Note"
                              Lines="10" 
                              T="string"
                              Variant="Variant.Outlined" />
            </Content>
        </DivRowCol3>
    </Content>
</EditPage>