<DivPad5>
    <MudTooltip Text="@TooltipText">
        <MudCard Elevation="20">
            <MudCardContent>
                <MudText Typo="Typo.h5">@Title</MudText>
            </MudCardContent>
            <MudCardContent>
                <MudCard Elevation="10">
                    <MudCardMedia @onclick="OnPrimaryImageClick"
                                  Class="rounded-lg can-click"
                                  Height="300"
                                  Image="@(ImageService.GetUserImageData(PrimaryImageFileName))" />
                </MudCard>
                <br />
                <MudText Typo="Typo.body2">@Subtitle</MudText>
                <MudText Typo="Typo.body2">@Description</MudText>
            </MudCardContent>
            <MudCardContent>
                <Div Class="row">
                    <Iterations Items="MemorabiliaItem.Autographs" Context="autograph">
                        <Div Class="col-4">
                            <MemorabiliaItemGallerySubCard EditNavigationPath="@($"{NavigationPath.Autographs}/{Constant.EditModeType.Update.Name}/{autograph.MemorabiliaId}/{autograph.AutographId}")"
                                                           ImageFileName="@autograph.ImageFileName"
                                                           ImageNavigationPath="@GetImageNavigationPath(autograph)"
                                                           Title="@autograph.PersonName"
                                                           TooltipText="@autograph.PersonName" />
                        </Div>
                    </Iterations>
                </Div>
            </MudCardContent>
            <MudCardActions>
                <CustomButton Color="MudBlazor.Color.Primary"
                              OnClick="OnEditClick"
                              Text="Edit Memorabilia"
                              Variant="Variant.Text" />
            </MudCardActions>
        </MudCard>
    </MudTooltip>
</DivPad5>
