@inherits ImagePage

<Page OnLoad="OnLoad">
    <Content>
        <MemorabiliaFilter OnFilter="OnFilter" />
        <DivPad2>
            <Content>
                <div class="row">
                    <Iterations Items="_items" Context="item">
                        <div class="col-md-4">
                            <MemorabiliaItemGalleryCard Description="@GetDescription(item)"
                                                        DomainImageRootPath="@DomainImageRootPath"
                                                        EditNavigationPath="@item.EditNavigationPath"
                                                        ImageRootPath="@ImageRootPath"
                                                        MemorabiliaItem="@item"
                                                        PrimaryImageFileName="@item.ImageFileName"
                                                        PrimaryImageNavigationPath="@item.PrimaryImageNavigationPath"
                                                        Subtitle="@GetSubtitle(item)"
                                                        Title="@GetTitle(item)"
                                                        TooltipText="@item.TooltipText" />
                        </div>
                    </Iterations>
                </div>
                <DivHidden Hidden="@(!DisplayLoadMoreButton)">
                    <Content>
                        <DivRowCol12Center>
                            <Content>
                                <MudButton ButtonType="MudBlazor.ButtonType.Button"
                                           Color="MudBlazor.Color.Primary"
                                           OnClick="LoadMore"
                                           Size="MudBlazor.Size.Small"
                                           Variant="Variant.Filled">Load More</MudButton>
                            </Content>
                        </DivRowCol12Center>
                    </Content>
                </DivHidden>
            </Content>
        </DivPad2>
    </Content>
</Page>
