@inherits EditItemTypeItem<ItemTypeGameStyleEditModel, ItemTypeGameStyleModel>

<EditPage ContinueNavigationPath="@EditModel.RoutePrefix"
          EditMode="EditModel.EditModeType" 
          ExitNavigationPath="@EditModel.RoutePrefix" 
          ImageFileName="@EditModel.ImageFileName"
          ItemName="@EditModel.ItemTitle"
          Model="EditModel"
          OnLoad="OnLoad"
          OnSave="HandleValidSubmit"
          PageFooterButtonText="@EditModel.ExitButtonText"
          PageFooterNavigationPath="@EditModel.ExitNavigationPath"
          PageTitle="@EditModel.PageTitle"
          TItem="ItemTypeGameStyleEditModel">
    <Div Class="row" 
         Hidden="@(!DisplayItemType)">
        <Div Class="col-3">
            <ItemTypeAutoComplete SelectedValue="EditModel.ItemType"
                                  SelectionChanged="(p) => EditModel.ItemType = p" />
        </Div>
    </Div>
    <Div Class="row">
        <Div Class="col-3">
            <GameStyleTypeDropDown SelectedValue="EditModel.GameStyleTypeId"
                                   SelectionChanged="(p) => EditModel.GameStyleTypeId = p" />
        </Div>
    </Div>
</EditPage>