@inherits EditItem<ItemTypeGameStyleEditModel, ItemTypeGameStyleModel>

<EditPage ContinueNavigationPath="@EditModel.RoutePrefix"
          EditMode="EditModel.EditModeType" 
          ExitNavigationPath="@EditModel.RoutePrefix" 
          ImageFileName="@EditModel.ImageFileName"
          ItemName="@EditModel.ItemTitle"
          Model="EditModel"
          OnSave="HandleValidSubmit"
          PageFooterButtonText="@EditModel.ExitButtonText"
          PageFooterNavigationPath="@EditModel.ExitNavigationPath"
          PageTitle="@EditModel.PageTitle"
          TItem="ItemTypeGameStyleEditModel">
    <DivRowFormGroup>
        <Div Class="col-3">
            <ItemTypeAutoComplete Disabled="@(EditModel.Id > 0)"
                                  SelectedValue="EditModel.ItemType"
                                  SelectionChanged="(p) => EditModel.ItemType = p" />
        </Div>
    </DivRowFormGroup>
    <DivRowFormGroup>
        <Div Class="col-3">
            <GameStyleTypeDropDown SelectedValue="EditModel.GameStyleTypeId"
                                   SelectionChanged="(p) => EditModel.GameStyleTypeId = p" />
        </Div>
    </DivRowFormGroup>
</EditPage>