@inherits EditItem<SportEditModel, SportModel>

<PageEditor DisplaySaveContinueButton="false"
            PageImageFileName="@EditModel.ImageFileName"
            EditModel="EditModel"
            OnSave="Save"
            TItem="SportEditModel">
    <DivRowFormGroup>
        <Div Class="col-3">
            <TextField Label="Name"
                       SelectedText="@EditModel.Name"
                       SelectedTextChanged="@((p) => EditModel.Name = p)" />
        </Div>
    </DivRowFormGroup>
    <DivRowFormGroup>
        <Div Class="col-3">
            <TextField Label="Alternate Name"
                       SelectedText="@EditModel.AlternateName"
                       SelectedTextChanged="@((p) => EditModel.AlternateName = p)" />
        </Div>
    </DivRowFormGroup>
</PageEditor>