<AlertPanel Alerts="ValidationResultAlerts"
            DivStyle="@Style.MarginPad2"
            ShowCloseIcon="false" />
<DivPad2>
    <Div Class="@DivClass.Row">
        <Div Class="@DivClass.Column6">
            <UsernameAutoComplete SelectedValue="EditModel.UserMessageReply.ReceiverUser"
                                  SelectionChanged="(p) => EditModel.UserMessageReply.ReceiverUser = p" />
        </Div>
    </Div>
    <Div Class="@DivClass.Row">
        <Div Class="@DivClass.Column12">
            <TextField Label="Subject"
                       SelectedText="@EditModel.Subject"
                       SelectedTextChanged="@((p) => EditModel.Subject = p)" />
        </Div>
    </Div>    
    <Div Class="@DivClass.Row">
        <Div Class="@DivClass.Column12">
            <RowStack>
                <TextField Label="Message"
                           Lines="10"
                           SelectedText="@EditModel.UserMessageReply.Message"
                           SelectedTextChanged="@((p) => EditModel.UserMessageReply.Message = p)" />
                <HiddenControl Visible="EditModel.UserMessageReply.Images.Any()">
                    <UserMessageImages ImageRemoved="OnImageRemoved"
                                       Images="EditModel.UserMessageReply.Images" />
                </HiddenControl>
                <Fab Color="MudBlazor.Color.Primary"
                     OnClick="AddImages"
                     Size="@MudBlazor.Size.Small"
                     StartIcon="@Icons.Material.Outlined.AttachFile"
                     TooltipText="Attachments"
                     Visible="CanAttach" />
            </RowStack>            
        </Div>
    </Div>
    <LeftRightSection Style="@($"{Style.MarginBottomPad1}{Style.MarginTopPad1}")">
        <Right>
            <SaveButton OnClick="Send"
                        Text="Send" />
        </Right>
    </LeftRightSection>
</DivPad2>