<DivPad2>
    <Condition Evaluation="@(ValidationResultAlerts.Any())">
        <Match>
            <AlertPanel Alerts="ValidationResultAlerts" />
        </Match>
    </Condition>
    <DivRowFormGroup>
        <Div Class="col-6">
            <UsernameAutoComplete Disabled="true" 
                                  SelectedValue="EditModel.UserMessageReply.ReceiverUser"
                                  SelectionChanged="(p) => EditModel.UserMessageReply.ReceiverUser = p" />
        </Div>
    </DivRowFormGroup>
    <DivRowFormGroup>
        <Div Class="col-12">
            <TextField Disabled="true" 
                       Label="Subject"
                       SelectedText="@EditModel.Subject"
                       SelectedTextChanged="@((p) => EditModel.Subject = p)" />
        </Div>
    </DivRowFormGroup>    
    <DivRowFormGroup>
        <Div Class="col-12">
            <MudStack Row="true">
                <TextField Label="Message"
                           Lines="10"
                           SelectedText="@EditModel.UserMessageReply.Message"
                           SelectedTextChanged="@((p) => EditModel.UserMessageReply.Message = p)" />
                <Condition Evaluation="@(EditModel.UserMessageReply.Images.Any())">
                    <Match>
                        <UserMessageImages ImageRemoved="OnImageRemoved" 
                                           Images="EditModel.UserMessageReply.Images" />
                    </Match>
                </Condition>
                <Condition Evaluation="@CanAttach">
                    <Match>
                        <MudTooltip Text="Attachments">
                            <MudFab Color="MudBlazor.Color.Primary"
                                    Icon="@Icons.Material.Outlined.AttachFile"
                                    OnClick="AddImages"
                                    Size="@MudBlazor.Size.Small" />
                        </MudTooltip>
                    </Match>
                </Condition>                
            </MudStack>            
        </Div>
    </DivRowFormGroup>
    <br />
    <Condition Evaluation="@(UserMessageReplyModel != null)">
        <Match>
            <MudExpansionPanel IsExpanded="false"
                               Text="Reply to Message">
                <DivRowFormGroup>
                    <Div Class="col-12">
                        <MudStack Row="true">
                            <TextField Disabled="true"
                                       Label="Message"
                                       Lines="10"
                                       SelectedText="@UserMessageReplyModel.Message" />
                            <Condition Evaluation="@(UserMessageReplyModel.Images.Any())">
                                <Match>
                                    <UserMessageImages Images="UserMessageReplyModel.Images.Select(image => new UserMessageReplyImageEditModel(image.ImageFileName)).ToList()" />
                                </Match>
                            </Condition>
                        </MudStack>
                    </Div>
                </DivRowFormGroup>
                <br />
            </MudExpansionPanel>
        </Match>
    </Condition>    
    <Div Style="margin-right:1%;margin-bottom:1%;text-align:right;">
        <SaveButton OnClick="Send"
                    Text="Send" />
    </Div>
</DivPad2>