<AlertPanel Alerts="ValidationResultAlerts"
            DivStyle="@Style.MarginPad2"
            ShowCloseIcon="false" />
<DivPad2>
    <Div Class="@DivClass.Row">
        <Div Class="@DivClass.Column6">
            <UsernameAutoComplete Disabled="true" 
                                  SelectedValue="EditModel.UserMessageReply.ReceiverUser"
                                  SelectionChanged="(p) => EditModel.UserMessageReply.ReceiverUser = p" />
        </Div>
    </Div>
    <Div Class="@DivClass.Row">
        <Div Class="@DivClass.Column12">
            <TextField Disabled="true" 
                       Label="Subject"
                       SelectedText="@EditModel.Subject"
                       SelectedTextChanged="@((p) => EditModel.Subject = p)" />
        </Div>
    </Div>    
    <Div Class="@DivClass.Row">
        <Div Class="@DivClass.Column12">
            <RowStack>
                <TextField Label="Message"
                           Lines="10"
                           SelectedText="@EditModel.UserMessageReply.Message"
                           SelectedTextChanged="@((p) => EditModel.UserMessageReply.Message = p)" />
                <HiddenControl Visible="EditModel.UserMessageReply.Images.Any()">
                    <UserMessageImages ImageRemoved="OnImageRemoved"
                                       Images="EditModel.UserMessageReply.Images" />
                </HiddenControl>
                <Fab Color="MudBlazor.Color.Primary"
                     OnClick="AddImages"
                     Size="@MudBlazor.Size.Small"
                     StartIcon="@Icons.Material.Outlined.AttachFile"
                     TooltipText="Attachments"
                     Visible="CanAttach" />
            </RowStack>            
        </Div>
    </Div>
    <ExpansionPanel Expanded="false"
                    Text="Reply to Message"
                    Visible="@(UserMessageReplyModel != null)">
        <Div Class="@DivClass.Row">
            <Div Class="@DivClass.Column12">
                <RowStack>
                    <TextField Disabled="true"
                               Label="Message"
                               Lines="10"
                               SelectedText="@UserMessageReplyModel.Message" />
                    <HiddenControl Visible="UserMessageReplyModel.Images.Any()">
                        <UserMessageImages Images="UserMessageReplyModel.Images.Select(image => new UserMessageReplyImageEditModel(image.ImageFileName)).ToList()" />
                    </HiddenControl>
                </RowStack>
            </Div>
        </Div>
    </ExpansionPanel>
    <LeftRightSection Style="@($"{Style.MarginBottomPad1}{Style.MarginTopPad1}")">
        <Right>
            <SaveButton OnClick="Send"
                        Text="Send" />
        </Right>
    </LeftRightSection>
</DivPad2>