<MudTable @ref="_table"
          Bordered="false"
          Dense="false"
          Hover="true"
          Items="Model.Messages"
          ServerData="@(new Func<TableState, Task<TableData<UserMessageModel>>>(OnRead))"
          Striped="true">
    <HeaderContent>
        <MudTh>
            <CustomButton ButtonType="ButtonType.Button"
                          OnClick="OnSelectAll"
                          Text="@SelectAllButtonText" />
        </MudTh>
        <MudTh></MudTh>
        <MudTh>From</MudTh>
        <MudTh>Subject</MudTh>
        <MudTh>Received Date</MudTh>
        <MudTh></MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd>
            <BooleanCheckBox Checked="@(SelectedUserMessages.Contains(context))"
                             CheckedChanged="(p) => OnUserMessageSelected(context)" />
        </MudTd>
        <MudTd>
            <ToggleGridButton Toggled="@(_ => ToggleChildContent(context.Id))" />
        </MudTd>
        <MudTd DataLabel="From">@context.SenderUsername</MudTd>
        <MudTd DataLabel="Subject">@context.Subject</MudTd>
        <MudTd DataLabel="ReceivedDate">@context.CreatedDate.ToString("MM-dd-yyyy hh:mm:ss tt")</MudTd>
        <MudTd>
            <Fab Color="MudBlazor.Color.Secondary"
                 OnClick="@(_ => ShowDeleteConfirm(context.Id))"
                 Size="@MudBlazor.Size.Small"
                 StartIcon="@Icons.Material.Outlined.DeleteOutline"
                 TooltipText="Delete" />
        </MudTd>
    </RowTemplate>
    <ChildRowContent>
        <DivPad5 Visible="@context.DisplayReplies">
            <UserMessageRepliesControl UserMessage="context" />
            @*<td colspan="17">
            <UserMessageReplyGrid UserMessage="context" />
            </td> *@
        </DivPad5>
    </ChildRowContent>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>
