<DivPad2>
    <HiddenControl Visible="true">
        <LeftRightSection LeftStyle="width:90%;"
                          RightStyle="width:10%;">
            <Left>
                <Div Class="@DivClass.Row">
                    <Div Class="@DivClass.Column6">
                        <Text Typography="Typo.h6">
                            <b>From: @(UserMessageReply.SenderUserName)</b>
                        </Text>
                    </Div>
                </Div>
            </Left>
            <Right>
                <Fab Color="MudBlazor.Color.Secondary"
                     OnClick="@(_ => Reply(UserMessageReply))"
                     Size="@MudBlazor.Size.Small"
                     StartIcon="@Icons.Material.Outlined.Reply"
                     TooltipText="Reply" />
            </Right>
        </LeftRightSection>
    </HiddenControl>    
    <Div Class="@DivClass.Row">
        @UserMessageReply.Message
    </Div>
    <HiddenControl Visible="UserMessageReply.Images.Any()">

    </HiddenControl>
</DivPad2>
