<MudTable Bordered="false"
          Dense="false"
          Hover="true"
          Items="@UserMessage.Replies"
          Striped="true"
          Style="width:100%">
    <HeaderContent>
        <MudTh></MudTh>
        <MudTh>From</MudTh>
        <MudTh>To</MudTh>
        <MudTh>Date</MudTh>
        <MudTh></MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd>
            <MudIconButton @onclick="@(_ => ToggleChildContent(context.Id))"
                           Icon="@context.ToggleIcon"></MudIconButton>
        </MudTd>
        <MudTd DataLabel="From">@context.SenderUserName</MudTd>
        <MudTd DataLabel="To">@context.ReceiverUserName</MudTd>
        <MudTd DataLabel="Date">@context.CreatedDate.ToString("MM-dd-yyyy hh:mm:ss tt")</MudTd>
        <MudTd DataLabel="">
            <Condition Evaluation="@(context.Images.Any())">
                <Match>
                    <MudTooltip Text="Has Attachments">
                        <MudFab Color="MudBlazor.Color.Primary"
                                Icon="@Icons.Material.Outlined.Attachment"
                                Size="@MudBlazor.Size.Small" />
                    </MudTooltip>
                </Match>
            </Condition>            
        </MudTd>
    </RowTemplate>
    <ChildRowContent>
        <Condition Evaluation="@context.DisplayDetails">
            <Match>
                <DivPad2>
                    <Div Class="row">
                        @context.Message
                    </Div>
                    <Condition Evaluation="@(context.Images.Any())">
                        <Match>

                        </Match>
                    </Condition>
                </DivPad2>
            </Match>
        </Condition>
    </ChildRowContent>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>
