<MudTable Bordered="false"
          Dense="false"
          Hover="true"
          Items="UserMessage.Replies"
          Striped="true"
          Style="width:100%">
    <HeaderContent>
        <MudTh></MudTh>
        <MudTh>From</MudTh>
        <MudTh>To</MudTh>
        <MudTh>Date</MudTh>
        <MudTh></MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd>
            <ToggleGridButton Toggled="@(_ => ToggleChildContent(context.Id))" />
        </MudTd>
        <MudTd DataLabel="From">@context.SenderUserName</MudTd>
        <MudTd DataLabel="To">@context.ReceiverUserName</MudTd>
        <MudTd DataLabel="Date">@context.CreatedDate.ToString("MM-dd-yyyy hh:mm:ss tt")</MudTd>
        <MudTd>
            <Fab Color="MudBlazor.Color.Primary"
                 Size="@MudBlazor.Size.Small"
                 StartIcon="@Icons.Material.Outlined.Attachment"
                 TooltipText="Has Attachments"
                 Visible="context.Images.Any()" />
        </MudTd>
    </RowTemplate>
    <ChildRowContent>
        <DivPad2 Visible="context.DisplayDetails">
            <Div Class="@DivClass.Row">
                @context.Message
            </Div>
            <HiddenControl Visible="context.Images.Any()">

            </HiddenControl>
        </DivPad2>
    </ChildRowContent>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>
