@using Memorabilia.Application.Features.Admin.Team
@using Memorabilia.Web.Controls.Division

<div class="row">
    <div class="col-lg-12">
        <div class="form-group">
            <_DivisionDropDown @bind-Value="@_viewModel.DivisionId" 
                               @bind-Value:event="ValueChanged" /> 
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="form-group">
            <label for="beginYear">Begin Year</label>
            <InputNumber id="beginYear" class="form-control" @bind-Value="_viewModel.BeginYear" />
        </div>
    </div>
        <div class="col-lg-6">
        <div class="form-group">
            <label for="endYear">End Year</label>
            <InputNumber id="endYear" class="form-control" @bind-Value="_viewModel.EndYear" />
        </div>
    </div>
</div>
<div class="text-right">
    <button type="button" class="btn btn-secondary" @onclick="Add">Add</button>
</div>
<br />
<table class="table" style="border: 1px solid black;">
    <thead>
        <tr>
            <th>Division</th>
            <th>Begin Year</th>
            <th>End Year</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var division in Divisions.Where(x => !x.IsDeleted).OrderBy(x => x.BeginYear))
        {
            <tr>
                <td>@division.DivisionName</td>
                <td>@division.BeginYear</td>
                <td>@division.EndYear</td>
                <td>
                    <_Tooltip Text="Delete">
                        <img class="can-click" 
                             src="images/trash.png" 
                             height="25" 
                             width="25" 
                             @onclick="@(_ => Remove(division.DivisionId, division.BeginYear))" />
                    </_Tooltip>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    [Parameter]
    public List<SaveTeamDivisionViewModel> Divisions { get; set; } = new();

    private SaveTeamDivisionViewModel _viewModel = new SaveTeamDivisionViewModel();

    private void Add()
    {        
        Divisions.Add(_viewModel);

        _viewModel = new SaveTeamDivisionViewModel();
    }

    private void Remove(int divisionId, int? beginYear)
    {
        var division = Divisions.SingleOrDefault(division => division.DivisionId == divisionId && division.BeginYear == beginYear);

        if (division == null)
            return;

        division.IsDeleted = true;                                                                             
    } 
}
