@using Memorabilia.Application.Features.Admin.Team
@using Memorabilia.Web.Controls.League

<div class="row">
    <div class="col-lg-12">
        <div class="form-group">
            <_LeagueDropDown @bind-Value="@_viewModel.LeagueId" 
                             @bind-Value:event="ValueChanged" /> 
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="form-group">
            <label for="beginYear">Begin Year</label>
            <InputNumber id="beginYear" class="form-control" @bind-Value="_viewModel.BeginYear" />
        </div>
    </div>
        <div class="col-lg-6">
        <div class="form-group">
            <label for="endYear">End Year</label>
            <InputNumber id="endYear" class="form-control" @bind-Value="_viewModel.EndYear" />
        </div>
    </div>
</div>
<div class="text-right">
    <button type="button" class="btn btn-secondary" @onclick="Add">Add</button>
</div>
<br />
<table class="table" style="border: 1px solid black;">
    <thead>
        <tr>
            <th>League</th>
            <th>Begin Year</th>
            <th>End Year</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var league in Leagues.Where(x => !x.IsDeleted).OrderBy(x => x.BeginYear))
        {
            <tr>
                <td>@league.LeagueName</td>
                <td>@league.BeginYear</td>
                <td>@league.EndYear</td>
                <td>
                    <_Tooltip Text="Delete">
                        <img class="can-click" 
                             src="images/trash.png" 
                             height="25" 
                             width="25" 
                             @onclick="@(_ => Remove(league.LeagueId, league.BeginYear))" />
                    </_Tooltip>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    [Parameter]
    public List<SaveTeamLeagueViewModel> Leagues { get; set; } = new();

    private SaveTeamLeagueViewModel _viewModel = new SaveTeamLeagueViewModel();

    private void Add()
    {        
        Leagues.Add(_viewModel);

        _viewModel = new SaveTeamLeagueViewModel();
    }

    private void Remove(int leagueId, int? beginYear)
    {
        var league = Leagues.SingleOrDefault(league => league.LeagueId == leagueId && league.BeginYear == beginYear);

        if (league == null)
            return;

        league.IsDeleted = true;        
    } 
}
