<DivPad2>
    <Condition Evaluation="@(ValidationResultAlerts.Any())">
        <Match>
            <AlertPanel Alerts="ValidationResultAlerts" />
        </Match>
    </Condition>
    <MudExpansionPanel IsExpanded="true"
                       Text="General Details">
        <DivRowFormGroup>
            <Div Class="col-3">
                <MudDatePicker @bind-Date="EditModel.SubmissionDeadlineDate"
                               DateFormat="MM/dd/yyyy"
                               Editable="true"
                               Label="Submission Deadline Date"
                               Mask="@(new DateMask("MM/dd/yyyy"))"
                               Variant="Variant.Outlined" />
            </Div>
            <Div Class="col-3">
                <MudDatePicker @bind-Date="EditModel.SigningDate"
                               DateFormat="MM/dd/yyyy"
                               Editable="true"
                               Label="Signing Date"
                               Mask="@(new DateMask("MM/dd/yyyy"))"
                               Variant="Variant.Outlined" />
            </Div>
            <Div Class="col-3">
                <Condition Evaluation="EditModel.PromoterImageFileName.IsNullOrEmpty()">
                    <Match>
                        <InputFile @bind-Value="@PromoterPrivateSigningImage"
                                   id="fileInputPromoterImage"
                                   accept="image/*" hidden
                                   OnChange="@LoadFile" />
                        <MudFab for="fileInputPromoterImage"
                                Color="MudBlazor.Color.Secondary"
                                HtmlTag="label"
                                Icon="@Icons.Material.Filled.Image"
                                Label="Load promotional image" />
                    </Match>
                </Condition>
                <Condition Evaluation="@(!EditModel.PromoterImageFileName.IsNullOrEmpty())">
                    <Match>
                        <MudImage Class="rounded-lg cant-click"
                                  Elevation="5"
                                  Height="70"
                                  ObjectFit="@ObjectFit.Cover"
                                  Src="@(ImageService.GetUserImageData(EditModel.PromoterImageFileName, ApplicationStateService.CurrentUser.Id))"
                                  Width="70" />
                        <MudTooltip Text="Remove Image">
                            <MudFab Color="MudBlazor.Color.Secondary"
                                    Icon="@Icons.Material.Outlined.Delete"
                                    OnClick="RemovePromoterImage"
                                    Size="MudBlazor.Size.Small" />
                        </MudTooltip>
                    </Match>
                </Condition>
            </Div>
        </DivRowFormGroup>
        <DivRowFormGroup>
            <Div Class="col-3">
                <Switch Checked="@EditModel.SelfAddressedStampedEnvelopeAccepted"
                        CheckedChanged="(p) => EditModel.SelfAddressedStampedEnvelopeAccepted = p"
                        Label="Accept SASE?" />
            </Div>
        </DivRowFormGroup>
        <DivRowFormGroup>
            <Div Class="col-12">
                <TextField Label="Note"
                           Lines="10"
                           SelectedText="@EditModel.Note"
                           SelectedTextChanged="@((p) => EditModel.Note = p)" />
            </Div>
        </DivRowFormGroup>
    </MudExpansionPanel>
    <MudExpansionPanel IsExpanded="true"
                       Text="People">
        <PrivateSigningPeopleEditor People="EditModel.People"
                                    PeopleModified="OnPeopleModified" />
    </MudExpansionPanel>
    <MudExpansionPanel IsExpanded="true"
                       Text="Pricing">
        <PrivateSigningPersonPriceEditor People="EditModel.People" />
    </MudExpansionPanel>
    <MudExpansionPanel IsExpanded="true"
                       Text="Custom Pricing">
        <PrivateSigningPersonCustomPriceEditor People="EditModel.People" />
    </MudExpansionPanel>
    <MudExpansionPanel IsExpanded="true"
                       Text="Promoter Provided Items">
        <PrivateSigningPromoterProvidedItemEditor ProvidedItems="EditModel.ProvidedItems" />
    </MudExpansionPanel>
    <MudExpansionPanel IsExpanded="true"
                       Text="Excluded Items">
        <PrivateSigningPeopleExcludedItemTypeEditor People="EditModel.People" />
    </MudExpansionPanel>
    <MudExpansionPanel IsExpanded="true"
                       Text="Authentication Providers">
        <PrivateSigningAuthenticationEditor AuthenticationCompanies="EditModel.AuthenticationCompanies" />
    </MudExpansionPanel>
    <LeftRightSection Style="margin-top:1%;">
        <Right>
            <SaveButton OnClick="OnSave"
                        Text="Save" />
        </Right>
    </LeftRightSection>
</DivPad2>
