<DivPad2>
    <AlertPanel Alerts="ValidationResultAlerts" />
    <ExpansionPanel Text="General Details">
        <DivRowFormGroup>
            <Div Class="col-3">
                <MudDatePicker @bind-Date="EditModel.SubmissionDeadlineDate"
                               DateFormat="MM/dd/yyyy"
                               Editable="true"
                               Label="Submission Deadline Date"
                               Mask="@(new DateMask("MM/dd/yyyy"))"
                               Variant="Variant.Outlined" />
            </Div>
            <Div Class="col-3">
                <MudDatePicker @bind-Date="EditModel.SigningDate"
                               DateFormat="MM/dd/yyyy"
                               Editable="true"
                               Label="Signing Date"
                               Mask="@(new DateMask("MM/dd/yyyy"))"
                               Variant="Variant.Outlined" />
            </Div>
            <Div Class="col-3">
                <Condition Evaluation="EditModel.PromoterImageFileName.IsNullOrEmpty()">
                    <Match>
                        <InputFile @bind-Value="@PromoterPrivateSigningImage"
                                   id="fileInputPromoterImage"
                                   accept="image/*" hidden
                                   OnChange="@LoadFile" />
                        <MudFab for="fileInputPromoterImage"
                                Color="MudBlazor.Color.Secondary"
                                HtmlTag="label"                                
                                Label="Load promotional image"
                                StartIcon="@Icons.Material.Filled.Image" />
                    </Match>
                </Condition>
                <Condition Evaluation="@(!EditModel.PromoterImageFileName.IsNullOrEmpty())">
                    <Match>
                        <Image Height="70"
                               ImageData="@(ImageService.GetUserImageData(EditModel.PromoterImageFileName, ApplicationStateService.CurrentUser.Id))"
                               Width="70" />
                        <Fab Color="MudBlazor.Color.Secondary"                             
                             OnClick="RemovePromoterImage"
                             Size="MudBlazor.Size.Small"
                             StartIcon="@Icons.Material.Outlined.Delete"
                             TooltipText="Remove Image" />
                    </Match>
                </Condition>
            </Div>
        </DivRowFormGroup>
        <DivRowFormGroup>
            <Div Class="col-3">
                <Switch Checked="@EditModel.SelfAddressedStampedEnvelopeAccepted"
                        CheckedChanged="(p) => EditModel.SelfAddressedStampedEnvelopeAccepted = p"
                        Label="Accept SASE?" />
            </Div>
        </DivRowFormGroup>
        <DivRowFormGroup>
            <Div Class="col-12">
                <TextField Label="Note"
                           Lines="10"
                           SelectedText="@EditModel.Note"
                           SelectedTextChanged="@((p) => EditModel.Note = p)" />
            </Div>
        </DivRowFormGroup>
    </ExpansionPanel>
    <ExpansionPanel Text="People">
        <PrivateSigningPeopleEditor People="EditModel.People"
                                    PeopleModified="@(_ => StateHasChanged())" />
    </ExpansionPanel>
    <ExpansionPanel Text="Pricing">
        <PrivateSigningPersonPriceEditor People="EditModel.People" />
    </ExpansionPanel>
    <ExpansionPanel Text="Custom Pricing">
        <PrivateSigningPersonCustomPriceEditor People="EditModel.People" />
    </ExpansionPanel>
    <ExpansionPanel Text="Promoter Provided Items">
        <PrivateSigningPromoterProvidedItemEditor ProvidedItems="EditModel.ProvidedItems" />
    </ExpansionPanel>
    <ExpansionPanel Text="Excluded Items">
        <PrivateSigningPeopleExcludedItemTypeEditor People="EditModel.People" />
    </ExpansionPanel>
    <ExpansionPanel Text="Authentication Providers">
        <PrivateSigningAuthenticationEditor AuthenticationCompanies="EditModel.AuthenticationCompanies" />
    </ExpansionPanel>
    <LeftRightSection Style="margin-top:1%;">
        <Right>
            <SaveButton OnClick="OnSave"
                        Text="Save" />
        </Right>
    </LeftRightSection>
</DivPad2>
