<DivPad2>
    <LeftRightSection>
        <Right>
            <AddButton OnClick="AddPrivateSigning" />
        </Right>
    </LeftRightSection>
    <br />
    <MudTable @ref="_table"
              Bordered="false"
              Dense="false"
              Hover="true"
              Items="@Model.PrivateSignings"
              ServerData="@(new Func<TableState, Task<TableData<PromoterPrivateSigningModel>>>(OnRead))"
              Striped="true">
        <ToolBarContent>
            <ToolbarTitle>My Private Signings</ToolbarTitle>
        </ToolBarContent>
        <HeaderContent>
            <MudTh></MudTh>
            <MudTh>Promotional Image</MudTh>
            <MudTh></MudTh>
            <MudTh>Person</MudTh>
            <MudTh>Submission Deadline Date</MudTh>
            <MudTh>Signing Date</MudTh>
            <MudTh>SASE Accepted</MudTh>
            <MudTh>Note</MudTh>
            <MudTh>Created On</MudTh>
            <MudTh></MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd>
                <Condition Evaluation="@(context.People.Length > 1)">
                    <Match>
                        <MudIconButton Icon="@context.ToggleIcon"
                                       OnClick="@(_ => ToggleChildContent(context.Id))" />
                    </Match>
                </Condition>
            </MudTd>
            <MudTd>
                <GridImage ImageLoaded="@(_ => StateHasChanged())"
                           ImageFileName="@context.PromoterImageFileName"
                           Visible="@(!context.PromoterImageFileName.IsNullOrEmpty())" />
            </MudTd>
            <MudTd>
                <GridImage ImageLoaded="@(_ => StateHasChanged())"
                           ImageFileName="@context.People.First().Person.ImageFileName"
                           IsPersonImage="true"
                           Visible="@(context.People.Length == 1)" />
            </MudTd>
            <MudTd DataLabel="Person">@(context.People.Any() ? (context.People.Length > 1 ? "Multiple People" : context.People.First().Person.DisplayName) : string.Empty)</MudTd>
            <MudTd DataLabel="SubmissionDeadlineDate">@(context.SubmissionDeadlineDate.ToString("MM-dd-yyyy"))</MudTd>
            <MudTd DataLabel="SigningDate">@(context.SigningDate.ToString("MM-dd-yyyy"))</MudTd>
            <MudTd DataLabel="SASEAccepted">@(context.SelfAddressedStampedEnvelopeAccepted ? "Yes" : "No")</MudTd>
            <MudTd DataLabel="Note">@context.Note</MudTd>
            <MudTd DataLabel="CreatedOn">@(context.CreatedDate.ToString("MM-dd-yyyy hh:mm:ss tt"))</MudTd>
            <MudTd DataLabel="">
                <EditGridButton OnEdit="@(_ => NavigationManager.NavigateTo($"{NavigationPath.MyPrivateSigningsEdit}/{DataProtectorService.EncryptId(context.Id)}"))"
                                Size="@MudBlazor.Size.Small" />
            </MudTd>
        </RowTemplate>
        <ChildRowContent>
            <Condition Evaluation="@(context.People.Any() && context.People.Length > 1 && context.DisplayDetails)">
                <Match>
                    <tr />
                    <tr style="background-color:#6D7B8D;color:honeydew;border-style:dashed;border-width:2px;border-color:#ECF3F4;">
                        <td align="center" colspan="17">
                            Summary: Total Signers - <strong> @context.People.Length </strong>
                        </td>
                    </tr>
                    <tr />
                    <tr style="margin-top: 1%; margin-bottom: 1%; margin-left: 1%; margin-right: 1%;">
                        <td colspan="17">
                            <MudTable Bordered="false"
                                    Dense="false"
                                    Hover="true"
                                    Items="@context.People"
                                    Striped="true">
                                <ToolBarContent>
                                    <ToolbarTitle>People</ToolbarTitle>
                                    <MudSpacer />
                                </ToolBarContent>
                                <HeaderContent>
                                    <MudTh></MudTh>
                                    <MudTh>Person</MudTh>
                                    <MudTh>Note</MudTh>
                                </HeaderContent>
                                <RowTemplate Context="privateSigningPerson">
                                    <MudTd>
                                        <GridImage ImageLoaded="@(_ => StateHasChanged())"
                                                   ImageFileName="@privateSigningPerson.Person.ImageFileName"
                                                   IsPersonImage="true" />
                                    </MudTd>
                                    <MudTd DataLabel="Note">@privateSigningPerson.Note</MudTd>
                                </RowTemplate>
                                <PagerContent>
                                    <MudTablePager />
                                </PagerContent>
                            </MudTable>
                        </td>
                    </tr>
                </Match>
            </Condition>
        </ChildRowContent>
        <PagerContent>
            <MudTablePager />
        </PagerContent>
    </MudTable>
</DivPad2>

