<Div Class="@DivClass.Row">
    <Div Class="@DivClass.Column4">
        <DivPad5>
            <DomainItemCard Description="Allows you to add, modify and remove person franchise records."
                            ImageFileName="@ImageFileName.RecordTypes"
                            Page="/Teams/Management/Accomplishments/FranchiseRecords/ViewFranchiseRecords"
                            Title="Edit Franchise Records" />
        </DivPad5>
    </Div>
    <Div Class="@DivClass.Column4">
        <DivPad5>
            <DomainItemCard Description="Allows you to add, modify and remove sport records."
                            ImageFileName="@ImageFileName.RecordTypes"
                            Page="/Teams/Management/Accomplishments/Records/EditRecords"
                            Title="Edit Records" />
        </DivPad5>
    </Div>
</Div>
