@using Memorabilia.Application.Features.Admin.ItemType

<InputSelect id="ItemTypeDropDown" class="form-control" disabled="@Disabled" @bind-Value="@Value" @oninput="@OnInputChange" >
    <option value="0">--Select--</option>
    @foreach (var itemType in ItemType.All)
    {
        <option value="@itemType.Id">@itemType.Name</option>
    }
</InputSelect>

@code {
    [Parameter]
    public bool Disabled { get; set; }

    [Parameter]
    public ItemType InitialValue { get; set; }

    [Parameter]
    public int Value { get; set; }

    [Parameter]
    public EventCallback<int> ValueChanged { get; set; }

    protected override Task OnInitializedAsync()
    {
        if ((InitialValue?.Id ?? 0) > 0)
            Value = InitialValue.Id;

        return base.OnInitializedAsync();
    }

    private async Task OnInputChange(ChangeEventArgs args)
    {
        Value = Convert.ToInt32(args.Value);
        await ValueChanged.InvokeAsync(Value).ConfigureAwait(false);
    }
}

