<AlertPanel Alerts="ValidationResultAlerts"
            DivStyle="@Style.MarginPad2"
            ShowCloseIcon="false" />
<DivPad2>   
    <ExpansionPanel Text="@EditModel?.AccomplishmentType?.Name">
        <Div Class="@DivClass.Row">
            <Div Class="@DivClass.Column2">
                <NullableIntField DisplaySkeleton="@(!_loaded)"
                                  Label="Begin Year"
                                  Value="EditModel.BeginYear"
                                  ValueChanged="@((p) => EditModel.BeginYear = p)" />
            </Div>
            <Div Class="@DivClass.Column2">
                <NullableIntField DisplaySkeleton="@(!_loaded)"
                                  Label="End Year"
                                  Value="EditModel.EndYear"
                                  ValueChanged="@((p) => EditModel.EndYear = p)" />
            </Div>
            <Div Class="@DivClass.Column2">
                <NullableIntField DisplaySkeleton="@(!_loaded)"
                                  Label="Year"
                                  Value="EditModel.Year"
                                  ValueChanged="@((p) => EditModel.Year = p)" />
            </Div>
            <Div Class="@DivClass.Column2">
                <NullableIntField DisplaySkeleton="@(!_loaded)"
                                  Label="Occurrences/Winners"
                                  Value="EditModel.NumberOfWinners"
                                  ValueChanged="@((p) => EditModel.NumberOfWinners = p)" />
            </Div>
            <Div Class="@DivClass.Column2">
                <MonthDropDown SelectedValue="EditModel.MonthAccomplished"
                               SelectionChanged="@((p) => EditModel.MonthAccomplished = p)" />
            </Div>
            <Div Class="@DivClass.Column2">
                <Switch Checked="EditModel.IgnoreManagement"
                        CheckedChanged="(p) => EditModel.IgnoreManagement = p"
                        Label="Ignore?" />
            </Div>
        </Div>
    </ExpansionPanel>
    <LeftRightSection>
        <Right>
            <RowStack Style="@($"{Style.MarginTopPad1}{Style.MarginBottomPad1}")">
                <SaveButton OnClick="OnSave"
                            Text="Save" />
            </RowStack>
        </Right>
    </LeftRightSection>
    <PageFooter NavigationPath="/Admin/Management/Accomplishments/AccomplishmentManagement"
                NavigationPathText="Back" />
</DivPad2>

