@inherits MemorabiliaItem<BookEditModel>

<EditMemorabiliaPage EditModel="EditModel"
                     OnSave="OnSave" 
                     TItem="BookEditModel">
    <Content>
        <MemorabiliaItemEditor DisplayItemTypeBrand="false"
                               DisplayItemTypeGameStyle="false"
                               DisplayItemTypeLevel="false"
                               DisplayItemTypeSize="false"
                               DisplayMultiPersonSelector="true"
                               DisplayMultiSportSelector="true"
                               DisplayMultiTeamSelector="true"
                               Model="EditModel"
                               TItem="BookEditModel">
            <AdditionalContent>
                <DivRowFormGroup>
                    <Div Class="col-3">
                        <TextField Label="Title"
                                   MaxLength="200"
                                   SelectedText="@EditModel.Title"
                                   SelectedTextChanged="@((p) => EditModel.Title = p)" />
                    </Div>
                    <Div Class="col-3">
                        <TextField Label="Edition"
                                   MaxLength="5"
                                   SelectedText="@EditModel.Edition"
                                   SelectedTextChanged="@((p) => EditModel.Edition = p)" />
                    </Div>
                    <Div Class="col-3">
                        <TextField Label="Publisher"
                                   MaxLength="200"
                                   SelectedText="@EditModel.Publisher"
                                   SelectedTextChanged="@((p) => EditModel.Publisher = p)" />
                    </Div>
                    <Div Class="col-3">
                        <MudSwitch Checked="@EditModel.HardCover"
                                   CheckedChanged="(p) => EditModel.HardCover = p"
                                   Color="MudBlazor.Color.Success"
                                   Label="Is Hard Cover?"
                                   T="bool" />
                    </Div>
                </DivRowFormGroup>
            </AdditionalContent>
        </MemorabiliaItemEditor>
    </Content>
</EditMemorabiliaPage>