@inherits EditItemTypeItem<ItemTypeSizeEditModel, ItemTypeSizeModel>

<EditPage ContinueNavigationPath="@EditModel.RoutePrefix"
          EditMode="EditModel.EditModeType" 
          ExitNavigationPath="@EditModel.RoutePrefix"
          ImageFileName="@EditModel.ImageFileName"
          ItemName="@EditModel.ItemTitle"
          Model="EditModel"
          OnSave="HandleValidSubmit"
          PageFooterButtonText="@EditModel.ExitButtonText"
          PageFooterNavigationPath="@EditModel.ExitNavigationPath"
          PageTitle="@EditModel.PageTitle"
          TItem="ItemTypeSizeEditModel">
    <Div Class="row" 
         Hidden="@(!DisplayItemType)">
        <Div Class="col-3">
            <ItemTypeAutoComplete SelectedValue="EditModel.ItemType"
                                  SelectionChanged="(p) => EditModel.ItemType = p" />
        </Div>
    </Div>
    <Div Class="row">
        <Div Class="col-3">
            <SizeAutoComplete SelectedValue="EditModel.Size"
                              SelectionChanged="(p) => EditModel.Size = p" />
        </Div>
    </Div>
</EditPage>