@inherits EditItem<ItemTypeSizeEditModel, ItemTypeSizeModel>

<EditPage ContinueNavigationPath="@EditModel.RoutePrefix"
          EditMode="EditModel.EditModeType" 
          ExitNavigationPath="@EditModel.RoutePrefix"
          ImageFileName="@EditModel.ImageFileName"
          ItemName="@EditModel.ItemTitle"
          Model="EditModel"
          OnSave="HandleValidSubmit"
          PageFooterButtonText="@EditModel.ExitButtonText"
          PageFooterNavigationPath="@EditModel.ExitNavigationPath"
          PageTitle="@EditModel.PageTitle"
          TItem="ItemTypeSizeEditModel">
    <DivRowFormGroup>
        <Div Class="col-3">
            <ItemTypeAutoComplete Disabled="@(EditModel.Id > 0)"
                                  SelectedValue="EditModel.ItemType"
                                  SelectionChanged="(p) => EditModel.ItemType = p" />
        </Div>
    </DivRowFormGroup>
    <DivRowFormGroup>
        <Div Class="col-3">
            <SizeAutoComplete SelectedValue="EditModel.Size"
                              SelectionChanged="(p) => EditModel.Size = p" />
        </Div>
    </DivRowFormGroup>
</EditPage>