@inherits EditItem<LeaguePresidentEditModel, LeaguePresidentModel>

<EditPage ContinueNavigationPath="@EditModel.RoutePrefix"
          EditMode="EditModel.EditModeType" 
          ExitNavigationPath="@EditModel.RoutePrefix"
          ImageFileName="@EditModel.ImageFileName"
          ItemName="@EditModel.ItemTitle"
          Model="EditModel"   
          OnSave="HandleValidSubmit"
          PageFooterButtonText="@EditModel.ExitButtonText"
          PageFooterNavigationPath="@EditModel.ExitNavigationPath"
          PageTitle="@EditModel.PageTitle"
          TItem="LeaguePresidentEditModel">
    <Div Class="row">
        <Div Class="col-3">
            <SportLeagueLevelDropDown Disabled="@(!EditModel.IsNew)"
                                      SelectedValue="EditModel.SportLeagueLevelId"
                                      SelectionChanged="(p) => EditModel.SportLeagueLevelId = p" />
        </Div>
    </Div>
    <Div Class="row">
        <Div Class="col-3">
            <LeagueDropDown Disabled="@(!EditModel.IsNew)"
                            SelectedValue="EditModel.LeagueId"
                            SelectionChanged="(p) => EditModel.LeagueId = p"
                            SportLeagueLevel="@SportLeagueLevel.MajorLeagueBaseball" />
        </Div>
    </Div>
    <Div Class="row">
        <Div Class="col-3">
            <PersonDomainAutoComplete Disabled="@(!EditModel.IsNew)"
                                      SelectedValue="EditModel.Person"
                                      SelectionChanged="(p) => EditModel.Person = p" />
        </Div>
    </Div>
    <Div Class="row">
        <Div Class="col-3">
            <NullableIntField Label="Begin Year"
                              Value="EditModel.BeginYear"
                              ValueChanged="@((p) => EditModel.BeginYear = p)" />
        </Div>
    </Div>
    <Div Class="row">
        <Div Class="col-3">
            <NullableIntField Label="End Year"
                              Value="EditModel.EndYear"
                              ValueChanged="@((p) => EditModel.EndYear = p)" />
        </Div>
    </Div>
</EditPage>
