@page "/Conferences"

@using Memorabilia.Application.Features.Admin
@using Memorabilia.Application.Features.Admin.Conference

@inject CommandRouter _commandRouter
@inject ProtectedLocalStorage _localStorage
@inject NavigationManager _navigation
@inject QueryRouter _queryRouter
@inject IToastService _toastService

@if (_viewModel == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <PopConfirm @ref="_deleteDialog"
                Title="Delete Conference"
                ConfirmedChanged="Delete" />
    <div class="row">
        <div class="col-md-12" style="text-align: center">
            <h1>@_viewModel.PageTitle</h1>
        </div>
    </div>
    <br />
    <_Table Items="_viewModel.Conferences" 
            ItemsPerPage="10"                     
            TItem="ConferenceViewModel">
        <HeaderTemplate>
            <th scope="col">Sport League</th>
            <th scope="col">Name</th>
            <th scope="col">Abbreviation</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </HeaderTemplate>
        <RowTemplate>
            <td>@context.SportLeagueLevelName</td>
            <td>@context.Name</td>
            <td>@context.Abbreviation</td>
            <td>
                <_Tooltip Text="Edit">
                    <img class="can-click" 
                            src="images/pencil.png" 
                            height="25" 
                            width="25" 
                            @onclick="@(_ => _navigation.NavigateTo($"{_viewModel.RoutePrefix}/Edit/{context.Id}"))" />
                </_Tooltip>                        
            </td>
            <td>
                <_Tooltip Text="Delete">
                    <img class="can-click" 
                            src="images/trash.png" 
                            height="25" 
                            width="25" 
                            @onclick="@(_ => ShowConfirm(context.Id))" />
                </_Tooltip>
            </td>
        </RowTemplate>
    </_Table>
    <div class="row">
        <div class="col-md-12" style="text-align: center">
            <div class="col-md-12" style="text-align: center">
                <a href="Conferences/Edit">Add @_viewModel.ItemTitle</a>
            </div>
        </div>
    </div>
    <br />
}

@code {
    private PopConfirm _deleteDialog;
    private int _deletedItemId;
    private ConferencesViewModel _viewModel;

    protected async Task Delete(bool confirm)
    {
        if (!confirm)
        {
            _deletedItemId = 0;
            return;
        }

        var deletedItem = _viewModel.Conferences.Single(conference => conference.Id == _deletedItemId);
        var viewModel = new SaveConferenceViewModel(deletedItem);
        viewModel.IsDeleted = true;

        var command = new SaveConference.Command(viewModel);

        await _commandRouter.Send(command).ConfigureAwait(false);
        
        _viewModel.Conferences.Remove(deletedItem);

        _toastService.ShowSuccess($"{_viewModel.ItemTitle} was deleted successfully!", _viewModel.PageTitle);
    }

    protected override async Task OnInitializedAsync()
    {
        var userId = await _localStorage.GetAsync<int>("UserId");

        if (userId.Value == 0)
            _navigation.NavigateTo("Login");

        var query = new GetConferences.Query();

        _viewModel = await _queryRouter.Send(query).ConfigureAwait(false);
    }

    protected void ShowConfirm(int id)
    {
        _deletedItemId = id;
        _deleteDialog.ShowPop();
    }
}
