<Div Style="@($"{Style.BorderBlack}{Style.MarginPad2}")"
     Visible="Alerts.Any()">
    <ExpansionPanel Text="Alerts">
        <Iterations Items="@Alerts">
            <Div Class="@DivClass.Row"
                 Style="@Style.MarginPad1">
                <AlertBox Severity="context.Severity"
                          ShowCloseIcon="ShowCloseIcon"
                          Text="@context.Message" />
            </Div>
        </Iterations>
    </ExpansionPanel>
</Div>
